---
layout : ecu
title : Adventurer - John Lawson Exhibit
---

{% include breadcrumbs.html active="adventurer" %}

<h2>Adventurer</h2>

<p>
   John Lawson's adventures are perhaps the best known part of his life.
   The two incidents that frame his time in North Carolina - his arrival and
   trek through the backwoods of the colony and his death at the hands of the
   Tuscarora Indians - characterize Lawson as someone who stepped out on a limb
   and tested himself against the world. The question is how well he handled
   this test.
</p>
<p>
  <a href="adventurer_more.html">Read More about John Lawson as an Adventurer</a>
</p>
<br/><br/>
<table class="table">
  {% assign items = site.adventurer | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
