---
layout : ecu
title : More - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>John Lawson as an Adventurer</h2>

<p>
  In <em>A New Voyage to Carolina</em>, Lawson portrays his coming to Carolina as a spur
  of the moment decision that defines the rest of his life. As he opens his
  introduction to <em>A New Voyage</em>, "In the Year 1700, when People flock'd from all
  Parts of the Christian World, to see the Solemnity of the Grand Jubilee at
  Rome, my Intention, at that Time, being to travel, I accidentally met with a
  Gentleman who . . . assur'd me, that Carolina was the best Country I could go
  to; and, that there then lay a Ship in the Thames, in which I might have my
  Passage. I laid hold on this Opportunity . . ." (Lawson 7).
</p>
<p>
  Once in Carolina, as <em>A New Voyage</em> tells it, Lawson almost immediately seizes
  on the opportunity to explore. Beginning on December 28, 1700, Lawson took
  off from Charleston, South Carolina, on a two-month, 550-mile journey that
  led him up the Santee and Wateree Rivers to the present-day North and South
  Carolina borders near Waxhaw, North Carolina. From here he walked across
  present-day North Carolina, ending up along the Pamlico River in Beaufort
  County on February 24, 1701. In his preface to <em>A New Voyage</em>, Lawson would say
  that most of his life in Carolina was taken up with such adventures: "Having
  spent most of my Time, during my eight Years Abode in Carolina, in
  travelling; I not only survey'd the Sea-Coast and those Parts which are
  already inhabited by the Christians, but likewise view'd a spatious Tract of
  Land, lying betwixt the Inhabitants and the Ledges of Mountains, from whence
  our noblest Rivers have their Rise, running towards the Ocean, where they
  water as pleasant a Country as any in Europe; the Discovery of which being
  never yet made publick, I have, in the following Sheets, given you a faithful
  Account thereof, wherein I have laid down every thing with Impartiality, and
  Truth, which is indeed, the Duty of every Author, and preferable to a smooth
  Stile, accompany'd with Falsities and Hyperboles" (Lawson 5-6).
</p>
<p>
  Few people question Lawson's penchant for exploration; what is called into
  question is his "Impartiality, and Truth, which is indeed, the Duty of every
  Author." Some of the pieces included here claim that Lawson the adventurer
  was not the most objective relater of places and events. Both Christoph von
  Graffenried and John Urmston met Lawson in London in 1709 before coming to
  Carolina, one to found a settlement, the other to serve as an Anglican
  missionary/parish priest. By 1714 or 1715, both men had become disillusioned
  with North Carolina, at least as Lawson had sold it to them. For these two
  men, Lawson's death at the hands of the Tuscarora was his own fault. For von
  Graffenried, Lawson's quarrelsome personality angered the Tuscarora into
  finally killing him. For Urmston, there is a sense of divine justice in
  Lawson's death; it is wrong to do "as Lawson did, write whole volumes in
  praise of such a worthless place: he has had his reward" (Lawson 220). Yet
  each of these men had his own axe to grind, therefore calling into question
  their objectivity in describing Lawson. So who is the adventurer John
  Lawson-the careful and objective observer or the self-righteous propagandist
  for Carolina?
</p>
<p>
  In later years, Lawson would be portrayed in various different ways. One
  example is a historical pageant from New Bern, North Carolina, written in
  1939 by Mrs. J. S. [Frances Broadfoot] Claypoole, "The Torch Leads On."
  Claypoole writes, "Lawson's enthusiastic pen had not written too glowingly.
  It was indeed a land of plenty and opportunity for the new settlers and they
  stood their ground although there were but a handful of colonists in
  Carolina, seated at great distances from one another, amidst a vast number of
  Indians of different nations" (Lawson 7). It is hard to accept Claypoole's
  unabashed enthusiasm for Lawson, but it is equally as hard to accept
  Graffenried's and Urmston's harsh condemnation. Who is the adventurer John
  Lawson that can be imagined between these sorts of extremes?
</p>
