---
layout : ecu
title : HS145 p48 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>Chronology of John Lawson's Life</h2>

<table class="table">
<tr><td>*27 December 1674</td><td>born to John Lawson (1632-ca. 1690) and Isabella Love
(1643-ca. 1680)</td><tr><td>
*ca. 1680-ca.1700</td><td>attends Anglican schools in Yorkshire, England, followed by lectures at Gresham College,
London.</td><tr><td>

*ca. 1700</td><td>is encouraged to travel to Carolina by either Christopher Gale, an official in the northern
part of Carolina, or James Moore, from Charleston.</td><tr><td>
15 August 1700</td><td>arrives in Charleston.</td><tr><td>
28 December 1700-24 February 1701</td><td>makes a 550 mile trek through the backcountry of Carolina.</td>
<tr><td>
1701-1705</td><td>lives first along the Pamlico River and then along the Neuse River; works as a private surveyor;
lives in both places on and off over the next ten years.<tr><td>
1705</td><td>appointed deputy surveyor for the Lords Proprietors of Carolina.</td>
<tr><td>

8 March 1706</td><td>the town of Bath near the Pamlico River is incorporated from land owned by Lawson and two
other men; Lawson lays out the town.</td><tr><td>
January 1707</td><td>becomes clerk of the court and public register for Bath County.</td>
<tr><td>
15 April 1707</td><td>Isabella, Lawson’s daughter with Hannah Smith of Bath, is born.</td>
<tr><td>
1708</td><td>appointed official surveyor for the Lords Proprietors of Carolina.</td>
<tr><td>
9 February 1709</td><td>travels to Hampton, Virginia, from where he sails to London.</td>

<tr><td>
1709</td><td>published in London <i>A New Voyage to Carolina</i> and a map of Carolina that served as a
frontispiece for the book.</td><tr><td>
27 April 1710</td><td>returns to North Carolina with some 300 Palatines (a section of Bavaria, Germany) who
are soon followed by Baron Christoph von Graffenried and Swiss settlers all to settle the town of New Bern, which
Lawson had laid out.</td><tr><td>
Late Summer 1711</td><td>travels with Graffenried up the Neuse River to try to discover its source; taken captive
by Tuscarora Indians, who release Graffenried but kill Lawson.</td>
</table>
<br/>*probable but not definite facts of John Lawson’s life.
<br/><br/>
