---
layout : ecu
title : More - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>John Lawson as an Entrepreneur</h2>

<p>
  The interesting thing about legal records is how the language used to convey
  precise legal meanings leaves much of the story untold. For example, in 1706,
  Lawson was sued by Christopher Gale over some deer skins that Lawson owed him.
  The language of the suit seems quite hostile—Gale “often thereunto requested”
  awson to repay the skins, but Lawson “doth still refuse to render to the
  plaintiffs.” The court goes so far as to send to Bath Town the writ, or order,
  that “the Provost Marshall or his Deputy” take action and “arrest the body of
  John Lawson and him safely hold so that he be and appear at the next General
  Court.” However, Lawson never seems to have been in the sort of serious
  trouble this language suggests. In fact, just three years later, Lawson sells
  a 640 acre tract of land to Gale on seemingly friendly terms. What the real
  relationship between Lawson and Gale was can only be imagined.
</p>
<p>
  The extent of Lawson’s legal problems, if he truly had any, is ripe for imagining Lawson’s life. For instance, when Lawson is sued for not repaying debts, the original debts were in animal pelts, but the fines levied were in British pounds sterling, that is, in hard currency. Whether or not Lawson would have paid the debts and fines in hard currency or in pelts is uncertain. Would Lawson have had much hard currency? Even the most successful people in the British American colonies found themselves rich in land and trade goods, but rarely in hard currency. Colonists are often referred to as being land rich and cash poor. 
</p>
<p>
The sources on Lawson’s land speculation are in some ways the most interesting because of what they reveal about Lawson’s personal life as well as what they reveal about Lawson’s business dealings. Foremost among these documents is Lawson’s will, dated August 12, 1708. In this document, Lawson acknowledges a child he has had with a woman named Hannah Smith of Bath as well as acknowledging she is pregnant with a second child of his. There is no record of their marriage. What was the relationship between the two, and how much property was at stake when he named his children as his heirs?
</p>
<p>
Reading these legal documents presents a partial picture of Lawson that is different from almost any of the other available sources.
</p>
