---
layout : ecu
title : Adventurer - John Lawson Exhibit
---

{% include breadcrumbs.html active="entrepreneur" %}

<h2>Entrepreneur</h2>

<p>
   One part of Lawson’s life that few people have examined is his engagement in
   entrepreneurial activities. For ten years in eastern North Carolina, Lawson
   made his way through several business activities. He worked as a surveyor, a
   skill he seems to have brought with him from England. He ran a business as a
   trader with Native Americans, particularly for animal pelts. And throughout
   the Pamlico and Neuse River areas, he speculated in land. Legal records are
   the predominant source about Lawson’s engaging in these activities.
</p>
<p>
  <a href="entrepreneur_more.html">Read More about John Lawson as an Entrepreneur</a>
</p>
<br/><br/>
<table class="table">
  {% assign items = site.entrepreneur | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
