---
layout : ecu
title : HS145 p48 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>For Further Reading - John Lawson</h2>

<b>Print Sources</b>
<p>Bolen, Eric G. &#147;John Lawson&#146;s
Legendary Journey.&#148; <i>Wildlife in North Carolina</i>.
December 1998: 22-27. <br/><br/>

<p>Breytspraak, Charlotte, and Jack
Breytspraak. &#147;Historical Profile: John Lawson.&#148; <i>Journal
of the New Bern Historical Society</i> 1.1 (1992): 29-31. <br/><br/>
<p>Dandy, J.E., ed.<em> The Sloane Herbarium:
An Annotated List of the Horti Sicci Comprising It, with
Biographical Accounts of the Principal Contributors. </em>Intro.
Spencer Savage. London:The British Museum, 1958. &nbsp; <br/><br/>
<p>Dill, A. T. &#147;Graffenried, Christoph,
baron von (15 Nov 1661-November? 1743).&#148; <i>Dictionary of
North Carolina Biography</i>. Ed. William S. Powell. Vol. 2.
Chapel Hill: University of North Carolina Press, 1967. 34-36. 6 vols.
1979-1996. <br/><br/>

<p>&nbsp;Holloman, Charles R. &#147;Lawson,
John (27 December 1674-16 September 1711).&#148; <i>Dictionary of
North Carolina Biography</i>. Ed. William S. Powell. Vol. 4.
Chapel Hill: U of North Carolina P, 1967. 327-28. 6 vols.
1979-1996. <br/><br/>
<p>Hudson, Marjorie. Among the Tuscarora: The Strange and Mysterious Death of John Lawson.
<i>North Carolina Literary Review</i> 1.1 (1992): 62-82. <br/><br/>
<p>Hudson, Marjorie. John Lawson and the Warring Nations: A Meditation on Images of Terror
and 'The Other,' <a href=http://www.ecu.edu/nclr target=_top>
North Carolina Literary Review</a> 11 (2002) Forthcoming.<br/><br/>

<p>Hudson, Marjorie. Two Conferences Honor the Legacy of John Lawson,
Carolina’s Gentleman Naturalist and Writer, <a href=http://www.ecu.edu/nclr target=_top>
North Carolina Literary Review</a> 11 (2002) Forthcoming. <br/><br/>
<p>Lawson, John. <i>A New Voyage to Carolina</i>.
Ed. Hugh Talmage Lefler. Chapel Hill: U of North Carolina P,
1967. <br/><br/>
<p>Lefler, Hugh Talmage. Introduction. Lawson xi-liv. <br/><br/>
<p>Lindgren, W. H., III. &#147;Agricultural
Propaganda in Lawson&#146;s <i>A New Voyage to Carolina</i>.&#148;

<i>North Carolina Historical Review</i> 49 (1972): 333-44.  <br/><br/>
<p>Radford, Albert E., Harry E. Ahles, and C.
Ritchie Bell. <em>Manual of the Vascular Flora of the Carolinas.</em>
Chapel Hill: U of North Carolina P, 1968. <br/><br/>
<p>Shields, E. Thomson, Jr. &#147;Paradise
Regained Again: The Literary Context of John Lawson&#146;s <i>A
New Voyage to Carolina</i>.&#148; <i>North Carolina Literary
Review</i> 1.1 (1992): 83-97. <br/><br/>

<p>Sir Hans Sloane, revised and edited by J.E. Dandy, <i>The Sloane Herbarium</i> (London:
The Trustees of the British Museum, 1958).<br/><br/>
<p>Sloatman, Fred. &#147;John Lawson&#151;A Man
of Influence.&#148; <i>Journal of the New Bern Historical Society</i>
11.2 (1998): 21-26. <br/><br/>
<p><b>Online Sources</b> <br/><br/>
<p>Tracing John Lawson&#146;s Trek: <br/>

<ul>
    <li>Trading
        Path Preservation Association: <a href=http://www.tradingpath.org target=_top>http://www.tradingpath.org</a></li>
    <li>John
        Lawson Trek: <a href=http://150.216.68.29/digital/lawsontrek/ target=_top>http://150.216.68.29/digital/lawsontrek/</a></li>
    <li>L.
        D. Russell, &#147;One More River to Cross:&nbsp;Reliving
        an 18th-Century English Surveyor's Journey from
        Occaneechi Village to Adshusheer&#148;: <a
        href=http://www.indyweek.com/durham/2001-02-21/cover2.html target=_top>http://www.indyweek.com/durham/2001-02-21/cover2.html</a>
        from an archived edition of <i>The [Durham, NC]
        Independent Weekly Online: </i><a  href=http://www.indyweek.com/durham/current/index.html target=_top>http://www.indyweek.com/durham/current/index.html</span></a></li>

</ul>

<p>Online Editions of Lawson&#146;s <i>A New
Voyage to Carolina</i>: <br/>

<ul>
    <li>John Lawson, <i>A New Voyage to Carolina</i>: <a
        href=http://rla.unc.edu/Archives/accounts/Lawson/Lawson.html target=_top>http://www.rla.unc.edu/Archives/accounts/Lawson/Lawson.html</a>
        from the &#147;Historical Accounts of North&nbsp;Carolina's
        Native Peoples&#148; section (<a
        href=http://www.rla.unc.edu/archives target=_top>http://www.rla.unc.edu/archives</span></a>)of the&nbsp;The Research Laboratories of Archaeology
        (University of North Carolina at Chapel Hill) site: <a
        href=http://www.rla.unc.edu target=_top>http://www.rla.unc.edu</a></li>

    <li>John
        Lawson, <i>A New Voyage to Carolina</i> (Project
        Gutenberg): <a
        href=http://digital.library.upenn.edu/webbin/gutbook/lookup?num=1838 target=_top>http://digital.library.upenn.edu/webbin/gutbook/lookup?num=1838</a>
        or <a
        href=ftp://metalab.unc.edu/pub/docs/books/gutenberg/etext99/nvycr10.txt target=_top>ftp://metalab.unc.edu/pub/docs/books/gutenberg/etext99/nvycr10.txt</a></li>
    <li>John
        Lawson, <i>A New Voyage to Carolina</i>:&nbsp;<a
        href=http://tanaya.net/Books/nvycr10 target=_top>http://tanaya.net/Books/nvycr10</a></li>

    <li>John
        Lawson, <i>A New Voyage to Carolina</i> (About.com,
        &#147;18<sup>th</sup> Century History&#148;):&nbsp;<a
        href=http://www.history1700s.about.com/homework/history1700s/library/mresource/metexts/travel/blnvycr.htm target=_top>http://www.history1700s.about.com/homework/history1700s/</a></li>
</ul>

<p>Miscellaneous Links: <br/>

<ul>
    <li>A
        Joint Resolution Honoring the Life and Memory of John
        Lawson on the 300th Anniversary of His Fifty-Seven Day
        Five Hundred Fifty-Mile Trek Through the Backcountry of
        the Carolinas (General Assembly of North Carolina, House
        Joint Resolution 833, March 28, 2001): <a
        href=http://www.ncga.state.nc.us/html2001/bills/AllVersions/House/H833v1.html target=_top>http://www.ncga.state.nc.us/html2001/bills/AllVersions/House/H833v1.html</a></li>
    <li>Historic
        Bath (North Carolina Historic Sites, North Carolina
        Division of Archives and History): <a
        href=http://www.ah.dcr.state.nc.us/sections/hs/bath/bath.htm target=_top>http://www.ah.dcr.state.nc.us/sections/hs/bath/bath.htm</a></li>
    <li>&#147;Southern
        Nature: Scientific Views of the Colonial American
        South&#148;: <a
        href=http://www.amphilsoc.org/library/exhibits/nature target=_top>http://www.amphilsoc.org/library/exhibits/nature</a>
        online exhibition of the American Philosophical Society (<a
        href=http://www.amphilsoc.org target=_top>http://www.amphilsoc.org/</a>)</li>

    <li>Online
        exhibition, including plants from eighteenth century
        America, <a href=http://www.nhm.ac.uk/piclib target=_top>http://www.nhm.ac.uk/piclib</a>
        (Picture Library at The Natural History Museum in London,
        United Kingdom).</li>
<li>North Carolina Natural Heritage Program: <a href=http://www.ils.unc.edu/parkproject/nhp target=_top>http://www.ils.unc.edu/parkproject/nhp </a>
        (information about endangered plants and animals in North Carolina, with maps and habitats).
</li></ul>
<br/><br/>
