---
layout: ecu
title:  "Christoph von Graffenried"
---

{% include breadcrumbs.html %}

<h3>Christoph von Graffenried</h3>

  <p>
 Christoph von Graffenried, born November 15, 1661,in the town of Worb in the Canton of Bern, Switzerland, lead the group of combined Germans from the Palatine region and Swiss immigrants who founded the settlement of New Bern, North Carolina, in 1710. Graffenried met John Lawson in London in 1709 when Lawson was, among other things, having his A New Voyage to Carolina published. Also while in London, the Lords Proprietors of Carolina gave Graffenried his title of Baron of Bernberg, the settlement he was to found. Graffenried's settlement had great difficulties in its first years, not the least of which were tensions with the Tuscarora Indians of the Neuse River region. During the summer of 1711, Graffenried along with Lawson took a trip up the Neuse to gather grapes and to look for the source of the river. On this trip, Graffenried and Lawson were taken captive'Graffenried was released but Lawson was killed.
  </p>
  <p>
After he returned to Bern in 1714, Graffenried wrote his "Relation", in which he also included several other documents, among them the letter he had written to the governor of the provinces of North Carolina, Edward Hyde, following his release from captivity. Of particular interest in Graffenried's "Relation" for those studying Lawson are his description of Lawson as a money grubbing land speculator who puts Graffenried's settlers on land he owns rather than on available better lands (226) as well as Graffenried's description of Lawson being the cause of his own death because of his quarrelsome personality (266-69). How to take these judgments of Lawson is uncertain because Graffenried is writing as a man in "embarrassed" circumstances'he returned to Bern penniless and owing a great deal of money to people in America. His "Relation" is predominantly an apology to explain why his settlement failed under his leadership.
  </p>
</div>
