---
layout: ecu
title: Home - John Lawson Exhibit
---

{% include breadcrumbs.html active="home" %}

<h1>John Lawson Digital Exhibit</h1>
<hr/>
<p>
  One of the most interesting and yet enigmatic figures of colonial North Carolina
  history is John Lawson. Though he was an explorer, surveyor, land speculator,
  fur trader, naturalist, ethnographer, and writer, all that is really known about
  Lawson occurred during an eleven-year period, from when he arrived in
  Charleston, South Carolina, in 1700 until his death at the hands of the
  Tuscarora Indians of North Carolina’s Neuse River region in 1711. And even in
  this period, the record of Lawson’s life leaves many gaps. John Lawson:
  Imagining a Life presents several of the documents through which Lawson’s
  contemporaries as well as later historians and writers have tried to decipher
  who John Lawson was.
</p>

<p>
   For ease of navigation within this exhibit, the digital resources have been grouped into categories:
</p>

<div class="row categories">
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="adventurer.html">Adventurer</a></div>
      <div class="panel-body">
        <a href="adventurer.html"><img class="img-responsive thumbnail" src="img/adventurer.jpg"/></a>
      </div>
    </div>

   </div>
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="naturalist.html">Naturalist</a></div>
      <div class="panel-body">
        <a href="naturalist.html"><img class="img-responsive thumbnail" src="img/naturalist.jpg"/></a>
      </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="entrepreneur.html">Entrepreneur</a></div>
      <div class="panel-body">
        <a href="entrepreneur.html"><img class="img-responsive thumbnail" src="img/entrepreneur.jpg"/></a>
      </div>
    </div>
   </div>
</div>
<p>
<a href="read_more.html">Read More about John Lawson: Imagining a Life</a>
</p>
<p>
<a href="further_reading.html">For Further Reading</a>
</p>
<p>
<a href="cronology.html">Chronology of John Lawson’s Life</a>
</p>
<p>
<a href="textual_note.html">Textual Note</a>
</p>
<div class="well">
   <p>
      You can find thousands of additional documents about the history of East Carolina University digitized
      at in our <a href="http://digital.lib.ecu.edu">Digital Collections</a>.
   </p>
</div>
