---
layout : ecu
title : John Lawson, Naturalist - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>John Lawson, Naturalist: Potential Never Realized</h2>
<p>
Had he not met an untimely and tragic death by execution at the age of 36, John Lawson might have become as well known as naturalists Mark Catesby and the Bartrams. Lawson is best known for his vivid and insightful descriptions of the flora and fauna of the Province of Carolina in the period immediately preceding the great wave of European development that swept away an ancient Indian culture during the early nineteenth century. Lawson’s descriptions of Indian life and customs are often the only written record of these peoples. This information is contained in <em>A New Voyage to Carolina</em> first published by Lawson in 1709.
</p>
<p>
It is apparent the Lawson intended to follow this publication with other more comprehensive studies. Less that one year before his death he described his ‘work plan’ in a letter to his London benefactor, James Petiver. Lawson says that he intends to collect specimens of all of the plants in Carolina and to include notes concerning their uses. He will record all of the animals and birds and describe their behavior, food preferences, and life history. He will study the fishes to determine which occur both in North Carolina and in Europe. He will record the insects, soils and fossils. He will report on the lives of the colonists - their diseases, farming practices, and building techniques. Lawson apparently planned to prepare a comprehensive ‘history’ of the Province of North Carolina.
</p>
<p>
John Lawson would have had difficulty in completing his ambitious plan of study. He had recently become the father of two children with his ‘dearly beloved’ common-law wife, Hannah Smith. He supported his family by surveying land and acting as an agent in various property transfers. Much of Lawson’s time was occupied in helping develop the towns of New Bern and Bath. Fully ten years after first promising Mr. Petiver that he would send him collections of plants and animals, Lawson prefaced his letter as follows: "Sir, Excuse me not writing sooner wch. was by reason of my too much business."
</p>
<p>
Later naturalists ‘borrowed’ heavily from Lawson’s work. Mark Catesby acknowledged his debt to John Lawson and wrote: "I cannot but here lament the hard fate of this inquisitive traveler, who, though partial in his favorable opinion of those Barbarians, died by their bloody hands, for they roasted him alive in revenge for injuries they pretended to have received from him."
</p>
