---
layout : ecu
title : Herbarium by Taxonomic Latin Name - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>Browse Herbarium Specimens by Taxonomic Latin Name</h2>
<h3><a href="naturalist_ferns.html">PTERIDOPHYTA (Ferns)</a></h3>
<ul>
<li><a href="naturalist_ferns.html#F1">Aspidiaceae</a></li>
<li><a href="naturalist_ferns.html#F2">Blechnaceae</a></li>
<li><a href="naturalist_ferns.html#F3">Polypodiaceae</a></li>
</ul>
<h3><a href="naturalist_monocots.html">MONOCOTYLEDONAE (Monocots)</a></h3>
<ul>
<li><a href="naturalist_monocots.html#F5">Poaceae (Grass Family)</a></li>
<li><a href="naturalist_monocots.html#F6">Cyperaceae (Sedge Family)</a></li>
<li><a href="naturalist_monocots.html#F7">Bromeliaceae (Pineapple Family)</a></li>
<li><a href="naturalist_monocots.html#F8">Commelinaceae (Spiderwort Family)</a></li>
<li><a href="naturalist_monocots.html#F9">Liliaceae (Lily Family)</a></li>
<li><a href="naturalist_monocots.html#F10">Iridaceae (Iris Family)</a></li>
<li><a href="naturalist_monocots.html#F11">Orchidaceae (Orchid Family)</a></li>
</ul>
<h3><a href="naturalist_dicots.html">DICOTYLEDONEAE (Dicots)</a></h3>
<ul>
<li><a href="naturalist_dicots.html#F12">Salicaceae (Willow Family)</a></li>
<li><a href="naturalist_dicots.html#F13">Myricaceae (Wax-Myrtle Family)</a></li>
<li><a href="naturalist_dicots.html#F14">Juglandaceae (Walnut Family)</a></li>
<li><a href="naturalist_dicots.html#F15">Fagaceae (Beech Family)</a></li>
<li><a href="naturalist_dicots.html#F16">Caryophyllaceae (Pink Family)</a></li>
<li><a href="naturalist_dicots.html#F17">Ranunculaceae (Crowfoot Family)</a></li>
<li><a href="naturalist_dicots.html#F18">Magnoliaceae (Magnolia Family)</a></li>
<li><a href="naturalist_dicots.html#F19">Annonaceae (Custard-Apple Family)</a></li>
<li><a href="naturalist_dicots.html#F20">Saxifragaceae (Saxifrage Family)</a></li>
<li><a href="naturalist_dicots.html#F21">Rosaceae (Rose Family)</a></li>
<li><a href="naturalist_dicots.html#F22">Fabaceae (Pea Family)</a></li>
<li><a href="naturalist_dicots.html#F23">Oxalidaceae (Wood Sorrel Family)</a></li>
<li><a href="naturalist_dicots.html#F24">Cyrillaceae (Cyrilla Family)</a></li>
<li><a href="naturalist_dicots.html#F25">Aquifoliaceae (Holly Family)</a></li>
<li><a href="naturalist_dicots.html#F26">Aceraceae (Maple Family)</a></li>
<li><a href="naturalist_dicots.html#F27">Vitaceae (Grape Family)</a></li>
<li><a href="naturalist_dicots.html#F28">Lythraceae (Loosestrife Family)</a></li>
<li><a href="naturalist_dicots.html#F29">Nyssaceae (Sour Gum Family)</a></li>
<li><a href="naturalist_dicots.html#F30">Cornaceae (Dogwood Family)</a></li>
<li><a href="naturalist_dicots.html#F31">Clethraceae (White Alder Family)</a></li>
<li><a href="naturalist_dicots.html#F32">Ericaceae (Azalea Family)</a></li>
<li><a href="naturalist_dicots.html#F33">Symplocaceae (Sweetleaf Family)</a></li>
<li><a href="naturalist_dicots.html#F34">Oleaceae (Olive Family)</a></li>
<li><a href="naturalist_dicots.html#F35">Loganiaceae (Logania Family)</a></li>
<li><a href="naturalist_dicots.html#F36">Gentianaceae (Gentian Family)</a></li>
<li><a href="naturalist_dicots.html#F37">Asclepiadaceae (Milkweed Family)</a></li>
<li><a href="naturalist_dicots.html#F38">Convolvulariaceae (Morning -Glory Family)</a></li>
<li><a href="naturalist_dicots.html#F39">Boraginaceae (Borage Family)</a></li>
<li><a href="naturalist_dicots.html#F40">Verbenaceae (Vervain Family)</a></li>
<li><a href="naturalist_dicots.html#F41">Lamiaceae (Mint Family)</a></li>
<li><a href="naturalist_dicots.html#F42">Scrophulariaceae (Figwort Family)</a></li>
<li><a href="naturalist_dicots.html#F43">Acanthaceae (Acanthus Family)</a></li>
<li><a href="naturalist_dicots.html#F44">Rubiaceae (Madder Family)</a></li>
<li><a href="naturalist_dicots.html#F45">Caprifoloaceae (Honeysuckle Family)</a></li>
<li><a href="naturalist_dicots.html#F46">Asteraceae (Daisy Family)</a></li>
</ul>
