---
layout : ecu
title :  Ferns - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>PTERIDOPHYTA (Ferns)</h2>
<p>Use the links below to view images of the specimens collected by John Lawson.</p>

<a name="F1"></a><b>Aspidiaceae</b><br/>
<a name="1"></a><em>Thelypteris hexagonoptera</em> (Michaux) Weatherby      (Broad Beech-Fern)<br/>
<a href="naturalist/H145061.html">Specimen Page : HS145 p61</a><br/><br/>


<a name="F2"></a><b>Blechnaceae</b><br/>
<a name="2"></a><em>Woodwardia virginica</em> (L.) Smith      (Virginia Chain-Fern)<br/>
<a href="naturalist/H145048.html">Specimen Page : HS145 p48</a><br/><br/>


<a name="F3"></a><b>Polypodiaceae</b><br/>
<a name="4"></a><em>Polypodium polypodioides</em> (L.) Watt      (Resurrection Fern)<br/>
<a href="naturalist/H145047.html">Specimen Page : HS145 p47</a><br/>
<a href="naturalist/H145058.html">Specimen Page : HS145 p58</a><br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/>
