---
layout : ecu
title : Monocots - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>MONOCOTYLEDONAE (Monocots)</h2>
<p>Use the links below to view images of the specimens collected by John Lawson.</p>

<a name="F5"></a><b>Poaceae (Grass Family)</b><br/>
<a name="6"></a><em>Arundinaria gigantea</em> L.      (Cane)<br/>
<a href="naturalist/H242114.html">Specimen Page : HS242 p114</a><br/>
<a href="naturalist/H242116.html">Specimen Page : HS242 p116</a><br/><br/>

<a name="7"></a><em>Uniola latifolia</em> Michaux      (Uniola)<br/>
<a href="naturalist/H145054.html">Specimen Page : HS145 p54</a><br/><br/>

<a name="8"></a><em>Poa</em> sp.     (Blue Grass)<br/>
<a href="naturalist/H242114.html">Specimen Page : HS242 p114</a><br/><br/>

<a name="9"></a><em>Zizania aquatica</em> L.     (Wild Rice)<br/>
<a href="naturalist/H145052.html">Specimen Page : HS145 p52</a><br/>
<a href="naturalist/H145053.html">Specimen Page : HS145 p53</a><br/><br/>

<a name="10"></a><em>Panicum</em> sp.     (Panicum)<br/>
<a href="naturalist/H145058.html">Specimen Page : HS145 p58</a><br/><br/>


<a name="F6"></a><b>Cyperaceae (Sedge Family)</b><br/>
<a name="11"></a><em>Cyperussp.</em>     (Cyperus)<br/>
<a href="naturalist/H145046.html">Specimen Page : HS145 p46</a><br/><br/>

<a name="12"></a><em>Scirpus cyprinus</em> (L.) Kunth.     (Bulrush)<br/>
<a href="naturalist/H145051.html">Specimen Page : HS145 p51</a><br/>
<a href="naturalist/H145052.html">Specimen Page : HS145 p52</a><br/><br/>

<a name="13"></a><em>Carex</em> sp.      (Carex)<br/>
<a href="naturalist/H242117.html">Specimen Page : HS242 p117</a><br/><br/>


<a name="F7"></a><b>Bromeliaceae (Pineapple Family)</b><br/>
<a name="14"></a><em>Tillandsia usneoides</em> L.     (Spanish Moss)<br/>
<a href="naturalist/H145051.html">Specimen Page : HS145 p51</a><br/><br/>


<a name="F8"></a><b>Commelinaceae (Spiderwort Family)</b><br/>
<a name="15"></a><em>Commelina communis</em> L.     (Dayflower)<br/>
<a href="naturalist/H145063.html">Specimen Page : HS145 p63</a><br/><br/>


<a name="F9"></a><b>Liliaceae (Lily Family)</b><br/>
<a name="16"></a><em>Smilax rotundifolia</em> L.     (Greenbrier, Catbrier)<br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/><br/>

<a name="17"></a><em>Smilax laurifolia</em> L.      (Bamboo)<br/>
<a href="naturalist/H242113.html">Specimen Page : HS242 p113</a><br/><br/>

<a name="19"></a><em>Medeola virginica</em> L.     (Indian Cucumber-Root)<br/>
<a href="naturalist/H242117.html">Specimen Page : HS242 p117</a><br/><br/>

<a name="20"></a><em>Smilacina racemosa</em> (L.) Desf.     (False Solomon's-Seal)<br/>
<a href="naturalist/H145050.html">Specimen Page : HS145 p50</a><br/>
<a href="naturalist/H145059.html">Specimen Page : HS145 p59</a><br/><br/>

<a name="21"></a><em>Polygonatum biflorum</em> (Walter) Ell.     (Solomon's Seal)<br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/><br/>

<a name="22"></a><em>Yucca filamentosa</em> L.      (Bear-Grass)<br/>
<a href="naturalist/H145059.html">Specimen Page : HS145 p59</a><br/><br/>

<a name="23"></a><em>Chamaelirium luteum</em> Gray     (Blazing-Star, Devil's Bit)<br/>
<a href="naturalist/H145064.html">Specimen Page : HS145 p64</a><br/>
<a href="naturalist/H145065.html">Specimen Page : HS145 p65</a><br/>
<a href="naturalist/H242117.html">Specimen Page : HS242 p117</a><br/><br/>

<a name="24"></a><em>Amianthium muscaetoxicum</em> (Walter) Gray     (Fly-Poison)<br/>
<a href="naturalist/H242115.html">Specimen Page : HS242 p115</a><br/><br/>

<a name="25"></a><em>Lilium catesbaei</em> Walter     (Pine Lily)<br/>
<a href="naturalist/H145047.html">Specimen Page : HS145 p47</a><br/>
<a href="naturalist/H145055.html">Specimen Page : HS145 p55</a><br/><br/>


<a name="F10"></a><b>Iridaceae (Iris Family)</b><br/>
<a name="26"></a><em>Sisyrinchium angustifolium</em> Miller     (Blue-Eyed Grass)<br/>
<a href="naturalist/H145066.html">Specimen Page : HS145 p66</a><br/>
<a href="naturalist/H242118.html">Specimen Page : HS242 p118</a><br/><br/>


<a name="F11"></a><b>Orchidaceae (Orchid Family)</b><br/>
<a name="27"></a><em>Cyprepedium calceolus v. pubescens</em> Caroll     (Yellow Lady's Slipper)<br/>
<a href="naturalist/H145048.html">Specimen Page : HS145 p48</a><br/>
<a href="naturalist/H145050.html">Specimen Page : HS145 p50</a><br/><br/>

<a name="28"></a><em>Habenaria ciliaris</em> (L.) R. Brown     (Yellow Fringed-Orchid)<br/>
<a href="naturalist/H145047.html">Specimen Page : HS145 p47</a><br/>
<a href="naturalist/H145058.html">Specimen Page : HS145 p58</a><br/><br/>

<a name="29"></a><em>Calopogon puchellus</em> (Saliabury) R. Brown     (Grass-Pink)<br/>
<a href="naturalist/H145050.html">Specimen Page : HS145 p50</a><br/><br/>
