---
layout : ecu
title : Dicots - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>DICOTYLEDONEAE (Dicots)</h2>
<p>Use the links below to view images of the specimens collected by John Lawson.</p>

<a name="F12"></a><b>Salicaceae (Willow Family)</b><br/>
<a name="30"></a><em>Salix caroliniana</em> Michaux     (Swamp Willow)<br/>
<a href="naturalist/H145050.html">Specimen Page : HS145 p50</a><br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/>
<a href="naturalist/H242122.html">Specimen Page : HS242 p122</a><br/><br/>


<a name="F13"></a><b>Myricaceae (Wax-Myrtle Family)</b><br/>
<a name="31"></a><em>Myrica cerifera</em> L.     (Wax Myrtle)<br/>
<a href="naturalist/H242110.html">Specimen Page : HS242 p110</a><br/><br/>


<a name="F14"></a><b>Juglandaceae (Walnut Family)</b><br/>
<a name="32"></a><em>Carya tomentosa</em> (Poiret) Nuttall     (Mockernut Hickory)<br/>
<a href="naturalist/H242120.html">Specimen Page : HS242 p120</a><br/>
<a href="naturalist/H242121.html">Specimen Page : HS242 p121</a><br/><br/>


<a name="F15"></a><b>Fagaceae (Beech Family)</b><br/>
<a name="33"></a><em>Castanea pumila</em> (L.) Miller     (Chinquapin)<br/>
<a href="naturalist/H145059.html">Specimen Page : HS145 p59</a><br/><br/>

<a name="34"></a><em>Quercus michauxii</em> Nuttall     (Swamp Chestnut Oak)<br/>
<a href="naturalist/H242136.html">Specimen Page : HS242 p136</a><br/><br/>

<a name="35"></a><em>Quercus nigra</em> L.     (Water Oak)<br/>
<a href="naturalist/H242118.html">Specimen Page : HS242 p118</a><br/><br/>

<a name="36"></a><em>Quercus laurifolia</em> Michaux     (Laurel Oak)<br/>
<a href="naturalist/H242119.html">Specimen Page : HS242 p119</a><br/><br/>


<a name="F16"></a><b>Caryophyllaceae (Pink Family)</b><br/>
<a name="37"></a><em>Silene virginianum</em> L.     (Fire Pink)<br/>
<a href="naturalist/H145058.html">Specimen Page : HS145 p58</a><br/><br/>


<a name="F17"></a><b>Ranunculaceae (Crowfoot Family)</b><br/>
<a name="38"></a><em>Thalictrum</em> sp.     (Windflower)<br/>
<a href="naturalist/H145049.html">Specimen Page : HS145 p49</a><br/><br/>


<a name="F18"></a><b>Magnoliaceae (Magnolia Family)</b><br/>
<a name="39"></a><em>Liriodendron tulipifera</em> L.     (Tulip Tree)<br/>
<a href="naturalist/H242135.html">Specimen Page : HS242 p135</a><br/><br/>

<a name="40"></a><em>Magnolia virginiana</em> L.     (Sweet Bay)<br/>
<a href="naturalist/H242132.html">Specimen Page : HS242 p132</a><br/>
<a href="naturalist/H242133.html">Specimen Page : HS242 p133</a><br/>
<a href="naturalist/H242134.html">Specimen Page : HS242 p134</a><br/>
<a href="naturalist/H242135.html">Specimen Page : HS242 p135</a><br/><br/>

<a name="41"></a><em>Magnolia tripetala</em> L.     (Umbrella Tree)<br/>
<a href="naturalist/H145057.html">Specimen Page : HS145 p57</a><br/>
<a href="naturalist/H145065.html">Specimen Page : HS145 p65</a><br/><br/>


<a name="F19"></a><b>Annonaceae (Custard-Apple Family)</b><br/>
<a name="42"></a><em>Asimina triloba</em> (L.) Dunal     (Pawpaw)<br/>
<a href="naturalist/H242111.html">Specimen Page : HS242 p111</a><br/><br/>


<a name="F20"></a><b>Saxifragaceae (Saxifrage Family)</b><br/>
<a name="43"></a><em>Itea virginica</em> L.     (Virginia Willow)<br/>
<a href="naturalist/H242130.html">Specimen Page : HS242 p130</a><br/><br/>


<a name="F21"></a><b>Rosaceae (Rose Family)</b><br/>
<a name="44"></a><em>Duchnesia indica</em> (Andrz.) Focke     (Indian Strawberry)<br/>
<a href="naturalist/H242117.html">Specimen Page : HS242 p117</a><br/><br/>

<a name="45"></a><em>Rosa palustris</em> Marshall     (Swamp Rose)<br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/><br/>

<a name="46"></a><em>Crataegus flava</em> Aiton     (Hawthorn)<br/>
<a href="naturalist/H242127.html">Specimen Page : HS242 p127</a><br/><br/>

<a name="47"></a><em>Amelanchier</em> sp.     (Shadbush)<br/>
<a href="naturalist/H145065.html">Specimen Page : HS145 p65</a><br/><br/>

<a name="48"></a><em>Amelanchier canadensis</em> (L.) Medicus     (Shadbush)<br/>
<a href="naturalist/H242124.html">Specimen Page : HS242 p124</a><br/><br/>

<a name="49"></a><em>Prunus serotina</em> Erhart     (Black Cherry)<br/>
<a href="naturalist/H242124.html">Specimen Page : HS242 p124</a><br/><br/>

<a name="50"></a><em>Prunus caroliniana</em> Aiton     (Carolina Laurel Cherry)<br/>
<a href="naturalist/H242126.html">Specimen Page : HS242 p126</a><br/>
<a href="naturalist/H242130.html">Specimen Page : HS242 p130</a><br/><br/>

<a name="111"></a><em>Denothera</em> sp     (Evening Primrose)<br/><br/>

<a name="F22"></a><b>Fabaceae (Pea Family)</b><br/>
<a name="51"></a><em>Cercis canadensis</em> L.     (Redbud, Judas Tree)<br/>
<a href="naturalist/H242129.html">Specimen Page : HS242 p129</a><br/><br/>

<a name="52"></a><em>Cassia fasciculata</em> Michaux     (Partridge Pea)<br/>
<a href="naturalist/H145046.html">Specimen Page : HS145 p46</a><br/><br/>

<a name="53"></a><em>Psoralea psoralioides</em> (Walter) Cary     (Sampson Snakeroot)<br/>
<a href="naturalist/H145045.html">Specimen Page : HS145 p45</a><br/><br/>

<a name="54"></a><em>Desmodium</em> sp.     (Begger Lice, Beggar's Ticks)<br/>
<a href="naturalist/H145049.html">Specimen Page : HS145 p49</a><br/><br/>

<a name="55"></a><em>Desmodium tortuosum</em> (Swartz) D.C.     (Begger Lice, Beggar's Ticks)<br/>
<a href="naturalist/H145048.html">Specimen Page : HS145 p48</a><br/><br/>

<a name="56"></a><em>Robinia pseudo-acacia</em> L.     (Black Locust)<br/>
<a href="naturalist/H242129.html">Specimen Page : HS242 p129</a><br/>
<a href="naturalist/H242129b.html">Specimen Page : HS242 p129b</a><br/><br/>

<a name="57"></a><em>Vicia</em> sp.     (Vetch)<br/>
<a href="naturalist/H242111.html">Specimen Page : HS242 p111</a><br/><br/>

<a name="58"></a><em>Apios americana</em> Medicus     (Groundnut)<br/>
<a href="naturalist/H145045.html">Specimen Page : HS145 p45</a><br/>
<a href="naturalist/H145055.html">Specimen Page : HS145 p55</a><br/>
<a href="naturalist/H145056.html">Specimen Page : HS145 p56</a><br/><br/>

<a name="59"></a><em>Clitoria mariana</em> L.     (Butterfly Pea)<br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/><br/>

<a name="60"></a><em>Rhynchosia tomentosa</em> (L.) H.&amp;A.     (Rhynchosia)<br/>
<a href="naturalist/H145046.html">Specimen Page : HS145 p46</a><br/>
<a href="naturalist/H145065.html">Specimen Page : HS145 p65</a><br/><br/>

<a name="61"></a><em>Galactica</em> sp.     (Galactica)<br/>
<a href="naturalist/H145045.html">Specimen Page : HS145 p45</a><br/><br/>


<a name="F23"></a><b>Oxalidaceae (Wood Sorrel Family)</b><br/>
<a name="62"></a><em>Oxalis dillenii</em> Jaquin     (Wood Sorrel, Lady's Sorrel)<br/>
<a href="naturalist/H242116.html">Specimen Page : HS242 p116</a><br/><br/>


<a name="F24"></a><b>Cyrillaceae (Cyrilla Family)</b><br/>
<a name="63"></a><em>Cyrilla racemiflora</em> L.     (Leatherwood)<br/>
<a href="naturalist/H145049.html">Specimen Page : HS145 p49</a><br/>
<a href="naturalist/H145050.html">Specimen Page : HS145 p50</a><br/>
<a href="naturalist/H145061.html">Specimen Page : HS145 p61</a><br/><br/>


<a name="F25"></a><b>Aquifoliaceae (Holly Family)</b><br/>
<a name="64"></a><em>Ilex opaca</em> Aiton     (Holly)<br/>
<a href="naturalist/H242122.html">Specimen Page : HS242 p122</a><br/><br/>

<a name="65"></a><em>Ilex decidua</em> Walter     (Possum Haw)<br/>
<a href="naturalist/H145056.html">Specimen Page : HS145 p56</a><br/>
<a href="naturalist/H145055.html">Specimen Page : HS145 p55</a><br/><br/>

<a name="66"></a><em>Ilex coriacea</em> (Pursh) Chapman     (Large(Sweet) Gallberry)<br/>
<a href="naturalist/H242129b.html">Specimen Page : HS242 p129b</a><br/><br/>


<a name="F26"></a><b>Aceraceae (Maple Family)</b><br/>
<a name="67"></a><em>Acer rubrum</em> L.     (Red Maple)<br/>
<a href="naturalist/H242132.html">Specimen Page : HS242 p132</a><br/><br/>


<a name="F27"></a><b>Vitaceae (Grape Family)</b><br/>
<a name="68"></a><em>Vitis rotundifolia</em> Michaux     (Muscadine)<br/>
<a href="naturalist/H145059.html">Specimen Page : HS145 p59</a><br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/><br/>


<a name="F28"></a><b>Lythraceae (Loosestrife Family)</b><br/>
<a name="69"></a><em>Decodon verticillatus</em> (L.) Ell.     (Water Loosestrife)<br/>
<a href="naturalist/H145052.html">Specimen Page : HS145 p52</a><br/>
<a href="naturalist/H145054.html">Specimen Page : HS145 p54</a><br/><br/>


<a name="F29"></a><b>Nyssaceae (Sour Gum Family)</b><br/>
<a name="70"></a><em>Nyssa sylvatica</em> Marshall     (Black Gum)<br/>
<a href="naturalist/H242123.html">Specimen Page : HS242 p123</a><br/><br/>


<a name="F30"></a><b>Cornaceae (Dogwood Family)</b><br/>
<a name="71"></a><em>Cornus florida</em> L.     (Flowering Dogwood)<br/>
<a href="naturalist/H242123.html">Specimen Page : HS242 p123</a><br/><br/>


<a name="F31"></a><b>Clethraceae (White Alder Family)</b><br/>
<a name="72"></a><em>Clethra alnifolia</em> L.     (Sweep Pepperbush)<br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/>
<a href="naturalist/H145061.html">Specimen Page : HS145 p61</a><br/><br/>


<a name="F32"></a><b>Ericaceae (Azalea Family)</b><br/>
<a name="73"></a><em>Rhododendron nudiflorum</em> (L.) Torrey     (Wild Azalea)<br/>
<a href="naturalist/H242133.html">Specimen Page : HS242 p133</a><br/><br/>

<a name="74"></a><em>Rhododendron viscosum</em> (L.) Torrey     (Swamp Azalea)<br/>
<a href="naturalist/H242132.html">Specimen Page : HS242 p132</a><br/><br/>

<a name="75"></a><em>Zenobia pulverulenta</em> (Bartr.) Pollard     (Zenobia)<br/>
<a href="naturalist/H242127.html">Specimen Page : HS242 p127</a><br/><br/>

<a name="76"></a><em>Lyonia lucida</em> (Lam.) K. Koch     (Fetter-Bush)<br/>
<a href="naturalist/H145047.html">Specimen Page : HS145 p47</a><br/>
<a href="naturalist/H242131.html">Specimen Page : HS242 p131</a><br/><br/>

<a name="77"></a><em>Oxydendrum arboreum</em> (L.) DC     (Sourwood)<br/>
<a href="naturalist/H145059.html">Specimen Page : HS145 p59</a><br/>
<a href="naturalist/H145065.html">Specimen Page : HS145 p65</a><br/>
<a href="naturalist/H145066.html">Specimen Page : HS145 p66</a><br/>
<a href="naturalist/H145064.html">Specimen Page : HS145 p64</a><br/><br/>

<a name="78"></a><em>Vaccinium</em> sp.     (Vaccinium)<br/>
<a href="naturalist/H242127.html">Specimen Page : HS242 p127</a><br/><br/>

<a name="79"></a><em>Vaccinium arboreum</em> Marshall     (Sparkleberry)<br/>
<a href="naturalist/H145059.html">Specimen Page : HS145 p59</a><br/><br/>

<a name="80"></a><em>Vaccinium staminium</em> L.     (Squaw-Huckleberry)<br/>
<a href="naturalist/H145048.html">Specimen Page : HS145 p48</a><br/>
<a href="naturalist/H242128.html">Specimen Page : HS242 p128</a><br/><br/>


<a name="F33"></a><b>Symplocaceae (Sweetleaf Family)</b><br/>
<a name="81"></a><em>Symplocos tinctoria</em> (L.) L.Hur.     (Sweet Leaf, Horse Sugar)<br/>
<a href="naturalist/H242127.html">Specimen Page : HS242 p127</a><br/><br/>


<a name="F34"></a><b>Oleaceae (Olive Family)</b><br/>
<a name="82"></a><em>Osmanthus americana</em> L.     (Wild Olive)<br/>
<a href="naturalist/H242126.html">Specimen Page : HS242 p126</a><br/>
<a href="naturalist/H242135.html">Specimen Page : HS242 p135</a><br/><br/>


<a name="F35"></a><b>Loganiaceae (Logania Family)</b><br/>
<a name="83"></a><em>Gelsemium sempervirens</em> (L.) Aiton     (Yellow Jessamin)<br/>
<a href="naturalist/H242135.html">Specimen Page : HS242 p135</a><br/><br/>


<a name="F36"></a><b>Gentianaceae (Gentian Family)</b><br/>
<a name="84"></a><em>Sabatia angularis</em> L.     (Rose Pink)<br/>
<a href="naturalist/H145062.html">Specimen Page : HS145 p62</a><br/><br/>


<a name="F37"></a><b>Asclepiadaceae (Milkweed Family)</b><br/>
<a name="85"></a><em>Asclepias tuberosa</em> L.     (Butterfly-Weed)<br/>
<a href="naturalist/H145062.html">Specimen Page : HS145 p62</a><br/><br/>


<a name="F38"></a><b>Convolvulariaceae (Morning -Glory Family)</b><br/>
<a name="86"></a><em>Ipomoea</em> sp.     (Ivy Leaf Morning Glory)<br/>
<a href="naturalist/H145063.html">Specimen Page : HS145 p63</a><br/><br/>

<a name="87"></a><em>Ipomoea hederacea</em> (L.) Jacquin     (Ipomoea)<br/>
<a href="naturalist/H145062.html">Specimen Page : HS145 p62</a><br/><br/>


<a name="F39"></a><b>Boraginaceae (Borage Family)</b><br/>
<a name="88"></a><em>Lithospermum caroliniense</em> (J.F.Gmelin) MacM.     (Puccoon)<br/>
<a href="naturalist/H145046.html">Specimen Page : HS145 p46</a><br/><br/>


<a name="F40"></a><b>Verbenaceae (Vervain Family)</b><br/>
<a name="89"></a><em>Verbena carnea</em> Medicus     (Verbena)<br/>
<a href="naturalist/H145047.html">Specimen Page : HS145 p47</a><br/><br/>


<a name="F41"></a><b>Lamiaceae (Mint Family)</b><br/>
<a name="90"></a><em>Monarda punctata</em> L.     (Horse Mint)<br/>
<a href="naturalist/H145058.html">Specimen Page : HS145 p58</a><br/><br/>

<a name="91"></a><em>Pycnanthemum flexuosum</em> (Walter) BSP     (Common Horse Mint)<br/>
<a href="naturalist/H145066.html">Specimen Page : HS145 p66</a><br/><br/>


<a name="F42"></a><b>Scrophulariaceae (Figwort Family)</b><br/>
<a name="92"></a><em>Agalinis tenuifolia</em> (Vahl) Raf.     (Gerardia)<br/>
<a href="naturalist/H145047.html">Specimen Page : HS145 p47</a><br/><br/>


<a name="F43"></a><b>Acanthaceae (Acanthus Family)</b><br/>
<a name="93"></a><em>Ruelia ciliosa</em> Pursh     (Ruellia)<br/>
<a href="naturalist/H145049.html">Specimen Page : HS145 p49</a><br/><br/>


<a name="F44"></a><b>Rubiaceae (Madder Family)</b><br/>
<a name="94"></a><em>Cephalanthus occidentalis</em> L.     (Button Bush)<br/>
<a href="naturalist/H145060.html">Specimen Page : HS145 p60</a><br/>
<a href="naturalist/H145061.html">Specimen Page : HS145 p61</a><br/>
<a href="naturalist/H145063.html">Specimen Page : HS145 p63</a><br/>
<a href="naturalist/H145064.html">Specimen Page : HS145 p64</a><br/><br/>

<a name="95"></a><em>Houstonia purpurea</em> L.     (Summer Bluet)<br/>
<a href="naturalist/H242115.html">Specimen Page : HS242 p115</a><br/>
<a href="naturalist/H158214.html">Specimen Page : HS158 p214</a><br/><br/>

<a name="96"></a><em>Galium hispidulum</em> Michaux     (Bedstraw)<br/>
<a href="naturalist/H242111.html">Specimen Page : HS242 p111</a><br/><br/>


<a name="F45"></a><b>Caprifoloaceae (Honeysuckle Family)</b><br/>
<a name="97"></a><em>Lonicera sempervirens</em> L.     (Coral Honeysuckle)<br/>
<a href="naturalist/H145063.html">Specimen Page : HS145 p63</a><br/>
<a href="naturalist/H242116.html">Specimen Page : HS242 p116</a><br/><br/>

<a name="98"></a><em>Viburnum prunifolium</em> L.     (Black Haw)<br/>
<a href="naturalist/H242125.html">Specimen Page : HS242 p125</a><br/>
<a href="naturalist/H145049.html">Specimen Page : HS145 p49</a><br/><br/>

<a name="110"></a><em>Viburnum dentatum</em> L. var. lucidum     (Southern Arrowwood)<br/><br/>

<a name="F46"></a><b>Asteraceae (Daisy Family)</b><br/>
<a name="99"></a><em>Carduus repandus</em> (Michaux) Persoon     (Thistle)<br/>
<a href="naturalist/H145062.html">Specimen Page : HS145 p62</a><br/><br/>

<a name="100"></a><em>Liatris squarrosa</em> (L.) Michaux     (Blazing Star)<br/>
<a href="naturalist/H145052.html">Specimen Page : HS145 p52</a><br/>
<a href="naturalist/H145045.html">Specimen Page : HS145 p45</a><br/><br/>

<a name="101"></a><em>Eupatorium dubium</em> Willd.     (Thoroughwort)<br/>
<a href="naturalist/H145050.html">Specimen Page : HS145 p50</a><br/>
<a href="naturalist/H145051.html">Specimen Page : HS145 p51</a><br/>
<a href="naturalist/H145054.html">Specimen Page : HS145 p54</a><br/><br/>

<a name="102"></a><em>Antennaria plantaginifolia</em> (L.) Richardson     (Pussy Toes)<br/>
<a href="naturalist/H158129.html">Specimen Page : HS158 p129</a><br/><br/>

<a name="103"></a><em>Gnaphalium obtusifolium</em> L.     (Rabbit Tobacco)<br/>
<a href="naturalist/H158129.html">Specimen Page : HS158 p129</a><br/><br/>

<a name="104"></a><em>Gnaphalium purpureum</em> L.     (Cudweed)<br/>
<a href="naturalist/H171065.html">Specimen Page : HS171 p65</a><br/><br/>

<a name="105"></a><em>Solidago</em> sp.     (Goldenrod)<br/>
<a href="naturalist/H145059.html">Specimen Page : HS145 p59</a><br/>
<a href="naturalist/H145063.html">Specimen Page : HS145 p63</a><br/><br/>

<a name="106"></a><em>Helianthus</em> sp.     (Sunflower)<br/>
<a href="naturalist/H145045.html">Specimen Page : HS145 p45</a><br/><br/>

<a name="107"></a><em>Bidens laevis</em> (L.) BSP     (Begger Ticks)<br/>
<a href="naturalist/H158151.html">Specimen Page : HS158 p151</a><br/><br/>

<a name="109"></a><em>Unidentified Asteraceae</em>     (Unidentified Asteraceae)<br/><br/>
