---
layout : ecu
title : Naturalist - John Lawson Exhibit
---

{% include breadcrumbs.html active="naturalist" %}

<h2>Naturalist</h2>

<p>
  John Lawson collected natural history specimens from the colony of Carolina
  for James Petiver, a London apothecary. Hans Sloane (1660-1753) acquired
  Petiver's plant collections upon the latter's death in 1718. Sloane's plant
  collections consists of 337 volumes, described as "the most extensive single
  series of botanical collections made in the seventeenth and early eighteenth
  centuries."
</p>
<p>
  The Sloane Herbarium consists of linen paper sheets to which dried plants
  have been affixed with paste and strips of paper. The bound volumes are
  called Horti Sicci (HS), Latin for dried plants. The location of a particular
  plant can be identified by reference to "book number and page number within
  that book." Latin Family names are listed first with the common Family names
  in parentheses.
</p>
<p>
  <a href="naturalist_plant_collections.html">Read More About John Lawson's Plant Collections</a>
</p>
<p>
  <a href="naturalist_more.html">Read More about John Lawson as a Naturalist</a>
</p>
<p>
  <a href="naturalist_plants_named.html">Read More About How Plants are Named</a>
</p>
<p>
  <a href="naturalist_taxonomic.html">Browse Herbarium Specimens by Taxonomic Latin Name</a>
</p>
<p>
  <a href="naturalist_common.html">Browse Herbarium Specimens by Alphabetized Common Name</a>
</p>
<br/><br/>
<table class="table">
  {% assign items = site.naturalist | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
