---
layout : ecu
title : Plant Collections - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>John Lawson's Plant Collections</h2>

<b>Lawson Described His Plant Collections in Letters to Mr. Petiver</b><br/>
<p>
John Lawson had resided in North Carolina for only a month, when in April 1701 he wrote to London apothecary James Petiver, offering to provide him with animal and vegetable collections native to the province. Lawson wrote, "I shall be very industrious in that Employ I hope to yr. satisfaction & my own, thinking it more than sufficient Reward to have the Conversation of so great a Vertuosi."
</p>
<p>
We do not know how frequently Lawson corresponded with Petiver, but the next
letter in the Sloane Collection of the British Museum was sent from Portsmouth,
England and dated January 11, 1709. Lawson had just arrived in England to
supervise the publication of his book, <em>A New Voyage to Carolina</em>, and to meet
Baron de Graffenried and his colonists, whom Lawson planned to lead back to
North Carolina. In this letter Lawson thanked Petiver for the gift of "Mr.
Ray’s Book of Physick." (Possibly <em>Catalogus Plantarum Angliae</em> published in
1670.) This book provided the basis for all subsequent floras of Britain.
Lawson may have used this book to help identify plants collected in North Carolina.
</p>
<p>
[NOTE] John Ray (or Wray), b. 1627, d. 1705, Fellow of the Royal Society
(elected in 1667), contributed to the development of the "Natural System" of
classification. He published the first flora of Britain (see above), as well
as a three volume <em>Historia Plantarum</em> (1686-1704) in which Ray included
descriptions of all plant species then known to science.
</p>
<p>
Lawson concluded his letter to Petiver with the promise that upon his return to North Carolina he would begin monthly observations. He never stated exactly what observations he would make; they might have been of natural history events such as bird migrations or flowering times of plants. Lawson also promised Petiver that he would include it "with yr. collections" in the next shipment. In his next letter dated December 30, 1710, Lawson began by apologizing to Petiver for, "not writing sooner wch. was by reason of my too much business." He described a "small box of Collections" that he had sent in July to Virginia for forwarding to England. "In ye box are...all plants that are on yr. own paper those in ye white are for Mr. Fettiplace Rolley [Boller?]...."
</p>
<p>
Later in this letter Lawson wrote, "If God prolongs my dayes my intention is this. To make strict collection of plants I can meet withall in Carolina always keeping one of a sort with me giving an account of ye time & day gotten, when they first appear, wt. soil or ground, wn. they flower seed & disappear & what individuall uses the Indians and English make therof & to have enough of the same & to let me know how near they agree to European plants of ye same species & how they differ besides I would send seeds of all ye physicall plants &amp; flowers to be planted in England. As for trees the time they bear flower bring their ripe fruit & soil I hope to Comply with Most of them this year 1711."
</p>
<p>
An inset within the above letter states:
</p>
<p>
I have some more plants collected but of books being not full I omitt sending them untill completed. Sr. pardon this freedom I take wth. you. I only tell you my Intentions & beg yr. Advice & am & shall ever Remain to the utmost of my power
</p>
<p>
Sr.<br/>
Yr. most humble Servant<br/>
To command<br/>
John Lawson"
</p>
<p>
On July 24, 1711 Lawson again wrote Petiver, "Sr. I hope long since you have Received ye Collection of plants & Insects in 4 vials wch I sent for you wth. Mr. Fettiplace Boller’s [Rolley?].... I have now sent you by our Govrs. Lady one book of plants very slovenly packt up wch. I hope when you hear ye distracted Circumstances our Country has laboured under you will Excuse. I have more collected at my home at Neus but could not send them to you now being I have not been there since January last."
</p>
<p>
John Lawson did return to the Neuse soon after he sent this letter. Just two months later, Tuscarora Indians executed him while he explored the upper Neuse River in the company of Baron von Graffenried.
</p>
<p>
<b>The Lawson Plant Collections</b><br/>
James Petiver (b. 1658) collected 106 numbered books (<em>Horti Sicci</em>) of dried plant specimens before his death in 1718. Dr. Hans Sloane purchased the entire collection from Petiver’s estate and it became part of Sloane’s 265 volume collection. In 1953, the British Museum acquired the Sloane Herbarium. Lawson’s plants were pressed on 53 pages distributed among 5 volumes of this collection. No systematic inventory of Lawson’s plants occurred before 2001.
</p>
<p>
In October 2001, the Joyner Library at East Carolina University obtained high quality digital images of the herbarium pages attributed to John Lawson. Dr. Vince Bellis, Professor Emeritus of Biology at East Carolina University, is working to identify plants in the collection and bring the identifications into conformity with Radford, et al, <em>Manual of the Vascular Flora of the Carolinas</em>, (1968). Dr. Bellis’ inventory revealed 308 plant specimens representing about 100 taxa.
</p>
<p>
Most of the specimens are of plants commonly found in coastal North Carolina. Approximately 40 notes written in Lawson’s hand are attached to various plant specimens. Typically these notes list the date and collection location. Most of the dates are for spring and summer (May-July) 1710. Collection locations, according to Lawson, include: "Trent River," "Neus River," "Roanoke," and "Virginia." A second set of collection dates includes the period between January and May, 1711. Collection locations, according to Lawson, include: "Neus River," "my house," "Croatan," "Salmon Creek," "Broad Creek," "Little River," "Mr. Hancock.s," "Col. Pollocks," and "Government Landing." Most of the specimens appear to be from the New Bern area.
</p>
<p>
Lawson provided names for some of the plants. Names given for plants include: huckleberry, sand willow, a sort of vetch, chickapin, Wild Dock, Golden Rod, Sourwood, snake root, Virginia Mayak, St. Anthony’s Cross, Wax Gatherer’s, trefoil, moss, Paupau, silk grass, a sort of lily bulb, grass, Willow Oake, Hickory, Holly, Dogwood, spice tree, Black Cherry, black gum, black haw, Red Haw Tree, Huckleberry, gall berry, locust, Spirea, Maple and Smilax. Other plants are identified as evergreen, black berries, smaller weed, evergreen vine, and "a pritty tree".
</p>
<p>
Higher resolution digital images can also be viewed in Joyner Library's <a href="http://digital.lib.ecu.edu">Digital Collections</a>. At the top of each herbarium image page, in the Naturalist category of the John Lawson digital exhibit, users can see a list of the common an Latin names for the identified plants on that page. When a cursor is held over the stem of each plant on the page, the common name for that plant is displayed. Users can also look up plants by common or Latin name within the Naturalist category of this digital exhibit. 
</p>
