---
layout : ecu
title : Herbarium by Alphabetized Common Name - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>Browse Herbarium Specimens by Alphabetized Common Name</h2>

<p>
  Common names are repeated below when that name refers to two different
  species. The common names are generally taken from Radford et al, <em>Manual of
  the Vascular Flora of the Carolinas</em>, published by the University of North
  Carolina Press in 1968. The links below take you to Latin names listed in
  taxonomic order, and links to images of the specimens collected by John Lawson.
</p>

<a href=naturalist_monocots.html#17>Bamboo</a><br/>
<a href=naturalist_monocots.html#22>Bear-Grass</a><br/>
<a href=naturalist_dicots.html#96>Bedstraw</a><br/>
<a href=naturalist_dicots.html#55>Begger Lice, Beggar's Ticks</a><br/>
<a href=naturalist_dicots.html#54>Begger Lice, Beggar's Ticks</a><br/>
<a href=naturalist_dicots.html#107>Begger Ticks</a><br/>
<a href=naturalist_dicots.html#49>Black Cherry</a><br/>
<a href=naturalist_dicots.html#70>Black Gum</a><br/>
<a href=naturalist_dicots.html#98>Black Haw</a><br/>
<a href=naturalist_dicots.html#56>Black Locust</a><br/>
<a href=naturalist_dicots.html#100>Blazing Star</a><br/>
<a href=naturalist_monocots.html#23>Blazing-Star, Devil's Bit</a><br/>
<a href=naturalist_monocots.html#8>Blue Grass</a><br/>
<a href=naturalist_monocots.html#26>Blue-Eyed Grass</a><br/>
<a href=naturalist_ferns.html#1>Broad Beech-Fern</a><br/>
<a href=naturalist_monocots.html#12>Bulrush</a><br/>
<a href=naturalist_dicots.html#59>Butterfly Pea</a><br/>
<a href=naturalist_dicots.html#85>Butterfly-Weed</a><br/>
<a href=naturalist_dicots.html#94>Button Bush</a><br/>
<a href=naturalist_monocots.html#6>Cane</a><br/>
<a href=naturalist_monocots.html#13>Carex</a><br/>
<a href=naturalist_dicots.html#50>Carolina Laurel Cherry</a><br/>
<a href=naturalist_dicots.html#33>Chinquapin</a><br/>
<a href=naturalist_dicots.html#91>Common Horse Mint</a><br/>
<a href=naturalist_dicots.html#97>Coral Honeysuckle</a><br/>
<a href=naturalist_dicots.html#104>Cudweed</a><br/>
<a href=naturalist_monocots.html#11>Cyperus</a><br/>
<a href=naturalist_monocots.html#15>Dayflower</a><br/>
<a href=naturalist_dicots.html#111>Evening Primrose</a><br/>
<a href=naturalist_monocots.html#20>False Solomon's-Seal</a><br/>
<a href=naturalist_dicots.html#76>Fetter-Bush</a><br/>
<a href=naturalist_dicots.html#37>Fire Pink</a><br/>
<a href=naturalist_dicots.html#71>Flowering Dogwood</a><br/>
<a href=naturalist_monocots.html#24>Fly-Poison</a><br/>
<a href=naturalist_dicots.html#61>Galactica</a><br/>
<a href=naturalist_dicots.html#92>Gerardia</a><br/>
<a href=naturalist_dicots.html#105>Goldenrod</a><br/>
<a href=naturalist_monocots.html#29>Grass-Pink</a><br/>
<a href=naturalist_monocots.html#16>Greenbrier, Catbrier</a><br/>
<a href=naturalist_dicots.html#58>Groundnut</a><br/>
<a href=naturalist_dicots.html#46>Hawthorn</a><br/>
<a href=naturalist_dicots.html#64>Holly</a><br/>
<a href=naturalist_dicots.html#90>Horse Mint</a><br/>
<a href=naturalist_monocots.html#19>Indian Cucumber-Root</a><br/>
<a href=naturalist_dicots.html#44>Indian Strawberry</a><br/>
<a href=naturalist_dicots.html#87>Ipomoea</a><br/>
<a href=naturalist_dicots.html#86>Ivy Leaf Morning Glory</a><br/>
<a href=naturalist_dicots.html#66>Large(Sweet) Gallberry</a><br/>
<a href=naturalist_dicots.html#36>Laurel Oak</a><br/>
<a href=naturalist_dicots.html#63>Leatherwood</a><br/>
<a href=naturalist_dicots.html#32>Mockernut Hickory</a><br/>
<a href=naturalist_dicots.html#68>Muscadine</a><br/>
<a href=naturalist_monocots.html#10>Panicum</a><br/>
<a href=naturalist_dicots.html#52>Partridge Pea</a><br/>
<a href=naturalist_dicots.html#42>Pawpaw</a><br/>
<a href=naturalist_monocots.html#25>Pine Lily</a><br/>
<a href=naturalist_dicots.html#65>Possum Haw</a><br/>
<a href=naturalist_dicots.html#88>Puccoon</a><br/>
<a href=naturalist_dicots.html#102>Pussy Toes</a><br/>
<a href=naturalist_dicots.html#103>Rabbit Tobacco</a><br/>
<a href=naturalist_dicots.html#67>Red Maple</a><br/>
<a href=naturalist_dicots.html#51>Redbud, Judas Tree</a><br/>
<a href=naturalist_ferns.html#4>Resurrection Fern</a><br/>
<a href=naturalist_dicots.html#60>Rhynchosia</a><br/>
<a href=naturalist_dicots.html#84>Rose Pink</a><br/>
<a href=naturalist_dicots.html#93>Ruellia</a><br/>
<a href=naturalist_dicots.html#53>Sampson Snakeroot</a><br/>
<a href=naturalist_dicots.html#48>Shadbush</a><br/>
<a href=naturalist_dicots.html#47>Shadbush</a><br/>
<a href=naturalist_monocots.html#21>Solomon's Seal</a><br/>
<a href=naturalist_dicots.html#77>Sourwood</a><br/>
<a href=naturalist_dicots.html#110>Southern Arrowwood</a><br/>
<a href=naturalist_monocots.html#14>Spanish Moss</a><br/>
<a href=naturalist_dicots.html#79>Sparkleberry</a><br/>
<a href=naturalist_dicots.html#80>Squaw-Huckleberry</a><br/>
<a href=naturalist_dicots.html#95>Summer Bluet</a><br/>
<a href=naturalist_dicots.html#106>Sunflower</a><br/>
<a href=naturalist_dicots.html#74>Swamp Azalea</a><br/>
<a href=naturalist_dicots.html#34>Swamp Chestnut Oak</a><br/>
<a href=naturalist_dicots.html#45>Swamp Rose</a><br/>
<a href=naturalist_dicots.html#30>Swamp Willow</a><br/>
<a href=naturalist_dicots.html#72>Sweep Pepperbush</a><br/>
<a href=naturalist_dicots.html#40>Sweet Bay</a><br/>
<a href=naturalist_dicots.html#81>Sweet Leaf, Horse Sugar</a><br/>
<a href=naturalist_dicots.html#99>Thistle</a><br/>
<a href=naturalist_dicots.html#101>Thoroughwort</a><br/>
<a href=naturalist_dicots.html#39>Tulip Tree</a><br/>
<a href=naturalist_dicots.html#41>Umbrella Tree</a><br/>
<a href=naturalist_dicots.html#109>Unidentified Asteraceae</a><br/>
<a href=naturalist_monocots.html#7>Uniola</a><br/>
<a href=naturalist_dicots.html#78>Vaccinium</a><br/>
<a href=naturalist_dicots.html#89>Verbena</a><br/>
<a href=naturalist_dicots.html#57>Vetch</a><br/>
<a href=naturalist_ferns.html#2>Virginia Chain-Fern</a><br/>
<a href=naturalist_dicots.html#43>Virginia Willow</a><br/>
<a href=naturalist_dicots.html#69>Water Loosestrife</a><br/>
<a href=naturalist_dicots.html#35>Water Oak</a><br/>
<a href=naturalist_dicots.html#31>Wax Myrtle</a><br/>
<a href=naturalist_dicots.html#73>Wild Azalea</a><br/>
<a href=naturalist_dicots.html#82>Wild Olive</a><br/>
<a href=naturalist_monocots.html#9>Wild Rice</a><br/>
<a href=naturalist_dicots.html#38>Windflower</a><br/>
<a href=naturalist_dicots.html#62>Wood Sorrel, Lady's Sorrel</a><br/>
<a href=naturalist_monocots.html#28>Yellow Fringed-Orchid</a><br/>
<a href=naturalist_dicots.html#83>Yellow Jessamin</a><br/>
<a href=naturalist_monocots.html#27>Yellow Lady's Slipper</a><br/>
<a href=naturalist_dicots.html#75>Zenobia</a><br/>
