---
layout : ecu
title : "John Lawson: Imagining a Life"
---

{% include breadcrumbs.html active="" %}

<h2>John Lawson: Imagining a Life</h2>

<p>
Imagination is among the basic tools of history, literature, and almost all other academic pursuits. No story, fact-based or fictional, is ever complete. Therefore, readers inevitably come to the texts trying to fill in the gaps of the record that is given. People examining to the life of the early eighteenth-century North Carolina explorer, settler, scientist, and writer John Lawson find themselves enticed into filling in the gaps of Lawson’s life. John Lawson: Imagining a Life presents several of the documents through which Lawson’s contemporaries as well as later historians and writers have tried to decipher who John Lawson was.
</p>
<p>
The record is sketchy, leaving many gaps for readers to fill in. The only part of his life about which anything is known for certain are the eleven or so years that Lawson spent predominantly in what is now North Carolina, from August of 1700 to September of 1711. Charles R. Holloman has done some excellent research concerning who Lawson’s parents probably were and what education Lawson probably received, but none of this can be said to be absolutely conclusive. According to Holloman, Lawson was born on December 27, 1674. The difficulty in being sure about Lawson’s life is that there were many John Lawsons born in Great Britain in the 1670s and 1680s. In fact, even once he arrived in the Carolinas, there was another John Lawson in the sparsely populated north part of the colony.
</p>
<p>
Even for the better-documented part of Lawson’s life, his time in Carolina from his arrival in 1700 to his death in 1711, the facts are often vague. For example, Lawson wrote his will in 1708, leaving his “Dearly beloved Hannah Smith” and his daughter by Hannah, Isabella, as his heirs. There is no record of Lawson’s having married Hannah, but with a lack of Anglican clergy in the region, it was not unusual for couples to have common-law marriages. Whether Hannah Smith was Lawson’s mistress or common-law wife is unknown.
</p>
<p>
Who John Lawson was has been imagined for the past 300 years. In many ways, he is who we desire him to be at any one moment—a keen observer of the natural world; an early and sympathetic ethnographer of North Carolina’s Native Americans; an entrepreneur whose enterprises got him in trouble and, perhaps, even lead to his death. John Lawson is a puzzle with many different solutions that we solve through out imaginations.
</p>
