---
layout : ecu
title : HS145 p48 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h2>Textual Note</h2>

<p>
Because of the idiosyncrasies of spelling and punctuation in early eighteenth-century writings, particularly manuscripts, a slightly modernized version of the legal documents has been provided alongside the original spelling versions. In these, spelling and capitalization have been regularized to modern practice, and punctuation has been edited for ease of reading by modern audiences. Abbreviated names have been expanded when they are known. Finally, the phrasing has remained the same with the addition of a few words for ease of reading and with definitions given for some of the more archaic and obsolete words.
</p>
<p>
Some of the most archaic or obsolete words that appear in these documents are legal terms. Two of these are:
</p>
<p>
<em>breve</em>: a writ, or order, in which the action to be taken is briefly stated.
</p>
<p>
<em>narratio</em>: a declaration of the facts of the case as presented by the plaintiff to the court.
</p>
<p>
A good online source for legal terminology, and the source for the above
definitions, is John Bouvier, <em>A Law Dictionary Adapted to the Constitution
and Laws of the United States of America and of the Several States of the
American Union</em> (6th ed., 1856; <a href="http://www.constitution.org/bouv/bouvier.htm">http://www.constitution.org/bouv/bouvier.htm</a>).
</p>
<p>
One other abbreviation needs mention. CCR stands for Colonial Court Records, State Archives, Division of Archives and History, Raleigh.
</p>
<p>
Finally, dates between January 1 and March 25 are given with two years, for example, 1705/06. The reason is that until 1752, Great Britain and her colonies marked the new year on March 25 rather than on January 1. Therefore, historians usually give both the date written in the original manuscript but also the date as it aligns with the present calendar.
</p>
