<ul class="breadcrumb">

  {% if include.active == "home" %}
    <li class="active">Home</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
  {% endif %}

  {% if include.active == "adventurer" %}
    <li class="active">Adventurer</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/adventurer.html">Adventurer</a></li>
  {% endif %}

  {% if include.active == "naturalist" %}
    <li class="active">Naturalist</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/naturalist.html">Naturalist</a></li>
  {% endif %}

  {% if include.active == "entrepreneur" %}
    <li class="active">Entrepreneur</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/entrepreneur.html">Entrepreneur</a></li>
  {% endif %}

</ul>
