---
layout: ecu
title:  "Christopher Gale v. Joseph Dereham, 15 April 1713"
customdate: "1713 April 15"
order: 7
---

{% include breadcrumbs.html %}

<h3>Christopher Gale v. Joseph Dereham, 15 April 1713</h3>
<p>
  Even after his death, Lawson appeared in the court records, this time in relationship to his land dealings. In the case below, the court settled the case of whether or not John Lawson had bought some 640 acres of land along the Neuse River from Richard Dereham, and whether or not Lawson then sold the land to Christopher Gale. Amond the problems dealt with is that the title transferring the land to Gale was not completed by the time of Lawson’s death. The numbers given in brackets (e.g., &lt;11&gt; are the page numbers in the original Higher Court Minutes.
  </p>
<div class="well">
  <label>Text from Book</label><br/>
<p>
  [Page 472]
</p>
<p>
  [April 1713]
</p>
<p>
  &lt;11&gt; Att a Court Chancery holden at the house of the Honorable Collonel Thos. Pollock Esqr. in Chowan on the 15th Day of April Ano Domini 1713
  </p>
  <p>
  [Page 473]
</p>
<p>
  Present the Honorable Thos. Pollock Esqr. President etc., The Honorable Thos. Boyd, Na. Chevin, T. Knight Esqrs. Lds. Proprietors Deputys.
</p>
<p>
  Major Christo. Gale Esqr. comes to prosecute his bill of Complaint against Jos. Dereham herein Setting forth that one Richd. Dereham of Bath County was Lawfully Seized of his Demean as of Fee, of and in a certain tract or parcell of Land containing 640 Acres Lying on the North Side of Nuse River and adjoyning to a tract of land or plantation belonging to Capt. Ja. Beard as by a Pattent bearing Date the 10th Day of June 1706 will more fully and large appear: And that the Said Richd. Dereham for a valuable consideration in hand paid by Jno. Lawson of Bath County Gentleman did Sell Aliene and convey the aforesaid tract of Land to the Said Jno. Lawson and for confirming thereof did Nominate and appoint his mother Eliza. Dereham of Bath County to be his Lawfull Attorney to convey the Same to the said Jno. Lawson as in and by a certain instrument in writing bearing date the 12th day of April 1709 doth and may appear: And that the Said Jno. Lawson for and in consideration of the Sume of nineteen pounds Eleven Shillings and three pence Sterling money of great Brittain, did make over all his right Title and interest of the aforesaid tract or parcell of Land unto him the Said Christo. Gale as in and by a certain instrument of writing or Escript ready to be produced doth and may appear but Soe it was that the Said Jno. Lawson was Massacred by the Indians of the Tuscoruroe Nation before the Title of the Said Land was compleated to him by the aforesaid Eliza. Dereham pursuant to the aforesaid Powers granted to her for that purpose by the Said Richard, by which it also came to pass that the Said Jno. Lawson did not compleat and finish the title of the aforesaid Land or Plantation unto him the said Christo. Gale in soe compleat and ample manner as the Strict rules of the Law requires: And further that notwithstanding he the said Christo. Gale hath well and Truly paid the purchase money aforesaid yet by reason of the Death of the Said Jno. Lawson and the Death or Absence of the said Richd. Dereham he is Left remediless in the Law, unless a Secure title to the Said Land may be made to him by the Equity of this Honorable Court Therefore and to prevent all disputes that may arise hereafter concerning the Same, did pray that the aforesaid Jos. Dereham who is Eldest brother &lt;12&gt; and heyr to the Said Richard Dereham in Case he be dead might be Summons'd to appear before this Honorable Court and Shew cause if any he had why he the Said Christo. Gale Should not have his Title to the premises confirmed by a decree of this Honorable Court etc. and the Said Jos. Dereham appeared and put in his answer thereto thereby confessing and allowing all the maners and allegations in the Said bill contained to be true and further that he the Said Defendant is willing that the Said Title and all matters contained in the Said bill may be confirmed and made good to the Said Complainant and his heyrs by a Decree in this Honorable Court.
  </p>
  <p>
  Whereupon and upon the reading of the Said Bill and answer and all other the Minutes and writings mentioned in the Said bill passed from Rd. Dereham to Jno. Lawson and from him to the Complainant this Day Wee doe declare adjudge, order and Decree that the Said Christo. Gale hath as full absolute and just right title and interest unto the Said Lands in the aforesaid bill of Complaint mentioned and to every part and parcell thereof as ever the Said Richd. Dereham or any claiming under him had or can have and that the Same doe remaine and continue
</p>
<p>
  [Page 474]
</p>
<p>
  unto the Said Christo. Gale and to his heyrs forever without the Least Mollestation or disturbance of or from the Said Richd. Dereham and the Defendant or any claiming from by or under them or any or either of them or their or any or either of their heyrs Executors Administrators or Assignes. Ordered Decreed and entred by us and our order the abovesaid 15th Day of Aprill 1713.
</p>
<p>
  [Signed: ] <br/>
  Tho. Pollock, T. Knight, Tho. Boyd, N. Chevin.
</p>
<p>
  Dear and Honored Mother	<br/>
  London April the 12th 1709.
</p>
<p>
  Mr. Lawson has paid for me Eleven pounds twelve shillings Sterling money which if my Uncle nor any for him does pay it I hereby impower you to make over and convey to him my Land on the No. Side of Nuse River containing Six hundred and forty Acres which is in discharge of the Said Sume I am indebted to him and this Shall fully impower you As Witness my hand the day and year above written.
</p>
<p>
  Richd. Dereham
</p>
<p>
  Witnesses	<br/>
  Lyonll. Reding <br/>
  Lewis Mitchell
</p>
<p>
  I hereby impower my mother Eliza. Dereham of Bath County in No. Carolina my Lawfull Atturney to convey the land aforesaid to Jno. Lawson and his Heyrs forever Witness my hand
</p>
<p>
  Richd. Dereham
</p>
<p>
  Collonel Lewis Mitchell hath the 21 Janry. Sworne in open Court that he Saw R. Dereham Sign the above premisses before Jno. Nelson Wm. Brice Geo. Bell [torn] Miller and record in folio 7 per T. H. Clericus Curiae
</p>
<p>
  Portsmouth Novr. the 8th 1709
</p>
<p>
  &lt;13&gt; I hereby make over all my right title and interest of Six hundred and forty Acres of Land Lyeing on the No. Side of Nuse River in No. Carolina and Joynes of James Beards Land, Called by the Name of Richd. Dereham Land. Witness my hand.
  </p>
  <p>
  Jno. Lawson
</p>
<p>
  To Christo. Gale Esqr,
</p>
<p>
  Testis Jno. Plumtrett
  Rebecca Kirk
</p>
<p>
  Received of Christo. Gale Esqr. the Sume of nineteen pounds Eleven Shillings and three pence Sterling in consideration of my right and Title to the Said Land above mentioned. Witness my hand the day above written.
</p>
<p>
  Recorded per order of the Court of Chancery this 6 day of May Anno Domini 1713.
</p>
<p>
  Per T. Knight Secretary
</p>
<p>
  <b>Modernization for the text above: </b>
</p>
<p>
  [April 1713]
</p>
<p>
  <11> At a Court of Chancery held at the house of the Honorable Colonel Thomas Pollock, Esquire, in Chowan on the 15th Day of April Anno Domini 1713
  </p>
  <p>
  Present the Honorable Thomas Pollock, Esquire, President, etc., the Honorable Thomas Boyd, Na. Chevin, T. Knight, Esquires, Lords Proprietors’ Deputies.
</p>
<p>
  Major Christopher Gale, Esquire, comes to prosecute his Bill of Complaint against Joseph Dereham, herein setting forth that one Richard Dereham of Bath County was lawfully seized of his demean [demesne, i.e., property] as of fee, of and in a certain tract or parcel of land containing 640 acres lying on the north side of [the] Neuse River and adjoining to a tract of land or plantation belonging to Captain James Beard, as by a patent bearing [the] date the 10th day of June 1706 will more fully and large appear. And that the said Richard Dereham, for a valuable consideration in hand paid by John Lawson of Bath County, gentleman, did sell a lien and convey the aforesaid tract of land to the said John Lawson, and for confirming thereof did nominate and appoint his mother Elizabeth Dereham of Bath County to be his lawful attorney to convey the same to the said John Lawson, as in and by a certain instrument in writing bearing [the] date the 12th day of April 1709 doth and may appear. And that the said John Lawson for and in consideration of the sum of nineteen pounds, eleven shillings, and three pence sterling money of Great Britain, did make over all his right title and interest of the aforesaid tract or parcel of land unto him, the said Christopher Gale, as in and by a certain instrument of writing or escript [i.e., a writ or a written document] ready to be produced doth and may appear, but so it was that the said John Lawson was massacred by the Indians of the Tuscarora Nation before the title of the said land was completed to him by the aforesaid Elizabeth Dereham, pursuant to the aforesaid powers granted to her for that purpose by the said Richard, by which it also came to pass that the said John Lawson did not complete and finish the title of the aforesaid land or plantation unto him, the said Christopher Gale, in so complete and ample manner as the strict rules of the Law requires. And further, that notwithstanding he, the said Christopher Gale, hath well and truly paid the purchase money aforesaid, yet by reason of the death of the said John Lawson and the death or absence of the said Richard Dereham, he is left remediless in the Law, unless a secure title to the said land may be made to him by the equity of this Honorable Court. Therefore, and to prevent all disputes that may arise hereafter concerning the same, did pray that the aforesaid Joseph Dereham, who is eldest brother &lt;12&gt; and heir to the said Richard Dereham, incase he be dead, might be summonsed to appear before this Honorable Court and show cause, if any he had, why he the said Christopher Gale should not have his title to the premises confirmed by a decree of this Honorable Court, etc., and the said Joseph Dereham appeared and put in his answer thereto, thereby confessing and allowing all the manners and allegations in the said Bill contained to be true, and further that he, the said defendant, is willing that the said title and all matters contained in the said Bill, may be confirmed and made good to the said complainant and his heirs by a decree in this Honorable Court.
  Whereupon and upon the reading of the said Bill, and answer and all other the minutes and writings mentioned in the said Bill, passed from Richard Dereharn to John Lawson, and from him to the complainant, this day we do declare, adjudge, order, and decree that the said Christopher Gale hath as full, absolute, and just right title and interest unto the said lands in the aforesaid Bill of Complaint mentioned, and to every part and parcel thereof, as ever the said Richard Dereham or any claiming under him had or can have, and that the same do remain and continue unto the said Christopher Gale and to his heirs forever without the least molestation or disturbance of or from the said Richard Dereham and the defendant, or any claiming from, by, or under them, or any or either of them, or their or any or either of their heirs, executors, administrators, or assignees. Ordered, decreed, and entered by us and our order [on] the above said 15th Day of April 1713.
</p>
<p>
  [Signed:] <br/>
  Thomas Pollock, T. Knight, Thomas Boyd, N. Chevin.
</p>
<p>
  Dear and Honored Mother	London April the 12th 1709. <br/>
  Mr. Lawson has paid for me eleven pounds, twelve shillings sterling money
  Which, if my uncle nor any for him does pay it, I hereby empower you to make over and convey to him my land on the north side of [the] Neuse River, containing six-hundred-and-forty acres, which is in discharge of the said sum I am indebted to him, and this shall fully empower you, as witness my hand the day and year above written.
  Witnesses Lionel RedingLewis Mitchell	Richard Dereham
</p>
<p>
  I hereby empower my mother, Elizabeth Dereham of Bath County in North Carolina, my lawful attorney to convey the land aforesaid to John Lawson and his heirs forever. Witness my hand, <br/>
  Richard Dereham
</p>
<p>
  Colonel Lewis Mitchell hath the 21[st of] January sworn in open court that he saw Richard Dereham sign the above premises before John Nelson, William Brice, George Bell, [torn] Miller, and record in folio 7 per T. H., clericus curiae [i.e., clerk of court].
</p>
<p>
  Portsmouth, November the 8th, 1709
  &lt;13&gt; I hereby make over all my right title and interest of six-hundred-and-forty acres of land lying on the north side of [the] Neuse River in North Carolina and [that] joins [i.e., adjoins] of James Beard’s land, called by the name of Richard Dereham[‘s] land. Witness my hand,
  John Lawson
</p>
<p>
  To Christopher Gale, Esquire
</p>
<p>
  Testis [i.e., Witnessed] John Plumtrett <br/>
  Rebecca Kirk
</p>
<p>
  Received of Christopher Gale, Esquire, the sum of nineteen pounds, eleven shillings, and three pence sterling in consideration of my right and title to the said land above mentioned. Witness my hand the day above written.
  <br/>Recorded per order of the Court of Chancery this 6 day of May, Anno Domini 1713.
  <br/>Per T. Knight Secretary
</p>
<p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"[Gale v. Dereham]." <em>North Carolina Higher Court Minutes, 1709-1723</em>. Ed. William S. Price, Jr. <em>The Colonial Records of North Carolina</em>, 2nd ser., 5. Raleigh, NC: Department of Cultural Resources, Division of Archives and History, 1974 472-474.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref KFN 7919 A4 A71 1709 V1</td>
  </tr>
</table>
