---
layout: ecu
title:  "Contests of John Lawson's Will, 1712-1713"
customdate: "1712-1713"
order: 6
---

{% include breadcrumbs.html %}

<h3>Contests of John Lawson's Will, 1712-1713</h3>
<p>
  While it appears that Lawson’s 1708 will was not probated, that is, its authenticity was not questioned in court, there were questions surrounding the execution of the will. William Kirk from South Carolina (Craven County was the name given to the southernmost part of the Carolinas) produced what was probably a false will in order to get the writings Lawson left behind. What these writings were would be interesting to know. In addition, two men, John Hecklefield and Christopher Gale, laid claims against Lawson’s estate, though Hecklefield’s claim may have been on behalf of the General Court, which met at his home, rather than for himself.
</p>
<div class="well">
  <label>Text from Book</label><br/>
<p>
  [Page 58]
</p>
<p>
  119. JOHN LAWSON
</p>
<p>
  Lawson's Case against Kirk <br/>
  Undated: To the Generall Court. Wm Kirk of Craven Precinct had been summoned to answer Hannah Smyth executrix of Jno Lawson dec'd late of Bath County of a plea of detinue. It was stated that sd Jno Lawson was possessed of a haire trunk containing several writings belonging to him & died leaving sd Hannah the executrix of his will; that the will was worthless & sd Wm had plotted how to defraud him of the hair trunk & the writings in it. J. Palin, Clk Cur.
</p>
<p>
  16 Dec 1712. Order to the Provost Marshall or deputy to summon Wm Kirke to appear in Generall Court at the house of Capt Jno Hecklefield in Little River the last Tuesday in Mar next to answer Hannah Smyth executrix of Jno Lawson dec'd. J. Palin, Clk Cur. On back: "Executed pr me Daniel Mcfarlan pro. marshll."
</p>
<p>
  Hecklefield 's Case against Lawson <br/>
  21 Jan 1712/13. Order to the Provost Marshall or deputy of Bath County to summon Hanah Smyth executrix of Jno Lawson dec'd to appear in Generall Court at the house of Capt Jno Hecklefield in Little River the last Tuesday in Mar next to answer Jno Hecklefield in a plea of the case. J. Knight, Secry.
</p>
<p>
  Miscellaneous <br/>
  Undated. " Mr Snoden: Mr Lawson being dead, have sent us to enter a Caveat agt. any one handing Lres of admton. & to demand ym my selfe as Cheifest Crtr. Yr Friend & Servt. C. Gale."
</p>
<p>
  <b>Modernization for the text above: </b>
</p>
<p>
  119. JOHN LAWSON
</p>
<p>
  Lawson's Case against Kirk <br/>
  Undated: To the General Court. William Kirk of Craven Precinct had been summoned to answer Hannah Smith, executrix of John Lawson, deceased late of Bath County, of a Plea of Detinue [i.e., recovering personal property in cash]. It was stated that said John Lawson was possessed of a hair trunk containing several writings belonging to him and died leaving said Hannah the executrix of his will; that the will was worthless and said William had plotted how to defraud him of the hair trunk and the writings in it. J. Palin, Clerk [of] Curiae [i.e., Court].
  16 December 1712. Order to the Provost Marshall or Deputy to summon William Kirk to appear in General Court at the house of Captain John Hecklefield in Little River the last Tuesday in March next, to answer Hannah Smith, executrix of John Lawson, deceased. J. Palin, Clerk [of] Curiae [i.e., Court]. On back: "Executed per me, Daniel McFarlan, Provost Marshall."
</p>
<p>
  Hecklefield's Case against Lawson <br/>
  21 January 1712/13. Order to the Provost Marshall or Deputy of Bath County to summon Hannah Smith, executrix of John Lawson, deceased, to appear in General Court at the house of Captain John Hecklefield in Little River the last Tuesday in March next, to answer John Hecklefield in a plea of the case. J. Knight, Secretary.
</p>
<p>
  Miscellaneous <br/>
  Undated. "Mr. Snoden, Mr. Lawson being dead, have sent us to enter a caveat against anyone handing Letters of Ademption [i.e., taking away or revoking a legacy] and to demand them myself as chiefest creditor. Your friend and servant, Christopher Gale."
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Contests of John Lawson's Will.” <em>Colonial Records—Estate Papers, 1665-1775</em>. Abst. Stephen E. Bradley, Jr. Lawrenceville, VA: Stephen E. Bradley, Jr., 2000. 58. Vol. 4 of <em>Early Records of North Carolina</em>. 11 vols. to date. 1992- . 58</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F 254 B72 1992 V 10</td>
  </tr>
</table>
