---
layout: ecu
title:  "Robert Daniell v. John Lawson, 1706"
customdate: "1706"
order: 1
---

{% include breadcrumbs.html %}

<h3>Robert Daniell v. John Lawson, 1706</h3>
<p>
  The following items present the full record of a case against Lawson by the Deputy Governor of the Province of North Carolina, Robert Daniell, for money owed the province following surveys Lawson made for the province. A record of the court’s docket and decisions for October 31 to November 2, 1706, puts the case against Lawson into the context of the Court’s proceedings for one of its meetings.
</p>
<p>
  One special term needs mention. A landgrave was a title particular to the Carolinas for people who served in the colonial legislature; in British terms, they were higher in status than members of the House of Commons, but not as high as members of the House of Lords.
</p>
<div class="well">
  <label>Text from Book</label><br/>
<p>
  [Page 442]
</p>
<p>
  [CCR 139]
</p>
<p>
  No. Carolina Ss. Att A Court of Chancery Holden at the house of Captain Jno. Hecklefield in Litle river on Thursday the 31st day of October Anno Domini 1706 and adjourned till to Morow Morne 9 of Clock.
</p>
<p>
  Fryday Morne 9 of Clock this Court Met Present The Honorable Win. Glover Esqr. President, The Honorable Richard Sanderson, Thomas Pollock, Samll. Swann, Jno. Arderne, Franc. Foster Esqrs. Lords Deputys.
</p>
<p>
  Richard Smyth Comes to prosecute his Bill of Complaint against Thos. Peterson Attorney etc. and Sets forth as per Bill And the Defendant Comes and for want of a Copy of the Bill not being delivered to him Craves a Reference to the next Court which is Granted.
</p>
<p>
  The Honorable Landgrave Robt. Daniell Esqr. Comes to prosecute his Bill of Complaint against Jno. Lawson gentleman and Sets forth as per Bill and the Defendant Comes by Christo. Gale Esqr. his Attorney and Confesses that he hath made 39 Surveys by [illegible] of the said Colonel Daniells Comission and is ready to render an Account of the pay the one halfe to the said Colonel Daniell as this Honorable Court shall award.
</p>
<p>
  It is therefore ordered and desired that the Said Lawson pay unto the Said Colonel Daniell the said one halfe of the Fees of the aforesaid Survey with Costs alias Execution.
</p>
<p>
  Upon Motion of Thos. Peterson to this Honorable Court praying their oppinion Concerning a Fee as five pounds demanded upon pretense of a Called Court in the County of Bath whereby" the Estate of Wm. Tomson in the hands of Captain Wm. Barrow was Exhausted soe that his Just debts Cannot be paid.
</p>
<p>
  It is the oppinion of this Court that the Said Fee is Arbritary and ought not to be paid.
</p>
<p>
  Robert Keele by Edwd. Bonwick Comes to prosecute his Bill of Complaint against Austin Scarbrough and Complaines as per Bill and the Defendant Comes by Tho. Snoden his Attorney and Demurrs in Law as per Demmurer which is over ruled and then the Defendant prayes referrence to the next Court which is Granted.
</p>
<p>
  Thos. Stanton Comes to prosecute his Bill of Complaint against Caleb Bundy defendant and Complaines as per Bill and the Defendant Comes and for plea and Answare Sayth as per Answer and this Court haveing heard and Considered the whole matter
</p>
<p>
  [Page 443]
</p>
<p>
  It is Ordered and Decreed that the Suite be Dismissed and the plaintiff pay Costs alias Execution.
</p>
<p>
  Upon petition of Geo. Harris Ordered that he be allowed for one days Attendance being Sumoned as an Evidence for Caleb Bundy at the Suite of Tho. Stanton.
</p>
<p>
  Then this Court adjourned till tomorrow Morne: 9 of Clock.
</p>
<p>
  Saturday Morne 9 of Clock this Court met present ut Supra Except The Honorable Samuell Swann.
</p>
<p>
  Geo. Ellis Comes by Thos. Snoden his Attorney to prosecute his Suite against Samull. Pike and Complaines as per Bill and the Said Defendant Comes by Edwd. Bonwick his Attorney And Answers [illegible] and this Court haveing heard the whole matter
</p>
<p>
  It is ordered and Decreed that the Suite be dissmised and the plaintiff pay Costs alias Execution.
</p>
<p>
  Upon petition of the honorable Colonel Thomas Pollock Esqr. shewing that one Neale Mackinney late of this County deceased was Indebted to your Orator in a Considerable Sume and all his Estate being but about three pounds due to him by Bill which will not beare the Charge of administration and prays that this Honorable Court will Impower him to receive the Said Bills and what other debts he Can find due to him in this Goverment.
</p>
<p>
  Orderd that the Said Thos. Pollock has power to receive all Such debts as he Can find due to the Said Meck [torn] in this Government and that he render an Account whea [torn] [illegible] shall be There Legally required.
</p>
<p>
  Upon Petition of the honorable Colonel Thomas Pollock Administrator of Geo. Chambers Shewing that Whereas [illegible] Geo. Chambers etc. per petition and prays that this Honorable Court will make Such order in this Matter as to Equity belongs Soe that the Estate may be had to Satisfy the Debts.
</p>
<p>
  And whereas it dos appeare to this Court that the Said woman is non Compos Mentis
</p>
<p>
  It is therefore ordered that all persons that have had any of the Estate of the Said Geo. Chambers of her by [illegible] pretended Sales doe deliver. up the Same to the Said Colonel Pollock he paying what Moneys they have disbursed for the Same whoe is Likewise to give an account thereof when he shall be thereto Lawfully required.
</p>
<p>
  [Signed:]<br/>
  W. Glover, Rich. Sanderson, Thomas Pollock, John Arderne, Francis Foster.
</p>
<p>
  [Endorsed:]<br/>
  October Court Chancery 1707 [sic]
</p>
<p>
  [Page 444]
</p>
<p>
  FILE PAPERS
</p>
<p>
  [Daniell v.Lawson]
</p>
<p>
  [CR 2.002]
</p>
<p>
  No. Carolina Ss. To the Honorable the Court of Chancery
</p>
<p>
  The Bill of Complaint of the honorable Landgrave Robert Daniell Esqr. late Deputy Governor of this province Complainant against John Lawson of the County of Bath gentleman defendant In humble wise Complaineing Sheweth unto your Honors that your Orator did Sometyme in the yeare Seaventee hundred and four which was dureing the tyme your Orator was deputy Governor as aforesaid Comissionate the said Defendant to be Surveyor of the Said County of Bath In Consideration whereof the Said Defendant did faithfully promise and Assume to Account with and pay unto your Orator the one halfe part of all Such Fees as Sho'd become due unto him by virtue of the Said Comission as Surveyor as aforesaid whenever he Sho'd be thereunto requested And your orator farther Sheweth that in pursuance of and by virtue of the Said Comission the said Defendant did Survey divers tracts of Land whereby a Considerable Sume of Money is and ought to become due unto your Orator Nevertheless Soe it is may it please your Honors that the said Defendant not at all minding or regarding Such his Agreement and Assumption as aforesaid all the Fees that is become due unto him by virtue of the aforesaid Comission hath received and taken to his owne use and does refuse to Account with or pay unto your Orator any part thereof Contrary to all equity and Good Concience And your Orator being uncertaine how much there is due to him as aforesaid is thereby likely to be left remediless unless releived by your Honors Justice Equity and Good Conscience Doe therefore In all humble maner pray that a writt of Subpoena may be directed to the said John Lawson him Comanding to make his personall appeareance before your honors on the third day of the next Generall Court then and there to make Answer to all and Singuler the premisses And that he may Give an Account upon Oath how much he has received and is due to him by virtue of the aforesaid Comission and pay unto your Orator Such part thereof as is due unto your Orator as aforesaid And your Orator as in Duty bound shall pray etc.
</p>
<p>
  T. Knight Secretary
</p>
<p>
  [Endorsed:]<br/>
  Bill in Cancellaria<br/>
  Daniell Esqr. versus Lawson<br/>
  Filed Septembr. 20th: 1706
</p>
<p>
  [CR 2.001]<br/>
  Mr. Norton has Mr. Hains Survey and grant with the 20 Surveys I Sent in
</p>
<p>
  Messeurs. Mens Names<br/>
  1 Thomas Pierce
</p>
<p>
  [Page 445]
</p>
<p>
  COURT OF CHANCERY, OCTOBER-NOVEMBER 1706
</p>
<p>
  2 Jno. [ illegible] Sen.<br/>
  3 Captain Wm. Barrow<br/>
  4 Tho. [torn]<br/>
  5 Jno. Adams<br/>
  6 Arch. Holms<br/>
  7 Hen. Warren<br/>
  8 Jeremia Goodridg<br/>
  9 Jno. Barras<br/>
  10 Jno. Sullivan<br/>
  11 Jno. Bunting<br/>
  12 Arch. Holms<br/>
  13 Hen. Warren<br/>
  14 Jam. Hains<br/>
  15 Robt. Shrieve<br/>
  16. Robt. Mellyne<br/>
  17 Wm. Price<br/>
  18 Nicholas Daw<br/>
  19 Jam. Walch<br/>
  20 Wm. Wynly<br/>
  21 Lod. Martin<br/>
  22 Maurice Lluellyn<br/>
  23 Jno. Bright<br/>
  24 Wm. Wynn<br/>
  25 Jam. Walch<br/>
  26 Robt. Shrieve<br/>
  27 Robt. Mellyne<br/>
  28 Ch. Smith<br/>
  29 [Illegible]<br/>
  30 Ben. Saunderson<br/>
  31 Wm. Bell<br/>
  32 Geo. Bell<br/>
  33 Rich. Talpar<br/>
  34 Fran. Lynfield<br/>
  35 Sy. Fesgue<br/>
  36 Jno. Bright<br/>
  37 Hen. Slade<br/>
  38 David Perkins<br/>
  39 Captain Barrow
</p>
<p>
  These may Certifie the Honorable the Deputy Governor and Councell that I Survey'd these 39 Surveys by a Commission from the Honorable Landgrave Robt. Daniell Esqr.
</p>
<p>
  Your Honors most Obedient Humble Servant<br/>
  John Lawson
</p>
<p>
  [Endorsed:]<br/>
  Oct. 1st. 1706<br/>
  Came before me John Lawson and made oath to the within Acct. off
</p>
<p>
  [Page 446]
</p>
<p>
  Surveys as per Certificate underwritten. C. Gale<br/>
  I doe hereby Impowre you Chr. Gale Esqr. to Appear Answer and Confess to bill in Chancery Exhibited against me by the Honorable Landgrave Robt. Daniell Esqr. and this shall be the Sufficient Warrant.
</p>
<p>
  Your Servant<br/>
  John Lawson
</p>
<p>
  <b>Modernization for the text above:</b>
</p>
<p>
  [CCR 139]
</p>
<p>
  North Carolina Secretary of State. At a Court of Chancery held at the house of Captain John Hecklefield in Little River on Thursday the 31st day of October Anno Domini 1706 and adjourned till tomorrow morn, 9 o’clock.
</p>
<p>
  Friday morn, 9 o’clock, this Court met; present [were] the Honorable William Glover, Esquire, President; the Honorable Richard Sanderson; Thomas Pollock, Samuel Swann, John Arderne, [and] Francis Foster, Esquires, Lords Deputies.
</p>
<p>
  Richard Smyth comes to prosecute his Bill of Complaint against Thomas Peterson, attorney, etc., and sets forth as per Bill, and the defendant comes, and for want of a copy of the Bill not being delivered to him, craves a reference to the next Court, which is granted.
</p>
<p>
  The Honorable Landgrave Robert Daniell, Esquire, comes to prosecute his Bill of Complaint against John Lawson, gentleman, and sets forth as per Bill, and the defendant comes by Christopher Gale, Esquire, his attorney, and confesses that he hath made 39 Surveys by [illegible] of the said Colonel Daniell’s commission and is ready to render an account of the pay the one half to the said Colonel Daniell as this Honorable Court shall award.
</p>
<p>
  It is therefore ordered and desired that the said Lawson pay unto the said Colonel Daniell the said one half of the fees of the aforesaid survey with costs alias execution.
</p>
<p>
  Upon motion of Thomas Peterson to this Honorable Court praying their opinion concerning a fee [of] five pounds demanded upon pretense of a called court in the County of Bath whereby the estate of William Tomson in the hands of Captain William Barrow was exhausted, so that his just debts cannot be paid.
</p>
<p>
  It is the opinion of this court that the said fee is arbitrary and ought not to be paid.
</p>
<p>
  Robert Keele by Edward Bonwick comes to prosecute his Bill of Complaint against Austin Scarbrough and complains as per Bill, and the defendant comes by Thomas Snoden, his attorney, and demurs in law as per demurer, which is over ruled, and then the defendant prays reference to the next Court, which is granted.
</p>
<p>
  Thomas Stanton comes to prosecute his Bill of Complaint against Caleb Bundy, defendant, and complains as per Bill, and the defendant comes, and for plea and answer says as per answer, and this Court having heard and considered the whole matter:
</p>
<p>
  It is ordered and decreed that the suit be dismissed and the plaintiff pay costs alias execution.
</p>
<p>
  Upon petition of George Harris, ordered that he be allowed for one day’s attendance being summoned as an evidence for Caleb Bundy [in] the suit of Thomas Stanton.
</p>
<p>
  Then this Court adjourned till tomorrow morn: 9 o’clock.
</p>
<p>
  Saturday morn, 9 o’clock, this Court met present ut supra [i.e., as above], except the Honorable Samuell Swann.
</p>
<p>
  George Ellis comes by Thomas Snoden, his attorney, to prosecute his suit against Samuel Pike, and complains as per Bill, and the said defendant comes by Edward Bonwick, his attorney, and answers [illegible] and this Court having heard the whole matter:
</p>
<p>
  It is ordered and decreed that the suit be dismissed and the plaintiff pay costs alias execution.
</p>
<p>
  Upon petition of the honorable Colonel Thomas Pollock, Esquire, showing that one Neale Mackinney, late of this county deceased, was indebted to your orator in a considerable sum, and all his estate being but about three pounds due to him by bill, which will not bear the charge of administration, and prays that this Honorable Court will empower him to receive the said bills and what other debts he can find due to him in this government.
</p>
<p>
  Ordered that the said Thomas Pollock has power to receive all such debts as he can find due to the said Meck[torn] in this government, and that he render an account whea [torn] [illegible] shall be there legally required.
</p>
<p>
  Upon petition of the honorable Colonel Thomas Pollock, administrator of George Chambers, showing that whereas [illegible] George Chambers, etc., per petition and prays that this Honorable Court will make such order in this matter as to equity belongs so that the estate may be had to satisfy the debts,
</p>
<p>
  And whereas it does appear to this Court that the said woman is non compos mentis [i.e., not of sound mind],
</p>
<p>
  It is therefore ordered that all persons that have had any of the estate of the said George Chambers of her by [illegible] pretended Sales do deliver up the same to the said Colonel Pollock, he paying what moneys they have disbursed for the same, who is likewise to give an account thereof when he shall be thereto Lawfully required.
</p>
<p>
  [Signed:]<br/>
  W. Glover, Rich. Sanderson, Thomas Pollock, John Arderne, Francis Foster.<br/>
  [Endorsed:]<br/>
  October Court Chancery 1707 [sic]
</p>
<p>
  FILE PAPERS
</p>
<p>
  [Daniell v. Lawson]
</p>
<p>
  [CR 2.002]
</p>
<p>
  No. Carolina Secretary of State. To the Honorable the Court of Chancery
</p>
<p>
  The Bill of Complaint of the honorable Landgrave Robert Daniell, Esquire, late Deputy Governor of this province, complainant against John Lawson of the County of Bath, gentleman, defendant, in humble wise complaining shows unto your Honors that your orator did sometime in the year seventeen-hundred and four, which was during the time your orator was Deputy Governor, as aforesaid, commissioned the said defendant to be Surveyor of the said County of Bath, in consideration whereof the said defendant did faithfully promise and assume to account with and pay unto your orator the one-half part of all such fees as should become due unto him by virtue of the said commission as Surveyor, as aforesaid, whenever he should be thereunto requested. And your orator farther shows that in pursuance of and by virtue of the said commission, the said defendant did survey diverse tracts of land, whereby a considerable sum of money is and ought to become due unto your orator. Nevertheless, so it is, may it please your Honors, that the said defendant not at all minding or regarding such his agreement and assumption, as aforesaid, all the fees that is become due unto him by virtue of the aforesaid commission hath received and taken to his own use and does refuse to account with or pay unto your orator any part thereof, contrary to all equity and good conscience. And your orator, being uncertain how much there is due to him, as aforesaid, is thereby likely to be left remediless unless relieved by your Honors’ justice, equity, and good conscience, do[es], therefore, in all humble manner pray that a Writ of Subpoena may be directed to the said John Lawson, him commanding to make his personal appearance before your Honors on the third day of the next General Court, then and there to make answer to all and singular the premises, and that he may give an account upon oath how much he has received and is due to him by virtue of the aforesaid commission and pay unto your orator such part thereof as is due unto your orator, as aforesaid. And your orator as in duty bound shall pray, etc.
</p>
<p>
  T. Knight Secretary
</p>
<p>
  [Endorsed:]<br/>
  Bill in Cancellaria<br/>
  Daniell, Esquire, versus Lawson<br/>
  Filed September 20th, 1706
</p>
<p>
  [CR 2.001]
</p>
<p>
  Mr. Norton has Mr. Hain’s survey and grant with the 20 surveys I sent in:
</p>
<p>
  Messeurs. Mens Names.<br/>
  1 Thomas Pierce<br/>
  2 John [illegible] Sen.<br/>
  3 Captain William Barrow<br/>
  4 Thomas [torn]<br/>
  5 John Adams<br/>
  6 Arch. Holms<br/>
  7 Henry Warren<br/>
  8 Jeremiah Goodridge<br/>
  9 John Barras<br/>
  10 John Sullivan<br/>
  11 John Bunting<br/>
  12 Arch. Holms<br/>
  13 Henry Warren<br/>
  14 James Hains<br/>
  15 Robert Shrieve<br/>
  16 Robert Mellyne<br/>
  17 William Price<br/>
  18 Nicholas Daw<br/>
  19 James Walch<br/>
  20 William Wynly<br/>
  21 Lod. Martin<br/>
  22 Maurice Lluellyn<br/>
  23 John Bright<br/>
  24 William Wynn<br/>
  25 James Walch<br/>
  26 Robert Shrieve<br/>
  27 Robert Mellyne<br/>
  28 Charles Smith<br/>
  29 [Illegible]<br/>
  30 Benjamin Saunderson<br/>
  31 William Bell<br/>
  32 George Bell<br/>
  33 Richard Talpar<br/>
  34 Francis Lynfield<br/>
  35 Sy. Fesgue<br/>
  36 John Bright<br/>
  37 Henry Slade<br/>
  38 David Perkins<br/>
  39 Captain Barrow
</p>
<p>
  These may certify the Honorable the Deputy Governor and Council that I surveyed these 39 surveys by a commission from the Honorable Landgrave Robert Daniell, Esquire.
</p>
<p>
  Your Honors’ most obedient, humble servant,<br/>
  John Lawson
</p>
<p>
  [Endorsed:]<br/>
  October 1st, 1706
</p>
<p>
  Came before me John Lawson and made oath to the within account of surveys as per certificate underwritten. C. Gale
</p>
<p>
  I do hereby empower you Christopher Gale, Esquire, to appear, answer, and confess to [the] Bill in Chancery exhibited against me by the Honorable Landgrave Robert Daniell, Esquire, and this shall be the sufficient warrant.
</p>
<p>
  Your Servant<br/>
  John Lawson
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Daniell v. Lawson." <em>North Carolina Higher Court Records, 1702-1708</em>. Ed. William S. Price, Jr. <em>The Colonial Records of North Carolina</em>, 2nd ser., 4. Raleigh, NC: Department of Cultural Resources, Division of Archives and History, 1974. 442-446.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref KFN 7919 A4 A7 1670 V 3</td>
  </tr>
</table>
