---
layout: ecu
title:  "Christoper Gale v. John Lawson, 6 March 1706"
customdate: "1706 March 6"
order: 2
---

{% include breadcrumbs.html %}

<h3>Christoper Gale v. John Lawson, 6 March 1706</h3>
<p>
  Christopher Gale was a recent arrival in North Carolina when in 1703 he wrote to his father back in England that there was good profit to be made through trade with Native Americans, especially for furs. In this 1706 suit, Gale makes a claim against Lawson for not having provided him with promised buckskins and doe skins.
</p>
<div class="well">
  <label>Text from Book</label><br/>
<p>
  [Page 245]
</p>
<p>
  [Gale v. Lawson]
</p>
<p>
  No. Carolina Ss. To the honorable the Generall Court etc.
</p>
<p>
  Christo. Gale Esqr. is plaintiff against jno. Lawson defendant in a plea of the Case and Complaines that the Defendant Stands Indebted to the plaintiff in the full and just Summe of Three hundred thirty three pounds Eight Shillings by account to be paid in Drest Buck Skinns at two Shillings per Skinn and drest Doe Skinns at Eighteen pence per Skin as by wayes and meanes Convenient the plaintiff is ready to make appeare which Said Sume of Three hundred thirty three Pounds Eight Shillings the Defendant hath not rendred to the plaintiff tho' often thereunto requested but the Same doth Still refuse to render to the plaintiff's Damage Six hundred Sixty Six pounds Sixteen
</p>
<p>
  [Page 246]
</p>
<p>
  Shillings Sterling and thereupon he brings his Suite and prayes Judgement for the Same with Costs of Suite and shall pray etc.
</p>
<p>
  T. Knight Secretary
</p>
<p>
  [Endorsed:]<br/>
  Narratio<br/>
  Gale Esquire versus Lawson<br/>
  In Case<br/>
  Entered March 6th: 1705/6
</p>
<p>
  [CCR 148]<br/>
  No. Carolina Ss. To the provost Marshall or his Deputy
</p>
<p>
  These are in her Majestyes name to will and require you to Arrest the body of John Lawson and him Safely hold Soe that he be and appeare at the next Generall Court to be holden at the house of Captain Jno. Hecklefield in Litle river on the last Tuesday in this Instant March then and there to Answer the plaint of Christo. Gale Esqr. in a ple of the Case and have there this writt Dated at the Secretarys Office this [6] th day of March Anno Domini 1705/6.
</p>
<p>
  Testis T. Knight Secretary
</p>
<p>
  [Endorsed:]<br/>
  Breve<br/>
  Gale Esqr. versus Lawson<br/>
  Executed
</p>
<p>
  <b>Modernization for the text above:</b>
</p>
<p>
  [Gale v. Lawson]
</p>
<p>
  [CCR 148]<br/>
  North Carolina Secretary of State. To the honorable the General Court, etc.
</p>
<p>
  Christopher Gale, Esquire, is plaintiff against John Lawson, defendant, in a plea of the case and complains that the defendant stands indebted to the plaintiff in the full and just sum of three-hundred-[and]-thirty-three pounds, eight shillings by account to be paid in dressed buckskins at two shillings per skin and dressed doe skins at eighteen pence per skin as by ways and means convenient the plaintiff is ready to make appear; which said sum of three-hundred-[and]-thirty-three pounds, eight shillings the defendant hath not rendered to the plaintiff, though often thereunto requested, but the same doth still refuse to render to the plaintiffs. Damage six-hundred-[and]-sixty-six pounds, sixteen shillings sterling, and thereupon he brings his suite and prays judgment for the same with costs of suite and shall pray, etc.
</p>
<p>
  T. Knight Secretary
</p>
<p>
  [Endorsed:]<br/>
  Narratio<br/>
  Gale, Esquire, versus Lawson<br/>
  In Case<br/>
  Entered March 6th: 1705/6
</p>
<p>
  [CCR 148]<br/>
  North Carolina Secretary of State. To the Provost Marshall or his Deputy
</p>
<p>
  These are in her Majesty’s name to will and require you to arrest the body of John Lawson and him safely hold so that he be and appear at the next General Court to be held at the house of Captain John Hecklefield in Little River on the last Tuesday in this instant March then and there to answer the plaint of Christopher Gale, Esquire, in a plea of the case and have there this writ dated at the Secretary’s Office this [6]th day of March Anno Domini 1705/6.
</p>
<p>
  Testis T. Knight Secretary
</p>
<p>
  [Endorsed:]<br/>
  Breve<br/>
  Gale, Esquire, versus Lawson<br/>
  Executed
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Gale v. Lawson." <em>North Carolina Higher Court Records, 1702-1708</em>. Ed. William S. Price, Jr. <em>The Colonial Records of North Carolina</em>, 2nd ser., 4. Raleigh, NC: Department of Cultural Resources, Division of Archives and History, 1974. 245-246.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref KFN 7919 A4 A7 1670 V 3</td>
  </tr>
</table>
