---
layout: ecu
title:  "Abstract of John Lawson's Will, 12 August 1708"
customdate: "1708 August 12"
order: 3
---

{% include breadcrumbs.html %}

<h3>Abstract of John Lawson's Will, 12 August 1708</h3>
<p>
  John Lawson’s will gives one of the few glimpses into Lawson’s personal life. That he left his estate to the children he acknowledges having with his “dearly beloved” Hannah Smith has given rise to speculation over the relationship between Lawson and Smith. Were they lovers or were they common-law husband and wife? The will also shows that Lawson felt he had enough holdings in North Carolina by 1708 to need a will to dispose of them in the event of his death.
</p>
<div class="well">
  <label>Text from Book</label><br/>
<p>
  [Page 54]
</p>
<p>
  305. JOHN LAWSON gent. 12 Aug 1708 875/39 & 98 (no probate)
</p>
<p>
  Of Bath Co.
</p>
<p>
  "Dearly beloved" HANNAH SMITH -the house I now live in during her life, 2/3 my personal estate in North Carolina. My daughter ISABELLA of Bath Co., & the brother & sister which her mother HANNAH SMITH is with child & "then Every Childe of hers by me" - rest of my estate, when they arrive to age 21 or marry.
</p>
<p>
  Ex. HANNAH SMITH, the Commissioners of the Court of Bath Co. <br/>
  Wit. WILLIAM(x)HANCOCKE, RICHD. SMITH, JAMES LEIGH
</p>
<p>
  [Note: The copy on p. 98 says Isabella of Bath Town.]
</p>
<p>
  <b>Modernization for the text above:</b>
</p>
<p>
  John Lawson, gentleman. 12 August 1708 (no probate)
</p>
<p>
  Of Bath County
</p>
<p>
  "Dearly beloved" Hannah Smith—the house I now live in during her life, 2/3 [of] my personal estate in North Carolina. My daughter Isabella of Bath County, and the brother and sister which her mother Hannah Smith is with child and "then every child of hers by me"—[the] rest of my estate, when they arrive to age 21 or marry.
</p>
<p>
  Executors—Hannah Smith, the Commissioners of the Court of Bath County.<br/>
  Witnessed by William Hancock, Richard Smith, James Leigh
</p>
<p>
  [Note: The copy on p. 98 (of Will Book 2, the Office of Secretary of State, Raleigh, North Carolina) says Isabella of Bath Town.]
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>“Abstract of John Lawson's Will.” Wills, 1633-1722. Abst. Stephen E. Bradley, Jr. Keysville, VA: Stephen E. Bradley, Jr., 1993. 54. Vol. 4 of <em>Early Records of North Carolina</em>. 11 vols. to date. 1992- . 54.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F 254 B72 1992 V4</td>
  </tr>
</table>
