---
layout: ecu
title:  "The Lords of Trade Dartmouth, Meadows, and Turner, To Edmund Jenings Esq."
customdate: "1709 July 21"
order: 5
---

{% include breadcrumbs.html %}

<h3>The Lords of Trade Dartmouth, Meadows, and Turner, To Edmund Jenings Esq., <em>The Colonial Records of North Carolina</em>, 21 July 1709</h3>

<div class="well">
  <label>Text from Book</label><br/>
<p>
  [Page 716]
</p>
<p>
  COLONIAL RECORDS.
</p>
<p>
  [B. P. R. O. VIRGINIA. B. T. VOL. 40. PAGE 405.-EXTRACT
</p>
<p>
  LORDS OF TRADE TO EDMUND JENINGS ESQre<br/>
  COLONIAL RECORDS.
</p>
<p>
  July 21st 1709.
</p>
<p>
  Since our Letter of the Tenth of March a Duplicate whereof is here inclosed. We have received two Letters from you of the 21st of November and one of the 21st of March last, with the Papers therein referred to.
</p>
<p>
  We represented to her Majesty what you formerly writ us in relation to the settling the Boundaries between Virginia & the Province of Carolina: Her Majesty was thereupon pleased by her order in Councill of the 13th January last to direct us to propose to the said Lords Proprietors of Carolina the Issuing of such a Commission as aforesaid
</p>
<p>
  Whereupon we writ to the Lords Proprietors of Carolina and have received their answer the purport whereof is that they have appointed John Lawson and Edward Moseley Esqrs be Commissioners on the part of Corolina for surveying the lands in dispute and settling the Boundaries as aforesaid, and in their answer they did further declare that they were willing in case of any dispute between the said Commissioners and those on the part of Virginia to submit the same to her Majesties Decision.
</p>
<p>
  We thereupon represented that her Majesties Letters mandatory be sent to the Governor or Commander in Cheif of the said Colony of Virginia for the time being directing him in Concurrence with the Councill there, to issue out a Commission under the seal of the Colony thereby constituting and appointing two fit and able persons to be Comissioners on the part of Virginia to act in conjunction with the Commissioners appointed on the part of Carolina for the purposes before mentioned & requiring the said Governor or Commander in cheif for the time being to Transmit to her Majesty under Seal of the Colony an Account of such Commissioners Proceedings for her Majesties farther pleasure therein. All which have been approved of by her Majesty and directions will be sent you accordingly.
</p>
<p>
  As to the Exemption you mention to be granted by the Proprietory Governments to people that remove thither from being sued for Debts contracted in other Places we hope that matters is remedyed at least in Carolina. For an Act having been past there granting such an Exemption we laid the same before her Majesty with our Opinion of the ill Consequence of such Laws.
</p>
<p>
  [Page 717]
</p>
<p>
  Whereupon her Majesty was pleased to repeal the said Carolina Act. But if that practice of protecting Creditors be still continued in Carolina or any other of the Proprieties you will do well to give us as particular an Account thereof as you are able that we may lay the same before her Majesty for her further pleasure therein.
</p>
<p>
  Your very loving Friends
</p>
<p>
  DARTMOUTH
</p>
<p>
  PH: MEADOWS
</p>
<p>
  CHA: TURNER.
</p>
<p>
  Whitehall	<br/>
  July, 21st 1709.
</p>
<p>
  <b>Modernization for the text above: </b>
</p>
<p>
  COLONIAL RECORDS.
</p>
<p>
  [B. P. R. O. VIRGINIA. B. T. VOL. 40. PAGE 405.-EXTRACT]
</p>
<p>
  LORDS OF TRADE TO EDMUND JENINGS ESQre
</p>
<p>
  July 21st 1709.
</p>
<p>
  Since our Letter of the Tenth of March a Duplicate whereof is here enclosed. We have received two Letters from you of the 21st of November and one of the 21st of March last, with the Papers therein referred to.
</p>
<p>
  We represented to her Majesty what you formerly wrote us in relation to the settling the Boundaries between Virginia & the Province of Carolina: Her Majesty was thereupon pleased by her order in Council of the 13th January last to direct us to propose to the said Lords Proprietors of Carolina the Issuing of such a Commission as aforesaid
</p>
<p>
  Whereupon we wrote to the Lords Proprietors of Carolina and have received their answer, the purport whereof is that they have appointed John Lawson and Edward Moseley Esqrs be Commissioners on the part of Carolina for surveying the lands in dispute and settling the Boundaries as aforesaid, and in their answer they did further declare that they were willing, in case of any dispute between the said Commissioners and those on the part of Virginia, to submit the same to her Majesties Decision.
</p>
<p>
  We thereupon represented that her Majesty's Letters mandatory be sent to the Governor or Commander in Chief of the said Colony of Virginia for the time being directing him in Concurrence with the Council there, to issue out a Commission under the seal of the Colony thereby constituting and appointing two fit and able persons to be Commissioners on the part of Virginia to act in conjunction with the Commissioners appointed on the part of Carolina for the purposes before mentioned & requiring the said Governor or Commander in chief for the time being to Transmit to her Majesty, under Seal of the Colony, an Account of such Commissioners Proceedings for her Majesties farther pleasure therein. All which have been approved of by her Majesty and directions will be sent you accordingly.
</p>
<p>
  As to the Exemption you mention to be granted by the Proprietory Governments to people that remove thither from being sued for Debts contracted in other Places, we hope that matters are remedied at least in Carolina. For an Act having been passed there granting such an Exemption we laid the same before her Majesty with our Opinion of the ill Consequence of such Laws.
</p>
<p>
  Whereupon her Majesty was pleased to repeal the said Carolina Act. But if that practice of protecting Creditors be still continued in Carolina or any other of the Proprieties you will do well to give us as particular an Account thereof as you are able that we may lay the same before her Majesty for her further pleasure therein.
</p>
<p>
  Your very loving Friends
</p>
<p>
  DARTMOUTH
</p>
<p>
  PH: MEADOWS
</p>
<p>
  CHA: TURNER.
</p>
<p>
  Whitehall	<br/>
  July, 21st 1709.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Colonial Records of North Carolina</em>. Ed. William L. Saunders. Vol. 1. Raleigh, NC: P.M. Hale, 1886. New York: AMS, 1968.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F 251 N6 1968 v. 1</td>
  </tr>
</table>
