---
layout: ecu
title:  "Thomas Peterson, attorney of Perry and Company v. John Lawson, 27 January 1708"
customdate: "1708 January 27"
order: 4
---

{% include breadcrumbs.html %}

<h3>Thomas Peterson, attorney of Perry and Company v. John Lawson, 27 January 1708</h3>
<p>
  London merchant Micajah Perry, who headed the firm of Perry and Lane and was director of the New Pennsylvania Company, engaged in both the tobacco and fur trade from New York to the Carolinas during the first decade of the eighteenth century. Perry, through his attorneys, can be found involved in a number of litigations during the period, including this one against Lawson for not delivering contracted furs.
</p>
<div class="well">
  <label>Text from Book</label><br/>
<p>
  [Page 393]
</p>
<p>
  [Peterson, attorney of Perry and Company v. Peggs]
</p>
<p>
  [CCR 148]
</p>
<p>
  No. Carolina Ss. To the honorable the Generall Court etc.
</p>
<p>
  Thos. Peterson Attorney to Micajah Perry and New Pensilvania Company is plaintiff against ino. Lawson Defendant in a plea of Debt and Sayes that the Defendant stands justly Indebted to the plaintiff in the Quallification aforesaid in the full and just Summe of Twelve pounds Nine Shillings and Nine pence in Merchantable Skins and furrs at a price agreed upon as in and by one Certaine writeing Obligatory under the proper hand of the said Defendant beareing Date September the 30th 1704 and here into Court brought relation being thereunto had doth and may appeare Nevertheless the Said Defendant the aforesaid Summe of Twelve pounds Nine Shillings and Nine pence in maner aforesaid to the plaintiff hath not paid tho' often thereunto requested but the Same doth Still refuse to pay to the plaintiffs Damage (in the aforesaid Qualification) Twenty four pounds Nineteen Shillings and Six pence Sterling and thereupon he brings this Suite etc.
</p>
<p>
  T. Knight Secretary
</p>
<p>
  [Endorsed:] <br/>
  Narratio <br/>
  Peterson versus Lawson<br/>
  In Debt <br/>
</p>
<p>
  [CCR 148] <br/>
  No. Carolina Ss. To the provost Marshall of the County of Bath or his Deputy
</p>
<p>
  [Page 394]
</p>
<p>
  These are in her Majestyes name to will and require you to Arrest the body of Jno. Lawson and him Safely hold Soe that he be and appeare at the next Generall Court to be holden at the house of Captain Jno. Hecklefield in Litle river on the last Tuseday in March next then and there to Answer the plaint of Thos. Peterson Attorney to Micajah Perry and New Pensilvania Company in a plea of Debt and have there this writt Dated at the Secretarys Office this 27th day of Janry. Anno Domini 1707/8.
</p>
<p>
  [Endorsed:] <br/>
  Breve <br/>
  Peterson versus Lawson <br/>
  In Debt <br/>
  Executed per Me W. Barrow provost Marshall
</p>
<p>
  <b>Modernization for the text above: </b>
</p>
<p>
  [Peterson, attorney of Perry and Company v. Lawson]
</p>
<p>
  [CCR 148]
</p>
<p>
  North Carolina Secretary of State. To the honorable the General Court, etc.
</p>
<p>
  Thomas Peterson, attorney to Micajah Perry and [the] New Pennsylvania Company, is plaintiff against John Lawson, defendant in a plea of debt, and says that the defendant stands justly indebted to the plaintiff in the qualification aforesaid in the full and just sum of twelve pounds, nine shillings, and nine pence in merchantable skins and furs at a price agreed upon as in and by one certain Writing Obligatory under the proper hand of the said defendant bearing [the] date September the 30th 1704 and here into Court brought relation being thereunto had doth and may appear. Nevertheless the said defendant the aforesaid sum of twelve pounds, nine shillings, and nine pence in manner aforesaid to the plaintiff hath not paid, though often thereunto requested, but the same doth still refuse to pay to the plaintiffs damage (in the aforesaid Qualification) twenty-four pounds, nineteen shillings, and six pence sterling, and thereupon he brings this suit, etc.
</p>
<p>
  T. Knight Secretary
</p>
<p>
  [Endorsed:] <br/>
  Narratio <br/>
  Peterson versus Lawson <br/>
  In Debt
</p>
<p>
  [CCR 148]
  North Carolina Secretary of State. To the Provost Marshall of the County of Bath or his Deputy
</p>
<p>
  These are in her Majesty’s name to will and require you to arrest the body of John Lawson and him safely hold so that he be and appear at the next General Court to be held at the house of Captain John Hecklefield in Little River on the last Tuesday in March next, then and there to answer the plaint of Thomas Peterson, attorney to Micajah Perry and [the] New Pennsylvania Company, in a plea of debt, and have there this writ dated at the Secretary’s Office this 27th day of January. Anno Domini 1707/8.
</p>
<p>
  [Endorsed:] <br/>
  Breve <br/>
  Peterson versus Lawson <br/>
  In Debt <br/>
  Executed per me W. Barrow Provost Marshall
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Peterson, attorney of Perry and Company v. Lawson." <em>North Carolina Higher Court Records, 1702-1708</em>. Ed. William S. Price, Jr. <em>The Colonial Records of North Carolina</em>, 2nd ser., 4. Raleigh, NC: Department of Cultural Resources, Division of Archives and History, 1974. 245-246.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref KFN 7919 A4 A7 1670 V 3</td>
  </tr>
</table>
