---
layout: ecu
title:  "Thomas Pollock, To Chenin and Boyd, The Colonial Records of North Carolina, 16 April 1710"
customdate: "1710 April 16"
order: 2
---

{% include breadcrumbs.html %}

<h3>Thomas Pollock, To Chenin and Boyd, <em>The Colonial Records of North Carolina</em>, 16 April 1710</h3>

<div class="well">
  <label>Text from Book</label><br/>

<p>
[Page 723]
</p>
<p>
[From POLLOCK'S LETTER Book.]
</p>
<p>
A COPY OF A LETTER TO Mr CHENIN: AND Mr BOYDS
</p>
<p>
VIRGINIA April 16.1710
</p>
<p>
GENTLEMEN
</p>
<p>
I should have been glad to have had the happiness of enjoying your good Company with the President and Mr Knights, and still hope (when your leisure permits) you will come and spend a day or two with us in this Wilderness. I thought it my duty to communicate to you what news I lately had in a letter from Mr. Frederick Jones. He writes to me that Mr. Lawson, having been lately at his house, informed him that the Lords Proprietors are desirous of having Col Cary called to a strict account for their dues: and that also (after their ambiguous manner) they
</p>
<p>
[Page 724]
</p>
<p>
have directed some warrants and precepts to the President and Council, and by what he could gather from Mr Lawson, not naming Col Cary, but he seemed rather inclined to believe, if directed to any person, they are to President Glover. So that Mr Jones thinks it would be proper that some person should discourse Mr Lawson in order to concert such proper methods as may put the government again on its proper foundation : to which he seems to think Mr Lawson may be pursuaded to incline, both on the Lords Proprietors account and also on his own. Now as I am very much persuaded that the Lords Proprietors would not direct any writings, precepts or warrants to Col Cary as President, nor anywise acknowledge the legality of his pretended presidentship : so likewise I am apt to believe they would not direct them to President Glover. My reason is because the Lords Proprietors knowing what confusion is in the country they would not be willing by openly joining either party, to foment, the difference, until the Governor or Deputy Governor arrives. But it seems more reasonable to me, (considering the Lords Proprietors common way of acting) to believe that these writings were only directed to the President and Council without naming any particular person, with some instructions to Mr Lawson or Mr Gale how they shall proceed theirin. And I believe it very nessary to dissuade, all ye can, from applying in any manner to Col. Cary as President: and I believe it would do very well to assist at this time President Glover with what you can, with your advises and otherwise. What news you have from Mr Gale or any otherwise of moment, please to acquaint me by the bearer, and of the proceedings of this last (wise) Council at Perquimens, if they had any. And if any news of any moment comes to me, you may be sure to have them from him who really is
</p>
<p>
Gentlemen your Lo S<br/>
T. P.
</p>
<p>
Mr Chevin
</p>
<p>
Having a few skins to send out by the first oppertunity, would intreat the favour of your advise whether Mr Porter in carrying out his skins hath not opened their eyes as to the illegality of that Assembly, and whether may not send out some without paying their unreasonable and illegal duty. Also, the above from Mr Jones have not communicated to any person but yourselves, wherefore would intreat your secrecy therein.

</p>
<p>
<b>Modernization for the text above:</b>
</p>
<p>
[From POLLOCK'S LETTER Book.]
</p>
<p>
A COPY OF A LETTER TO Mr CHENIN: AND Mr BOYDS
</p>
<p>
VIRGINIA April 16.1710
</p>
<p>
GENTLEMEN
</p>
<p>
I should have been glad to have had the happiness of enjoying your good Company with the President and Mr Knights, and still hope (when your leisure permits) you will come and spend a day or two with us in this Wilderness. I thought it my duty to communicate to you what news I lately had in a letter from Mr. Frederick Jones. He writes to me that Mr. Lawson, having been lately at his house, informed him that the Lords Proprietors are desirous of having Col. Cary called to a strict account for their dues: and that also (after their ambiguous manner) they have directed some warrants and precepts to the President and Council, and by what he could gather from Mr Lawson, not naming Col. Cary, but he seemed rather inclined to believe, if directed to any person, they are to President Glover. So that Mr Jones thinks it would be proper that some person should discourse Mr Lawson in order to concert such proper methods as may put the government again on its proper foundation: to which he seems to think Mr Lawson may be pursuaded to incline, both on the Lords Proprietors' account and also on his own. Now as I am very much persuaded that the Lords Proprietors would not direct any writings, precepts or warrants to Col. Cary as President, nor anywise acknowledge the legality of his pretended presidentship: so likewise I am apt to believe they would not direct them to President Glover. My reason is because the Lords Proprietors, knowing what confusion is in the country, would not be willing by openly joining either party to foment the difference until the Governor or Deputy Governor arrives. But it seems more reasonable to me (considering the Lords Proprietors common way of acting) to believe that these writings were only directed to the President and Council without naming any particular person, with some instructions to Mr Lawson or Mr Gale how they shall proceed therein. And I believe it very necessary to dissuade, all you can, from applying in any manner to Col. Cary as President: and I believe it would do very well to assist at this time President Glover with what you can, with your advises and otherwise. What news you have from Mr Gale or any otherwise of moment, please to acquaint me by the bearer, and of the proceedings of this last (wise) Council at Perquimans, if they had any. And if any news of any moment comes to me, you may be sure to have them from him who really is
</p>
<p>
Gentlemen your Lo S<br/>
T. P.
</p>
<p>
Mr Chevin
</p>
<p>
Having a few skins to send out by the first opportunity, would entreat the favour of your advice whether Mr Porter in carrying out his skins has not opened their eyes as to the illegality of that Assembly, and whether may not send out some without paying their unreasonable and illegal duty. Also, the above from Mr Jones have not communicated to any person but yourselves, wherefore would entreat your secrecy therein.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Colonial Records of North Carolina</em>. Ed. William L. Saunders. Vol. 1. Raleigh, NC: P.M. Hale, 1886. New York: AMS, 1968.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F 251 N6 1968 v. 1</td>
  </tr>
</table>
