---
layout: ecu
title:  "To Secretary, SPG [Society for the Propagation of the Gospel in Foreign Parts]"
customdate: "1709 October 3"
order: 1
---

{% include breadcrumbs.html %}

<h3>To Secretary, SPG [Society for the Propagation of the Gospel in Foreign Parts], 3 October 1709</h3>

<p>
  The Reverend John Urmston spent several years as an Anglican minister in North Carolina on behalf of the Society for the Propagation of the Gospel in Foreign Parts (SPG). This letter was written in 1709, just before he left for North Carolina, and at a time when John Lawson was visiting London. Lawson gave Urmston some advice about size of the Albemarle County region to which he was being sent. One has to wonder what else Lawson told Urmston.
</p>
<div class="well">
  <label>Text from Letter</label>
  <p>[Page 94]</p>

  <p>[LAM/SPG/XV] </p>

  <p>Rev. John Urmston to Secretary, SPG <br/>
1709 October 3 </p>

  <p>Worshipfull Sir</p>

  <p>
    Nothing doubting but mine might come to hand soon after you had dispatch'd
    yours to me. I delay'd writing or coming till friday following, thursday
    being Holy day and supplies not so easily gotten in the Countrey as in
    Town, but on thursday in the Evening was seiz'd with a violent quotidean<sup>1</sup>
    with little or noe intermission, till this morning. This day I've spent in
    preparing my body for the Bark, so that after another fit which I perceive
    coming on this evening I hope I may be able to wait on you towards the end
    of the week or the beginning of the next; if should fail thro' sickness and
    the Ship be gone, I hope this will be an unanswerable reason above all the
    rest, for the old Maxim is hemo teneture ad impossibile,<sup>2</sup> my going is
    morally so, besides upon second thoughts, till that pernicious Act of
    placing and displacing Ministers at pleasure be set aside as it was in S.
    Carolina 'tis uncertain whether they'll receive me or not. I've understood
    that two of the Districts contend mightily for having a Minister entirely
    to themselves, which will create great confusion and Mr.Lawson<sup>3</sup> moreover
    tells me, that 'tis impossible I should supply places so distant as
    Perquiminse and Bath, besides the difficulty and charge of passing the
    Rivers. I hope to have a favourable answer to all these things the Next
    Court day at St. Martin's, but if able I shall wait on you before then. In
    the interim I am Sir with all humble respects, your Worship's most humble servant.
  </p>

  <p>Jno. Urmston</p>

  <p>E. Ham<br/>
Oct. 3, 1709.</p>

  <p>Pardon this scribble because written in ane trements.</p>

  <p>[Page 95]</p>

  <p>[Addressed:]<br/>
To The Worshipfull Jno. Chamberlayne Esqr.<br/>
in Petty France Westminstr.</p>

  <p>[Endorsed:]<br/>
(13)<br/>
Mr. Urmston. E. Ham<br/>
3 Octob. 1709</p>

  <p>ALS. Read at a meeting of the SPG on October 21, 1709. Journal of the SPG, I, 417.</p>
  <p>
    <sup>1</sup> In the sense used here, quotidian means "of an intermittent fever or ague, recurring every day." OED.
    <br/>
    <sup>2</sup> 0ne rendering of this phrase is no man should be held to such an impossible thing.
    <br/>
    <sup>3</sup> John Lawson (1674-1711), native of Yorkshire, explorer, surveyor, author of A New Voyage to Carolina (London, 1709), was in North Carolina from 1701, and in 1708 was appointed surveyor-general by the Lords Proprietors. In October, 1709, he was in England making arrangements for publication of his book, and also promoting development of the region south of Albemarle Sound. He arrived back in North Carolina in April, 1710, with several hundred Palatines, and soon had laid out the town of New Bern. In September, 1711, he was tortured and murdered by Tuscarora Indians in the opening days of the uprising known as the Tuscarora War. DNCB.
  </p>
  <p>
    <b>Modernization for the text above:</b>
  </p>

  <p>Rev. John Urmston to Secretary, SPG<br/>
1709 October 3</p>

  <p>Worshipful Sir,</p>

  <p>Nothing doubting but mine might come to hand soon after you had dispatched
    yours to me. I delayed writing or coming till Friday following, Thursday
    being [a] Holy Day and supplies not so easily gotten in the country as in
    town, but on Thursday in the evening [I] was seized with a violent quotidian
    [i.e., a daily intermittent fever] with little or no intermission, till this
    morning. This day I've spent in preparing my body for the bark [i.e., ship],
    so that after another fit which I perceive coming on this evening, I hope I
    may be able to wait on you towards the end of the week or the beginning of
    the next; if [I] should fail through sickness and the ship be gone, I hope
    this will be an unanswerable reason above all the rest, for the old maxim is
    nemo tenetur ad impossibile [i.e., no man should be held to such an impossible
    thing], my going is morally so, besides upon second thoughts, till that
    pernicious act of placing and displacing ministers at pleasure be set aside,
    as it was in South Carolina 'tis uncertain whether they'll receive me or not.
    I've understood that two of the districts contend mightily for having a
    minister entirely to themselves, which will create great confusion, and Mr.
    Lawson moreover tells me, that 'tis impossible I should supply places so
    distant as Perquimens and Bath, besides the difficulty and charge of passing
    the rivers. I hope to have a favorable answer to all these things the next
    court day at St. Martin's, but if able I shall wait on you before then. In
    the interim I am, sir, with all humble respects, your Worship’s most humble
    servant.
  </p>
  <p>John Urmston<br/>
East Ham<br/>
October 3, 1709.<br/>
Pardon this scribble because written in ane [?] trements [trembling].</p>

  <p>[Addressed:]<br/>
To The Worshipful<br/>
John Chamberlain, Esquire<br/>
in Petty France Westminster.</p>

  <p>[Endorsed:]<br/>
(13)<br/>
Mr. Urmston. East Ham<br/>
3 October 1709</p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Church of England in North Carolina: Documents, 1699-1741. Ed. Robert J. Cain. The Colonial Records of North Carolina</em>, 2nd ser., 10. Raleigh, NC: Division of Archives and History, North Carolina Department of Cultural Resources, 1974. 94-95.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref BX 5917 N8 C48 1999</td>
  </tr>
</table>
