---
layout: ecu
title:  "To Secretary, SPG [Society for the Propagation of the Gospel in Foreign Parts], 12 June 1715"
customdate: "1715 June 12"
order: 16
---

{% include breadcrumbs.html %}

<h3>To Secretary, SPG [Society for the Propagation of the Gospel in Foreign Parts], 12 June 1715</h3>
<p>
By the time that John Urmston had spent some five years in North Carolina, he had lost any hope he had of turning his position as an Anglican minister into a good living. Instead, he sees Carolina as an Indian infested place, and he effectively curses John Lawson for having sold North Carolina as a wonderful region in which to settle, especially in <em>A New Voyage to Carolina</em>.
</p>
<div class="well">
  <label>Text from Letter</label><br/>

<p>
[Page 200]
</p>
<p>
[SPG/B4]
</p>
<p>
Rev. John Urmston to Secretary, SPG<br/>
1715 June 12
</p>
<p>
12 June 1715
</p>
<p>
Sir
</p>
<p>
I was favoured with yours of Decembr. 17th per Captain Godfrey whom I've not yet seen, I believe he'll not be able to come so far up into the Countrey: he was but 7 weeks on the passage and I fear he is come in a wrong time, for we are in great confusion, the cause I've already given you in two letters per via Boston and Virga. this comes by S. Carolina and if the others faild, comes to advise that by an express sent from thence for our aid, we were informed that the Neighboring Indians fell on Good Friday last upon
</p>
<p>
[Page 201]
</p>
<p>
the inhabitants in the South parts of that Govt.l and cutt most of 'em off, after the most barbarous and inhumane murther of some of the Principals viz. Agents and Traders, who they pretend had wronged them. I wonder they should send to us, who refused to defend ourselves and had it not been for them, must have been a Sacrifice to the Enemy and stand still [indebted] to them for their kind assistance, in larg[e Summs] but equally unwilling to pay or return the kindness. If all those Nations be joined I fear it will go hard with us and them too: those are numerous and a warlike people: the English have taught them to beat their Masters.
</p>
<p>
There have been seen a body of strange Indians on our borders, some say 40 or 50 but now we hear, upwards of 200: they have pitched their camp in that part of the Tuskaruroes countrey vacated by the late war, seized on a Fort and Trenches which costus much Blood and not demolished it, (like wise soldiers that we are) they may annoy us but not to be subdued: we have a small body ready to go out 200, pt. Tributary Indians, 150 are bound for South Carolina and the rest to speak with these Indians and I fear we shall catch a Tartar:2. They have committed some hostilities against our Tributary Indians and if we attack them, let the success of the other government be what it will. It is more than probable we shall bring them upon ourselves and when joined by their followers will finish the ruin of this wretched place, but I must not complain either here nor in England. I've had reason, too much God knows, for it and you have made me the same answer in effect that I've often received from this Gentry: if you compare former letters you'll easily guess at my circumstances. My complaints have been communicated to the Proprietors who are highly incensed against me, and have represented me as a spy to the country I live in and now I am treated little better, unthankful Lords but far more ungrateful vassals. Our Quaking Lords Danson and Rag3 were mightily offended with a letter of mine to you which they say I had better have let alone except I had written more like a Missionary: they may and ought to be ashamed of their famous Countrey they would have all men do as Lawson4 did, write whole volumes in praise of such a worthless place: he has had his reward: all that I can say of it is: there is not the like to it under the sun, Siberia in Muscovy, where I lately was, the Gyarij5 of old are outdone by this: but if I know the circumstances or the people I am of opinion this Heptarchy6 cannot stand long. For Godsake use your endeavours with the Society to advance me one &pound;20, and send me credit for the same at Barbadoes or Boston. Your best way of sending to me is by way of New England; order yours to be left with or under cover to Jno. Jelyl Esqr. Collector of the Customs at Boston. These are from Sir Yr. most humble servant.
</p>
<p>
Jno. Urmston
</p>
<p>
North Carolina<br/>
June 12 1715
</p>
<p>
[Addressed:]
</p>
<p>
To Willm. Taylor Esqr., at his Grace<br/>
th' Arch Bishop of Cant. his Library<br/>
at St. Martin's in the Fields London
</p>
<p>
[Endorsed:]<br/>
<13>
</p>
<p>
[Page 202]
</p>
<p>
Mr. Urmstond<br/>
N. Carolina June 12th 1715<br/>
recd. the 20th April 1716
</p>
<p>
ALS. Read at a meeting of the SPG on November 16, 1716. Journal of the SPC, III, 178-179.
</p>
<p>
1 Yamasee Indians attacked frontier settlements in South Carolina near Port Royal, and soon were joined by Creeks, Choctaws, and Catawbas in a general uprising known as the Yamasee War. Disaster was averted by the forging of an alliance between South Carolina and the Cherokee, and by early 1716 the worst of the danger had passed. Sirmans, Colonial South Carolina, 111-118.
</p>
<p>
2 To catch a tartar: "to get hold of one who can neither be controlled nor got quit of to tackle one who unexpectedly proves to be too formidable." OED.
</p>
<p>
3 Presumably the writer is referring either to Samuel Wragg or his brother Joseph, both of whom were prominent South Carolinians, but neither of whom was ever a proprietor.
</p>
<p>
4 John Lawson.
</p>
<p>
5 The reference is unclear.
</p>
<p>
6 Presumably the reference is to the rule of the Lords Proprietors, although there were eight proprietary shares rather than seven, as is implied by the term "heptarchy."
</p>
<p>
<b>Modernization for the text above:</b>
</p>
<p>
Rev. John Urmston to Secretary, SPG<br/>
1715 June 12
</p>
<p>
12 June 1715
</p>
<p>
Sir,
</p>
<p>
I was favored with yours of December 17th per Captain Godfrey, whom I've not yet seen. I believe he'll not be able to come so far up into the country. He was but 7 weeks on the passage, and I fear he is come in a wrong time, for we are in great confusion. The cause I've already given you in two letters per via Boston and Virginia. This comes by South Carolina, and if the others failed, comes to advise that by an express sent from thence for our aid, we were informed that the neighboring Indians fell on Good Friday last upon the inhabitants in the south parts of that government and cut most of them off, after the most barbarous and inhumane murder of some of the principals, viz., agents and traders, who they pretend had wronged them. I wonder they should send to us, who refused to defend ourselves and, had it not been for them, must have been a sacrifice to the enemy and stand still [indebted] to them for their kind assistance, in larg[e sums,] but equally unwilling to pay or return the kindness. If all those nations be joined, I fear it will go hard with us and them too. Those are numerous and a warlike people. The English have taught them to beat their masters.
</p>
<p>
There have been seen a body of strange Indians on our borders. Some say 40 or 50, but now we hear, upwards of 200. They have pitched their camp in that part of the Tuscarora's country vacated by the late war, seized on a fort and trenches which cost us much blood and not demolished it (like wise soldiers that we are); they may annoy us but not to be subdued. We have a small body ready to go out, 200, pt. [?] tributary Indians. 150 are bound for South Carolina, and the rest to speak with these Indians, and I fear we shall catch a Tartar [i.e., get hold of one who can neither be controlled nor gotten rid of]. They have committed some hostilities against our tributary Indians, and if we attack them, let the success of the other government be what it will. It is more than probable we shall bring them upon ourselves and, when joined by their followers, will finish the ruin of this wretched place. But I must not complain either here nor in England. I've had reason, too much God knows, for it, and you have made me the same answer in effect that I've often received from this gentry. If you compare former letters, you'll easily guess at my circumstances. My complaints have been communicated to the Proprietors, who are highly incensed against me, and have represented me as a spy to the country I live in, and now I am treated little better-unthankful Lords, but far more ungrateful vassals. Our Quaking Lords [i.e., Quakers] Danson and Rag were mightily offended with a letter of mine to you which they say I had better have let alone except I had written more like a missionary. They may and ought to be ashamed of their famous country. They would have all men do as Lawson did, write whole volumes in praise of such a worthless place. He has had his reward. All that I can say of it is: there is not the like to it under the sun. Siberia in Muscovy [i.e., Russia], where I lately was [and] the Gyarij of old are outdone by this. But if I know the circumstances or the people, I am of [the] opinion [that] this heptarchy cannot stand long. For God's sake, use your endeavors with the Society to advance me one &pound;20, and send me credit for the same at Barbados or Boston. Your best way of sending to me is by way of New England; order yours to be left with or under cover to John Jekyl, Esquire, Collector of the Customs at Boston. These are from, Sir, your most humble servant.
</p>
<p>
John Urmston<br/>
North Carolina<br/>
June 12, 1715
</p>
<p>
[Addressed:]
To William Taylor, Esquire, at his Grace<br/>
The Archbishop of Canterbury, his Library,<br/>
at St. Martin's in the Fields, London
</p>
<p>
[Endorsed:]<br/>
< 13><br/>
Mr. Urmston<br/>
North Carolina, June 12th, 1715<br/>
received the 20th [of] April, 1716
</p>
</div>



<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Church of England in North Carolina: Documents, 1699-1741</em>. Ed. Robert J. Cain. <em>The Colonial Records of North Carolina</em>, 2nd ser., 10. Raleigh, NC: Division of Archives and History, North Carolina Department of Cultural Resources, 1974. 200-202.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref BX 5917 N8 C48 1999</td>
  </tr>
</table>
