---
layout: ecu
title:  "Thomas Pollock, To Glover, The Colonial Records of North Carolina, 16 April 1710"
customdate: "1710 April 16"
order: 3
---

{% include breadcrumbs.html %}

<h3>Thomas Pollock, To Glover, <em>The Colonial Records of North Carolina</em>, 16 April 1710</h3>

<div class="well">
  <label>Text from Book</label><br/>

<p>
[Page 725]
</p>
<p>
[FROM POLLOCK'S LETTER BOOK.]
</p>
<p>
A COPY OF A LETTER SENT TO PRESIDENT GLOVER<br/>
BY Mr MAULE
</p>
<p>
HondSir VERGINIA April 16:
</p>
<p>
Wednesday the 12th instant Tho. West returned from, Mr Jones who informed me that Mr Lawson was just gone from his house when Tho. West came; and that Mr Lawson informed him that the Lords Proprietors are desirous of having Col. Cary called to a strict account for their dues. And also after their ambiguous manner have directed some warrants and Precepts to the President and council: and by what he could gather from him not directed to Col. Cary; but if directed unto any one; Mr Jones conjectures they are directed to your Honor: So that Mr Jones thinks it would be proper for your Honor to get Mr Knight Or some other fit person to discover Mr Lawson in order to concert such proper methods as may put the government on its proper foundation, to which he seems inclined to believe Mr Lawson may be drawn, both on account of the Lords Proprietors and also on his own account. The above notice is the substance of Mr Jone's letter. Having the above written I am very apt to believe the Lords Proprietors would not direct any writings, Warrants, Or precepts to Col. Cary as President, nor any wise acknowledge the legality of his pretended Presidentship. Neither do I imagine they have directed them to your Honor by reason that knowing the confusion in the country, they would not be willing (by openly joining either party) to foment the differences. But it seems more reasonable to me (considering the Lords Proprietors common way of acting) to conjecture that these writings are only directed to the President and council, without nameing any particular person, with some instructions to Mr Lawson or Mr Gale how they shall proceed therein. Now if it should be so, and that Mr Gale and Mr Lawson (considering the justness of the cause, the Lords Proprietors interest and their own advantage) should incline to apply themselves to your Honor, as President it is to be well considered of how it could be managed for want of Deputys, or, if their were Deputies, wheither it were worth while to be at the trouble of new modelling and settling the government for such a little time as until the Governor or Deputy Governor's coming in, especially not knowing what alterations may be then made; or, may be, some mistake might fall out in the
</p>
<p>
[Page 726]
</p>
<p>
management, which might tend to the disadvantage of our cause: and whether it might not be better if Mr Gale and Mr Lawson could be persuaded not to apply themselves to either, but to stay until the Governor or Deputy Governor's arrival.
</p>
<p>
But if Mr Lawson and MrGale be so very earnest to have their commissions recorded that they may go on the execution of their Office, and pretend a necessity of applying themselves to one or the other, I believe it would be well to lay before them, in applying to Col. Cary, not only the unjustness of it in acknowledging an unlawful government there scarcely being one of the Council legally qualified, but also the damage that may thereby accrue both to the Lords Proprietors and themselves: all of which I know your Honor can safely make appear to them. And I believe, if the pretended Council fall - acting it might do better if they would apply themselves to your Honor. And I believe likewise it would be very necessary to pursuade them if possible not to apply to nor acknowledge Col. Cary and his pretended Council
</p>
<p>
Hond Sir I am sorry we are so separated that we can not communicate together, but I leave to your prudent management, who I know will do the best you can for the Lords Proprietors interest and good of the country, which is earnestly wished by
</p>
<p>
Sir Yours<br/>
T. P.
</p>
<p>
Hond Sir Pray let me hear by the bearer all the proceedings of this last Council, or any other news of moment.
</p>
<p>
Sir Yr<br/>
T. P.
</p>
<p>
Postscript April 15" 1710
</p>
<p>
Hond Sir I have been two or three days longer in sending this than I intended by reason I had some expectations of seeing Mr Reading here: but he not coming, I thought it was not necessary to stay longer, and have no more to add but only to remind your Honor that, albeit, it be very necessary to disswade Mr Gale and Mr. Lawson from applying to or any way acknowledging Col. Cary and his pretended Council, yet I believe you ought seriously to consider and duly weigh all circumstances, in retaking the government, unless as above said these writings directed from the Lords Proprietors to your Honor, and to uphold the Government from falling. I have not comunicated any of this matter to any person besides your Honor, but to Mr Chevin and Mr Boyde, who I doubt not are trusty, and will be ready to serve or advise you Honor in any thing they can.
</p>
<p>
<b>Modernization for the text above:</b>
</p>
<p>
[FROM POLLOCK'S LETTER BOOK.]
</p>
<p>
A COPY OF A LETTER SENT TO PRESIDENT GLOVER
BY Mr MAULE
</p>
<p>
VIRGINIA April 16:
</p>
<p>
Honored Sir
</p>
<p>
Wednesday the 12th instant Tho. West returned from, Mr Jones who informed me that Mr Lawson was just gone from his house when Tho. West came; and that Mr Lawson informed him that the Lords Proprietors are desirous of having Col. Cary called to a strict account for their dues. And also after their ambiguous manner have directed Some warrants and Precepts to the President and council: and by what he could gather from him not directed to Col. Cary; but if directed unto any one; Mr Jones conjectures they are directed to your Honor: So that Mr Jones thinks it would be proper for your Honor to get Mr Knight or some other fit person to discover Mr Lawson in order to concert such proper methods as may put the government on its proper foundation, to which he seems inclined to believe Mr Lawson may be drawn, both on account of the Lords Proprietors and also on his own account. The above notice is the substance of Mr Jones' letter. Having the above written I am very apt to believe the Lords Proprietors would not direct any writings, Warrants, or precepts to Col. Cary as President, nor any wise acknowledge the legality of his pretended Presidentship. Neither do I imagine they have directed them to your Honor by reason that, knowing the confusion in the country, they would not be willing (by openly joining either party) to foment the differences. But it seems more reasonable to me (considering the Lords Proprietors common way of acting) to conjecture that these writings are only directed to the President and council, without naming any particular person, with some instructions to Mr Lawson or Mr Gale how they shall proceed therein. Now if it should be so, and that Mr Gale and Mr Lawson (considering the justness of the cause, the Lords Proprietors' interest and their own advantage) should incline to apply themselves to your Honor, as President it is to be well considered of how it could be managed for want of Deputies, or, if there were Deputies, whether it were worth while to be at the trouble of new modeling and settling the government for such a little time as until the Governor or Deputy Governor's coming in, especially not knowing what alterations may be then made; or, maybe, some mistake might fall out in the management, which might tend to the disadvantage of our cause: and whether it might not be better if Mr Gale and Mr Lawson could be persuaded not to apply themselves to either, but to stay until the Governor or Deputy Governor's arrival.
</p>
<p>
But if Mr Lawson and MrGale be so very earnest to have their commissions recorded that they may go on the execution of their Office, and pretend a necessity of applying themselves to one or the other, I believe it would be well to lay before them, in applying to Col. Cary, not only the unjustness of it in acknowledging an unlawful government, there scarcely being one of the Council legally qualified, but also the damage that may thereby accrue both to the Lords Proprietors and themselves: all of which I know your Honor can safely make appear to them. And I believe, if the pretended Council fall - acting it might do better if they would apply themselves to your Honor. And I believe likewise it would be very necessary to pursuade them if possible not to apply to nor acknowledge Col. Cary and his pretended Council.
</p>
<p>
Honored Sir, I am sorry we are so separated that we can not communicate together, but I leave to your prudent management, who I know will do the best you can for the Lords Proprietors interest and good of the country, which is earnestly wished by
</p>
<p>
Sir Yours<br/>
T. P.
</p>
<p>
Hond Sir Pray let me hear by the bearer all the proceedings of this last Council, or any other news of moment.
</p>
<p>
Sir Yours
T. P.
</p>
<p>
Postscript April 15th 1710
</p>
<p>
Hond Sir I have been two or three days longer in sending this than I intended by reason I had some expectations of seeing Mr Reading here: but he not coming, I thought it was not necessary to stay longer, and have no more to add but only to remind your Honor that, albeit, it be very necessary to dissuade Mr Gale and Mr. Lawson from applying to or any way acknowledging Col. Cary and his pretended Council, yet I believe you ought seriously to consider and duly weigh all circumstances, in retaking the government, unless as above said these writings directed from the Lords Proprietors to your Honor, and to uphold the Government from falling. I have not communicated any of this matter to any person besides your Honor, but to Mr Chevin and Mr Boyd, who I doubt not are trusty, and will be ready to serve or advise you Honor in any thing they can.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Colonial Records of North Carolina</em>. Ed. William L. Saunders. Vol. 1. Raleigh, NC: P.M. Hale, 1886. New York: AMS, 1968.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F 251 N6 1968 v. 1</td>
  </tr>
</table>