---
layout: ecu
title:  "Letters"
order: 15
---

{% include breadcrumbs.html %}

<h3>Christoph von Graffenried, "Relation of my American Project", <em>Von Graffenried's Account of the Founding of New Bern</em>, circa 1714</h3>

<p>
  [Page 306]
</p>
<p>
COPIES OF VARIOUS LETTERS FROM NORTH CAROLINA.
</p>
<p>
With friendly greeting I inform you that I with my household arrived safe and sound in Carolina, and that with happiness. But on the twenty-sixth of February, my son Hans, with a great longing for the Lord Jesus, died. On the contrary my daughter has a fine young son, born the last of July, 1710. We are in a very good and fat land. I am in hopes that within a year I shall have over a hundred head of horses, cattle, swine. If one would present me with the whole lowland, in order that I should go back again to Switzerland and take up the former service I would not do it on account of the freedom of conscience. If my son Uhli would venture to go upon the journey, he should turn whatever he can into money, and if he has not mar-
</p>
<p>
[Page 307]
</p>
<p>
ried since my departure, let him take an honorable honest girl to wife, even if she has not much temporal means, if only he can pay the passage over. Whoever desires to come over here, he can call upon Mr. Ritter in Bern. If you, my son, wish to undertake this journey, keep God always before your eyes, and also if you do not wish to come, so that we may enjoy and see one another sometime up above with spiritual eyes in Heaven.
</p>
<p>
But if you will come, I will inform you how you shall do. Buy a few hundred steel tobacco pipes with the stems and four thalers worth of Arau knives and several brass knives. From these you can get twice the price of the half in Rotterdam. In England and Carolina as much again. On the sea provide yourself with something besides what there is upon the ship in the way of food and drink, for one must not save, by hunger or thirst. If my brother-in-law Hans should want to go with you he can do it. I am in hopes if I stay well to provide five or six households with food and drink for possibly a year long. I will not tell anyone he should go upon the journey. Whoever has not the leading from God, he may stay in Switzerland. If my brother-in-law, Peter Seeman, and Uhli Kuntzi should have a desire for the journey, they can make it. Our Count Von Graffenried will supply them with good land; after this he will give them a fouryear lease, supply them with stock and furniture, so that they can thenceforth be well supplied their life long, if they have luck.
</p>
<p>
After this I will report to you a little how it went with us upon the voyage. Down the Rhine to Rotterdam we passed through the greatest danger. At Rotterdam we lay quietly for six weeks. There two children and one man died. From Rotterdam to Newcastle two women died. At New Castle we lay quietly for four weeks. Then we started away, went out on the sea, lay still for eight days. After this the fleet started. At that time my daughter gave birth to a little son. Then we took six weeks to cross. For six weeks we saw nothing but sky and water. Out of the hundred persons no one died. So we came to land in Virginia. Then we traveled a hundred miles by water and land, landed at our Landgrave's house on Michael's day. Meanwhile a woman died. After this we lay quietly till New Years; then they began, everyone, to move upon his own land alloted to him. Until now of a hundred persons, nine have died.
</p>
<p>
I and my daughter's husband have gone from one another about half a mile, for this reason I would have need of my son.
</p>
<p>
Besides this I send also to the pastor, and all my relatives, as also my father-in-law and his family, also Uhli Muller's wife and the Mayor, yes, also, the whole community, a thousand greetings with a kiss of love. Benedict Kupferschmied my son-in-law sends his father
</p>
<p>
[Page 308]
</p>
<p>
and brothers, as also his sister, friendly greeting, and could wish that they were all with him. He would like to be able to provide his father and his household with food and drink.
</p>
<p>
Let Uhli Miiller, the gunsmith, write me accurately, through Mr. Ritter, how it stands with my property, and also about my neighbors and my son. For this time nothing more than to commend you to God. Given this seventh day of April, from Carolina, 1711.
</p>
<p>
By me Hans Ruegsegger.
</p>
<p>
Out of India or America, in the Island of North Carolina, on the river Neuse.
</p>
<p>
April 8, 1711.
With service, duty and greeting, dear and faithful father, mother, brothers and sisters, children and relatives, and all good friends. With regard to myself, I live well and happy and would not wish to have remained at home. I am also married to Margaret Pfund of Zweysimmen. As far as the land is concerned it is very hot, many brooks, and much forest. The natives or Indians are black, half naked, yet clever and sociable, unbelievers, unsuited for work. I will not praise much nor complain. If one has money and property, gold and silver, he can be master just as in Europe, but I will say that for a workman or a poor man it is better there than here. He can get land as much as he needs. He can keep as much stock as he is able. Swine cost nothing to keep. Cattle go the whole year on pasture, become fat and good to butcher by themselves. They make no hay. It is true that many a one has up to a thousand head or more of cattle and hogs.
</p>
<p>
The land is uncultivated, yet is to be hoped tolerably fruitful; but yet I would not cause any one to come here, nor would I advise it, because of the costly and difficult journey over the fearful and wild sea. Yet we arrived safely and suffered little sickness, and for my part, did not get here so badly. For old and young it is hard, nevertheless we got a young son on the sea. The great God has kept all. To be sure it has cost much and gone slowly in these expensive, hard, war times.
</p>
<p>
On the 8th of March, as you know, we departed from Bern; the 9th of April we came to Rotterdam; there we remained seven weeks and two days at our own expense; the 30th of May we set sail at Rotterdam; the 4th of June we arrived at Yarmouth in England; we sailed on farther, until the 11th ditto we arrived at New Castle in north England; there we remained five weeks. After that on the 11th of July we sailed from there upon the sea and stood at anchor for seven days waiting for the fleet, whither a great number of ships came together. On the 24th ditto we sailed away, and sailed eight weeks long upon the
</p>
<p>
[Page 309]
</p>
<p>
sea and went through storm-wind and other dangers. Yet the great God brought it quickly to an end. On the 10th of September we saw land. The 11th we cast anchor in Virginia. After that we made another long journey, now by water, now by land, probably about eighty hours, to where we live on the river, which is called Neuse.
</p>
<p>
Herewith you are again greeted father and mother, brothers, sisters, children, and all good friends. Greet for me Uhli Treut especially, and his whole house, Hans Klasner, and his dear wife, Rufascher and his whole house. If I have injured anyone or done anything to anyone please forgive me for it, as God, in Christ forgives us. I wish you all prosperity from God. May he bless your work and the fruit of your labor from now on till into eternity. Amen.
</p>
<p>
Your beloved Samuel Jacob Gabley
and Margreth Pfund.
</p>
<p>
Out of America or India the 9th of'April, 1711.
</p>
<p>
With my duty and greeting dear and faithful Cousin, Christen Eggen; and your whole house. If I could hear that you were well it would rejoice me. As far as my condition is concerned I am well and live contented, and do not wish that I had remained at home. As far as the land is concerned, it stands like this. Whoever has riches, gold and silver, can be master just as in Europe, but I will say that for a poor man or workman it is better there than here. If he wishes to work for day wages he gets a half crown for every day, in produce or stock. Gold and silver are rare. He can.get as much land as he has need of. He can keep as much cattle and swine as he is able, and the swine become, of themselves, fat and good to butcher. Cattle go on pasture the whole year. I say that many a one here has up to a thousand head of cattle or more. The country is hot, uncultivated, many streams of water, great forests. The natives or Indians are black, half naked, yet sociable; but it is to be hoped that the land is tolerably fruitful. Still I would not advise nor cause any one to come here on account of the costly and difficult voyage over the terrible and wild sea. But yet, for my part, it has not gone badly with me; but for old people and young children it is difficult. It has gone slowly with us here because of the expensive and hard war times.
</p>
<p>
The 18th of March, as you know, we left Bern. The 10th of April we came to Rotterdam; there we remained seven weeks and two days. The 31st of May we sailed away. The 14th of June we came to the north of England. There we stayed five weeks. After that we boarded the ship and put out to sea. There we stood at anchor eight days waiting for the fleet, whither came a great number of ships to
</p>
<p>
[Page 310]
</p>
<p>
gether. After that we sailed away and traveled over the great oceanic sea. For a while several ships sailed with us. After that we traveled alone and endured storm-winds and other actions. After that, in eight weeks, the great God made an end of it for us, and brought us safe to land, and one more from the ship than embarked in England. After that we made a great journey farther, now by water, now by land, for about eighty hours, away to the place where we lived by the River which is called the Neuse.
</p>
<p>
Something new: The crooked have become straight and the sick have recovered. Women folks are very rare.
</p>
<p>
Monzua has married my big son; but the people under him serve him, to his destruction and try to eat him out. There is a pinching of his back, a pinching in the beard, a pinching in the private parts that I will not name, and a tailor for business, a count in name.
</p>
<p>
If it should come about that more people should come into this country, I beg you send me a half dozen readymade shirts, a few sheets plus ten ells of linen cloth and ten thalers in money, a half dozen knives of Barbli and an axe that has been tested, and pack it together and give' it to certain people that they may have care of it, so that nothing may spoil for me on the sea. Buy me at Rotterdam or in England a jacket and trousers. With this I commend you to God. Greet the pastor for me and his whole house, Magistrate Zergen, the Mayor and his whole house, Treasurer Martge, both Kilchmeyers, Truwhart and their whole house, Heinrich Egender of St. Stephan's Court and his whole house for his sons Jacob and Peter Treuthart, Joseph Bullre of Wyssenbach and his wife Wassle, Anna Maria, Jacob Gobli and his whole house up in the village. Greet for me my dear Comrades namely the good Saumers. I wish for them that they may earn much and become rich in this world, for into the other world one takes nothing. With this I wish you all temporal and eternal prosperity from God. God bless your food and income. Finally I wish the same for my fatherland. Amen.
</p>
<p>
Your humble Jacob Wahre
of Zweysimmen.
</p>
<p>
P. S. Do not think it strange that my brother is not writing, he did not have the chance as I did.
</p>
<p>
This is to be reported to Daniel Zant in Eriswyl.
</p>
<p>
[Owing to the corrupt text in the original of the two sentences which should follow here, no attempt has been made at a translation.-EDITOR.]
</p>
<p>
Before we went upon the journey, unwillingly to be sure, for fear of such great danger, my husband, Johannes Zant, who did not stand it but fell asleep in the blessed Lord, left word and commanded me
</p>
<p>
[Page 311]
</p>
<p>
that I should write home; and at the present time because I have opportunity, I announce that I am making a beginning of housekeeping again. But this comes hard without means, wherefore I greet a thousand times each and every friend, relatives, brothers and sisters, and the twelve sworn friends, and the Usher of the Court, the Mayor, and the Pastor, and all other good friends, and commend them always to the protection and care of God, and with it beg that you would be so brotherly and Christianlike as to send what I need for my domestic settlement. Namely a specified some of money, which lies with my dear and faithful cousin, Daniel Zant. The principle is, namely, a hundred guldens and the interest is fifteen guldens. You can send me this money with Graffenried's draft. The place and the country, the rivers where we now live and dwell is a good soil, and cattle raising also good and safe, and there is freedom in North . Carolina.
</p>
<p>
Now concerning ourselves, my condition and life. My daughter Katherine also desired to go to the Lord before I came from the sea to land in Virginia and North Carolina. You are herewith commended to the protecting hand of God, and again greeted a thousand times by me.
</p>
<p>
Anna Eva Zant, in North Carolina.<br/>
Anno 1711. the 15th of April.
</p>
<p>
A friendly greeting to my grandfather, Benedict Schetele, of Nider Linog and my father's brother in Buch, Heinrich Simon, Andreas Krachig, and my grandmother in Buch.
</p>
<p>
Our father, Benedict Simon, willed on his deathbed that we surviving children should still have something on demand from my grandfather, Benedict Schettele; and so we have a friendly request for Heinrich Simon and Andreas Krachig, while we have opportunity, at this time if possible to send it into Carolina, to the city of New Bern, with Mr. Graffenried's draft. Benedict Simon's wife and child Katherine are dead. His daughter's husband Joseph Stern of Riggisberg is also dead. Madlena, the surviving widow is married again to Jacob Himler of Madiswyl and Madlena has another child, Johannes Stern, and Anna Margreta is married to Andreas Weinmann of Mentzingen. Johannes Simon, these three relatives are in Carolina with Graffenried.
</p>
<p>
Maria Magdalena remained behind with her husband Johann Heinrich, Hans von Buchse in London.
</p>
<p>
We brothers have a friendly request to make to our magistrates that they would take an interest in us like fathers. And so a thousand greetings from us to all good friends and acquaintances. Jacob
</p>
<p>
[Page 312]
</p>
<p>
Himler and his wife Madlena, Andreas Weinmann and his wife Anna Margretha, and Johannes Simon. That these here named persons desire and request, witnesseth von Graffenried.
</p>
<p>
Johann Jacob Botschi,<br/>
Clerk of Court<br/>
And Captain in Carolina.
</p>
<p>
New Bern in Carolina, the 20th of April 1711.
</p>
<p>

My friendly greetings and all good, first to you my dearly beloved father and mother, brother and sister-in-law, and Hans and Bartlome and Basi, as also grandfather, all good friends and neighbors. Be it known to you that through the grace of God, I am well and healthy. To hear the same from you would be very pleasant, to me. It goes well with me. I do not lack food nor clothes, but money is rather scarce in this country. I have hired myself out to Christoph von Graffenried, citizen of Bern, formerly mayor, now landgrave in Carolina. The quality of the country is sandy, but yet suitable for everything one plants, still there are different streaks. It produces fairly. well especially Indian corn.
</p>
<p>
If any one should demand that you send me something, do not give any one anything. I owe no one anything. If it please God and he grants me life, I want to visit my Fatherland again. With this I send you all a thousand friendly greetings. I commend you to God, the Word, and his mercy, and remain, your dear son
</p>
<p>
Benedict Zionien.
</p>
<p>
With a thousandfold greeting, I wish all true friends, neighbors, and acquaintances God's grace and blessing. I and my wife, two children, and my old father have, the Lord be praised, arrived safe and sound in Carolina, and live twenty English miles from New Bern. I hope to plant corn enough this year. The land is good, but the beginning is hard, the journey dangerous. My two children, Maria and Hansli died at Rotterdam in Holland and were buried in the common burial place.
</p>
<p>
This country is praised too highly in Europe and condemned too much. I hope also in a few years to have cows and swine as much as I desire. Mr. Graffenried is our landgrave. Of vermin, snakes, and such like, there is not so much as they tell of in Europe. I have seen crocodiles by the water, but they soon fled. One should not trust to supporting himself with game, for there are no wild oxen or swine. Stags and deer, ducks and geese and turkeys are numerous.
</p>
<p>
[Page 313]
</p>
<p>
I wish that I had my child with me, which I left with my father-in-law, together with forty-five pounds which I left behind me in the parish of Tofen. And if my father-in-law wishes to come to me I will give to him from my land. One can have as much swine and cattle as he wants without labor and expense. I am very sorry that Christian Balsiger took away his Uhli from me again at Bern.
</p>
<p>
This letter to Hanss Wichtermann,<br/>
Branen.
</p>
<p>
P. S. Anna Wull of Rumligen is also here and rather rich. With this you are commended to God.
</p>
<p>
Who ever has a desire to travel, he can get in Holland one hundred iron tobacco pipes, knives, iron pots, and copper kettels. He can make on them in America about three or four times the cost. Three cows and four swine are my beginnings in North Carolina. The Lord Jesus be with you all. Amen.
</p>
<p>
With our friendly greeting, all good first to you and to your and our beloved father, grandfather, and both mothers, brothers, brothers-in-law, sisters, and sisters-in-law. Be it known to you that we, by the grace of God, are hale and hearty. To hear the same from you would be very pleasant to us. Salome has been sick, but, by the grace of God, she has become well again. We still have no minister but we hope soon to get one. I have as yet taken no land. The day, wages are good. One gets eighteen Stilber, .this makes nine Batten, and board. I have now separated from my brothers but yet in peace. I will soon take up a plantation which comprises toward three hundred acres. There is land enough. It requires considerable labor at the beginning, but if one has once made a beginning with cattle and swine he can prosper with small labor. He can have indeed up to three hundred head without cost, so that they become fat enough but rather wild. But the journey coming here is costly and difficult. One person over sea from Rotterdam in Holland thirty-four Thaler, where we lay seven weeks and two days, at our own expense. The thirtieth of May we went aboard the transport ship, and went upon the sea to Brull. The 4th of June we came to Yarmouth, the 11th to Newcastle, a place situated in England. The 17th of July we went aboard the ship again, travelled as far as Shields upon the sea, where we lay quietly eight days and waited for the fleet, which traveled four days with us and which consisted of over one hundred ships. After this we sailed alone, and often in great danger, and arrived here safely through the goodness of God. No one among us died. For that we cannot thank the good God enough. The 10th of September about
</p>
<p>
[Page 314]
</p>
<p>
nine o'clock we saw land. At night we cast anchor. The 11th we stepped upon land, which was very joyful for us, since, for a long time we had seen nothing but water and sky. From Virginia it is very difficult with baggage, now by water, now by land.
</p>
<p>
We live in North Carolina on the stream called Neuse. Regarding the land: It is tolerable sandy and productive, fairly good for all crops, especially for Indian Corn. Regarding fruit; It does not grow unplanted, either good or bad. The native born inhabitants are quick but naked; for the covering of their nakedness they have coats or else shirts. For this time nothing more. Greet for me my friends Ziorien, and my mother wishes to be remembered to you. Greet for us all good friends and neighbors, and I commend you to God, the Word, and his grace, and remain your affectionate children Michael Ziorien and Salome von Muhlenen.
</p>
<p>
To Christian von Muhlenen in Switzerland,<br/>
in the Canton of Bern, in upper Simmenthal,<br/>
in the parish of Bottigen of the Fluhli.
</p>
<p>
My friendly greeting and all good first of all to Hans Aeschbacher, the inn-keeper Uhli Bache, cousins, also all my godparents and good neighbors. This is to inform you that, the Lord be praised, we are hale and hearty. Anni died. I am deeply grieved. No one has died except three women. My Anni was ill the whole journey. We have no women folks that wash and mend for us. I beg you if the inheritance has been decided send me it; you need only to deliver it over to Mr. Ritter. Send me a good servant, two good servant girls, two good axes, for Dietrich has not time to do blacksmithing. I have a great deal of work to do. I have taken up two hundred and fifty acres of land. If I wish I can take up four hundred acres. I have need of money so that I can have horses, cattle, and swine. I could likely keep two hundred head summer and winter without labor and expense. Here there is moss on the trees, that is good as the best aftermath hay and also acorns.
</p>
<p>
I wish you would do me the favor of having a chest made and of purchasing two hundred ells of linen cloth, one hundred ells of flax ticking; from the blacksmith, four seven pound skeins with the linchpins, a small hub auger to bore plow wheels, two pounds of whole pepper, one half pound cloves, two mill stones that are a half heavier than those of a hand mill; but you must not buy the spices or the mill stones till you are in Rotterdam; also buy me a few cast tobacco pipes, about a dozen; of the others at two batzen, two dozen; some iron pans in duplicate, only the dish part without feet and handles, in the smallest
</p>
<p>
[Page 315]
</p>
<p>
of which a quart would go, but the others larger; and a dozen little horn pipe stems. I could get five pounds for a pipe and also a few brass shoe rings. The Indians buy such things for as much as one desires. The greatest failing and lack here in Carolina is that too few people are here, and no good mills. There is one being built by us people who are in Carolina. No one has any desire to be back in Switzerland, for one can eat but little meat in Switzerland, but here in Carolina I need have no anxiety from this year on, that every year I should not butcher thirty or forty to fifty swine, more if I wish. And if Cousin Haldmann would give me the whole meadow of the estate with everything belonging to it, I should not want it for I have meadow and forest enough for the swine and arable soil, one adjoining the other. If I only had money so that I could buy a half dozen cows, and also as many swine, a few horses, I would ask nothing more of temporal blessing than good health and afterwards eternal life, as I wish for all mankind. I would also wish that the poor neighbors were with us and then they would not need to suffer hunger if they would only be willing to work a little. Therefore whoever has a desire for it, let him just venture boldly under the protection of the Most High. To be sure they do not give one a ready built house and cleared land. Each one can labor for it and clear it himself. The journey is certainly hard and was hardest for me. But after the rain comes sunshine. And now we are, the Lord be praised, all as well as we have never been before. And the Usher's daughter has borne a son upon the sea and all are hale and hearty. They are tenants of the Governor and have the best conditions. But the lease runs four years, and every week he can work one day upon his lease and half the product from tending to the (salt) pan is his. The journey has been very expensive. We had to lie eight weeks at Rotterdam and it was very dear. Also for six persons we had to pay the boatman thirty-one Thaler from Bern, also paid the ship captain to take us over the sea, two hundred and four thalers. From the ship over the sea we had to travel through Virginia to our place, more than a hundred miles over land because of searobbers. Since we arrived in Holland too late and the fleet had assembled, we went alone and traveled eight weeks upon the sea with our ships. But now we have good fine land. Send me also a few dozen good knives. There is a great lack of German women folks. Greet for me my father-in-law if he is still alive, my brothers and sisters-in-law, but first, Christian Hausmann in Heybilhl and his wife. I and Dietrich his servant send friendly greetings to the blacksmith and Hans at Fluh. It would be well if they both were here. They could make as much as they wished to. As far as trades are concerned the best are armorers,
</p>
<p>
[Page 316]
</p>
<p>
gunsmiths, carpenters, tailors, shoemakers, potters, and ropemakers. If these came it would be exceedingly fine. Also weavers. If I had thirty pounds worth of knives and the wares mentioned above I could gain more than an hundred English pounds. A crown is worth more than a thaler in Germany. April 8th, 1711.
</p>
<p>
Let Casper Gerber give this over to Mr. Ritter in Bern, and I hope that if my father-in-law is still alive he will send me a respectable amount of money for my journey. If people wish to come here and you could do me the favor just send me the wares mentioned above. But those who intend to go must call upon Mr. Ritter, so that when the other people wish to go they may travel together. And if the inheritance has been settled let my godfather give to each a half thaler, namely to Peter Habegger, Helm Kupferschmied, Uhli Burger and Nicholas Balts, if they are still alive. Herewith nothing more. We wish you good health and long life, temporal and eternal wellfare in soul and body. Have some one buy for me a half dozen of those
books like those of which Uhli Lerche gave me one, and also pay Mr. Ritter for the letter. It would be well if one or two pot makers, that is to say tinkers, should come. I have not time to write more, it is too short for me.
</p>
<p>
Christen Engel.
</p>
<p>
Copy of a letter written by Christen Janzen, out of North Carolina, the last of April 1711.
</p>
<p>
God greet you most beloved souls, father, mother, related friends, and neighbors, always with our thousandfold greetings and obedient service. I wish you at this time to learn of my health, and to know that I must make my writing as short as I can compose it. I hope that you have the letters that I wrote from Holland and England. The most essential contents are that we came the 10th of June to New Castle in England, but the 6th I became a very sad widower.
</p>
<p>
In New Castle we lay five weeks. The 17th of July went aboard the ship and lay eight days at anchor. After that we sailed, under the all-powerful protection of God, safely to land in Virginia. Also did not lose a person. A young son was born on the sea. His father's name is Benedict Kupferschmied. He worked a year for our dear brother, Christian Biirki. After that we went about a hundred hours by water and land, yet always guided and fed, and the people everywhere have done us much kindness and there is in this country no innkeeper. All go from one place to another for nothing and consider it an insult if one should wish to ask the price.
</p>
<p>
[Page 317]
</p>
<p>
Brought here hale and hearty, the shoemaker Moritz did not die till he was on his farm. He was well on the whole journey. No one else of us Siebentaler people has died, but of the others though, three Palatines. Of the people among whom we live, however, a good many have died.
</p>
<p>
Regarding the land in general. It is almost wholly forest, with indescribably beautiful cedar wood, poplars, oaks, beech, walnut and chestnut trees. But the walnuts are very hard and full of indentations and the chestnuts very small but good. There is sassafras also, and so many other fragrant trees that I cannot describe the hundredth part. Cedar is red like the most beautiful veined cherry and smells better than the finest juniper. They are, commonly, as well as the other trees, fifty to sixty feet below the limbs.
</p>
<p>
The land in general is almost everywhere black dirt and rich soil, and everyone can get as much as he will. There are five free years. After that one is to give for an acre, which is much greater than a Juchart with us, two pennies. Otherwise it is entirely free, one's own to use and to leave to his heirs as he wishes. But this place has been entirely uninhabited, for we have not seen any signs nor heard that anything else ever was here except the so-called wild and naked Indians. But they are not wild, for they come to us often and like to get clothes of us. This is done when they pay with wild meat and leather, bacon, beans, corn, which the women plant and the men hunt; and when they, as most frequently happens, guide the Christians through the forest and show new ways. They have huts of cedar bark. Some also can speak English well. They have an idol and hold festivals at certain times. But I am sorry to say, of the true God they do not want to know anything.
</p>
<p>
With regard to the rearing of cattle. It costs almost nothing for the raising, as the booklet printed at Frankfort says, for all stock pastures in the winter as well as in the summer. And I know of nothing to find fault with in the booklet mentioned regarding these two items, although it writes of South Carolina.
</p>
<p>
They butcher also no young animals, so one can conclude how quickly the number can increase. The cows give scarcely half so much as with you for the calves suck so long; until they are a year and a half old and in turn have young. We buy a cow with a calf for three pounds sterling or twelve thalers, a hog for one pound, with young or fat; a sheep also for as much. They have but few goats, but I have seen some. Squire Michel told me they wished' to bring some here to us. Wild and unplanted tree-fruits are not to be found here so good as Kocherthal writes of South Carolina. I have seen no cherries yet. There are many grape-vines and many
</p>
<p>
[Page 318]
</p>
<p>
grapes on them, of which some are good to eat; and it can well be believed, if one had many together (they would do well). We are going to try to plant them for everything grows up very quickly and all fruit is of very good taste, but we do not enjoy them much yet.
</p>
<p>
We lie along a stream called Neuse. There six years ago the first (people), English, until two years ago (when) the Swiss people (came), began the cultivation. They are, as it seems to me, rather rich in cattle, all sorts of crops, the finest tree-fruit, and that, the whole year (except for) two months. From the nature of things we were behind in that regard, so that we do not have it yet; but we hope, through God's blessings to get it. We came shortly before Christmas and we have by God's blessing, Zioria, my son-in-law Peter Reutiger, and I, and others besides, much stronger houses than the English; have also cleared land in addition, and the most have put fences around.
</p>
<p>
It is to be hoped that now from the ground and the cattle we will get enough, through the grace of God who has always stretched out his hand helpfully and has brought us safely and unhindered through so many enemies, spiritual and worldly, and over the great sea. But one thing lies heavy on us which I cannot write without weeping, namely the lack of a true and zealous pastor. For we have indeed cause to complain with Asaph, our sign we see no more, no prophet preaches to us any more, no teacher teaches us any more. We have, indeed, prayers in our houses every Sunday, but the zeal to cleanse away the canker of our old sins is so small that it is to be feared it will consume everything to the foundation, if the pitying God does not come to our help.
</p>
<p>
If it had pleased the good God to send some of our brethren and sisters or at least Christian Biirki as an instrument, as a physician of body and soul, I should have had good hopes that the light among us would not become an evil smelling lamp, for I do not believe there is a person here, either English, German, or French who would not have loved him heartily; I believe that his profession is especially good here and that he could have an estate according to his wish without doing work in the fields. For of good liquor and such medicine there is the greatest lack in this country, therefore I have a friendly request to make of you, dear brother; namely, as follows. I have married Christina Christeler, a widow of Sannen. I am her third husband. By the first she has four children. Two died in London. Her husband and one child upon the sea. But the eldest, a boy of thirteen, named Benedict Plosch, is at Morigen in the baliwick Nidauw, staying with his deceased father's clientage. And he was alive four years ago. Her father was named Peter Christeler, Christen Walcker,
</p>
<p>
[Page 319]
</p>
<p>
who, with his wife died here in this country and left eight children, said to her that she has a rather large inheritance from her late father, left with her brother Moritz Christeler, for he has received a hundred pounds of it. When you go to Sannen to ask about it, I hope Heinrich Perret will be able to help you; for they have been nearest neighbors. And if it is as Walcker says you can take it into your hands.
</p>
<p>
Because my wife understands brewing so well and has done it for years, and the drink is very scarce here and neither money nor brewing pots are to be obtained here, otherwise I would not think of such a thing for you to do. But the pot must have two pipes but no worm; and if some reliable people should not be coming, would Mr. Ritter still be so good as to get it to me here; also four pounds worth of spice, such as ginger, pepper, safron, nutmegs, galangale, cloves, each according to the proportion of the money? For here there is nothing but laurel. I have seen it on trees in the forest. But if there should be nothing to be got from the inheritance, I would most kindly beg you and my father, if he is still alive, to still help me somewhat from my own, for it is very important to me and especially to the women folks, who are very scarce here.
</p>
<p>
If only more people should wish to come, I advise that they take women with them if they want to have any, for here some of the very best men find no wives, because they are not here.
</p>
<p>
The journey is easily to be made if one can supply himself properly with old cheese, dried meat, and dried fruit, vinegar, wine, beer, and casks, butter, biscuits, in fine whatever is good to eat and feasible to transport, also a pan or kettle that is narrow at the top and broad below; for when the sea is violent the ship lies over on one side so that things are spilt. Yet I have never heard that a ship has sunk upon the high sea.
</p>
<p>
Whoever could provide himself with the things named above and should make an agreement with the ship captain that he give him liberty to cook and a good place to lie the voyage would not be hard. For we had young and old people, all are hale and hearty. Whatever one brings here in the way of wares is worth at least as much again. Linen cloth and glass would be especially needed, and is to be purchased very well in Holland:
</p>
<p>
Peter Rohtiger and my two daughters greet you, for we live beside each other. Dichtli is still with me, and I am delivering the greeting of us all to our dear and faithful pastor, to the whole number of honored persons, especially Godfather Kilchmeyer Dreuthart, anal Andreas Aescher, Christen Jantz.
</p>
<p>
[Page 320]
</p>
<p>
I would have much to write. I must break off. Have patience with my bad writing, for whoever sees my hand and labor will believe that I have not written and studied much. Greet for us Christien Burki and I should be glad if he could hear the contents of this letter.
</p>
<p>
I remain your well affectioned servant, and my parents' obedient son until death.
</p>
<p>
Greet for us Anna Drus, item Speismann's people, and your sister and relatives, also my father's sister, and first of all the school-master.

</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>Christoph von Graffenried's Account of the Founding of New Bern</em>. Ed. Vincent H. Todd. Raleigh, NC: North Carolina Historical Commission, 1920. 219-320.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F264. N5 G72</td>
  </tr>
</table>
