---
layout: ecu
title:  "Christoph von Graffenried, \"Relation of my American Project\", Von Graffenried's Account of the Founding of New Bern, circa 1714"
customdate: "1714"
order: 8
---

{% include breadcrumbs.html %}

<h3>Christoph von Graffenried, "Relation of my American Project", <em>Von Graffenried's Account of the Founding of New Bern</em>, circa 1714</h3>

<p>
  Christoph von Graffenried is recognized as the founder of New Bern, North Carolina. He led a group of settlers from Switzerland and Germany to the region in 1710. The following is his story of the events that took place during his brief stay in Carolina.
</p>
<p>
  <a href="../../graffadd.html">Read More about Christoph von Graffenried</a>
</p>
<div class="well">
  <label>Text from Book</label><br/>

  <p>
  [Page 219]
  </p>
  <p>
  ENGLISH TRANSLATION OF THE GERMAN VERSION
  </p>
  <p>
  [Page 220 is blank]
  </p>
  <p>
  [Page 221]
  </p>
  <p>
  PREFACE
  </p>
  <p>
  This account was written in haste, without much thought, just as the things occurred to my weak memory, so that here no especial style is to be observed; and it has been arranged in 12 chapters or "misfortunes" for my society and for others who might have unfavorable ideas with regard to my American projects, thinking that I had undertaken them without consideration and foresight, and had passed my time in Carolina in splendor and luxury. So then I have shown the contrary. The beginning is also arranged to show that it was not merely carelessness which brought me to this distress, but serious reverses and unfortunate accidents. If ever I revise this in time of leisure, everything shall be better written and arranged.
  </p>
  <p>
  NOTE:-The references are to the English Translation of the French Version and show wherein that version varies from the German.
  </p>
  <p>
  [Page 222 is blank]
  </p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>Christoph von Graffenried's Account of the Founding of New Bern</em>. Ed. Vincent H. Todd. Raleigh, NC: North Carolina Historical Commission, 1920. 219-320.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F264. N5 G72</td>
  </tr>
</table>
