---
layout: ecu
title:  "Indian War"
order: 10
---

{% include breadcrumbs.html %}

<h3>Christoph von Graffenried, "Relation of my American Project", <em>Von Graffenried's Account of the Founding of New Bern</em>, circa 1714</h3>

<p>
  Christoph von Graffenried is recognized as the founder of New Bern, North Carolina. He led a group of settlers from Switzerland and Germany to the region in 1710. The following is his story of the events that took place during his brief stay in Carolina.
</p>
<p>
  <a href="graffadd.html">Read More about Christoph von Graffenried</a>
</p>
<div class="well">
  <label>Text from Book</label><br/>

  <p>
[Page 234]
  </p>
  <p>
NOW FOLLOWS THE INDIAN WAR
  </p>
  <p>
What caused the Indian war was firstly, the slanders and instigations of certain plotters against Governor Hyde, and secondly, against me, in that they talked the Indians into believing that I had come to take their land, and that then the Indians would have to go back towards the mountains. I talked them out of this and it was proven by the friendliness I had shown them, as also by the payment for the land where I settled at the beginning (namely that upon which the little city of New Bern was begun), regardless of the fact that the seller was to have given it over to me free. I had also made peace with the same Indian inhabitants so that they were entirely satisfied with me. Thirdly, it was the great carelessness of the colony. 30 Fourthly, the harsh treatment of certain surly and rough English inhabitants who deceived them in trade, would not let them hunt about their plantations, and under this excuse took away from them their arms, munitions, pelts or hides, yes, even beat an Indian to death. This alarmed them very much and with reason.
  </p>
  <p>
The Indians kept their design very secret, and they were even then about to take counsel in an appointed place at the time that I happened to travel up the river.
  </p>
  <p>
I thought I was so much the more in safety, since only ten days before, when I was coming home from surveying and had lost my way in the forest, just as night overtook me I had fallen into the hands of the Indians, who before my coming had lived in Chatalognia, at present New Bern. They had now settled in this place and received me very kindly and in the morning accompanied me as far as the right way. They gave me two Indians who went with me as far as my
  </p>
  <p>
[Page 235]
  </p>
  <p>
home, and out of thankfulness I gave them something and sent some rum and brandy to the king. This very king, together with the help of the Most High, contributed not a little to my rescue when I was captured by the Indians, condemned to death, and saved in a marvelous manner. What took place among the Indians and how I finally came home and got to New Bern again is to be seen in the account sent to Governor Hyde. Right on the end of this account I had begun to tell what adverse and disagreeable things happened to me immediately on my return, and so there appears to be no end of my ill fortune. But since I could not foresee the future, I shall tell as briefly as possible, what took place further, up to my departure to Europe and my journey home. Firstly, How this Indian war was renewed and ended: Secondly, For what motives I left the colony and went to Europe, yes, clear to Berne. What happened to me after my arrival among the Christians was almost more dangerous and vexatious than when I was among the heathens. Before the heathen tribunal I had my accusers before me, everything was done in good order, nothing behind my back and under cover nor in a rebellious and turbulent manner; but when I came home, thinking to be among friends and Christians and hoping to rest a little, it became worse.
  </p>
  <p>
There were a number of rough, jealous, and morose planters or inhabitants. And because I would not immediately accede to their notion of killing or of giving over to their discretion, an Indian to whom I had promised safe conduct because he had come to get my ransom, this sort of evil Christians, worse than the heathen, secretly got information against me, and there was much talk, and threats of nothing less than that I must be hanged. I had not considered it feasible for those to go to war with the Indians before the fifteen Palatine prisoners had been freed and delivered over, who did not have enough provisions nor munitions nor soldiers, since in addition, half of the Palatines had left my quarters in my absence. So now from a heathen tribunal I had to appear before a Christian judge's bench, yes, to a trial worse than the heathen, if it had gone according to the will of certain godless fellows. To this a Palatine blacksmith who wished to revenge himself because I had punished 31 him for frightful execrations, disobedience, stealing, and horrible threats, contributed not a little, and this he did in a very treacherous manner. He went immediately over to the Indians, and made them very suspicious of me, as though my promise was of no value, as though I were deceiving them, since, instead of keeping peace and neutrality with them, I was entirely on the side of the English, whom I was supplying with firearms and munitions of war. 32 But as soon as I
  </p>
  <p>
[Page 236]
  </p>
  <p>
learned of his treachery, and for that cause wanted to punish him, he had gotten wind of it and had betaken himself to William Brice, a common man, who because of his audacity had been chosen captain, and who was very much opposed to me. There, where a garrison composed of rowdies collected together and of disloyal Palatines were guarding his house, the above mentioned blacksmith had said the same things of me as before to the Indians, and more yet, so that I passed for a traitor. Very soon there was a list of 20 articles written up, of which not a point was true. As soon as I had heard of this, I wrote, nevertheless without fear, since I had a good conscience, to the governors of Virginia and of Carolina, informing them circumstantially of all that had happened; and they approved of my conduct, as did all other persons of understanding and reason.
  </p>
  <p>
Along with this it happened that since I had caused the effects of the smith as a criminal and a fugitive, who was, moreover, much in debt to me, to be inventoried and put into safe keeping, 33 this abovementioned Brice wanted very much to have the smith and the detained goods given out. His intention was to do this by force in addition to bringing me bound to Governor Hyde, as one guilty of treason, and so he took counsel in secret with some of the most prominent of his crew, and the conclusion was to the effect that if I should refuse to give out the smith's goods, they would take them by force, giving as pretext that they needed them for defense, 34 and because I would doubtless resist, they would then take possession of my person, and so bring me to the Governor. But there was, by chance, a little Palatine boy in the room of whom they took no notice, who understood English. Hearing this he got out of the room as quietly as he could, and told his mother, one of those who were still my subjects. She got quickly into a little boat and came over to me. When she told me this conspiracy I immediately had the drum beat, the gate locked, and my people placed in a good position. I could scarcely get this done when Brice came with 30 or 40 neighboring men, among them that same godless smith and probably 20 of the disloyal Palatines. Not knowing that I was informed of the affair, they thought to go right into the yard 35 and take possession of me. But they found everything in a position that they did not expect, and when they asked our people what that was to signify, the corporal answered that we were well on our guard because of the wild Indians and the wild Christians. It was asked in reply whether we took them for enemies, then, and again it was answered that friends are not in the habit of visiting their neighbors in such a manner, that it seemed as though they were our enemies, especially since such traitors and deserters were among them, yet if Colonel
  </p>
  <p>
[Page 237]
  </p>
  <p>
Brice and one other wanted to come in he thought this would not be refused. When this was represented to me I allowed them to come in under good guard. When Colonel Brice complained of my actions I gave as answer that a fine design was known to me, but that I would know how to make his shameless and audacious procedure known in the proper place. I asked him if it was the proper manner towards his superiors to thus raise a mutiny. I told him that I, as a member of the upper house, landgrave, and commandant of this district would be in the right to send him away bound. 36 So I let these false, designing fellows go with short courtesy and severe threats until the next parliament. What other insults were done me and my people by this captain and the disloyal Palatines would be too lengthy and too disagreeable to write in detail, and so I have for the sake of brevity not cared to tell more. But yet a little more in passing.
  </p>
  <p>
It is to observed that the agreement here below made and signed with the Indians, was entered into while I was still in bonds and to save my life, and so I could not be compelled to keep my word. But according to this, since I was not of the view quod hereticis non habenda fides (faith need not be kept towards heretics), I was resolved to keep as much as I could conscientiously, with regard also to the duty which I owed to the crown of England. And if they had left me alone afterwards it would have been well for the entire country and much murder and misfortune would have been avoided.
  </p>
  <p>
But this Captain Brice along with his gang was so heated, that, without having the wisdom to take counsel, following their blind: passion, without reflecting upon any measures nor upon the smaller number of people nor the small amount of food and munitions nor upon the danger to the poor captured women and children, he rejected the proposed truce and immediately began hostilities, and so through his unreasonable caprices exposed the whole province to danger and interrupted all my measures. But if they had let me manage, we should, in the first place, have gained time by this truce, so that the whole province and I could have put ourselves into a good position and we could in this time provide ourselves with soldiers, war and food supplies. Secondly, I was actually already at work during this truce to save the poor captive women and children, for I was not going to give over my ransom, except they had given the prisoners over to me. This had been agreed upon in the first conference, with great danger and difficulty. N. B. It has been very well shown, of how much importance it was and afterwards related in the history of the Indian war how this captured Holtzmann (woodsman ?) had to manage the
  </p>
  <p>
[Page 238]
  </p>
  <p>
Indians, unless one can make an end of them at the very first. Now while I was doing my best with the Indians in this good work, and thirdly, through my alleged neutrality and the delay, wished to gain time so that the English, as well as the Carolinians, and especially the colony, might get again what they had left buried in their plantations and houses, and likewise be able to catch as much of their cattle as possible in the forests, there came this Brice's mob, wilder and more unreasonable than the Indians, and spoiled all my negotiations for me, by an attack unbeknown to the rest. This whole bad business, the before mentioned treachery of the smith, and this action took all confidence of the Indians in me away. So that from that time on they made attack upon my colony also, since until then their houses and goods had been spared according to the agreement made. But following the untimely procedure of the Carolinians, the Indians have gone on to destroy everything, and my poor people's houses although the doors were marked with a sign, 37 had to be burned. The rest of the household furniture, although concealed and buried, was hunted up, taken away, and the cattle in the forests shot down. From there the Indians have beset one plantation after another, plundered, slaughtered, and done much harm here and there in the province, especially on the Neuse, Trent, and Pamtego Rivers. What caused worse retaliation by the Indians was the harsh procedure of Brice, for when he got some of the Indians of Bay River, 38 their chief, the king, was used most terribly, yes, severely roasted, tormented with all sorts of unchristian tortures, and so killed. This so embittered the Indians that it is not to be wondered at that they also treated the Christians cruelly. What grieved me most in this was that a disloyal Palatine did the most in this torturing and took pleasure in it. It was this same man who was the author of the disloyalty of the Palatines. There were indeed in Brice's following, bold and courageous people, but wholly inconsiderate. If the other Carolinians had behaved better and had not been so faint-hearted we should have become master of the Indians sooner and things would not have gone so badly.
  </p>
  <p>
And now, since it was of so much concern to me to justify my conduct and to show the godless and impudent behavior of Brice'srabble, I went in when the general assembly 39 was held and asked where these false accusers were, and demanded that they should bring these slanderers before my eyes, and give me copies of the complaints in order that I might defend and justify myself in a fitting manner, but no one dared to appear against me, and no one here wanted to tell the articles of complaint, and so there was an end of it. During this time I had much trouble and was in great danger, suf-
  </p>
  <p>
[Page 239]
  </p>
  <p>
fering not a little in my honor and reputation and demanded satisfaction because the complainants and the slanderers were well known to me. I named them out, but the authors did not appear, and in such a confused government and in the midst of the Indian war I could not get any satisfaction. The Governor and the upper house, which consisted of the seven councilors and representatives of the Lords Proprietors, two landgraves, several colonels, and the secretary, made, indeed, their excuses and paid me a compliment in regard to this affair, and with this I had to be satisfied. I sent many memorials and letters to the Governor about this matter, in which these disagreeable stories and proceedings are to be seen in detail, especially in the register of my letters of the years 1711 and 1712. But O, if all the adverse and grievous things which happened to me in Carolina and Virginia should be told it would make a big book.
  </p>
  <p>
To give here as was done above, only a few of the causes of the Indian war:
  </p>
  <p>
The carelessness of the Carolinians contributed not a little to the audacity and bold actions of these Indians, because they trusted them too much, and for safety there was not a fortified place in the whole province to which one could retire; also in case of any eruption or hostility no arrangements were made and much less were there the necessary provisions of food and war supplies. This was carried so far that in these times of unrest, whole shiploads of corn and meat were carried away and exchanged for sugar, molasses, brandy, and other less necessary things. In short, everything was carelessly managed. Instead of drawing together into one or two bodies of well ordered soldiery in order to drive the enemy from the boundaries of the settlements, every one wanted to save his own house and defend himself. This was the cause that finally the Indians or savages overpowered one plantation after another, and soon brought the whole province under them. My idea was that in case the savages would not act in accordance with the agreement made with them, and could not be brought to a good treaty, to divert them with the peace I had made, to procure a truce, and meanwhile, with the help of my people to establish myself in some place and, provided with all necessary munitions and food, by this means to make a greater and more vigorous resistance, or else entirely to destroy the savages. But there was nothing to be done with these wrongheaded Carolinians, who, even if some were more courageous than the others, took the matter up so heedlessly and clumsily, got around behind the Indians who were much stronger in numbers, good shots, and well provided with everything, so that this small handful of Christians immediately had to get the worst of it. Yes, without the help of the
  </p>
  <p>
[Page 240]
  </p>
  <p>
Palatines and Switzers they would have been destroyed, as is to be seen in the first account. N. B. In the same account there is to be seen from a letter with the date and salutation, how the troops who were in Bath Town, a little village on the Pamtego River, about 150 in number, would not go according to their word and the sign which they had given to them, and did not have the heart to cross the river to help their neighbors, in such urgent need; but rather, after they had eaten up the corn and meat of the inhabitants of this district, leaving us on the other side along the Neuse River in the lurch, they went home again.
  </p>
  <p>
How I fortified myself and New Bern for 22 weeks long and supported myself and the colony with my own means, and finally had to leave my post from lack of anything to eat, in order to go to the Governor, is partly to be seen in the first account. Yet I can not pass over without telling how it went with me on this journey into Albemarle County.
  </p>
  <p>
So then after I had experienced and seen how miserably everything was going; what poor, yes, absolute lack of assistance; the impossibility of holding out so, for in the long run, indeed, we were reduced to the very extremity; how that through the invasion of the savages the whole colony had been destroyed, since, as has been said, about 70 had been murdered and captured, the houses of all the colonists burned, their household furniture and whatever they owned carried off, most of the cattle shot down, and our own used for food. So upon the representations of Mr. Michel and other gentlemen from Virginia and Maryland, I resolved to take other measures and because the colony was divided, half of the Palatines having turned from me, to betake myself with the rest, along with the Switzers, to the above mentioned places. Hereupon I packed a part of my things, had my little sloop fitted out with the intention, that when I had reached Governor Hyde I should succeed in getting better assistance in the parliament or general assembly, failing which, I would continue in my design to go to Virginia and Maryland.
  </p>
  <p>
So I departed in great perplexity, because my people were in the greatest straits, 40 yes, so much that there was no longer a measure of corn left, but we had to make shift with pork, and that very sparingly. This journey was also unfortunate. I departed with good weather and wind, after I had collected my people and addressed them as best I could, comforting them with hope of speedy help. In the evening when we were almost at the mouth of the river and were about to sail out into the Sound, there occurred a noteworthy sign. On the tip of the mast there suddenly came a small fire and it whistled rather loudly for about a quarter of an hour, and finally
  </p>
  <p>
[Page 241]
  </p>
  <p>
it ceased. When I asked the captain of the ship what that was, he told me nothing very good, that directly a great storm would follow and that was certain. I laughed at this and desired to continue my journey. But an hour did not pass, before the wind began to blow harder, and because it was toward night we did not venture, but looked about where we might drop anchor by the land. We were scarcely able to approach the land before the wind struck us so hard that a little later we should have come into the greatest danger. So we stayed over night with a planter, a good man, 41 who had settled there upon an estate. In the morning when the storm was past, we went on, and so came in the evening of the second day into the middle of the Sound, which is a sea much bigger than Lake Geneva, since in the middle one could not see land; but we struck against a sand bank, so that the ship gave such a loud crack that we thought it broken in two, and if it had not been very strong we should have had to suffer shipwreck there. We were, then, in the greatest anxiety, and took all imaginable means to get away from this dangerous place. The greatest fear was that even if the ship were finally freed it would have a crack, so that we should have been sent down without fail. But God was so gracious, that after the sea had risen and the wind had become better, we happily got away with spread sails. When we saw that no water came into the boat, we thanked God and started out. On the third day we had such a strong contrary wind that in one place we had to sail towards land. There, where there was a broad expanse grown up to reeds, we dropped anchor, and were compelled to remain several days, until the wind calmed down somewhat, so that we could sail with a side wind. through a canal which flows through the reeds. We were scarcely out of the reeds when ill luck would have it that we remained sticking upon a solid rock, so that for half a day we had enough to do before we were free, and again the sea had to help us. Finally the wind increased and we came off all right and reached the appointed place, and it was time we did, for all our meager provisions of food and drink were used up. Instead of arriving in twice twenty-four hours as we hoped to with good winds we used over ten days. Thus one sees what the weather sign upon the tip of the mast means. It seems to be a superstition, to be sure, but experience knows differently.
  </p>
  <p>
After I had spent six whole weeks at Governor Hyde's, partly in waiting the termination of the council and the other affairs of the province, partly in providing my people at New Bern with the necessaries of life and military stores, after the expenditure of great pains and much time, my sloop was filled with corn, powder, lead, and tobacco, and sent to New Bern. But oh, what a misfortune. The
  </p>
  <p>
[Page 242]
  </p>
  <p>
good people in their extreme distress waited in vain for it. For when the sloop was clear past the Sound and far from the mouth of the river, the people on the ship drank too much brandy, so that they all went to sleep, thinking they were now out of danger; but because they had not entirely put out the fire in the kitchen, a spark sprang from a stick of wood and got into the tobacco leaves, which were not far from there. These caught more and more, until a fire started, and at length the smoke wakened the shipmen, who, out of fear that the powder cask would catch, tried to save themselves, got into the canoe, that is, a little round-bottomed boat, and left. Before they came clear to land the fire got into the powder, and the sloop went up in flames.
  </p>
  <p>
Imagine what sad news for the half-starved colonists to hear a thing like that, instead of the assistance waited for so long and with such great desire, and how that went to their hearts. By the time I had learned this sad news, which had delayed a good while, I had worked with all my might to have them provision a larger sloop or brigantine, but this went forward so slowly that I became very angry, seeing well that such tergiversations in such critical times would not do. For this reason I disposed my affairs with this in view that as soon as my people should have received these provisions, they should sail immediately in the same ship with Mr. Michel to Virginia. This was very much delayed. After I had stayed a long time at Governor Hyde's, as has been said before, waiting for the affairs relating to the war and the province where there was much to do, I went into Virginia in order to make the best arrangements possible. But before I go on to this journey, I can not omit to tell what in the meantime was done for the safety of the country.
  </p>
  <p>
After I had strongly represented to Governor Hyde and the General Assembly that we should make better arrangements than had previously been made, otherwise we were in danger of all being killed by the Indians, we got to work, and never in my life should I have thought to meet such awkward and faint-hearted people.
  </p>
  <p>
First of all it was of importance to find where provisions were to be obtained, for it was impossible to go to war, and yet these improvident Carolinians were so foolish as to sell grain and meat out of the country. For this reason I urged Governor Hyde immediately, to publish a sharp command forbidding the exportation of certain things.
  </p>
  <p>
Secondly, to find out what grain there was in the country, and to take measures accordingly. It was found that there was not enough by far, to carry on such a tedious war. Hereupon arrangements were made with the neighboring provinces which had plenty, to procure some.
  </p>
  <p>
[Page 243]
  </p>
  <p>
Thirdly, to provide powder, lead, and firearms, with which the province was not at all supplied, and of which the individuals had very little. Hereupon it was decided to send for it among those from other places. But no one wanted to give the money for this purpose, nor did the province which was then in bad credit, find means, and so I had to try to effect something with the Governor in Virginia.
  </p>
  <p>
Fourthly, Suppose that all the above things of which the people had need were ready, there was still labor. We could with the greatest difficulty make out scarcely 300 armed men, and there were among them many who were unwilling to fight. They were mostly badly clad and equipped. With reference to this, commission was given to me to seek for help in Virginia. When, finally, Governor Spotswood, acting in the Queen's name, promised them this with the stipulation that the provisions and soldiers' pay should be returned, they did not want it, unless the Governor would send the soldiers and the provisions at the expense of the Queen, asserting that they could not pay back such sums, which was absurd. Why should the Queen have the expenses of the colony since the Lords Proprietors draw the revenue? This gave occasion for several to go to the Governor of Virginia to sound him to see whether he would take upon himself the protection of Carolina. But this the Governor refused, for good reasons.
  </p>
  <p>
Fifthly, it was proposed that we fortify some place in the province to be used in case of need as a retreat, in which to keep ourselves in safety. But this did not succeed.
  </p>
  <p>
With things as we knew they were, what was to be done? Meantime the Indians continued their depredations, became bold with such poor defense, and overcame one plantation after another.
  </p>
  <p>
The last resource was to send hastily to South Carolina for help, which we also obtained, otherwise the province would have been destroyed. So the Governor of South Carolina 42 sent 800 savage tributaries with 50 English South Carolinians, under the command of Colonel Barnwell, well equipped and provided with powder and lead. The theatrum belli was not far from New Bern. Only when these arrived did the Indian war begin in earnest, and these South Carolinians went at it, when they came to the Tuscarora savages, in such a manner that they awakened great terror among them, so that the North Carolina Indians were forced to fortify themselves. But our friendly Indians, after they had received their orders at New Bern went against Core Town, a great Indian village about 30 miles from New Bern, drove the King and his Indians out of the same after they had slain several, got into such a frenzy over it that they cooked and ate the flesh of one of the Carolinian Indians that had
  </p>
  <p>
[Page 244]
  </p>
  <p>
been shot down. To this assistance from South Carolina we detailed 200. North Carolina English with some few of our Indians who were friendly to us, and about 50 Palatines and Swiss under command of Colonel Boyd and Mr. Michel, whom we made Colonel. This small army went further up, to Catechna, a large Indian village, where I and Surveyor General Lawson were captured and condemned to death as has been told in the first account. In this village Catechna, our enemy consisting of Indians of Weetox, Bay River, Neuse, Core, Pamtego, and partly of Tuscaroras, had collected and strongly forti fied [fortified] themselves, and we could accomplish nothing against them; that is to say, in the storm planned against them, the orders were not properly executed, the attack should have been made in certain places. But Brice's people were so hot-headed that they stormed before the time, many of them were wounded, some were left dead, and so our forces had to withdraw. When the report of this was given to us in the council we were very much busied considering how better to subdue the enemy and how to make better arrangements. By chance I was looking about and saw six or eight pieces in the yard, lying there uncared for, all rusty and full of sand. My notion was that two of the smallest should be refitted, sent over, and the fort bombarded with it. At this I was laughed at heartily, and it was represented to me as impossible to take them through morasses, forests, and ravines. But I remembered what Captain Jaccard of St. Croix had told me. Just as he said he had done it before a fortress in Flanders (which made his fortune), each small piece was carried very nicely, as though upon a litter," 43 between two horses, the rest disposed further as suited best, and the scheme succeeded well. For when the approaches were made and only two shots had been fired into the fort of the savages along with some grenades which we tried to send in, such a fear was awakened among the savages who had never heard nor seen such things before, that they asked for a truce. Then a council of war was held by our highest officers to decide what to do, and it was decided to accord a truce and to try to make an advantageous peace. The principal cause of this was the Christian prisoners which they still held from the first massacre, who called to us that if the fort fell to us in a storm they would all miser ably perish without mercy. Hereupon they surrendered under condition that first of all the captives should be set free. And this was done.
  </p>
  <p>
Now when this was past and our troops had marched to New Bern to refresh themselves a little, for the food was getting scarce and scanty, and the response to Colonel Barnwell had not been to his satisfaction, he became impatient that he had not received more honor
  </p>
  <p>
[Page 245]
  </p>
  <p>
and kindness. His soldiers also were very badly provisioned. For these reasons, he thought of a means of going back to South Carolina with profit, and under the pretense of a good peace he enticed a goodly number of the friendly Indians or savage Carolinians, took them prisoner at Core Town (to this his tributary Indians were entirely inclined because they hoped to get a considerable sum from each prisoner) and made his way home with his living plunder. Whatever before this he did worthy of praise, was flung away by this action.
  </p>
  <p>
This so unchristian act very properly embittered the rest of the Tuscarora and Carolina Indians very much, although heathens, so that they no longer trusted the Christians. Therefore they fortified themselves still more securely and did much damage in Neuse and Pamtego County, yes, the last became worse than the first. This induced us to lay strong complaint against Colonel Barnwell and to write to South Carolina for new help, which followed, but not so strong as the first. But soon after there arrived a goodly number under the command of Captain Moore, who behaved better. After what could be raised had been brought together they went to this Indian fort at Catechna or Hancock Town and at last this was successfully stormed, set fire, and overcome. The savages showed themselves unspeakably brave, so much so that when our soldiers had become master of the fort and wanted to take out the women and children who were under the ground, where they were hidden along with their provisions, the wounded savages who were groaning on the ground still continued to fight. There were about 200 who were burned up in a redoubt and many others slain so that in all about 900, including women and children were dead and captured. Of ours there were also many wounded and some remained on the field. From this time we had rest, although some survivors still wandered here and there. It was now a question of providing for the future, for putting ourselves in complete security against the surviving neighbors. Certain of the kings with whom we conferred yielded. N. B. The kings are really only the chiefs of a certain number of wild Indians, but still, it is hereditary and is passed on to posterity. We conferred with them and finally brought about a wished-for peace.
  </p>
  <p>
At present there is not the slightest thing to fear, for the savages who live beyond Virginia and this same province are tributary, a guarantee of peace; and the surviving Carolina Indians have also become tributaries of the Lords Proprietors.
  </p>
  <p>
Meanwhile, although in peace, it did not go well with our poor colonists; but they were dispersed here and there among the English or Carolina planters; others made their way back to New Bern where they tilled a little land to supply their most pressing need. I allowed
  </p>
  <p>
[Page 246]
  </p>
  <p>
them to try to take service for two years and to go into the service of one or another of the wealthiest of the inhabitants of Carolina in order to have their living there and to save up something so that they could afterwards go back upon their fees or plantations. But for these two years they should be free from the quitrent imposed upon them. To Mr. Michel and the people from Berne I let it be known that I was going to Virginia to make the necessary arrangements there in the hope that they might settle there better than in Carolina, trusting myself upon the Mr. Michel's word which he had given, that he was minded to stay by the agreement which we had made before. At the same time it was impossible with my own strength and means to restore a colony so ruined, and from Berne the prospects were not only poor, but no hopes of any assistance whatever had been given.
  </p>
  <p>
With this I took my departure from the Governor and council and went to the Governor of Virginia, from whom I obtained this that he granted me, particularly because of the dangerous war times the captain of only one warship to accompany my people. This was a great and peculiar favor for an individual. Hereupon Mr. Michel, who was then at a conference held upon the frontiers between Governors Hyde and Spotswood, was advised and at that time the day was set when and where they should assemble themselves on the island Currituck in Carolina. While this was going on I went further into Virginia towards the Potomac and Maryland in order to have everything ready with lodging, food, and cattle.
  </p>
  <p>
The place was not far from the falls of the Potomac, with a civil, generous, and well-to-do man named Rosier, settled upon the mainland. There a certain baronet and other gentlemen from Pennsylvania came to meet me in order also to see how it was with the silver mine of which Mr. Michel had told and in which they were interested, and on this account had been to much expense. After we had waited there in expectation of Mr. Michel and the Bern people who were coming with him, after such a long delay and no news coming from him we became impatient, and in consideration also of Mr. Michel's strange actions with regard to the mines, we got the idea of visiting the place ourselves following the plans given us to ascertain the truth. We equipped ourselves for this truly dangerous journey, yet because I had had it in mind to do this even when the other gentlemen had not yet arrived, I had as a precaution, received patents from the Governor of Virginia, to whom I communicated my design, and orders had been given that at the first notice I could summon as many of the rangers stationed nearest as I considered necessary.
  </p>
  <p>
[Page 247]
  </p>
  <p>
When we came to Canavest, a remarkably beautiful spot, about four miles above, before the falls, we found there a band of Indians and in particular a Frenchman named Martin Chartier, who had married an Indian woman, and thereby was in great credit with the wild Indians of the nations which live beyond Pennsylvania and Maryland. He also, leaving Pennsylvania on the representations of Mr. Michel, had settled himself there. Before this he had also gone with Mr. Michel to look for the mines and had been to much labor and expense. He warned us that the Indians of this same region where the silver mines were supposed to be, were very much alarmed at the war which we had had with the Tuscarora Nation, and therefore we ought not to expose ourselves to such danger without especial necessity. We believed him and postponed the matter to a convenient time. Meantime we made a league with the Canavest Indians, a very necessary thing, as well in respect to the hoped-for mines as for our little Bern Colony which we wanted to settle there. We also examined the admirable situation of the same region of country and in particular the charming island of the Potomac River above the falls, to this hour regretting that I can not live in this beautiful land.
  </p>
  <p>
From there we went further back upon a mountain of the highest in those parts, called Sugar Loaf, for it has the form of a loaf of sugar. We took with us Martin Chartier, a surveyor we also had with us, and there came with us several Indians. From the mountain we viewed an exceedingly broad extent of country, a part of Virginia, Maryland, Pennsylvania, and Carolina, used the compass, made us a map, and observed especially the mountain where the silver mines were said to be, found that they were beyond Virginia, and incidentally from the two Indians that they had looked up and down the mountain but had found not the slightest sign of minerals, and that the map that had been given us did not correspond to the report at all. This disturbed us greatly. What else happened on this account is not necessary to relate here. We discovered still finer land and three broad mountains each higher than the other. When we came down from the mountain we stayed overnight with Martin Chartier, and returned the next day to Mr. Rosier's quarters below the falls, where I stayed a considerable time in hopes of receiving my people there, as had been agreed. The other travelers returned to Pennsylvania, but not very well satisfied on account of the confused plan.
  </p>
  <p>
I believe there is no more beautiful site 45 in the world than this which we intended to divide into two small colonies; the first directly below the falls where there was a very cheerful island of good soil and opposite, in a corner between the Potomac River and a smaller
  </p>
  <p>
[Page 248]
  </p>
  <p>
one called Gold Creek, suited to receive everything which comes up or down before the falls, and the greatest merchant ships can sail there. The other site was to be at Canavest as the map shows. Now after there had not been received the least news for about two months long from Carolina, the limping messenger finally came with bad tidings. Since Mr. Michel, so the bearer of this note reported to me in words only, demanded to have the command of our sloop, I should come to an agreement with them. He said the sloop, after it had finally brought the long desired grain to Neuse, on its return had gone upon a sand bank, was in bad condition and had become somewhat worm-eaten during the hot weather; that it needed to be fitted out with sails, cable, and with other things; that it could not get off; that I should betake myself quickly to Carolina, and told me nothing further; nothing of the warship which had been sent to us from Virginia, and of the other things which had gone on in the long interval, so that I almost pined away and died of impatience. Such unfavorable news and so strange a report overcame me so that it would be no wonder if I had lost my senses. After all the arrangements in the way of provisions had been made, now everything was in vain. Nevertheless I sent the captain who did not seem to be entirely satisfied, with orders to fit out the ship as well as possible, and that quickly, because it had to make only a small passage along the coasts, and wrote to Colonel Pollock since he was in the best circumstances that since the ship was in the service of the province, it should provide the most essential things for this need, indicating that I would do the rest through Virginia. But everything was postponed, and if I wanted to have my affair advanced I should have to go there myself. When, now, I came to the Governor I found an entirely different face than formerly, cold, indifferent, and I could not guess the cause of it. Finally he helped me out of my consternation, nevertheless earnestly expostulating with me and asking what I took him for, saying that he had hoped that I would have been more grateful for his friendliness and services, yes, such noteworthy services which would not have been shown very soon to every individual; instead of our due thankfulness we had acted very haughtily towards him. The one who was in the highest degree astounded was I. I excused myself. I said that I did not know as yet what that all meant, and yet begged for enlightenment. So the Governor broke out, "Yes, yes, your fine gentleman has used me very badly." He told how that, as had been agreed, he, the governor, had sent out a warship to bring our sloop with the people and to convoy it; that the ship had waited about six days before Currituck Island; that the captain had at last become impatient since he saw no one coming, sent his
  </p>
  <p>
[Page 249]
  </p>
  <p>
small barque to the land in order to find out whether any thing was to be learned of our sloop of Switzers. No one pretended to know the least thing of it. When he traveled further to a little village called Litta (Little River), he finally learned that Mr. M. was at New Bern and the sloop was in bad condition on a sand bank and could not get off. When the lieutenant heard such news he went quickly back to his captain, who nearly jumped out of his skin to think that he had been so played with and had made such a dangerous voyage for nothing; for if a storm had been seen he would have been compelled to go out upon the high sea, and if the wind had blown towards the land he would have been in great danger because in these parts the water is not deep. So he turned angrily back to Virginia. Now when I had heard all this I half fainted away with vexation and shame that such a gentleman, from whom I had received so much friendliness, so many services, yes, after God, my life itself, had been so mocked. I began to excuse myself as best I could, telling him in answer how I had been exposed, since everything was arranged on the Potomac, that I was in the greatest anxiety how I was to work myself out of such a labyrinth. After the governor had offered me a drink to refresh me he began to express his sympathy for me that I had to deal with such a strange fellow. He advised me to get along without him.
  </p>
  <p>
Now after he had treated me in a friendly manner, and I had passed the night there, I went hastily into Carolina the next day, in order to make the above mentioned necessary arrangements. I had also ordered in one place sails and cordage, in order to equip the sloop in case of need. Now when I came to Governor Hyde's in Carolina. I heard the whole affair for the first time really in detail, and I know not what more unpleasant things in addition. I wrote immediately to Mr M. requesting him to report to me the condition of everything; but was badly satisfied. Thereupon I demanded that he come to me in order that we might take the needed measures over one thing and another, but this was not to be obtained; and for good reasons I could not go to him, so I made arrangements elsewhere, obtained from the governor and the council that since the sloop was put into such a condition while it was in the service of the province, nothing was more fitting than that it should be given back to me in good. condition again. This seemed good to me and so there was sent a man experienced in such affairs to visit the sloop, but he was so badly provided with food and other assistance that he came back again and indeed, sick, because it was in the heat of the summer. He gave us the report that the sloop could not hold together long because it had lain through the summer exposed to the heat and had been
  </p>
  <p>
[Page 250]
  </p>
  <p>
damaged by the inhabitants, and would have to be equipped anew, and it was not worth it. With this I gave the sloop over to the province and wanted to have its worth estimated, at its value and price when it came into the service. But the response was by far not what I demanded, so that I had to lose the half part in it and there is nothing yet paid any more than in the case of the small one.
  </p>
  <p>
In the meanwhile where was I to go with my people? I wrote again pathetically to Mr. M. and desired a conference in such a slippery conjuncture, especially since the creditors demanded to be paid. Not a word followed. But I learned that the gentleman had it in mind to pack all my things, under pretense of saving them, and to take them to South Carolina, and that he had persuaded several Palatines to go there with him. This never suspected scheme did not please me and I was warned to put my things into better keeping, but too late. In consequence of this, because Colonel Pollock, to whom I owed a tolerably large sum for provisions advanced to the colony, became somewhat suspicious, as was proper, I asked him to inventorize through chosen men everything authorized, as well the remaining property of the Palatines as mine, and so they were put into safe keeping, but my best things were gone.
  </p>
  <p>
Now when I reflected on the conduct of Mr. M. how he had ordered everything so strangely, how he had played with all those interested and nothing had resulted, I had no confidence in it. At last I wrote him a letter, as related, indicating what I had heard from one and another, but as a reproof, I said that if he was found to be under any suspicion he had truly given the cause for it himself, through his actions, tergiversations, and fickle minded changes, such as were better related apart by word of mouth; as affairs then were in such an extremity, strong resolutions would have to be taken, and it was absolutely necessary that we should talk out our hearts to each other in a personal conversation and take the last measures, that there was peril in delay. Instead of any meeting I received the most shameless writing that could be thought of. Indeed I believe he would have been glad to find a pretext to lend color to his tricks and to get himself free from that which, according to the information he had given, he could not carry out. I could have here a great matter for complaint over his inexpressible behavior. But to protect his eminent relatives more than him I will pass on with sighs and say nothing.
  </p>
  <p>
There were in this letter so many things which showed clearly that I and others besides were duped, especially one thing that the aforementioned gentleman said about a new enterprise which he almost made effective, namely, to found a colony upon the Mississippi River 46 to which three crowns, Spain, France, and England lay claim, under
  </p>
  <p>
[Page 251]
  </p>
  <p>
the opinion that the state of Berne, as neutral, would be supported in this land. One can easily observe: first, 47 the jealousy of such mighty powers, since none of them would give way to the others: second, the unsuitablity of Berne to colonize distant lands, since it is no sea power. Thus one easily sees that Mr. M. in fact did not look carefully at his calculations, and that such leaps from Pennsylvania into Maryland, from there into Virginia, further into North Carolina along with that into South Carolina, and finally to the Mississippi can not pass muster.
  </p>
  <p>
The conclusion, as regards the silver mines of Virginia or Maryland, is soon made. For if there is anything real there, why withdraw from it and go to the Gulf of Mexico? My hair raises when I think how many families were deceived, especially so many families of miners, who, building upon a formal contract, left their Fatherland, traveled at great expense to America and now met neither Mr. M. nor any one else there who showed them the reported mines. I must now cease to speak of the disagreeable matter, otherwise I should bury myself so deeply in it that there would not be room enough for the other things, for this is really not my purpose.
  </p>
  <p>
I come again to my Carolina account. After I had reflected upon the above mentioned circumstances, how little assistance was to be expected from Berne, one note after the other protested, it was incumbent upon me to consider what means to seize in such urgent need; and nevertheless I had as yet no idea of going to Europe. Because there were still two Negro slaves at Governor Hyde's, which belonged to me, I tried to take them with me, thinking to make use of them at Canavest; to which Indians I wished to retire, and gradually draw there some of the colonists out of Carolina according to the plan before announced, and they showed a great desire for it. But Governor Hyde kept me so long because the peace was not yet entirely ratified with the Indians, which conclusion he absolutely would have, that one of my creditors found a scheme to slyly keep watch of these Negroes, so that they could not get away.
  </p>
  <p>
Meanwhile we all became sick at the Governor's with the great heat and without doubt because we ate so many peaches and apples, so that eventually, in a few days the Governor died, which caused me much business, since he was a very good friend of mine. This death brought his very dear Madame Hyde almost to despair and she implored me with hot tears that I should not leave her in such a sad circumstance, but should remain with her, partly until the affairs, with reference to the governorship, were arranged, partly until her own affairs, relating to the deceased's claims and the debts of those owing him, were straightened out; representing to me further that accord-
  </p>
  <p>
[Page 252]
  </p>
  <p>
ing to my rank and the law, as landgrave, the presidency was due me, and that lastly, she had observed at London with the Lords Proprietors, that if the place were vacant they would entrust me with the government. I thanked her politely for it, but gave her other reasons which kept me from accepting it. I signified to her, that I would remain there a few weeks more and contribute my best to settle her affairs although my own were right then pressing so much.
  </p>
  <p>
After the burial Colonel Pollock, the oldest of the council, with the other justices came to me, and begged me to take the presidency. But I refused it for many weighty reasons, saying that Colonel Pollock as the oldest in years and in the council should assume it; that the affairs of the province were also better known to him than to me for I was entirely strange in this land; and after many compliments he finally accepted.
  </p>
  <p>
In the meantime the Lords Proprietors were informed of all this. I gave them remotely to understand, that if the government were delegated to me I should not refuse it, but that I should not solicit them for it. This was without any hesitation. As already related it seemed good to me, because it was well known that I was very much in debt in Carolina, and already several notes had been protested, so I refrained, waiting for news from Berne since I had written there to know if there was hope of any payment, for it is the custom that the candidates present themselves in person in such circumstances. So then it was postponed six whole months until a governor was appointed. Yet since several persons had put themselves forward in London and among them this same Eden, now Governor, they became impatient because neither from Bern nor from me did any one arrive in London. The Lords Proprietors finally came to an election and elected the above mentioned Mr. Eden, whom I met in London and spoke with, yes, recommended to him, as well as I could, my interests as well as those of the colony. He sincerely promised his offices, and a command to the same effect was given him by the Lords Proprietors. In passing I will say that I finally reached London and stayed with a gentleman, Chevalier Colleton, a Baronet and also a Lord Proprietor, a man who was my special friend. I was eight days upon his estate eight miles from London. At the first sight of me he evidenced his joy saying (besides) that if I had arrived only a month earlier I should now be Governor in South Carolina, a thing which grieved me less than it did him because I, unfortunately knew very well that at Bern there was no disposition to pay my debts, either on the part of my own people or on the part of the Lords Proprietors who were discouraged by so many adversities.
  </p>
  <p>
[Page 253]
  </p>
  <p>
Now I have gotten clear to London instead of Virginia. I will continue where I left off. A few days before I took my leave of Mrs. Hyde, I had the two Negroes secretly informed through my servant that they should quietly get across the river in the night, and wait for me on the other side to go with me to Virginia. They were quite happy to do this, for they were harshly treated there, but I do not know how they managed it. Some one got wind of it and they were arrested so I had to leave them behind and by this my compass was entirely disarranged. Upon that I took my departure not trusting myself, and came to Governor Spotswood in Virginia to whom I told all these vexations. He felt very sorry for me, but because I was thinking about making my rendevous with the Baronet upon the Potomac River, I did not stay long at Williamsburg, but set forth upon my way to Maryland intending to find him at Mr. Rosier's at the falls and there to make an agreement with him as one interested. So then I hastened as fast as I could. But when, at the point of Maryland, I wanted to make the passage of the river with my horses, a strong wind hindered me. As soon as the wind left off I rode over and took my way to the falls, but would ill luck not have it that when I arrived at Mr. Rosier's house I should find neither him nor the wife nor the Baronet. The first two were distant a whole day's journey on a visit to their relatives, and the Baronet had departed just the day before, thinking to find me in Virginia. Although tired from my long journey, I took some food and a drink in haste and journeyed so quickly back that my horses were overridden, and I was compelled a day before we came to Williamsburg to go afoot. As soon as I arrived there I inquired whether the Baronet were there, but I learned that he was at Hampton, the first seaport of Virginia. I sent my servant there immediately with a lame horse, who also did not find him any more, the reason of which was that the Baronet having there by chance found a war ship ready to sail to New York and the captain of it being a very good friend of his, he had gladly availed himself of this opportunity for his return. After he had informed himself regarding the affairs of the colony and of myself, and had heard that Governor Hyde had died, and that my affairs were getting worse, he left me a letter which I never received and went to New York which is not far from Bartington, a beautiful village, built in the Holland manner, a place on the boundary between New York and Pennsylvania where he mostly stayed. But there was I left off one side, for this man was my last resource, because he was a prudent, experienced, and upright merchant, a Gascon in nationality That which amazed me was that he as a cunning man trusted and advanced Mr. M. so much. I thought there was something in the business relative
  </p>
  <p>
[Page 254]
  </p>
  <p>
to the silver mines, and if there had been the least appearance there of any reality, might still have held out.
  </p>
  <p>
What was I now to do? If I could easily have gotten something, so that I could have settled myself at Canavest. But because we had gone too far for that, instead of to Governor Spotswood, I went to a well known and particular friend, wished him to make another trial,48 sent my servant into Carolina, in part to find out if he had changed his mind, in part to find out what route he had actually taken, 49 likewise to see whether possibly the Negroes had escaped, and in that case if I could get them I could yet have done something at Canavest, for they could, at least, plant corn and attend to some cattle. But my my servant came back without having accomplished anything, but it was told to him that if I wished to send a sloop or barque with provisions to my Bern colonists and a few honorable Palatines, they were disposed to come to me. I trusted to still maintain myself with the mines which I had in company with Governor Spotswood.
  </p>
  <p>
On this report I wrote to Colonel Fitzhugh, a rich man of the royal council and my very good friend, who would gladly have backed me in this new colony with the offer of the necessary provisions and other means. When I was now hard at work trying to open up a way, thinking I had found a loophole there, I was warned that an English merchant, to whom a resident of Carolina had also sold one of my notes, wished to have me arrested on the protested note and that the arrest was actually laid in the house where I was staying, but I hid myself. After this I took counsel with good friends, asked whether I should be safe from the creditors at Canavest or in any other place in America and the answer was in no place, for even if I were among the Indians I should be discovered by the Indian traders or merchants. So I delayed until there was no resource to be found for me in America. It was of importance to me that I should get hope of money from Bern or should find new associates. Of the latter there were, to be sure, some to be found, but they would have nothing to do with my old debts.
  </p>
  <p>
When I reflected upon several letters that I had received which gave me little satisfaction, I very wisely went to Governor Spotswood, at Williamsburg, his place of residence, threw my misfortunes like a handful of necessities, or in these words, "Governor, I am so very," etc. When I had observed the time that he was in good humor and at leisure I asked if he could give me an opportunity for an audience, and that a long one. At which he laughed a little and I had from this generous gentleman an entirely favorable hearing. After I had told my unfortunate adventures, as also how they wanted to arrest me, the Governor evidenced at this a hearty sympathy, wondered that they should leave me so in the lurch, especially the society; knew
  </p>
  <p>
[Page 255]
  </p>
  <p>
nothing better to advise me than that I should betake myself to Europe; offered me a recommendation to a good friend who was to procure it that the Count Orkney should present to the Queen a supplication. Then I should go to Bern, vigorously represent everything to my society, and solicit the moneys for payment of the notes. This counsel several of my best friends communicated to me. They also agreed with it.
  </p>
  <p>
But because winter was coming on and at these times no ships sailed to Europe, I stayed with a good friend through the winter, which there does not last so long, and because I was going to Europe again only unwillingly, much less willingly home, I prayed unceasingly all this time that the almighty God should put into my mind what I should do in such a precarious affair, that he would conduct everything according to His holy will, in order that in the future I might have more blessing in my undertaking, that thus I might take such a resolution as would be most profitable to my soul, for if I had sought barely to pass my own life I should likely have found expedients; but I had scruples about abandoning the colony. When I considered how much I owed to God, especially for such a marvelous rescue, and how disastrously and adversely everything had gone with me, I could well guess that it was not God's will that I should remain longer in this land. And since no good star shone for me I finally took the resolution to go away, comforting myself that my colonists would probably get along better among these Carolinians who could help them'better at the time than I. Herewith, and because I had no great hopes in myself, I departed, for what I did was not with the intention of entirely abandoning them, although a greater part had given me cause to, but in case I received favor of an audience with her Royal Majesty the Queen of England, also more assistance at Bern, I could with joy and profit come to them again.
  </p>
  <p>
But I was unfortunate in these negotiations also, and so I had to commend this colony to God and the Lords Proprietors and hold myself quietly in my Fatherland, to pass the remainder of my life there in sorrowing for the time lost, in a true humility and sincere conversion, in consideration that the sins of my youth brought all this upon me. Although all this chastisement is hard for human nature still it is not so sharp as I probably deserved. It should now be for me to leave all worldly and vain cares; on the contrary, take more care for my poor soul, to which may God give me grace.
  </p>
  <p>
N. B. I have before this, said of this colony, when I was leaving them and so much misfortune was coming upon them, that they brought it upon themselves. Firstly, I mean to say of them that most of them were recreant to their lawful authority. What they did to
  </p>
  <p>
[Page 256]
  </p>
  <p>
it, they did afterwards to me, since the half part went from me in my great need. Also they were a godless people so that it was not to be wondered at if the Almighty has scourged them with the heathen, for they lived worse than the heathen, and if I had known what these people were, those from Bern as well as the Palatines, I should not have taken up with them.
  </p>
  <p>
Of the Palatines I thought to exclude the worst, as it did seem from appearances. What those were who died upon the sea and before I came to America is not known to me. But of those whom I still met, among them several escaped Switzers under Palatine names, I found them for the most part godless, rebellious people; among them murderers, thieves, adulterers, cursers, and swearers. Whatever care and pains I bestowed to keep them in order, there helped neither strong warning, nor threat, nor punishment. God knows what I endured with them. Among the Bern people there were two households which were undoubtedly the excrement of the whole Canton of Bern, a more godless rabble have I never seen nor heard of, and when the pious ones died these remained as the weeds which do not quickly die out.
  </p>
  <p>
I was sorrier to leave the beautiful and good land than such a bad people, and yet there were a few pious people who behaved themselves well, who were dear to me, with whom I wish it may go well; the good Lord convert the rest.
  </p>
  <p>
It was now a question of how to continue my journey, by water or by land. It could not be done by water because no ship captain, under penalty of losing a sum, might accept any person who was in debt and had not the power to get rid of his debtors. So it had to be by land, which is a long trip, and for which I had no money. I had to turn silverware, which I still kept, into money. Meanwhile I wrote letters to the colony representing to them my pitiful condition and how necessary my journey was. At the same time I sent also a writing to the president of the council showing them my reasons and recommended as best I could the abandoned and wrecked colony.
  </p>
  <p>
Now after I had taken my leave of Governor Spotswood who at the last regaled me well; and in return for my present which I gave as a small token of the gratitude due him, he made me a return present in gold which far exceeded mine. I began my journey with the help of the Most High, right at Easter 1713. Went by land clear through Virginia, clear through Maryland, Pennsylvania, Jersey, and came, the Lord be thanked, at length to New York, which is a pretty city well built in the Holland style upon an island, along by a fine sea harbor, and between two navigable rivers. The situation is especially convenient. It has a strong castle and the landscape round about it is charming. In the city are three churches, an English, a French, and a
  </p>
  <p>
[Page 257]
  </p>
  <p>
Hollandish in which there is preaching also in German. There is all abundance and one can have whatever he wants, the best fish, good meat, grain, and all kinds of vegetable products, good beer and all sorts of the most expensive wines.
  </p>
  <p>
In this so pleasant a place I stayed ten or twelve days. After this I sailed in a sloop to England. I must confess that in the beginning I feared to travel over the great ocean in such a small vessel. But because I was comforted with the information that there was less danger in such a little ship since, first, they are better masters of the sails in storms; second, that it goes better and faster; third, it rocks less than the big ones; fourth, it is easier to load and unload, and is useful in trade since such a ship makes two trips while the large one is making one, I ventured to travel on it. 50 Although we had the misfortune that for the most part contrary winds blew and very often there were heavy storms, yet we arrived, God be thanked, at the end of six weeks at Bristol. This city can, because of its convenience of importation, its size, great trade, multitude of people or inhabitants, and wealth, be called the little London. There I rested several days and because the stagecoach was not safe, I went horseback in good company, to London, where I stayed several months in hopes that I might possibly get my supplication to Queen Anne through the Duke of Beaufort as my patron, who was the first Lord Proprietor and Palatine of North Carolina. But a little while before when he was minded to bring my supplication before the Queen, swift death suddenly overtook him. Again a stroke of my unfavorable fortune, for soon after the Queen herself died. So there came so many noteworthy changes in the English court that I knew my supplication was laid on the table. Although I saw no hopes of any favor at this new court for a long time, yet there was appearance that in time the new king being of the German nation would feel inclined towards this business.
  </p>
  <p>
Because the winter time is troublesome to travel in and I could not accomplish anything in London I was in a hurry to go home.
  </p>
  <p>
Meanwhile I cannot omit to relate that when I reached London I was shocked to learn that Mr. J. Justus Albrecht with some forty miners had arrived. This caused me not a little pains, worry, vexation and expense, since this people had come there so blindly, thinking to find everything necessary for their support and their transportation to the American mines. But there was nothing on hands for them, and I was myself so lacking of money that I could scarcely get enough for my needs. Meanwhile no money remained from America and at London no note had been made for me, so that it was impossible for me to assist such a number of people. What an unendurable load this was for me can well be imagined, because they thought that on
  </p>
  <p>
[Page 258]
  </p>
  <p>
account of the treaty I was under obligations to look out for them, and they had come, thus, at my command. But I had written to them from America, and that often, and they had received several letters to the effect that the chief miner Justus Albrecht with his company should not come without my orders, saying that on account of the disturbances in Carolina and the Indian wars there was nothing to be done with the mines; that they had not been shown by Mr. Michel, but if the chief miner wanted to come immediately with one or two others to take a look, very well. But he went right about it in this thoughtless way.
  </p>
  <p>
What was now to be done? I knew nothing better than to direct these people back home again, but this seemed so hard for them they preferred to hire themselves out for four years as servants in America than to return. In the meantime no ship was ready to sail to America, and they had to stay through the whole winter till spring in London. But what were they to live on? This question caused me much trouble. 51 Finally I ran to one great man and another in order to procure work and bread for them. For some I found places, for others not. Meantime I was pressed to go home. At last I found two merchants of Virginia to whom I represented the matter as best I could, and recommended myself to Colonel Blankistore and was advised by him. I had been recommended to him by the Governor of Virginia with reference to the mines in order that his officers should help me at the court. The result was that these people were to put their money together and keep account according to the proportion of it. The rest of it certain above mentioned merchants advanced to make up the transportation and living charges of these people. At their landing the Governor was to accept them and look out for paying the ship captain, who should pay back then, to the merchants of that country, the money they had advanced. For this purpose I wrote a circumstantial letter to Governor Spotswood to whom I represented one thing and another as well as I could, telling him that the little colony should be appointed to the land which we had together in Virginia not far from the place where minerals were found and, as supposed, the traces of the mine, where they could settle themselves according to the wise arrangements and under the helpful supervision of the Governor.
  </p>
  <p>
Meantime if there were not sufficient indications for a silver mine they were to look elsewhere, and because in Virginia there were, at any rate, neither iron nor copper smelters but yet plenty of such minerals they could begin on these. And for these we needed no royal patents as we did for the silver mines. In the hopes that they would succeed, I commended these good miners to the protection of the Most
  </p>
  <p>
[Page 259]
  </p>
  <p>
High, and so they departed at the beginning of the year 1714. A whole year has now passed that I have received no report either from the Governor or from them, and for this reason I am in great anxiety.
  </p>
  <p>
It appears that my American misfortunes have come to an end, but the very same ill luck which led me from my country, accompanied me clear back home. Out of fear that my American creditors, of whom unfortunately the sharpest of all was in London, would make arrangements that I should be inquired for and arrested, I took the resolution, instead of taking the common routes to Dover or Harwich, to make my journey home in a small vessel which was bound for St. Valery, as being shorter and safer. The day was set but, because I dared take no passport for fear I should be discovered, he, 52 to whom I had to entrust my affairs advised me nevertheless to travel to Gravesend under another name, in a small boat, and he himself got ready. When I was half way there, such a contrary wind raged that I was compelled to go to land and to walk to Gravesend, where I stayed over night, and a whole day besides. But since it was costly to live, not knowing how long this contrary wind would last, and besides this, now considering that this also was a port, I took my way back to London, where my ship captain was not yet ready, waiting for better wind; but I remained at Southwick in the neighborhood of the Thames, waiting for orders. When he had cast off, I was warned to follow after, and I got aboard the ship at Greenwich. At Gravesend the captain let me go ashore outside the city on the further side, and there I was to wait until he had made his declaration and the ship had been inspected. Despite the fact that he said to the inspectors that my chest belonged to a nobleman of St. Valery, that he could bear witness that they contained only clothes and personal effects, they did not want to believe it. So he sent a sailor boy quickly to me to indicate to me that I would have to open up my chest. At this I did not feel easy, but yet I put a good face on it, spoke French, immediately took out my little key together with some English crowns and gave them to the inspector with the request that he would not disturb my clothes much, as they were well packed in. Fortunately this worked. . If they had discovered my writings, I should have been found out and should have come into danger.
  </p>
  <p>
After this was past we went on, but when we were at the very mouth of the river at a seaport named Margate, there awoke such a frightful storm with thunder and lightning that we were in the greatest danger and through the night we could scarcely keep our anchor. The day after, when the wind had calmed down we sailed away, and when we were upon the sea we were driven back with great danger to another seaport called Ramsay. If the people and a number of sailors who
  </p>
  <p>
[Page 260]
  </p>
  <p>
were there had not come to our help should have gone to the bottom. There we had to remain eight whole days on account of contrary winds and to fix our torn sails and other things, which came very hard to me who had only money enough for my journey to Paris. When the wind had died down somewhat we sailed out but were driven back again a second time. Finally the wind changed to the northeast, this was favorable to us and then we advanced before Dover; again the wind changed so that this journey caused me more difficulty than when I went twice across the ocean. We passed instead of three days the entire week getting to St. Valery, and it is so dangerous that without pilots who sailed to meet us we should never have gotten into this same harbor. From there I went up the river to Abbeville, from where I took the stagecoach to Paris; from there to Lyons and as far as the Fort of Cluses where the commandant detained me because I had no passport. But yet, according to the agreement of the two countries, I did not need any and had not asked for one for myself in France. If I had not chanced to have the patents of my office in Yverdon in my chest and had not shown them, telling how that there had been good friendship kept with the people of Bern, and had not given several noteworthy circumstances, I should have been obliged to remain there until I should receive a document from Bern. So I traveled on to Geneva, from there to our vineyard in Vaud near Vevay, where, according to written reports I had thought to find my family, yes, also, to stay. All had gone to Bern eight days before, so I had to go there also, with the greatest unwillingness, to be sure. I arrived, God be thanked, upon St. Martin's day 1714 in good health and found everything in good state at home.
  </p>
  <p>
But O what a change I found in the city, how cold the old friends, what haughtiness and arrogance among many; and of the things which further are grievous to tell, the worst was that where I hoped to find help to restore my ruined colony I was part of the time refused and partly in other respects can not succeed, 53 so that I was compelled by lack of assistance, especially from my society which left me in the lurch, to abandon the colony, which is to be regretted, since others will fish in the troubled waters and will benefit by what I have accomplished with great cost, danger, pains, anxiety, and vexation; for affairs in North Carolina are now in good condition, the government better arranged, the savages rooted out, a good peace made, the greatest difficulties taken out of the way, the most convenient situation for the colony cleared up, and thereby made more healthy, and settled with inhabitants; so that those who come after will find it far better than we, since all beginnings are difficult. It grieves me to the
  </p>
  <p>
[Page 261]
  </p>
  <p>
heart to leave such a good and beautiful land where there was prospect of doing well in time and of bringing the colony to something considerable.
  </p>
  <p>
Since fortune does not wish to be more favorable to me in this world, there is nothing better than to abandon everything which is of this world and to seek the treasures which are in Heaven, where neither moth nor rust doth corrupt and where thieves do not break through nor steal. 1
  </p>
  <p>
I might have made a regular description of the English provinces on the American continent through which I journeyed, but because different authors have written about them I let it rest here. On this subject one can read P. Hennepin, Blome's English America, Baron de la Hontan, Vischer's (translation of Oldmixon's), The British Empire in America, and of Carolina in special the latest treatise of Mr. Ochs, Vischer's translation of Lawson's Journal and Description of Carolina.
  </p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>Christoph von Graffenried's Account of the Founding of New Bern</em>. Ed. Vincent H. Todd. Raleigh, NC: North Carolina Historical Commission, 1920. 219-320.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F264. N5 G72</td>
  </tr>
</table>
