---
layout: ecu
title:  "Lawson's Death"
order: 11
---

{% include breadcrumbs.html %}

<h3>Christoph von Graffenried, "Relation of my American Project", <em>Von Graffenried's Account of the Founding of New Bern</em>, circa 1714</h3>

<p>
  Christoph von Graffenried is recognized as the founder of New Bern, North Carolina. He led a group of settlers from Switzerland and Germany to the region in 1710. The following is his story of the events that took place during his brief stay in Carolina.
</p>
<p>
  <a href="graffadd.html">Read More about Christoph von Graffenried</a>
</p>
<div class="well">
  <label>Text from Book</label><br/>

  <p>
[Page 261]
</p>
<p>
COPY OF THE ACCOUNT WRITTEN MR. EDWARD HYDE, GOVERNOR IN NORTH CAROLINA, THE 23D [23rd] OF OCTOBER, 1711, WITH REFERENCE TO MY MIRACULOS [MIRACULOUS] DELIVERANCE FROM THE SAVAGES:
</p>
<p>
Honored Sir:
</p>
<p>
Through the wonderful and gracious providence of the Most High, I have at last escaped out of the barbarous hands of the wild Tuscarora Nation, and have arrived at my little dwelling at New Bern; but yet half dead, because for two whole days I had to travel afoot, as fast as ever I could, out alone through the forests which lie towards Catechna, compelled to take up my quarters by a frightful wild ditch in which there was deep water, because the night overtook me and I could not go farther from weariness. How I passed this night can well be imagined, in no small fear of being caught by the savage or strange Indians, and of being torn to pieces by a number of bears which growled the whole night close about me. In addition I was very lame from walking, without a gun, yes, I did not have a knife with me with which to strike a fire, and because the north wind blew very hard it was a cold night. In the morning when I tried to arise my limbs were so stiff and swollen by the cold and hard lying that I could not go a step. But because it had to be I looked me up two sticks upon which I could walk, but with great difficulty and pain. I had enough to do to get myself over this water, which was full of snakes. I did it by climbing over on a long limb.
</p>
<p>
At last I reached home. When, I at a little distance from home, came within sight of a dwelling, fortified and full of people, I was
</p>
<p>
[Page 262]
</p>
<p>
somewhat comforted, because I thought that everything there had been burned out and destroyed by the Indians, as well as the houses of the other colonists; yes, also that I should find few of my people, because the terrible expedition of the savages was only too well known to me, when they burned, murdered, and plundered whatever they found along the rivers Pamtego, Neuse and Trent. When my good people got sight of me, black and looking like an Indian, and yet looking like myself as far as my size and blue coat were concerned, they did not know what to think. But thinking, all of them, that I was dead, they were firm in the opinion that it was, rather, an Indian spy who had put on my coat and wanted to spy out something there; and so the men folks put themselves into an attitude of defense. But when I came toward the house walking very lame on two sticks, they saw by my countenance and posture that I was no Indian or savage. Yet they did not recognize me till several came out in advance to look at me better. When I saw that they were in anxiety I began to speak from a distance, with a very broken voice, to be sure. This shocked them so that they retreated several paces, crying to the rest to come forward, that it was their master, whom they supposed murdered. So they all came running pell-mell, men, women, and children, with loud exclamations, some weeping, some completely dumb with amazement, saluting me as a marvelous spectacle. There was mourning, joy, and bewilderment mixed, and this went to my heart, so that it forced out abundant tears.
</p>
<p>
After I had stayed some time with these people who surrounded me, although I was very tired I finally went to my old quarters, closed my door, and made a hearty prayer of thanksgiving to the good God for such a merciful and wonderful rescue, which for these times, indeed, may pass for a miracle.
</p>
<p>
The next day I asked what had happened in my absence, but so many vexatious things came out that it makes my heart heavy. The worst was that, besides sixty or seventy Palatines who were murdered, the rest who could save themselves were plundered, and the survivors of these Palatines had left my house, in which were their own goods, and the little city. A certain William Brice, an unthankful man to whom I had shown much kindness, yes, whom the money and goods belonging to myself and the poor colonists had brought out of poverty, had drawn them away from me with all sorts of promises and cunning and had brought them to himself upon the Trent River, by means of whom, with some English Planters or inhabitants in addition, he had succeeded in getting together a garrison to defend his house. So I had to be satisfied with a number of women and children. In armed soldiery there were no more than forty. These all I had
</p>
<p>
[Page 263]
</p>
<p>
to support for twenty-two weeks. So all my grain, which luckily I had in store, my cattle great and small, were all gone. If we do not soon receive the necessaries, we shall have to starve to death or give up the post. Therefore, Honored sir, we urgently beg you to send as soon as possible and in all haste the needed provisions, military stores, and armed troops, in order that we may drive back these barbarian murderers, otherwise the evil will become greater, and it is to be feared that the whole land will be destroyed.
</p>
<p>
One cannot wonder enough, yes, it is provoking to see such coolness and so little love among the inhabitants of Albemarle County that with folded arms they can see how their nearest brothers are frightfully murdered by this barbarous nation. Indeed, they themselves need not expect a better fate. They ought to be ashamed of themselves and are worthy of a continuous rebuke. This is also no less to be wondered at, a policy so bad and wrong orders of those in authority, but I except your Excellency here in the best form, assured that you, Most Honorable Sir, had given all necessary commands and made all needful arrangements, but they were badly executed or not executed at all, which is a thing to be mourned.
</p>
<p>
Honored Sir, the above only as a report how I came home. But to free and justify myself it will be necessary for me to tell how I came into this barbarous nation.
</p>
<p>
Because of the fine and apparently settled weather, the Surveyor-General Lawson came to invite me to travel up the Neuse River, saying that there was a quantity of good wild grapes, that we could enjoy ourselves a little with them. But that was not enough to persuade me to go there. So the above mentioned Monsieur Lawson came again soon, pled better reasons, namely that we could at the same time see how far up the river was navigable; whether a shorter way might be made to Virginia, in place of the ordinary way which is long and difficult, and in like manner see what kind of land is up there. This, and how far it is to the mountains, I had been for a long time desirous to know and to have seen for myself. So at this I resolved upon a small journey and took everything that was necessary, including provisions for fourteen days. I asked Mr. Lawson in particular whether there was danger from the Indians, especially with those with whom we were not acquainted. He gave me for an answer that this was of no consequence, that he had already made the trip and it was entirely safe, that he knew of no wild Indians on this arm of the river, but that they were tolerably distant. But that we might go the more securely, I took besides two negroes to row, two neighboring Indians whom we knew, to whom I had shown much kindness. And since one understood the English language, I thought if we had these
</p>
<p>
[Page 264]
</p>
<p>
two Indians with us we should have nothing to fear from the others. and so we traveled right on up. It had not rained for a long time; the water was not deep; the stream or current of the water was not strong. The whole day we were upon the river; at night we spread our tent upon the land by the water and rested; in the morning we proceeded again.
</p>
<p>
May it please the Governor to learn that the above mentioned Surveyor-General Lawson urged me very much, for my horses, pleading that he wanted to ride a little into the forest when we were up above, in order to see where the way to Virginia could be most conveniently commenced. At first I did not wish to agree to it. But finally he begged for only one. This I granted him. The one Indian rode by land, but at one place he had to go over the river, which was our misfortune, for he went first to the Indians. I do not know whether he lost his way or did it treacherously. He came to the great Indian village Catechna, where he was immediately asked what the horse was doing, for the Indians use none. He answered that he had to drive the horse for us, while we traveled up the river. This immediately alarmed the Indians, especially the inhabitants of Catchena, so that they ran together from the whole neighborhood. They kept the horse and said to our Indian that he should go immediately to us and announce to us that they would not allow us to go further up through their country. At the command of the king who resides there we should come back, and so the signal that we should stand still was given by a shot which our Indian fired. This we did after we also had fired off our guns as a signal. It was already late when he came to us with the bad news. We were landing at the first spring to take up our quarters for the night. We met already two armed Indians there, who looked as though they were coming from hunting. Upon this I said it did not please me, that we would not remain there, but would go back. He, the Surveyor-General, laughed at me, but before we turned around it became serious so that his laughter disappeared. In a moment there came out of all the bushes and swimming through the river such a number of Indians and overpowered us that it was impossible to defend ourselves, unless we wanted to have ourselves wantonly shot dead or frightfully tortured. We were forthwith taken prisoners, plundered, and led away.
</p>
<p>
By this time we had gone three good days journey up the river, not far from another Indian village, called Zurutha.
</p>
<p>
The river is there still rather broad, but the water not more than two or three feet deep, and it is still far from the mountains.
</p>
<p>
We asked that they should leave us there this night, with a guard if they doubted us, giving as reason that I could not go so far afoot,
</p>
<p>
[Page 265]
</p>
<p>
that early in the morning we would go by water to the king at Catechna, promising that we would be there. But it was not to be done since I was such a rare and important capture; for they took me for the Governor of the whole province. Their barbarous pride swelled them up so that we were compelled to rim with them the whole night, through forests, bushes, and swamps, until the next morning about three o'clock when we came to Catechna where the king, Hancock by name, was sitting in all his glory upon a raised platform; although the Indians are accustomed at other times to sit upon the ground. After a consultation and a sharp speech by the leader or captain of our escort the king with his council left and came to us very politely with his chief warrior. But he could not speak with us. After a short time the king went into his cabin or hut; we remained by a fire guarded by seven or eight savages. Toward ten o'clock there came a savage here, another there out of his hut; council was held, and it was disputed vigorously whether we should be bound as criminals or not. It was decided no, because we had not been heard yet. Toward noon the king himself brought us some food in a lousy fur cap. This was a kind of bread made of Indian corn, called dumplins,55 and cold boiled venison. I ate of this, with repugnance indeed, because I was very hungry.
</p>
<p>
We had the liberty of walking about the village. Toward evening there was a great festival or assembly of all the neighboring villages. This was appointed for two reasons: first, they wanted to revenge themselves of the evil treatment of certain bad and surly English Carolinians who were of Pamtego, Neuse, and Trent Rivers; and second, to find out what help they might expect from their neighboring Indians.
</p>
<p>
N. B. Hereby it is to be observed that neither we nor our colony were the cause of this terrible slaughter and Indian war, as is to be seen and concluded from several circumstances.
</p>
<p>
In the evening there came hither from all the villages a great number of Indians with the neighboring kings, upon a fine, broad, open space, especially prepared for the festivities or executions. And there was appointed an assembly of the chiefs as they call them, consisting of the most prudent, sitting after their fashion in a ring around a great fire. King Hancock presided. There was a place left in the ring for us, where were two mats, that is to say pieces of wickerwork woven of small canes or reeds, laid down to sit on, which is a sign of great deference and honor. So we sat down, and our spokesman, the Indian that had come with us, who could speak English well, sat at our left. The king gave a sign to the orator of the assembly, who made a long speech with much gravity. And it
</p>
<p>
[Page 266]
</p>
<p>
was ordered that one of the youngest of the assembly should represent and defend the interests of the council or of the Indian nation. He, so far as I could discern, did it in due form. He sat right next to our interpreter and spokesman. The king always formed the question, and then it was debated pro et contra. Immediately after that came a consultation and decision.
</p>
<p>
The first question was, what was the cause of our journey? Our answer was, that we had come up there for our pleasure, to get grapes and at the same time to see if the river were convenient so that we could bring goods to them by water; to have good business and correspondence with them. So the king asked us why we had not paid our respects to him and communicated our project to him. After this there came into question a general complaint, that they, the Indians, had been very badly treated and detained by the inhabitants of the Pamtego, Neuse, and Trent Rivers, a thing which was not to be longer endured. And they named the authors of it in particular, and among others, the Surveyor-General was accused. He being present excused himself the best he could. After considerable disputing and after a deliberation which followed, it was decided that we should be set free, and the next day was appointed for our journey home.
</p>
<p>
The next day there was a considerable delay before we could get our canoe or small boat. Meantime there came some of their chiefs and two kings who were curious to know what grounds of justification we had. And so we were examined again in King Hancock's but two miles from the village, and gave the same answer. Unfortunately the king of Cartuca was there, who reproached Lawson with something, so that they got into a quarrel on both sides and became rather angry. This spoiled everything for us.
</p>
<p>
However much I tried to keep Lawson from disputing, I could not succeed at all. The examination finally ended, we all rose up, we two walked together and I reproached him very strongly for his unguardedness in such a critical condition. Immediately thereafter there came suddenly three or four of the chiefs very angrily, seized us roughly by the arms, led us back and forcibly set us down in the old place. There were no mats laid for us, they took our hats and wigs away from us and threw them into the fire. After that some malicious young fellows came and plundered us the second time, searching our pockets, which they had not done before when they confined themselves to the larger things.
</p>
<p>
Hereupon a council of war was held and we were both condemned to death, without knowing the cause of it. And so we remained the whole night, sitting in the same position upon the ground till morning. At the break of day we were taken away from there and again
</p>
<p>
[Page 267]
</p>
<p>
led to the great judgment and assembling place, a bad omen for us, and I turned toward Mr. Lawson bitterly upbraiding him, saying that his lack of foresight was the cause of our ruin; that it was all over with us; that there was nothing better to do than to make peace with God and prepare ourselves betimes for death; which I did with the greatest devotion.
</p>
<p>
When we arrived at the place mentioned, the great council was already together. By chance I saw an Indian dressed like a Christian before we were called into the ring. He could speak English. I asked him if he could not tell us what was the cause of our condemnation. He answered me with a very disagreeable face, why had Lawson quarreled with Core Tom and why had we threatened that we would get revenge on the Indians? At that I took the Indian aside, promising everything I could if he would listen to me and afterward tell of my innocence to some of the chiefs. I had enough to do to persuade him to do it. Finally he paid attention to me. And so I told him I was sorry that Monsieur Lawson was so imprudent as to quarrel with Core Tom; that the councilors could themselves see very well that I was not to blame for that; and about the threatening, there was not the least thought of that, it was a misunderstanding or else Monsieur Lawson complaining at my negroes for disturbing his rest the first night. At this I threatened the negroes sharply because of their impudence, and this was all. After the Indian had heard me he left me, I repeating my promises to him.
</p>
<p>
Whether he spoke very much in my favor I do not know, but a quarter of an hour after the old chief came, led us out upon the place of judgment and bound us there hand and foot, and the larger of my two negroes as well. And there began our sad tragedy which I would like to relate with your leave, if it would not be too long and sad. Yet since I have begun I will continue.
</p>
<p>
In the middle of this great space we sat bound side by side, sitting upon the ground, the Surveyor-General and I, coats off and bare headed; behind me the larger of my negroes; before us was a great fire and around about the fire the conjurer, that is, an old gray Indian, a priest among them, who is commonly a magician, yes, even conjures up the devil himself. He made two rings either of meal or very white sand, I do not know which. Right before our feet lay a wolf skin. A little farther in front stood an Indian in the most dignified and terrible posture that can be imagined. He did not leave the place. Ax in hand, he looked to be the executioner. Farther away, before us and beyond the fire, was a numerous Indian rabble, young fellows, women, and children. These all danced in the most abominable postures. In the middle was the priest or conjurer, who,
</p>
<p>
[Page 268]
</p>
<p>
whenever there was a pause in the dance, made his conjurations and threats. About the dance or ring at each of the four corners stood a sort of officer with a gun. They beat time with their feet and urged on the other dancers and when a dance was over shot off their guns. Besides this, in a corner of the ring, were two Indians sitting on the ground, who beat upon a little drum and sang, and sang so strangely to it, in such a melody, that it would provoke anger and sadness rather than joy. Yes, the Indians themselves, when tired of dancing, would all run suddenly away into a forest with frightful cries and howling, but would soon come back out of the forest with faces striped black, white, and red. Part of them, besides this, would have their hair hanging loose, full of feathers, down, and some in the skins of all sorts of animals: In short in such monsterous shapes that they looked more like a troop of devils than like other creatures; if one represents the devil in the most terrible shape that can be thought of, running and dancing out of the forest. They arranged themselves in the old places and danced about the fire. Meanwhile there were two rows of armed Indians behind us as a guard, who never left their post until all was over: Back of this watch was the council of war sitting in a ring on the ground very busy in consultation.
</p>
<p>
Toward evening when the sun went down, the rabble above mentioned left off dancing and went into the woods to fetch wood to maintain the fires in different places; but especially they made one at some distance in the forest which lasted the whole night and was so great that I thought the whole forest was afire.
</p>
<p>
Let the Governor consider what a mournful and terrifying sight that was for me to die, yet I had my mind made up for it. I was, thus, the whole day and night in ardent devotion. Oh what thoughts I had! Everything that happened to me so far back as I could remember occurred to me. I applied and made use of everything that I had read from the scriptures and the Psalms and other good books. In short, I prepared myself as well as I could for a good and blessed end; yes, the merciful God gave me so much grace that fearlessly, calmly, I waited what my end might be. After the anguish of soul I had endured, worse than the fear of death, nevertheless there remained in me I hardly know what kind of hope, despite the fact that I saw no sign of any rescue. Although, as I said before, my sins hovered before me, still I afterwards found great consolation in considering the miracles which the Lord Jesus did in His times on the earth. This awakened such a confidence in me, that upon this I made my ardent prayer to my Saviour, in the strong confidence that my prayer was heard, and that these savage minds and stony barbarian hearts would perhaps turn, so that at my pleading and explanation they would
</p>
<p>
[Page 269]
</p>
<p>
change their minds and be led and moved to mercy; which also happened through God's wonderful providence. For as the sun was going down the council assembled once more, without doubt, to make an end of this fatal, terrible, and sad ceremony. I turned myself somewhat around, although bound, knowing that one of them understood the English language rather well, and made a short speech, telling my innocence, and how if they did not spare me the great and mighty Queen of England would avenge my blood, because I had brought the colony to this land at her command, not to do them any harm but to live on good terms with them; and what else seemed to me good to say to engage them to kindness; with the offer of my services and all sorts of favors if I were liberated.
</p>
<p>
Now after I had finished talking, I noticed that one of the leading Indians, who before this seemed entirely inclined to me, the one, indeed, who had once brought me food, and who belonged to King Taylor, from whom I had purchased the land where New Bern now stands, was amazed and spoke very earnestly; I had no doubt in my favor; which turned out to be the case, for it was hereupon decided to send some of their members immediately to the neighboring Tuscarora villages; and with them the result was that I should have my life, but the poor Surveyor General would be executed. I passed the night between life and death, bound all the time in the same place, in continual prayer and sighs. I examined my poor negro and spoke as well as I could to him, and he gave me more satisfaction than I hoped. But Surveyor General Lawson, being a man of understanding though not of good life, I allowed to do his own devotions. In the morning about three or four o'clock the deputies came back from their mission bringing the decision regarding their errand, but very secretly. One of them came after a while to loose me from my bonds. Not knowing what that might mean, I submitted patiently to the will of the Lord, the Most High, arose and followed. Oh how dumb-founded I was, when, some paces from the old place, the Indian said to me in my ear, in broken English, that I should not fear, they would not kill me, but they would kill General Lawson. This went to my heart.
</p>
<p>
About twenty paces from the place where I was bound the Indian brought me to the cabin or hut and gave me food to eat, but I had no appetite. Soon there came a great number of the Indian rabble about me, who all evidenced great joy at my deliverance. The very same man brought me again to the clear space, but a little further in advance, where the whole council sat, and they congratulated me in their way and smiled. Meantime I was forbidden to say the least thing to Monsieur Lawson, not even to speak a single word to him.
</p>
<p>
[Page 270]
</p>
<p>
They let my negro loose also, but I never saw him again. Poor Lawson remaining in the same place could easily guess that it was all over and no mercy for him. He took his leave of me striving to see me in his danger; and I, not daring to speak with him or give him the least consolation, indicated my sympathy by some signs which I gave him.
</p>
<p>
A little while after this, the man who had spoken for me in the council led me to his hut, where I was to remain quietly until further orders, and in this interval the unfortunate Lawson was executed; with what sort of death I really do not know. To be sure I had heard before from several savages that the threat had been made that he was to have his throat cut with a razor which was found in his sack. The smaller negro, who was left alive, also testified to this; but some say he was hanged; others that he was burned. The savages keep it very secret how he was killed. May God have pity on his soul.
</p>
<p>
The day after the execution of Surveyor General Lawson the chief men of the village came to me with the report that they had it in mind to make war on North Carolina. Especially did they wish to surprise the people of Pamtego, Neuse, and Trent Rivers, and Core Sound. So that for good reasons they could not let me go until they were through with this expedition. What was I to do? I had to have patience, for none of my reasons helped. A hard thing about it was that I had to hear such sad news and yet could not help nor let these poor people know the least thing of it. It is true, they promised that Caduca, which is the old name of the little city of New Bern, should receive no harm; but the people of the colony should come down into the little city, otherwise they could not promise much for the damage. These were good words, but how was I to let the poor people know? Since no savage would take the warning to them, I had to leave this also to the Most High. There were about five hundred fighting men collected together, partly Tuscaroras, although the principal villages of this nation were not involved with them. The other Indians, the Marmuskits, those of Bay River, Weetock, Pamtego, Neuse, and Core began this massacring and plundering at the same time. Divided into small platoons these barbarians plundered and massacred the poor people at Pamtego, Neuse, and Trent. A few days after, these murderers came back loaded with their booty. Oh what a sad sight to see this and the poor women and children captives. My heart almost broke. To be sure I could speak with them, but very guardedly. The first came from Pamtego, the others from Neuse and Trent. The very same Indian with whom I lodged brought a young boy with him, one of my tenants, and many garments and house utensils that I
</p>
<p>
[Page 271]
</p>
<p>
recognized. Oh how it went through my heart like a knife thrust, in the fear that my colony was all gone, and especially when I asked the little fellow what had happened and taken place. Weeping bitterly, he told me that his father, mother, brother, yes, the whole family had been massacred by the very same Indian above mentioned. With all this I dared not act in any way as though I felt it. For about six weeks I had to remain a prisoner in this disagreeable place, Catechna, before I could go home. In what danger, terror, disgrace, and vexation is easily to be thought.
</p>
<p>
All sorts of things happened in this time. Once I was in great perplexity. The men folks were all on this massacring expedition, the women all somewhat distant to get cherries, others to dig sweet potatoes, a species of yellow roots, very good and pleasant. And so I found myself entirely alone that same day in the village. A struggle arose in me whether I should get away from there and go home or not. I studied long over it, considered it best to call upon my God for help in this doubt, so that he would put it into my mind what I should do in such a critical circumstance. After I had made my prayer, examined and treated the matter pro et contra, I finally considered the better way would be to stay; comforting myself with this that He who had saved me from the first extreme peril would still help me further. Again, if any Indian met or saw me I should be a dead man, for there would be no hope of mercy. In addition they would be so embittered that before I could get home, since I did not know the way, everything would be plundered, burned, and murdered. Experience proved afterwards that I chose the better way.
</p>
<p>
After these heathens had made their barbarous expedition they came home and rested for a time. Then I watched the opportunity and when I found the chiefs of the village in good humor I asked whether I might not soon go home. To bring them to a favorable disposition I proposed to make a separate peace with them, promised at the same time each chief of the ten villages a cloth coat, something in addition for my ransom; to the king, two flasks of powder, five hundred bullets, two bottles of rum, a brandy made of sugar. But the Indians wanted to have much more, such as guns, more powder, and lead or bullets; but I told them this was contraband, that is, ware which was forbidden to offer for sale under penalty of hanging; that I would, at least, have to be neutral and help neither one side nor the other: Otherwise there would nothing come of our peace. They accepted these and other reasons, and so we made an agreement as your Highness will see in the enclosed articles of the treaty.
</p>
<p>
But although we made our treaty, still these suspicious fellows did not want to let me go without more secure and certain guarantee.
</p>
<p>
[Page 272]
</p>
<p>
They wanted that I should send my smaller negro to New Bern, so that everything that I had promised should be brought up to Catechna; but yet not a savage would go with him although I wanted to give him a passport or safe conduct. I told him that none of my people who survived would come back with him, because they were so frightened at the robberies and murders, and my negro could not come alone against the current with a loaded boat. Since we could not come to an agreement, I referred it to the Indian with whom I lodged, who gave a sensible decision about our strife so that we were satisfied on both sides.
</p>
<p>
On the very day that I wanted to send the negro to New Bern with a letter to the man who had charge of my house that he should send the above mentioned goods half way, for the security of both sides, strange Indians came on horseback from the Governor of Virginia with a letter as enclosed copy will show. Nobody besides myself could read the letter. The letter was very sharp. I did not know what it contained. Finally I thought the messenger might know the contents of it, so I read the letter to the chiefs of the villages. When I had finished reading the letter I observed something in their faces which showed that it was not acceptable to them, that on receipt of the letter they should send me immediately to my home, failing which, if the least injury came to me, he, the Governor, was prepared to avenge me, yes, to exterminate every one and spare neither women or children. Upon this they had a council, and it was decided to let me go to the village among the Tuscaroras where the Indian trader from Virginia was, who before, at the very time that Monsieur Lawson was executed, was staying in the same village; and on his, the Governor's return, had told him our sad adventure. Upon which this generous Governor Spotswood had immediately sent this Virginia trader, who dealt with the Indians and understood and spoke their language very well, with the above letter to the Tuscaroras. But he, the Governor, was waiting in the first Indian village called Natoway, with a strong escort, with orders to the neighboring militia to hold itself in readiness to act at once if the desired word did not come.
</p>
<p>
So the next morning early, I set out on horseback with the Indian messengers; and many of the chief Indians of Catechna came with me towards the principal village called Tasky. They marched as swiftly as I on horseback, and in the evening between day and night, we arrived at the place where the Virginia merchant was also staying. This village was fortified with palisades, and the houses or cabins were very artfully made of withes, mere pieces of bark, placed around in a circle or ring, so that a great fire was placed in the center. The council which consisted of the chiefs of the Tuscarora Nation was
</p>
<p>
[Page 273]
</p>
<p>
sitting around on the ground. There was a place left for me and a place for the Indian trader above and the Indians who came with me. After I had greeted this gentleman we sat down. In all this I had a secret joy, having the hope of going to Natoway to the Governor of Virginia, who was waiting for me; and so at length of being free from this savage captivity. But unfortunately it did not succeed. The orator of the assembly began a long speech and asked the four Indians who came with me what was the cause of my detention and my crime. After a hearing I was found and declared innocent, and it was decided to comply with the desires of the Governor of Virginia, when it was represented to them what danger would arise from a refusal.
</p>
<p>
The Virginia trader, as interpreter, spoke what he could in my favor; the four Indians of Catechna would not agree to that for fear that the ransom would not follow although the Virginia trader promised them surety for it; they pretending that they dare not do it without the consent of the other kings and chiefs, yet promising to let me loose as soon as the king and council should be together; but they wanted to keep my negro as security until the ransom should be paid.
</p>
<p>
The next day my hopes were entirely frustrated. I took my leave of the Virginia trader, who was much vexed at the unfriendly manner of these savages. So I marched back again very sadly. When we had gone three or four miles and were near Hancock Town or Catechna, we heard a great outcry and yelling around in that direction, and here some and yonder other savages came out of the bushes. This inspired fear in me, and not without cause; especially when they came right up to me, all out of breath and frightened, saying that the English and the Palatines were close by. In particular they signified the Palatines with a disagreeable expression, mocking the Palatines by the repetition of ja, ja, to signify that even some of my own people were seen there. In order to have me take a roundabout way they made me go through a desolate ravine. When from a distance I saw a fire time began to hang heavy on my hands, fearing they wished to murder me in secret. I studied how to persuade them that the Palatines had not joined with the English at all; that these words ja, ja, were not German but a rough English word, aye, aye, which is otherwise a good English word meaning yes, that is, ja. I kept them in this opinion as well as I could. When we came to the place where the fire was I saw with perturbation the whole rabble of Catechna where I was captured, together with their household goods and a little food, in a fine corn field where every Indian had placed his own family in the midst of a swamp, that is, in a wild place, a portion of forest in the morass, and water on one side and the other
</p>
<p>
[Page 274]
</p>
<p>
it is next to the river. 57 All, that is to say, the old decrepit men, women, children, and young men under age were there, very much frightened. In order to make myself acceptable to them, and for my part to keep them in security, I did not fail to give them every comfort; assuring them, that as long as I was with them, nothing evil would happen to them. I represented to the warriors who came to encourage the throng, that they ought to have let me go before, and with their warriors; that I would treat with the English and persuade them to peace. They would not let me go however.
</p>
<p>
The day following, all the Indians round about to the number of three hundred brave fellows came together, joined themselves together with the others, and went to look for the Christians who were no more than sixty in number, and who were only four miles, that is, about three quarters of an hour distant from our village. But the Palatines who did not know how to fight with the Indians any other way than merely to show themselves, were mostly wounded and one Englishman was shot to death. Since they were overpowered by the Indians they turned their backs and hurried home. The Indians pursued them but did no great damage except for what they got in the way of booty. So the savages came back two days afterwards to Catechna with horses, food, hats, boots, also some coats. When I saw all this, especially a neat pair of boots with silver trimmings belonging to me, I was much dismayed and greatly feared that they had plundered my house and store, but there was no damage done. Why my things were among them is this. My people used the things of which they had need for this expedition.
</p>
<p>
So these wild warriors or murderers who were in great glory came in triumph home; and we also went out of our place of concealment in the evening, and traveled the whole night through, back again to our old quarters in Catechna. They made great fires of rejoicing, especially in the place of execution, on which occasion they hung up three wolf hides, representing as many protectors or gods. At the same time the women made offering of their ornaments, such as necklaces of wampum, which is a kind of coral of calcined mussels, white, brown, and gold colored.
</p>
<p>
In the midst of the ring was a conjurer acting as their priest, who made all sorts of strange motions and adjurations; and the rest danced in a ring about the fire and the above mentioned skins.
</p>
<p>
After the Indian celebration was over I began to become impatient, asked certain of the chiefs whether now they would not let me go home, because they were victorious and possibly all of my people had been slain. One of the troop answered laughing, that they would see what to do, and he called the king and his council.
</p>
<p>
[Page 275]
</p>
<p>
Two days after, early in the morning, they brought me a horse. Two of the chiefs accompanied me, armed, but afoot, until about two hours distant from Catechna. There they gave me a piece of Indian bread and left me. Because I saw a long way before me I begged them to leave me the horse, saying that I would send it back without fail, or they should go somewhat nearer to my quarters with me. But I could not prevail upon them. They remained at the place where I left them and made a big fire, to signify to me that there were strange Indians in the woods, and I should hasten and walk swiftly; yes, for two hours run as fast as ever I could, which I also did, until night overtook me and I came to my frightful, desolate ravine, over which I could not go in the dark on account of deep water; but on the contrary I had to stay over night there until morning. The rest of the journey I have already told to the Governor.
</p>
<p>
Some notes of what I observed among the Indians and during my Tuscarora captivity, merely as they come to my mind, without especial arrangement; which are to be found designated with a, b, c.
</p>
<p>
Certain jealous and indiscreet inhabitants of Carolina have asserted that I or my colony was the cause of this Indian war and massacre. To my justification I could, indeed, present many reasons; but for this reason will not trouble myself much, because my innocence is sufficiently known; yet I cannot refrain from adducing here the following proofs:
</p>
<p>
(1) If I were the cause why did not the Indians execute me as well as Lawson ?
</p>
<p>
(2) I paid for the land or piece of ground which the savages called Cartouca, three times. To the Lords Proprietors, to the SurveyorGeneral, and to the Indian King Taylor. This Indian King lived with his people in that place where my house now stands and the little city of New Bern was begun; with which Indians, I and my people lived on friendly terms. For the rest of the land I had also paid whatever was demanded of me.
</p>
<p>
(3) There was no complaint against me or the colony; witness which the great assembly of the Tuscaroras where this had come into question in the presence of the Virginia trader, and there the authors of these troubles were indicated by name. But out of Christian love I will not name them. Both the Governor of Virginia and of Carolina are herewith informed of it.
</p>
<p>
I have seen many notable assemblies, have myself been present at some; but I have wondered at the gravity and good order of these heathen, their silence, obedience, respect towards those in authority; no contradiction except by turn, and that only once and with great decency. One could not in the least observe any passion, and there
</p>
<p>
[Page 276]
</p>
<p>
was time enough given for reply. In fine everything was done with a propriety which would bring conviction and put many Christian magistrates to shame. The trial was conducted also in as orderly a manner as could ever be with Christian judges, and I have heard such sensible reasons given by these savages and heathens that I was amazed.
</p>
<p>
There were seven villages of the Tuscarora Nation, which very much wanted to pretend that they had nothing to do with this Indian war and massacre, and for this reason had no understanding with the other Indians. These were somewhat farther distant, more beyond Virginia, and are loyal yet, keeping their loyalty on the account of trade. These seven towns or villages hold the others in this region in certain bounds and submission. This Tom Blount is a king or leader of a considerable number of wild Indians, has very good understanding, is very well inclined towards the English nation, and contributed not a little to a good peace; yes, when it was argued with regard to me, spoke as best he could for my rescue.
</p>
<p>
I can here also not forget the generosity and sympathy of a good widow, who, immediately at my arrival and during my captivity, always brought me food, so that there was never any lack of food with me. But the most remarkable thing was, as soon as she had seen that when I was bound young fellows plundered me (among other things, my silver rings were taken from my shoes and these were held on by a small cord only), she took some of her pretty brass buckles through which she had drawn her hair bands on her forehead and fastened them upon my shoes, and had no rest until she discovered what Indian had taken my buckles, and had traded with him and gotten them. She came running back full of joy and put the silver buckles on my shoes. This was indeed a great kindness from a savage, enough to bring conviction to many Christians. I must say here to the shame of Christians, that all in all, the Indians are much more generous. I have observed many good things from them, such as - they do not swear, keep their word exactly whatever they promise, do not quickly quarrel in their games, are not so avaricious, there is not so much haughtiness; among their young people also, I have not noticed anything improper; Altho they are almost naked they act more decently than many Christians. The bad thing about them is that their rage is furious.
</p>
<p>
It is here to be observed that when these barbarous murderers come home, their wives know before hand through messengers. They prepare themselves for a feast in the night. Each household prepares the best food, after their fashion, brings the same out upon the great execution place where they also hold their dances. Each family makes
</p>
<p>
[Page 277]
</p>
<p>
a small scaffold, before which is a fire. These scaffolds are roundabout, and in the middle of the great space is a big fire, beside which the priest stands. The women took off all their ornaments, which consisted of pendents of wampum and glass corals; then they took white wands or rather thick whips as an offering into the midst of the ring where there were also stuck up three deer skins as a sort of an idol which they honored. The Queen, or in her absence, the first after her, began; the rest, the one after the other, followed singing. When the ring was full they danced about the fire and the three hides till they were tired, and then each went to her place or scaffold to eat with her husband. When they were through they took white wands with black rings about them and went through the same ceremony as before; took the first little sticks or whips adorned with the corals, stuck the ringed ones in their place, and so turned again to their places. In the meantime the priest did his office, cursing the enemy in the most horrible motions, on the other hand exalting his warriors and urging them on to further bravery. After this the young people took the green limbs covered with foliage, colored their faces with black, white, and red; let their hair hang loose covered with goose down, so that they looked terrible, more like devils than men, and ran to the great open space with a terrible outcry, and danced as described above.
</p>
<p>
Here is to be observed, that when the above mentioned savage warriors or rather murderers came in with their booty and prisoners, the priest and the leading women seized the poor prisoners, compelled them to go into the dance, and if they did not wish to dance they caught them under the arms and dragged them up and down, as a sign that these Christians were now dancing to their music and were subject to them.
</p>
<p>
And so these heathenish ceremonies may be considered a sort of sacred litany or divine worship. In the morning I observed at times that they sang a serious little song instead of a prayer; and when they are in great danger, the same.
</p>
<p>
At New Bern where I settled and started the little city, I observed another custom among the Indians who lived there before, which was somewhat nearer the Christian worship. There they had constructed a sort of altar, very cleverly and artistically, out of woven twigs and having an. arched dome. In one place there was an opening as though made for a little door, through which they laid the offering inside. In the middle of this heathen chapel were little holes in which they hung corals and also offered wampum. Towards sunrise there was set up a wooden image tolerably well carved, the figure as herewith sketched, half red, half white, before which was stuck up
</p>
<p>
[Page 278]
</p>
<p>
a long staff upon which was a crown. The staff had rings around it, red and white. Toward the north or rather towards the west, there was placed opposite to it another image with an ugly face, colored black and red. They represented thus by the first image a good divinity, and by the other the devil, with whom they are better acquainted.
</p>
<p>
I cannot omit to tell here what happened to one of my tenants, a sturdy, droll man. When he was coming past, observing these two images, he immediately made a distinction between the one which represented the good God and the other which represented the bad; and because this one was colored with black and red, which were the very colors of the Canton of Bern, he was so embittered at it that he cut the ugly image in two with his ax. Then when he came home again he boasted of it as a brave deed, as though he had split the devil in two at one blow. This in the beginning provoked a small laughter; but yet I did not approve of the deed. Soon after there came an Indian king very angry, taking this for a sacrilege and a great affront, and complaining bitterly. I treated it indeed as a joke, saying that only a bad idol was injured and destroyed, that it was of no great harm, but if it had been the good one, I would inflict severe punishment; but I would thenceforth take such measures that such vexations should not happen to them any more. Although the Indian king saw that I made a joke of the matter it did not please him, but he became serious. So I gave evidence to him in earnest that this man's action also did not please me entirely; and if he could point out the man who did it, he should be punished for it. I gave the king and those who were with him rum to drink, which is a kind of brandy made of distilled sugar waste, in those parts very common and healthful if one drinks it with moderation. In addition I was very friendly with them, so that they went from me well contented and satisfied.
</p>
<p>
In their burials they make more ceremony than in their weddings or marriages. And I have observed something strange at the burial of a deceased widow. I will not expand much on it here because there are many printed accounts of the life and customs of the Indians; only in passing, what I found most strange.
</p>
<p>
And principally; when an Indian is sick or dying their priests come into the house, go all through all sorts of figures and antics, make all sorts of conjurations and give to the sick also all sorts of medicines. If that does not help they blow their breath into the mouth of the sick with a frightful roaring, and I do not know what all conjurations. If the sick one arises there is an indescribable rejoicing, but if he dies a sad howling enough to frighten one.
</p>
<p>
[Page 279]
</p>
<p>
They make their graves with great care, and arch them over with bark. When the deceased is carried to the grave two priests stand there and lament and make a funeral sermon after their fashion. If there is anything to be gained thy extol the deeds of the departed or comfort his relatives and make, I do not know what all strange conjurations. In short there is much action and chattering so that I have seen the priest or conjurer all in a sweat, but this happens if a good present is to be expected. When this is all over the heirs give to the priest pendants of wampum or made of calcined mussels. These are little things like corals, as has been mentioned above, white, purple, yellow; and this is their pay. N. B. The Indians are accustomed to make out of these things trousers and necklaces, and they know how to knit and to weave them so skillfully and ingeniously through one another, with all sorts of figures, that it is to be wondered at.
</p>
<p>
When it was done and the grave covered over, in my time something marvellous took place which I myself saw. A pretty fire or flame of about two candle light size went straight up into the air, as high probably, as the longest and tallest tree, traveled again in a straight line over the but of the deceased and so farther over a great heath, probably half an hour long until it disappeared in a forest.
</p>
<p>
When I saw this and evidenced my astonishment, the savages laughed at me, as though I ought to know that this was nothing new to them, but did not want to say what it was. After this I ask several about it. No one could say positively, but they set much store by it and it is considered an especially good sign for the deceased. An artificial fire it cannot be because of the duration and great distance it traveled. Physically it might be considered a sulphurous vapor out of the earth; but this long regularity is too much for me.
</p>
<p>
Once when I was at Governor Hyde's in the presence of the council and many others while we were busied with the Indians about the peace, I took notice of an old Indian who looked to me like a conjurer or priest. So I asked him what that was which I have just related to have seen. Among twenty-five Indians that were there only this old one besides one other could give me an account of it. But it seemed to me like a fable.
</p>
<p>
They said that only great men, old experienced priests, could see and do such things. When I questioned them further, they gave me for an answer that this little fire is the soul of the departed, which goes into another good creature, if the person has lived well and behaved himself; if he has not behaved well it goes into a villainous smoke and into an ugly and miserable creature. The priests come to their art in the following manner; namely, it happens that a subtile little fire or flame shoots from one tree into another, but very sel-
</p>
<p>
[Page 280]
</p>
<p>
dom; and when an Indian sees that he must run as fast as possible to catch it, and if he catches it, it goes right on and becomes a small wood spider which jumps and runs so quickly in and over his hand that it has to be seized quickly by the other hand. But if he finally catches it, this spider grows and becomes like a mouse; and so who ever catches this wonderful thing afterwards becomes the best conjurer or magician and can do all sorts of wonders. N. B. These artists or conjurers as they are called in English, have the faculty of invoking the devil and sending him away again.
</p>
<p>
A ship captain has asserted to me that he once carried several Indians in his boat or small ship and in the Carolina Sound there came such a calm that they could get nowhere. One among the Indians said that probably he could procure a good wind, and was willing to do it. The steersman who did not have much provisions with him and wished very much to advance farther, left it to the Indian. Soon after this there came such a strong wind that he became frightened and would gladly have had less wind, but he had to go through with it, and so they came in a very short time to the desired place. But the above mentioned captain assured me that he received such a great fright on this account that as long as he lived he would no more use such help.
</p>
<p>
Whoever will may believe this and the above. It is certain that Satan practices many delusions with these poor creatures; yet. if such things seem incredible, I would not have made bold to tell such fabulous things here if it had not gone about and been talked of in such eminent company.
</p>
<p>
I have heard and observed many more such things among the Indians. But because so many authors have written about them that my remarks would only pass for repetition I will not relate more, except to say concerning the cruel and barbarous manner of the Indians, that they are indeed furious when one angers them; but if one leaves them in peace, does them no harm, and treats them according to their ways in a friendly and goodhearted manner, they will seldom injure a Christian, except if given cause for it. They have occasionally been treated cruelly and badly by the Christians. I have spoken to many of the Indians about their cruelty, but a sensible king answered me and gave a nice example of a snake. If one leaves it in its coil untouched, quiet, and uninjured, it will do no creature harm; but if one disturbs and wounds it, it will bite and wound. And the Spaniards had used their forefathers too cruelly, yes, very inhumanly. Concerning their, the Indians' massacres and fighting treacherously: They had to use their advantage or else they could not hold their own; they were not so strong in numbers, and were
</p>
<p>
[Page 281]
</p>
<p>
not provided with pieces, muskets, swords, and all sorts of other treacherous inventions made with powder to destroy men; likewise they had neither powder nor lead or else they got them from the Christians themselves; so that our ways were much more treacherous, false, and harmful; otherwise, we would not use them so cruelly. Moreover we practiced among ourselves the greatest tyranny and cruelty. Indeed I have experienced this myself.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>Christoph von Graffenried's Account of the Founding of New Bern</em>. Ed. Vincent H. Todd. Raleigh, NC: North Carolina Historical Commission, 1920. 219-320.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F264. N5 G72</td>
  </tr>
</table>
