---
layout: ecu
title:  "Contract"
order: 13
---

{% include breadcrumbs.html %}

<h3>Christoph von Graffenried, "Relation of my American Project", <em>Von Graffenried's Account of the Founding of New Bern</em>, circa 1714</h3>

<p>
  Christoph von Graffenried is recognized as the founder of New Bern, North Carolina. He led a group of settlers from Switzerland and Germany to the region in 1710. The following is his story of the events that took place during his brief stay in Carolina.
</p>
<p>
  <a href="graffadd.html">Read More about Christoph von Graffenried</a>
</p>
<div class="well">
  <label>Text from Book</label><br/>

  <p>
[Page 292]
</p>
<p>
BUSINESS CONTRACT.
</p>
<p>
May our help and beginning be in the might of the Lord who created Heaven and earth. Amen.
</p>
<p>
Know herewith that between the hereafter subscribed gentlemen and friends, Mr. Frantz Ludwig Michel and Christoph von Graffenried on the one part, and Mr. Georg Ritter and Mr. Peter Isot in their own and Mr. Albrecht von Graffenried's, Mr. Johann Anthoni Jarsing's, Mr. Samuel Hopf's and Mr. Emanuel Kilchberger's names on
</p>
<p>
[Page 293]
</p>
<p>
the other part, there has been made and concluded with another present, true, and bona fide society, a contract consisting of the following points.
</p>
<p>
1. There shall serve as the foundation the one hundred seventeen thousand five hundred acres of land lying in North Carolina, between the Neuse River and Cape Fear, which in the name of this society have been purchased from the Proprietors of Carolina according to the patents obtained for that purpose, with all the privileges and rights thereto pertaining, whatever name they may have, and with all those that shall or can be obtained in the future. And there also belong to this the twelve hundred and fifty acres of land which were purchased from Mr. Lawson, situated in the angle, between the Rivers Neuse and Trent.
</p>
<p>
2. There is also placed as foundations the concession in Virginia obtained from the Queen of Great Britain; also whatever further liberties, rights, mines, or other concessions, whatever name they may bear, which shall be obtained from the same queen or her successors, so that all shall be for the good of this society.
</p>
<p>
3. We under the blessing of God shall constitute the board of directors.
</p>
<p>
4. Mr. Frantz L. Michel promises that of all minerals which he has already found and shall yet find, he will put in all the portion coming to him therefrom to the good of the society.
</p>
<p>
5. This society shall be conducted under the name, Georg Ritter and Company. All the papers, writings, letters, and obligations shall be signed by this name; and the Society shall have its own seal; also no member, except the one or the ones whom the Society shall empower so to do, shall have power to sign or to seal any document or writing in the name of the society.
</p>
<p>
6. The capital of this society shall consist of seven thousand two hundred pounds sterling which shall be employed for the payment of the above described lands, to the support of the Palatine and Swiss colonies already sent there and those following after, and also for the conduct of proposed trade and mining operations.
</p>
<p>
7. To the formation of this capital there are set twenty-four shares, each at three hundred pounds sterling, which shall be made over to the gentleman here at London appointed therefor, who shall also send a receipt for it, and credit shall also be given him in the books.
</p>
<p>
8. No one shall be able to possess more than one share for himself, but two or at most three can combine for one share; but if, after the lapse of three years, these twenty-four shares are not complete, it shall be free to those who already have a share to take another.
</p>
<p>
[Page 294]
</p>
<p>
9. In the transaction of matters of importance which may occur, such as the election of a director, one or more deputies to the Royal Court, to negotiate with the Lords Proprietors or elsewhere, at the nomination of the society's salaried servants and officers, as also the acceptance of one or more new associates, the building and the purchasing of the ships useful for trade, and the opening of mines, everything shall be done and election made according to the majority of votes, with this in explanation, that where there are more than one to a whole share they shall count as one vote only and also, no one who has not a whole share shall be elected director.
</p>
<p>
10. It is free to each to go to Carolina or Virginia, or to remain in his Fatherland; and then his deputy shall enjoy similar privileges in his stead, except that he cannot be elected director.
</p>
<p>
11. It is free to everyone to sell his share to another, to trade it off or to give it away, to use and control it just as his other goods and property; and if he dies intestate the same shall fall to his nearest heir, just as his other goods. But the Society reserves to itself, at the sale of it, to have the preference, and ordains that it shall not fall into mortmain and be sold or given to Papists.
</p>
<p>
12. To every participant there shall be designated a piece of land in an acceptable place at the building up of the city, as well as a free estate of five hundred acres in Virginia; but as much as he shall desire shall be free from interest and tithes, with the exception of what is due to the Lords Proprietors.
</p>
<p>
13. Mr. Michel reserves this to himself, because he contributes the mines in Pennsylvania to the good of the Society, that the first three years, when these mines shall be open and begin to produce the profits, shall come to him in advance. In the fourth year Mr. Ritter and Mr. von Graffenried, since they have more of the expenses, shall take out according to the amount of their shares contributed before the beginning of this same mine. What is left (for that year), as well as the whole profits on the other portion belonging to the Society, shall go to the Society for the remaining seventeen years. He hereby promises, with good success of the above-mentioned mine, to repay Mr. Ritter's principal from these first years of the Society.
</p>
<p>
14. So there is put to the credit of Mr. Michel, for his labor and for the mine contributed to the benefit of the company, an entire share; but he shall, as soon as possible, pay back all that the Society todate has advanced and may still advance.
</p>
<p>
15. Mr. Christoph von Graffenried's money laid out for five thousand acres of land in Carolina, as well as the expenses incurred through the Palatines and others, according to the enclosed specifi-
</p>
<p>
[Page 295]
</p>
<p>
cations, shall be credited to him for a share; but anything more than that he shall, according to the thirteenth article, take from the Pennsylvania mines.
</p>
<p>
16. In like manner an entire share shall be given and credited to Mr. Georg Ritter for the expenses he has incurred; but anything more than that he shall, according to the thirteenth article, take from the Pennsylvania mines.
</p>
<p>
17. It is not allowed to anyone to take up land in North Carolina on his own account, except the named free lands; but all land shall be taken up on the account of the Society.
</p>
<p>
18. No member shall be allowed to carry on private trade, either in North Carolina or Virginia, but everything shall be done there for the benefit of the society; and yet it is free to every one to associate himself with others not trading in this province, and to carry on a trade on his own account, always understood that it shall not be to the detriment of this Society.
</p>
<p>
19. The other above named gentlemen, associates, who have not entirely paid in their capital, shall pay it in before the next approaching September and make it over to the gentleman in England, already named.
</p>
<p>
20. There shall be no definite end set for the Society, because each one who does not wish to remain longer in the Society has liberty to sell his share. But in view of the fact that nothing in this world can be made fixed or immutable, it is agreed and resolved that this Society shall exist twenty years, and that in this time, neither shall or can there be talk of any separation. But after the lapse of these twenty years the Society can, at the discretion of three-fourths of the associates, be abolished; when they can make their division of the effects then existing, according to the majority of the votes.
</p>
<p>
21. Before the expiration of four years shall no separation be made, but a report shall be made yearly of the state of things, a reckoning of the balance shall be made, and for each share-holder a copy be prepared; but after the expiration of the four years each stock-holder shall draw ten per cent of his invested capital, according to the judgment of the whole Society. But whatever, by the blessing of God, is gained in the mines, that shall be divided yearly.
</p>
<p>
22. It is free to the Society to elucidate this contract by the majority of votes, to explain, to diminish, to increase, according as the advantage of the Society demands it.
</p>
<p>
23. The associates promise each other love, faith, and true friendship, and that they will help to further, to best of their ability, whatever may serve and promote the good of this Society; and, as much
</p>
<p>
[Page 296]
</p>
<p>
as in them lies ward off injury and do everything which is in any way within the meaning of this contract, two copies of which, uniform and of the same tenor, shall be prepared. And may the Lord our God give his blessing to it, to whom alone belongs the praise, honor, and glory, from eternity to eternity, Amen.
</p>
<p>
Done in London, the 18th of May, 1710.
</p>
<p>
Witnesses,<br/>
William Edwards.<br/>
Edward Woods.
</p>
<p>
Fr. Ludwig Michel.<br/>
Chr. Von Graffenried,<br/>
Georg Ritter.<br/>
Petter Isoth.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>Christoph von Graffenried's Account of the Founding of New Bern</em>. Ed. Vincent H. Todd. Raleigh, NC: North Carolina Historical Commission, 1920. 219-320.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F264. N5 G72</td>
  </tr>
</table>
