---
layout: ecu
title:  "Introduction"
order: 9
---

{% include breadcrumbs.html %}

<h3>Christoph von Graffenried, "Relation of my American Project", <em>Von Graffenried's Account of the Founding of New Bern</em>, circa 1714</h3>

<p>
  Christoph von Graffenried is recognized as the founder of New Bern, North Carolina. He led a group of settlers from Switzerland and Germany to the region in 1710. The following is his story of the events that took place during his brief stay in Carolina.
</p>
<p>
  <a href="graffadd.html">Read More about Christoph von Graffenried</a>
</p>
<div class="well">
  <label>Text from Book</label><br/>

  <p>
  [Page 223]
  </p>
  <p>
ENGLISH TRANSLATION OF GERMAN VERSION
  </p>
  <p>
RELATION OF MY AMERICAN PROJECT
  </p>
  <p>
WRITTEN ON ACCOUNT OF CERTAIN PERSONS WHO COMPLAINED THAT I HAD UNDERTAKEN THIS COLONY IMPRUDENTLY, TO THE DISADVANTAGE AND RUIN OF MANY PEOPLE - A CHARGE WHICH IS EASILY CLEARED UP.
  </p>
  <p>
After I had, at the end of my travels, been living in England for two years, and had made such advantageous and eminent acquaintances in that country during the reign of Charles II that had I remained I might have made a considerable fortune, at that time I informed myself, partly from oral and partly from written accounts, and more recently, from a more accurate report, and especially after I had heard through a citizen of this city, who had lived in America five or six years, what fine lands there were and how cheap, what liberty, what great, good, and increasing trade, what rich mines and other advantages there were, and had been told what fine rich silver mines he had discovered and found, and when I considered that I was burdened with rather heavy debts which I had contracted even before my travels, due, in part, to a venture which turned out badly for me and for several other gentlemen, to sureties, to great expenses incurred during my candidacy, to hard times during the tenure of my office, (for I did not wish to flay the peasants); hard times due partly to the newly made reformation; and, in addition to all this, the roubles of Neufchatel and the attendant lack of prosperity coming on, the way to a better office was cut off. Moreover, on account of the newly made reformation it would be a long time before I could hope for even a small office. In the meantime having been blessed with a big and sturdy family, I was impelled to do something to satisfy the creditors and to help my family.
  </p>
  <p>
Since there was now in the Fatherland little hope of my being able to relieve such great distress, I took strongly into consideration the fine propositions of the above mentioned citizen, to whom out of consideration I shall here give no name, and consoling myself with my old and new friends of rank in England, and relying upon them, I finally took a firm resolution to leave my Fatherland and to see if fortune would be more favorable to me in England. Not to be detained by the creditors and my own people, I began my journey secretly, leaving to my father, who was financially able to do so to take charge of my debts and business. 1
  </p>
  <p>
[Page 224]
  </p>
  <p>
When I arrived in Holland certain persons almost turned me aside from my plan, and other propositions were made me in which I was to be given my support and something as a profit, but I did not find enough in this to make good my losses, and continued my journey to England, where I immediately heard of my people, and was inspired by such a desire to continue in my undertaking, by persons of rank and others, who promised me all sorts of assistance, that I was brought into negotiations according to which very advantageous propositions, conditions, and privileges were made and given by the proprietors above mentioned which brought me also to my resolution.
  </p>
  <p>
At this very time there came over 10,000 souls from Germany to England, all under the name of Palatines, but among them were many Switzers and people brought together from other provinces of Germany. This caused the royal court as well as private individuals much concern and also unspeakable costs, so that they were embarrassed because of these people, and therefore there soon went out an edict by which it was allowed to many persons to take some of these people and care for them, and a good share of them had been sent into the three kingdoms, but partly because of their laziness, partly because of the jealousy of the poor subjects of the country, they did not do so well as it was supposed they would, and so they had begun to send a considerable number of these people to America and the Queen had had great sums distributed for that purpose.
  </p>
  <p>
At this juncture different persons of high and of middle rank, to whom my undertaking was known, advised me not to lose so favorable an opportunity; and at the same time gave me good hopes that, if I wished to take a considerable number of these people, the Queen would not only grant me the money for their passage, but in addition, would give me a good contribution for them. These hopes were realized and the sum reached almost 4,000&pound; sterling. Besides this, the Queen had granted to the royal council land upon the Potomac 2 River, as much as we immediately needed, and moreover had given strong recommendations to the governor of Virginia. 3 All this with the advantageous promises of the proprietors of Carolina gave to the undertaking a good appearance, and there was as much hope for a fortunate outcome as the beginning seemed good and prosperous.
  </p>
  <p>
To provide for and send this colony I took indescribable pains,
1. I tried to choose for this project healthy, industrious people and among them those of all sorts of trades necessary for this undertaking.
2. A supply of all kinds of necessary tools and things. 3. As also sufficient and good food. 4. Good ships and sailors, also certain over- and under-directors for this people, to keep every thing in good order. 5. In order that no negligence or lack of knowledge should be at-
  </p>
  <p>
[Page 225]
  </p>
  <p>
-tributed to us, I have begun nothing without the knowledge, advice, and instruction of the royal committee.
6. Upon the ships, as afterwards upon the land, the over-directors were three of the most prominent persons from Carolina itself, who had already lived there many years and were acquainted with everything in those parts. These were the Chief Judge or Justice of the Peace, the Chief or General Surveyor, and the Receiver General, who were on business in London at this very time and were appointed by the royal comuttee, as well as by the Lords Proprietors, to have a close, faithful, and good watch over these people. The under-directors were composed of more than twelve of the most orderly and honorable men mong the people - according to appearances.
  </p>
  <p>
So then, after everything had been adjusted, concluded, and ratified, by the royal committee as well as by the Lords Proprietors for me and the people, yet even before the departure, I begged the royal committee to be pleased to send some of their members, who were experienced in travel by ship, to examine whether everything was arranged as it should be, and to talk with the captain; this they did and the report was given in the committee. The day before the departure I went, with the pastor who remained in London after the ompany had gone to America, to Gravesend; to which place, because was waiting for the little colony coming on from Berne, as well as from some of my associates, I could not go with them. I took my leave of them with a necessary exhortation, and then, when the German minister, 4 Mr. Caesar, had given the people a fine sermon, commending them to the protection of the Most High, I let them sail away, yet not without taking precaution on account of the dangerous war times, for I then obtained this favor from the chief admiral, Count Pembroke, that he ordered Vice Admiral Norris to accompany our people or ship with his squadron out upon the broad sea or towards Portugal. This took place in the winter - in January - and then, because of the rough winds and storms, this ship was so driven about that it did not arrive in Virginia until after thirteen veeks. This, along with the salt food to which the people were not accustomed, and the fact that they were so closely confined, conributed very much to the sickness and death of many upon the sea. Others could not restrain their desires when they came to land, drank too much fresh water and overloaded themselves with raw fruit, so that they died of fever, and this colony therefore had half died off before it was well settled. 5 N. B. The one ship which was filled with he best goods and on which those in best circumstances were traveling, had the misfortune, at the mouth of the James River, in sight
  </p>
  <p>
[Page 226]
  </p>
  <p>
of an English man-of-war, which however lay at anchor, 6 to be attacked by a bold French privateer and plundered. This is the first misfortune.
  </p>
  <p>
After the surviving colony had regained health in Virginia where they were received very kindly, they betook themselves about twenty English miles towards Carolina, all of which, along with the goods cost a great deal. 7 And now when they came into the county of Albemarle to the home of one Colonel Pollock upon the river called Chowan, a member of the council and one of the wealthiest in North Carolina, he provided these people, (but for money or the worth of it) with ships, so that they were conducted through the Sound into the County of Bath upon the River Neuse, with provision for only the most urgent necessity; and there the Surveyor General settled them on a point of land between the Neuse and the Trent River. This place called Chattoka is where the city of New Bern was afterwards founded.
  </p>
  <p>
Here begins the second fatality or misfortune. This surveyor general L _ _ _ __ _ by name, who should have located the people immediately upon their allotted land and the plantations assigned to them, claimed that, in order to save time to enable them to clear their land, he had placed them on the south side of this point of land along the Trent River, in the very hottest and most unhealthy portion, instead of toward the north, on the Neuse River, where they could have been better placed and in a more healthy locality. But he did it for his own advantage, because this was his own land, in order that it might be cleared by these people for his benefit. But since he sold that same land 8 and ours - and dear enough - yes wrongfully, (for he had no right to it), and moreover, since it was inhabited by Indians, (although he sold it to us for unencumbered land) the poor people, had to live in great distress until fall, when I came. From lack of sufficient provisions they were soon compelled to give their clothes and whatever they possessed to the neighboring settlers for food. 9 The misery and wretchedness were almost indescribable, for, on my arrival, I saw that almost all were sick, yes, even in extremity, and the well were all very feeble. In what a labyrinth and danger I then found myself, even my life not safe, the good Lord knows.
  </p>
  <p>
Consider how my Bern people, who in every other respect had had a favorable passage with me in a good and favorable time of year, with plenty of room, and not one sick on the way, looked on this tragedy, where sickness, despair, and lack of the most necessary things reigned supreme. The thing that caused this distress was in part, the bad conduct of the superior and inferior directors as well as their faithlessness; however, the principal cause of this whole
  </p>
  <p>
[Page 227]
  </p>
  <p>
disaster, out of which, for the most part, the rest arose, and from which came my ruin and that of the colony, was the great audacity and unfriendliness of Colonel Cary, who, at that time, on the death of the old governor, contrary to right and propriety and to the orders of the Lords Proprietors, tried to force his way into the government, and, as was found out, wished, even, to line his purse and to make off with the revenues taken in by him and to betake himself to Madagascar, a place inhabited by all sorts of pirates. When the newly elected Governor Hyde (though he was the representative of the Queen) and when I and the above mentioned three directors wished to introduce ourselves and show our patents and credentials before the council, this same Colonel Cary, disregarding the command of the Proprietors, boldly refused us all. Thus the promises of the Lords Proprietors, upon which I and my whole undertaking especially rested, came to nothing. I and the whole colony were shamelessly exposed to all those reverses which I have experienced up to this hour. And so this Cary finally became an actual rebel and made himself a following by spending money, so that Governor Hyde, for that reason, did not dare, at first, to take possession of the government by force; so much the less, because he really had no special patents in his hands. And since the governor of South Carolina had the order to install him, the time was already set for this purpose and letters were written to the council of North Carolina. Misfortune, however, would have it that the above mentioned governor of South Carolina, Colonel Tynte, died at this time. This death caused great confusion. In this interregnum I was not assisted, and because of the rebellion arising at this time, I was in great and pressing distress, since every one looked out for himself and kept what he had. The question arose whether I should risk my life and abandon this colony, yes, even let it die of hunger, or whether I should go into debt to save this people in such an extremity. As was only proper for a Christian-minded 10 man there could be no hesitation. Since at that time news of my arrival had gone abroad in America and I was in good credit, I sent immediately to Pennsylvania for flour, because fortunately, I had already made arrangements there, and in Virginia, and also here and there in the province, for the necessaries of life. Through notes which I gave the provisions eventually came, and slowly enough. Meanwhile our own goods and wares and those of the poor people were being used up for the necessaries which we managed to get from the neighboring inhabitants.
  </p>
  <p>
During this time I had the land surveyed and every family given its own plot of ground, so that they could clear it, build their cabins, and prepare their soil for planting and sowing. And so there arrived
  </p>
  <p>
[Page 228]
  </p>
  <p>
also with great expense and trouble, provision of corn, salt, lard in place of butter, and salt meat, also rum, and other products of the soil. But with the cattle there was difficulty. The people did not want to go were I showed them to get them, and I could not bring the animals right before their doors. But yet they accommodated themselves gradually, so that inside of 18 months these people were so well settled and had their affairs so well arranged that in this short time they had made more advancement than the English inhabitants in four years. Just one instance: for example, since there is in the whole province only one poor water mill, the people of means have hand mills, while the poor pound their corn in a hollow piece of oak and sift the cleanest through a basket. This takes much time. Our people on the contrary sought out convenient water brooks and in that way, according to the condition of the water and the strength of the current, made themselves regular stamping mills by which the corn was ground, and the good man-of-the-house had time to do other work. I had already commenced to build a grist and saw mill in a very convenient place, but what happened? When we were all hoping, after great effort and anxiety, to enjoy the fruits of our labor, aside from the reverses we had endured, and notwithstanding the fine prospect for a good establishment of the colony, there came the genuine storm of misfortune through the wild Indians, who were inspired by certain jealous and revengeful rebels of Cary's following, which overturned everything. The outcome of this tragedy is told in a separate account, and it is unnecessary to tell about it here. But, because from Colonel Cary's audacious, unfriendly, and hostile procedure arose all the trouble which came over the province, myself, and the colony, it will not be out of the way to tell something more of these confusions, and to continue what went on further after Governor Hyde's death.
  </p>
  <p>
Aa soon as I arrived from Virginia, 11 at the bordering colony and, in expectation of a comfortable rest for myself and for my people, was staying in the first village, there came a troop of the most prominent Quakers since there were many of them in those parts, and they presented the most persuasive reasons possible, saying that it befitted me as Landgrave who, after the governor had the first rank, as the one who always presided-in an interregnum and at other times in the absence of the governor, to take the presidency. But I 12 politely refused the honor. We answered that Governor Hyde was actually in Virginia and that I was one of the witnesses, who had there seen how he was chosen governor by the Lords Proprietors and how they had congratulated him in their council room in London. Moreover he was a relative of the Queen and had been
  </p>
  <p>
[Page 229]
  </p>
  <p>
approved by Her Royal Majesty, 13 and although the gentleman in question had no patent at that time in hand, one would soon follow. So then the province ought to have no hesitancy in receiving him at once as governor, so much the more, since Governor Tynte had given the council of Carolina notice to that effect. But this did not please them 14 and they replied to me, but I did not refute them. After they were through with me they took their leave of me very politely and went away. Soon after this I came with my people farther into the province and arrived at the home of Colonel Pollock in Chowan, where a council was held by those who were inclined towards Governor Hyde, and I was very much urged to be present at the same. But in such a dangerous and delicate affair I did not go. And so there was soon given me a plan or report of the situation of things, and I can easily observe that because of my character as well as the number of my people, (since I could give the balance of power to whichever party I fell to), they looked on me with great respect. My ideas were in the direction of having a strong letter sent to Colonel Cary, representing one thing and another very well to him, and also finally threatening him, if he would not come to an agreement as he ought that I would throw myself with all my forces on the side of Governor Hyde. This brought him to the notion of taking other measures, but for all that he gave me a very haughty and shameless answer. He appeared to be sorry for it soon after, and we worked at it quietly to such good purpose that finally an agreement was reached and put into writing. According to this, Colonel Cary and his following were to agree to Governor Hyde's being president of the Council until new orders came from the Proprietors, but not to accept him as governor.
  </p>
  <p>
Meanwhile I hastily betook myself to New Bern, from where my Palatines, who, because of a great lack of food were in the last extremity, 15had written to me. Since as a precaution, I had some provisions from Colonel Pollock, there was soon a good amount on hand for such a number of people. 16
  </p>
  <p>
Shortly after this Governor Hyde came out of Virginia into Carolina and settled not far from Colonel Pollock on _ _ _ _ _ Dyckenfield's plantation on Solomon Creek, where he received a rather fine dwelling.
  </p>
  <p>
And because Colonel Cary feared that his trick above mentioned, which he had in mind, would not work, he had tried in a cunning manner to get his hands on the agreement, in order to remove his name or signature which he well knew was on it. Hereupon he began to take up his old cause again. Some of his followers he got by spending money on them, for he brought all the vile rabble over on his side with rum and brandy. In this way he made himself a
  </p>
  <p>
[Page 230]
  </p>
  <p>
very strong following and began an open rebellion against Governor Hyde. In the meantime, the man was so crafty and sharp, that he tried to lull me to sleep; he came to New Bern on pretense of a visit, where I regaled him with the little which was then at hand. After dinner, 17 when we had gotten into conversation over his improper conduct towards Governor Hyde as well as towards myself, and when I had spoken sharply to him about his disobedience towards those in authority, the Lords Proprietors, and with threats had given him to understand that I would take such measures as would make him sorry, he promised me in the presence of four of his friends whom he had brought with him, to send me within three weeks, grain and other provision, as well as some cattle, to the value of 500&pound;, or else notes in place of the goods. As far as Governor Hyde was concerned, he left that in statu quo. And so he took his departure. This was only to blind me, which I also perceived, for I told him to his face that I feared that the performance would not correspond to the promises. This trip of Colonel Cary's was not in vain, for he attained his end, because by instigating some of the English or Carolinian inhabitants and people on the nearest plantations he so frightened my people that no one dared venture to go out of his house or out of the colony; for he had threatened that if they did not remain neutral, the English and Indians would fall upon them and destroy them.
  </p>
  <p>
Not long after this Governor Hyde sent me expresses with a whole package of patents, one of them for me, which made me Colonel over the district of Bath County and gave to me the appointing of the under officers, for their names were left blank, and begged me earnestly to assist him against the rebels. Whereupon I answered him how sorry I was that I could not yet respond to his desire, reporting what I have remarked regarding Colonel Cary, that my people were not disposed to go to either party, but were resolved to remain neutral. This did not please the governor very well, and there soon arrived a sharper command, that in case nothing occurred, I should betake myself three good days journey from New Bern to be present at the council. This I did, very much in fear, to be sure, because I had also been threatened. 18
  </p>
  <p>
When, now, I had reached the Governor, we were employed very busily in the councel advising how to put ourselves in security against this Cary faction, and it was ordered to get together, immediately, a company of chosen men with which to protect ourselves, and to see, further, how to compel different ones in some way or other to side with us. At this same time there came from London a turbulent fellow 19 with a ship full of goods belonging to a Quaker who was also one of the proprietors, and wanted to trade in these parts. He was immediately
  </p>
  <p>
[Page 231]
  </p>
  <p>
won over by the opposing party and this strengthened their courage, because he was well provided with shot, powder, and lead. This man libeled and defamed the Governor, giving out that he had different orders from the Lords Proprietors, but not in favor of Edward Hyde. This caused great doubt and confusion and made it hard for us. 20 He did me, in particular, great damage by making a note of 100&pound; 21 sterling ineffectual, saying he had orders to this effect. Although this money had been deposited with Hanson &amp; Co., my correspondents in London, yet because of this, I could get nothing of it in my great need. So then this Colonel Cary, R. Roach, and a Quaker, Em. Lowe, who, contrary to the foremost article of his own religion or sect, had himself made a Colonel, came well provisioned before the landing 22 on a night when we were lodging at Colonel Pollock's house where we for the most part held council, in a brigantine, well armed and provided with pieces. We put ourselves in the best position possible, and had only two pieces and not more than some 60 armed men with us. Along towards morning the rebels let fly a couple of balls from the brigantine at the house in which we were, but they were fired too high and merely grazed the ridge so that we were not harmed by it. Upon this we also shot off our pieces at the brigantine, and likewise did no damage. So the rebels began to send some of their best armed soldiery towards the land in two small barques. When we became aware of that, we drew up our force towards the landing 23 as a defense, among whom was my servant in a yellow livery. This frightened our opponents not a little, and the reason for it was they thought that my whole colony was holding itself there in the bushes. We immediately fired off our piece again. When the one shot merely grazed the mast and it fell over, it had such a good effect that the barques turned back, and as soon as the men had climbed into the ship, they hoisted up the sails and made off. Thereupon we ordered our most resolute men to follow in a sloop, but they could not overtake them. However, when they had gone down into the Sound the brigantine landed at a convenient place, and the most prominent ones got away through the woods. And so the small band won over the greater and the sloop brought the brigantine back, along with some provisions and the pieces. This scattered the opposing party and strengthened ours, so that we thereupon decided it would be well to announce a general pardon for all except the ringleaders, to which every one who desired to yield and submit to the Governor should subscribe. After this a parliamentary assembly was proclaimed in which, then, were treated the matters relating to these disturbers. The worst ones of the insurgents whom we could catch were taken into custody, but
  </p>
  <p>
[Page 232]
  </p>
  <p>
those who repented of their wrong and had been debauched only through instigation were accorded the amnesty. In this affair 24 I for the most part had to take the lead. This did not suit me very well because I feared it would make me enemies. After one thing and another had been arranged as well as possible and Governor Hyde and myself had been accepted and acknowledged, every one went home in the hope that all would quiet down. This calm did not last long; the authors of the revolt collected themselves together and the above mentioned Roach seated himself on an island, well provided with food, shot, and munitions, and stirred up as many as he could. We tried, indeed, to drive him out of his nest, but it was not to be done. This fire of sworn conspirators gradually took hold again and increased, so that the last was soon worse than the first.
  </p>
  <p>
Knowing how things were, it was thought best to make an effort to get other help. And so I was sent to Alexander Spotswood, Governor of Virginia, with two members of the Council, who were given to me, to beg assistance of him. 25 But before this we sent by expresses a writing to Governor Spotswood who appointed us a day in a village which lay between the two provinces, because, aside from seeing us, he wanted to muster his troops on the border. So I travelled by water in the captured brigantine because it was not quite safe by land, and in addition, we wanted to get provisions out of the neighborhood. After we had traveled several hours there arose such a contrary wind that we were driven back; and so we took the canoe, a little narrow boat made from a piece of tree trunk hollowed out, and continued our journey, now that the wind was somewhat quieted down. We came too late, however, for the muster was already past, but the Governor 26 directed further, that when I came an express should be sent immediately to him, and so I wrote a polite letter to the above mentioned gentleman, who came the next day with his secretary and two gentlemen to the appointed place where the conference was held, and the Governor received me in an exceedingly friendly manner. This business was more important than I supposed. After giving in my credentials I began my proposal, but there was immediately a strong objection made, namely, that the Virginians were not at all inclined to fight against their neighboring brethren, for they were all equally subjects of the Queen, and the cause was not so entirely just, for at least Governor Hyde had no patents. And so we had to try some other method. 27 And because Governor Spotswood wished to show himself somewhat more agreeable to me the first time he had seen me, since I had been introduced to him by the Queen herself, on account of the Virginia affairs, he finally considered that he should do Governor Hyde, myself, and the province the favor of sending
  </p>
  <p>
[Page 233]
  </p>
  <p>
us a man-of-war with the usual equipment of soldiers. Since they were likewise servants of the Queen, were in their red uniforms, and moreover, were good soldiers, they would accomplish much. This was granted, and we took our friendly leave of each other. With what expressions he invited me to him, and what proffers of service he made, and what marks of respects he showed me I can not sufficiently indicate. Meanwhile I made my way home very joyously. After such happy negotiations, as soon as I had made my report, I was received with a general applause of the whole people, and this increased my credit not a little.
  </p>
  <p>
Soon after this there arrived a valiant captain with his brave marines. When he had paid his respects and had delivered Governor Spotswood's letter, we besought him that he would show his commission before the assembly and speak as strongly as possible to the people, indicating that in case the revolters would not discontinue hostilities, as they were duty bound to do, we would proceed against them with the utmost severity. Upon this no one dared revolt any more, and the authors of the uprising got out of the province secretly, and they dared so much the less to stay because letters arrived from London reporting how the Lords Proprietors had chosen Mr. Edward Hyde to be governor of North Carolina and that the patents had therefore been sent by a trusty person. The often mentioned Colonel Cary, along with others of his associates, was arrested in Virginia and sent well guarded in a ship to London, and there suit was brought against him. The affair made a great stir in London; but this Cary was so fortunate in his base action as to have two of my Lords take his part and they saved his life. Hereupon he was let go on bail in order to defend himself, the Justice in Carolina was appointed to him, and so the affair still hangs to this hour. 28
  </p>
  <p>
The confusion contributed not a little to the attack of the wild Indians, because several of the mutineers made Governor Hyde so hated among the Indians that they looked on him as their enemy, insomuch that when I was taken prisoner by the savages, thinking I was the Governor, they treated me rather severely until I had them informed through an Indian with whom I was acquainted, and who could speak English, that I was not Governor Hyde, upon which they treated me more kindly.
  </p>
  <p>
Now when this also was past I betook myself again to New Bern to my people. But soon after this Governor Hyde had received his patents, so he called a general assembly again in order that he might present himself to it, on which occasion I also was present. I did it the more willingly because I thereby had the opportunity, and used it, of seeking to get from the new governor what I could not obtain from Colonel
  </p>
  <p>
[Page 234]
  </p>
  <p>
Cary. In this, Governor Hyde showed, indeed, all good will, but when I urged him for something real, there was very little on hand, a circumstance which in itself was (not) without evil results. After this I insistently urged upon the Parliament, that since I could not obtain anything upon the account of the Lords Proprietors, seeing this was the foundation of my enterprise, and since we could not subsist in this way, and it would be a long time before information could come to us out of Europe, and meanwhile we could not live on air, that the provinces should assist us on the same terms as we had with the Lords Proprietors; that is to say, they should supply us with the necessary food, and expecially with cattle, upon two or three years' credit. They refused me this, however, under pretext that this civil war had made it impossible for them to do it. Upon this I went sadly home to arrange my affairs as well as possible, as is to be seen in the preceding. 29
  </p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>Christoph von Graffenried's Account of the Founding of New Bern</em>. Ed. Vincent H. Todd. Raleigh, NC: North Carolina Historical Commission, 1920. 219-320.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F264. N5 G72</td>
  </tr>
</table>
