---
layout: ecu
title:  "Edward Hyde, To Alexander Spotswood, Governor of Virginia, The Colonial Records of North Carolina, 29 January 1711"
customdate: "1711 January 29"
order: 6
---

{% include breadcrumbs.html %}

<h3>Edward Hyde, To Alexander Spotswood, Governor of Virginia, <em>The Colonial Records of North Carolina</em>, 29 January 1711</h3>

<div class="well">
  <label>Text from Book</label><br/>

<p>
[Page 752]
</p>
<p>
LETTER FROM COLL: HYDE DATED NORTH CAROLINA JANUARY 29th 17 10/11.
</p>
<p>
I take this occasion to inform you that I have considered your letter, and am willing to putt to further Entrys on the North side of Wiccouse, till the meeting of the next Council the 12th of March, by which time I expect to have the Lords Proprietors Instructions to their Commissioners laid before us, and till then can give no further answer to that, reserving withall to the present Possessors and Claimers (by virtue of Entrys & Surveys) their rights which cannot with reason be slighted, because it hath always been taken with good reason, to be within this Government, and shall give orders accordingly. I take it to be necessary also to acquaint you, that the Meherron Indians made an agreement with this Government, that they would not claim any land on the south side of Maherine River. Notwithstanding which they have interrupted the present Possessors of the Lands between Maherine River and Wiccouse Creek, requiring them to leave their plantations without delay within three miles of their town, and have been very insolent therein, which they pretend an authority from your Government for so doing, and are encroaching upon the branches of Wiccouse, which may with reason be hoped will be checked by you. I shall press our Commissioners, all in my power to forward the matter, so that they and yours may act in conjunction together, and I would persuade myselfe that you would not precipitate this affair, till our Commissioners join yours, and I have ground to conjecture that Mr Lawson has been or still is under some great disorder, or I should have received an answer to mine which was forthwith sent him upon my receipt of yours.
</p>
<p>
I shall always be glad to preserve a good understanding and correspondence betwixt the two Governments, and will never be wanting on my side to effect it in all things that I can answer to my Masters.
</p>
<p>
And tho' in comparison of Virginia ours is an infant Government I promise myself from your candour that no hardships be offered us, till the controverted bounds be fully determined. I am &c
</p>
<p><b>Modernization for the text above:</b></p>
<p>
LETTER FROM COLONEL HYDE DATED NORTH CAROLINA JANUARY 29th 17 10/11.
</p>
<p>
I take this occasion to inform you that I have considered your letter, and am willing to put to further Entries on the North side of Wiccacon, till the meeting of the next Council the 12th of March, by which time I expect to have the Lords Proprietors Instructions to their Commissioners laid before us, and till then can give no further answer to that, reserving withall to the present Possessors and Claimers (by virtue of Entries & Surveys) their rights which cannot with reason be slighted, because it has always been taken with good reason, to be within this Government, and shall give orders accordingly. I take it to be necessary also to acquaint you, that the Meherrin Indians made an agreement with this Government, that they would not claim any land on the south side of Meherrin River. Notwithstanding which they have interrupted the present Possessors of the Lands between Meherrin River and Wiccacon Creek, requiring them to leave their plantations without delay within three miles of their town, and have been very insolent therein, which they pretend an authority from your Government for so doing, and are encroaching upon the branches of Wiccacon, which may with reason be hoped will be checked by you. I shall press our Commissioners, all in my power to forward the matter, so that they and yours may act in conjunction together, and I would persuade myself that you would not precipitate this affair, till our Commissioners join yours, and I have ground to conjecture that Mr Lawson has been or still is under some great disorder, or I should have received an answer to mine which was forthwith sent him upon my receipt of yours.
</p>
<p>
I shall always be glad to preserve a good understanding and correspondence betwixt the two Governments, and will never be wanting on my side to effect it in all things that I can answer to my Masters.
</p>
<p>
And though in comparison of Virginia ours is an infant Government I promise myself from your candor that no hardships be offered us, till the controverted bounds be fully determined. I am &c
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Colonial Records of North Carolina</em>. Ed. William L. Saunders. Vol. 1. Raleigh, NC: P.M. Hale, 1886. New York: AMS, 1968.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F 251 N6 1968 v. 1</td>
  </tr>
</table>