---
layout: ecu
title:  "Thomas Pollock, To Lawson, 27 May 1710"
customdate: "1710 May 27"
order: 4
---

{% include breadcrumbs.html %}

<h3>Thomas Pollock, To Lawson, 27 May 1710</h3>

<div class="well">
  <label>Text from Book</label><br/>

<p>
[Page 727]
</p>
<p>
[FROM POLLOCK'S LETTER Book.]
</p>
<p>
A COPY OF A LETTER TO MrJOHN LAWSON, BY Mr<br/>
MAULE, TO BE LEFT FOR HIM AT<br/>
PRESIDENT GLOVER'S.
</p>
<p>
Mr Lawson
</p>
<p>
May 27th1710
</p>
<p>
Almost ever since you left America I have been removed to Virginia, not being willing to live under a government I knew was altogether illegal, and to avoid occasion of difference; and I was glad to understand of your and Major Gale's arrival from England, hoping that you may have brought some order's, or at the least news of the settling of the Government. I doubt not you knew that upon Mr Porter arrival from England, with the instruments of writing from the Lords Proprietors superceeding Col. Cary, and giving all the power of Administration of the government to the President, that I was not present nor at the choosing Mr Glover President, neither at any other of their meetings, until your meeting at my house in may, after being about half a year having been sickly all that time, at which meeting at my house, I, being of opinion that Col. Cary had hard measure in seising his brigantine, endeavoured all I could to bring all matter to agreement, which I effected at that time; when Mr Glover was allowed of and confirmed President by Col. Cary, Mr Porter, and all the Council and proclamations issued out to command the obedience of all the people to [the] then established Government, So that the consideration of the commission from the Lords Proprietors to the President, their being no other President they could direct to, neither they knowing of any other, and the first chosen by all the Deputys in the government but myself; and then the last confirmation by all the council, with the proclamation aforementioned, fully satisfyed me of President Glover's right to the Presidentship. So that I was obliged by the oath of fidelity to the Lords Proprietors to obey President Glover's lawful orders, and maintain the Lords Proprietors Government so far as lay in my power; and acted nothing but by the Presidents order. And I am conscious to myself that I acted for no particular interest of my own, for I could in all reason [have] Expected as much favour on any account from Col. Cary, if he had continued in the government, as from President Glover. But it was altogether on account of what I was obliged to do. And having acted so, I did not think it necessary to trouble the Lords Proprietors with letters from me who acted only under
</p>
<p>
[Page 728]
</p>
<p>
another as a great many others in the government did. Nothwithstanding all which precautions it seems some malicious persons, out of particular hatred they had to me, or rather to clear themselves of what they were guilty of, have endeavoured falsily to inform the Lords Proprietors that I was a cause of the late troubles.
</p>
<p>
Wherefore, Sir, not doubting, but you have some knowledge not only of what Mr Porter, Mr Moseley, and that party have writ to the Lords Proprietors, but also of the Lords Proprietors sentiments, and orders to their Governor, or Deputy Governor, thereanent, would earnestly intreat the favour of you to acquaint me with the whole matter, (if you be not obliged no ways to the contrary) and assure yourself, if you think it necessary, it shall be locked up in my breast, not to be divulged untill you please, and also your kindness in it shall be ingraven in my mind in indelible characters.
</p>
<p>
Also, Sir, I have another favour to beg of you. There being a young gentleman (the bearer hereof) one Mr Wm Maule on whom fortune hath frowned, having been twice taken by the French and lost very considerably, and being, I believe, very capable of surveying, (if you have not deputed any other in Albemarle county or at least in Chowan precinct) you will find him (if it lie within your conveniency to depute him) capable, diligent, and faithful, and it will be a very great obligation to
</p>
<p>
Yr St Sr
</p>
<p>
T. P.
</p>
<p>
Postcript Sir If you have not an opportunity to send me an answer by Mr Maule, (who, may be, will not have the opportunity of seeing you) send it to Mr. David Henderson's, or to Robert West's at Choan, where I doubt not of having it safe.
</p>
<p>
<b>Modernization for the text above:</b>
</p>
<p>
[FROM POLLOCK'S LETTER Book.]
</p>
<p>
A COPY OF A LETTER TO Mr .JOHN LAWSON, BY Mr<br/>
MAULE, TO BE LIFT FOR HIM AT PRESIDENT GLOVER'S.
</p>
<p>
Mr Lawson
May 27th1710
</p>
<p>
Almost ever since you left America I have been removed to Virginia, not being willing to live under a government I knew was altogether illegal, and to avoid occasion of difference; and I was glad to understand of your and Major Gale's arrival from England, hoping that you may have brought some orders, or at the least news of the settling of the Government. I doubt not you knew that upon Mr Porter's arrival from England, with the instruments of writing from the Lords Proprietors superceeding Col. Cary, and giving all the power of Administration of the government to the President, that I was not present nor at the choosing Mr Glover President, neither at any other of their meetings, until your meeting at my house in may, after being about half a year having been sickly all that time, at which meeting at my house, I, being of opinion that Col. Cary had hard measure in seizing his brigantine, endeavoured all I could to bring all matter to agreement, which I effected at that time; when Mr Glover was allowed of and confirmed President by Col. Cary, Mr Porter, and all the Council and proclamations issued out to command the obedience of all the people to [the] then established Government, So that the consideration of the commission from the Lords Proprietors to the President, there being no other President they could direct to, neither they knowing of any other, and the first chosen by all the Deputies in the government but myself; and then the last confirmation by all the council, with the proclamation aforementioned, fully satisfied me of President Glover's right to the Presidentship. So that I was obliged by the oath of fidelity to the Lords Proprietors to obey President Glover's lawful orders, and maintain the Lords Proprietors Government so far as lay in my power; and acted nothing but by the Presidents order. And I am conscious to myself that I acted for no particular interest of my own, for I could in all reason [have] Expected as much favour on any account from Col. Cary, if he had continued in the government, as from President Glover. But it was altogether on account of what I was obliged to do. And having acted so, I did not think it necessary to trouble the Lords Proprietors with letters from me who acted only under another as a great many others in the government did. Nothwithstanding all which precautions it seems some malicious persons, out of particular hatred they had to me, or rather to clear themselves of what they were guilty of, have endeavoured falsely to inform the Lords Proprietors that I was a cause of the late troubles.
</p>
<p>
Wherefore, Sir, not doubting, but you have some knowledge not only of what Mr Porter, Mr Moseley, and that party have written to the Lords Proprietors, but also of the Lords Proprietors sentiments, and orders to their Governor, or Deputy Governor, thereanent, would earnestly entreat the favour of you to acquaint me with the whole matter, (if you are not obliged in any way to the contrary) and assure yourself, if you think it necessary, it shall be locked up in my breast, not to be divulged until you please, and also your kindness in it shall be engraved in my mind in indelible characters.
</p>
<p>
Also, Sir, I have another favour to beg of you. There being a young gentleman (the bearer hereof) one Mr Wm Maule on whom fortune hath frowned, having been twice taken by the French and lost very considerably, and being, I believe, very capable of surveying, (if you have not deputed any other in Albemarle county or at least in Chowan precinct) you will find him (if it lie within your conveniency to depute him) capable, diligent, and faithful, and it will be a very great obligation to
</p>
<p>
Yr St Sr
</p>
<p>
T. P.
</p>
<p>
Postcript
</p>
<p>
Sir If you have not an opportunity to send me an answer by Mr Maule, (who, maybe, will not have the opportunity of seeing you) send it to Mr. David Henderson's, or to Robert West's at Chowan, where I doubt not of having it safe. 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Colonial Records of North Carolina</em>. Ed. William L. Saunders. Vol. 1. Raleigh, NC: P.M. Hale, 1886. New York: AMS, 1968.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F 251 N6 1968 v. 1</td>
  </tr>
</table>