---
layout: ecu
title:  "Christopher Gale, To the Honorable Robert Gibs and To the Honorable Council and General Assembly, circa 2 November 1711"
customdate: "1711 November 2"
order: 7
---

{% include breadcrumbs.html %}

<h3>Christopher Gale, To the Honorable Robert Gibs and To the Honorable Council and General Assembly, circa 2 November 1711</h3>

<div class="well">
  <label>Text from Book</label><br/>

<p>
[Page 825]
</p>
<p>
A LETTER FROM MAJOR CHRISTOPHER GALE
</p>
<p>
[FROM NICHOLLS' LITERARY ILLUSTRATIONS-REPRINTED FROM HAWKS'S HISTORY OF NORTH CAROLINA.]
</p>
<p>
CHARLESTON S. C.<br/>
November 2 1711.
</p>
<p>
My DEAR:-
</p>
<p>
I cannot omit, by all opportunities, to inform my second self that you have still living in a brother the most faithful friend that ever was, though perhaps by as signal a hand of Providence as this age can demonstrate.
</p>
<p>
I will not trouble you with repetitions, but refer you to the afterwritten memorial which I laid before the government, and shall only acquaint you how far I had been concerned in the bloody tragedy, if kind Providence had not prevented.
</p>
<p>
About ten days before the fatal day, I was at the baron's, and had agreed with him and Mr. Lawson on a progress to the Indian towns; but before we were prepared to go, a message came from home, to inform me that my wife and brother lay dangerously sick; which I may call a happy sickness to me, for on the news I immediately repaired home, and thereby avoided the fate which I shall hereafter inform you.
</p>
<p>
The baron, with Mr. Lawson and their attendants, proceeding on their journey, were, on the 22d of September (as you will see by the memorial) both barbarously murdered; the mat, on which the baron used to lie on such like voyages, being since found all daubed with blood, so as we suppose
</p>
<p>
[Page 826]
</p>
<p>
him to have been quickly dispatched. But the fate of Mr. Lawson (if our Indian information be true) was much more tragical, for we are informed that they stuck him full of fine small splinters of torchwood like hogs' bristles, and so set them gradually on fire. This, I doubt not had been my fate if Providence had not prevented; but I hope God Almighty has designed me for an instrument in the revenging such innocent Christian blood.
</p>
<p>
On Sunday, October 21, I arrived here in the quality of an agent, and in order to procure the assistance of the government to destroy our enemies, which I doubt not in a little time to effect. The family I left in garrison at Bath town, my wife and brother pretty well recovered; but what has happened since, I know not. Two days after I left the town, at daybreak (which is the Indians' usual time of attack), above 100 guns were heard, which must have been an attack made by the Indians upon some of our garrisons, which are in all eleven in number; but cannot hear the success of it, though a small vessel came from the out part of our government there the other day, by which I have the following news: that on my coming away, Captain Brice detached from our out-garrisons fifty men, and in the woods met with a body of Indians, who fought them three days, and forced them at last to retire into their garrison. The Indians lost in this engagement fifteen men, and we took two, one of whom was killed by one of our men. During this engagement, another body of the Indians, being advised that the garrison was weakened by this detachment, came and attacked the garrison, and at the same time a number of Indian prisoners of a certain nation, which we did not know, whether they were friends or enemies, rose in the garrison, but were soon cut to pieces, as also those on the outside repelled. In the garrison were killed nine Indian men, and soon after thirty-nine women and children sent off for slaves. This is the condition we at present labor under. I shall not trouble you with a particular relation of all their butcheries, but shall relate to you some of them, by which you may suppose the rest. The family of one Mr. Nevill was treated after this manner: the old gentleman himself, after being shot, was laid on the house-floor, with a clean pillow under his head, his wife's head-clothes put upon his head, his stockings turned over his shoes, and his body covered all over with new linen. His wife was set upon her knees, and her hands lifted up as if she was at prayers, leaning against a chair in the chimney corner, and her coats turned up over her head. A son of his was laid out in the yard, with a pillow laid under his head and a bunch of rosemary laid to his nose. A negro had his right hand cut off and left dead. The master
</p>
<p>
[Page 827]
</p>
<p>
of the next house was shot and his body laid flat upon his wife's grave. Women were laid on their house-floors and great stakes run up through their bodies. Others big with child, the infants were ripped out and hung upon trees. In short, their manner of butchery has been so various and unaccountable, that it would be beyond credit to relate them. This blow was so hotly followed by the hellish crew, that we could not bury our dead; so that they were left for prey to the dogs, and wolves, and vultures, whilst our care was to strengthen our garrison to secure the living.
</p>
<p>
The ship by which this comes is ready to sail, so cannot enlarge; only desire my duty may be presented to my father and mother, my sincere love to yourself and brothers, and service to all friends, hoping for a speedy answer to my last by Madam Hyde, is what offers from
</p>
<p>
Your sincerely affectionate brother,
</p>
<p>
CHRISTOPHER GALE.
</p>
<p>
FROM CHARLES TOWN, CAROLINA.
</p>
<p>
THE MEMORIAL OF CHRISTOPHER GALE FROM THE GOVERNMENT OF NORTH CAROLINA, TO THE HONORABLE ROBERT GIBS, GOVERNOR AND COMMANDER-IN-CHIEF, AND TO THE HONORABLE COUNCIL AND GENERAL ASSEMBLY.
</p>
<p>
To lay before your honor the prospect or representation of as promising a country as was ever watered with the dew of heaven, would take up more time than the present exigency of the affair I am now set upon Would give me leave; but much more time, and a hand more skilful, would he requisite to give you a view of the calamities and miseries of so fine a country laid waste and desolate by the most barbarous enemies: I mean the Corees and Tuscarora Indians.
</p>
<p>
Although I shall not use much eloquence to implore Your aid and assistance in revenging such injuries, causes of that nature when truly stated being their own best orator; yet, I presume, I have all the advantages that may be of making a true representation of that affair to your honors, being an inhabitant of Beaufort precinct, where a great part of this hellish tragedy was acted. I shall, therefore, inform your honors, that on Saturday the 22d of September last, was perpetrated the grossest piece of villainy that perhaps was ever heard of in English America. One hundred and thirty people massacred at the head of the Nuse, and on the south side of Pamptaco rivers, in the space of two hours; butchered after the most barbarous manner that can be expressed, and their
</p>
<p>
[Page 827]
</p>
<p>
dead bodies used with all the scorn and indignity imaginable; their houses plundered of considerable riches (being generally traders), then burned, and their growing and hopeful crops destroyed. What spectacle can strike a man with more horror and stir up more to revenge, than to see so much barbarity practised in so little a time and so unexpectedly? And what makes it the more surprising, that nefarious villainy was committed by such Indians as were esteemed as members of the several families where the mischiefs were done, and that with smiles in their countenances, when their intent was to destroy. I must inform your honors that the governors of North Carolina are not in a condition to take a full (I might say any) satisfaction on the enemy, nor to prevent their further progress, by reason their neighboring Indians are not to be relied on for any assistance, but rather to be feared they would be prejudicial in any expeditions; if not joined with the enemy as we have good reason to judge by their behavior both before and since the act was committed: therefore a strict and jealous eye is necessarily kept over them by the government, and our whole country drawn into garrisons to prevent mischief that way, which very much hinders the getting men into a body to pursue the enemy, who are at present between two and three hundred effective men, and above one thousand women and children; and I believe your honors will be of opinion, that it is altogether impracticable to attempt such a body of men, flushed with their first success, without Indians who are acquainted with their manner of fighting. Wherefore, on behalf of the government of North Carolina, by which I am employed, I earnestly entreat your honors to permit and encourage so many of your tributary Indians as you think proper, to fall upon those Indians our enemies, whose families are since fled down to the seaboard between Weatuck and Cape Fare rivers, whilst their men are still ravaging and destroying all before them, within sight of our garrisons; that, by your assistance exemplary justice may be done to such barbarous villains as have laid waste and desolate such a flourishing part of the lords proprietors' country, and which, without your speedy relief, will be wholly deserted. If any Indians are found innocent of that massacre and will assist in the destruction of those inhuman wretches, care will be taken to distinguish those from the rest; but I very much fear that upon strict inquiry, it would be found that the whole nation of the Tuscaroras (though some of them may not yet be actors) was knowing and consenting to what was done; and that the success of those already in motion, if not put a stop to, will at last induce the rest to join with them in carrying on these bloody designs. Beside the daily expectation of a considerable number of Senekoes
</p>
<p>
[Page 829]
</p>
<p>
[Senecas], which we are certainly informed are coming to cohabit with the Tuscaroras, our enemies, this winter, and become one nation, which in time may affect our neighboring governments as well as us. I firmly persuade myself that so much prejudice as the lords proprietors will receive by that fatal blow, the barbarous murder of so many of our fellow-subjects, among which number is the Honorable Baron de Graffenried, a landgrave of Carolina, and a member of the council, Mr. Lawson the surveyor-general, with divers others of note, will excite your honors' compassion toward such a country and hasten your assistance and relief.
</p>
<p>
I am, with all respect,
</p>
<p>
Your honors' most obedient, humble servant,
</p>
<p>
CHRISTOPHER GALE
</p>
<p><b>Modernization for the text above:</b></p>
<p>
A LETTER FROM MAJOR CHRISTOPHER GALE
</p>
<p>
[FROM NICHOLLS' LITERARY ILLUSTRATIONS-REPRINTED FROM HAWKS'S HISTORY OF NORTH CAROLINA.]
</p>
<p>
CHARLESTON S. C.<br/>
November 2 1711.
</p>
<p>
My DEAR:-
</p>
<p>
I cannot omit, by all opportunities, to inform my second self that you have still living in a brother the most faithful friend that ever was, though perhaps by as signal a hand of Providence as this age can demonstrate.
</p>
<p>
I will not trouble you with repetitions, but refer you to the afterwritten memorial which I laid before the government, and shall only acquaint you how far I had been concerned in the bloody tragedy, if kind Providence had not prevented.
</p>
<p>
About ten days before the fatal day, I was at the baron's, and had agreed with him and Mr. Lawson on a progress to the Indian towns; but before we were prepared to go, a message came from home, to inform me that my wife and brother lay dangerously sick; which I may call a happy sickness to me, for on the news I immediately repaired home, and thereby avoided the fate which I shall hereafter inform you.
</p>
<p>
The baron, with Mr. Lawson and their attendants, proceeding on their journey, were, on the 22d of September (as you will see by the memorial) both barbarously murdered; the mat, on which the baron used to lie on such like voyages, being since found all daubed with blood, so as we suppose him to have been quickly dispatched. But the fate of Mr. Lawson (if our Indian information be true) was much more tragical, for we are informed that they stuck him full of fine small splinters of torchwood like hogs' bristles, and so set them gradually on fire. This, I doubt not had been my fate if Providence had not prevented; but I hope God Almighty has designed me for an instrument in the revenging such innocent Christian blood.
</p>
<p>
On Sunday, October 21, I arrived here in the quality of an agent, and in order to procure the assistance of the government to destroy our enemies, which I doubt not in a little time to effect. The family I left in garrison at Bath town, my wife and brother pretty well recovered; but what has happened since, I know not. Two days after I left the town, at daybreak (which is the Indians' usual time of attack), above 100 guns were heard, which must have been an attack made by the Indians upon some of our garrisons, which are in all eleven in number; but cannot hear the success of it, though a small vessel came from the out part of our government there the other day, by which I have the following news: that on my coming away, Captain Brice detached from our out-garrisons fifty men, and in the woods met with a body of Indians, who fought them three days, and forced them at last to retire into their garrison. The Indians lost in this engagement fifteen men, and we took two, one of whom was killed by one of our men. During this engagement, another body of the Indians, being advised that the garrison was weakened by this detachment, came and attacked the garrison, and at the same time a number of Indian prisoners of a certain nation, which we did not know, whether they were friends or enemies, rose in the garrison, but were soon cut to pieces, as also those on the outside repelled. In the garrison were killed nine Indian men, and soon after thirty-nine women and children sent off for slaves. This is the condition we at present labor under. I shall not trouble you with a particular relation of all their butcheries, but shall relate to you some of them, by which you may suppose the rest. The family of one Mr. Nevill was treated after this manner: the old gentleman himself, after being shot, was laid on the house-floor, with a clean pillow under his head, his wife's head-clothes put upon his head, his stockings turned over his shoes, and his body covered all over with new linen. His wife was set upon her knees, and her hands lifted up as if she was at prayers, leaning against a chair in the chimney corner, and her coats turned up over her head. A son of his was laid out in the yard, with a pillow laid under his head and a bunch of rosemary laid to his nose. A negro had his right hand cut off and left dead. The master of the next house was shot and his body laid flat upon his wife's grave. Women were laid on their house-floors and great stakes run up through their bodies. Others big with child, the infants were ripped out and hung upon trees. In short, their manner of butchery has been so various and unaccountable, that it would be beyond credit to relate them. This blow was so hotly followed by the hellish crew, that we could not bury our dead; so that they were left for prey to the dogs, and wolves, and vultures, whilst our care was to strengthen our garrison to secure the living.
</p>
<p>
The ship by which this comes is ready to sail, so cannot enlarge; only desire my duty may be presented to my father and mother, my sincere love to yourself and brothers, and service to all friends, hoping for a speedy answer to my last by Madam Hyde, is what offers from
</p>
<p>
Your sincerely affectionate brother,
</p>
<p>
CHRISTOPHER GALE.
</p>
<p>
FROM CHARLES TOWN, CAROLINA.
</p>
<p>
THE MEMORIAL OF CHRISTOPHER GALE FROM THE GOVERNMENT OF NORTH CAROLINA, TO THE HONORABLE ROBERT GIBS, GOVERNOR AND COMMANDER-IN-CHIEF, AND TO THE HONORABLE COUNCIL AND GENERAL ASSEMBLY.
</p>
<p>
To lay before your honor the prospect or representation of as promising a country as was ever watered with the dew of heaven, would take up more time than the present exigency of the affair I am now set upon Would give me leave; but much more time, and a hand more skilful, would he requisite to give you a view of the calamities and miseries of so fine a country laid waste and desolate by the most barbarous enemies: I mean the Corees and Tuscarora Indians.
</p>
<p>
Although I shall not use much eloquence to implore Your aid and assistance in revenging such injuries, causes of that nature when truly stated being their own best orator; yet, I presume, I have all the advantages that may be of making a true representation of that affair to your honors, being an inhabitant of Beaufort precinct, where a great part of this hellish tragedy was acted. I shall, therefore, inform your honors, that on Saturday the 22d of September last, was perpetrated the grossest piece of villainy that perhaps was ever heard of in English America. One hundred and thirty people massacred at the head of the Neuse, and on the south side of Pamlico rivers, in the space of two hours; butchered after the most barbarous manner that can be expressed, and their dead bodies used with all the scorn and indignity imaginable; their houses plundered of considerable riches (being generally traders), then burned, and their growing and hopeful crops destroyed. What spectacle can strike a man with more horror and stir up more to revenge, than to see so much barbarity practiced in so little a time and so unexpectedly? And what makes it the more surprising, that nefarious villainy was committed by such Indians as were esteemed as members of the several families where the mischiefs were done, and that with smiles in their countenances, when their intent was to destroy. I must inform your honors that the governors of North Carolina are not in a condition to take a full (I might say any) satisfaction on the enemy, nor to prevent their further progress, by reason their neighboring Indians are not to be relied on for any assistance, but rather to be feared they would be prejudicial in any expeditions; if not joined with the enemy as we have good reason to judge by their behavior both before and since the act was committed: therefore a strict and jealous eye is necessarily kept over them by the government, and our whole country drawn into garrisons to prevent mischief that way, which very much hinders the getting men into a body to pursue the enemy, who are at present between two and three hundred effective men, and above one thousand women and children; and I believe your honors will be of opinion, that it is altogether impracticable to attempt such a body of men, flushed with their first success, without Indians who are acquainted with their manner of fighting. Wherefore, on behalf of the government of North Carolina, by which I am employed, I earnestly entreat your honors to permit and encourage so many of your tributary Indians as you think proper, to fall upon those Indians our enemies, whose families are since fled down to the seaboard between Weatuck and Cape Fear rivers, while their men are still ravaging and destroying all before them, within sight of our garrisons; that, by your assistance exemplary justice may be done to such barbarous villains as have laid waste and desolate such a flourishing part of the lords proprietors' country, and which, without your speedy relief, will be wholly deserted. If any Indians are found innocent of that massacre and will assist in the destruction of those inhuman wretches, care will be taken to distinguish those from the rest; but I very much fear that upon strict inquiry, it would be found that the whole nation of the Tuscaroras (though some of them may not yet be actors) was knowing and consenting to what was done; and that the success of those already in motion, if not put a stop to, will at last induce the rest to join with them in carrying on these bloody designs. Beside the daily expectation of a considerable number of Senekoes [Senecas], which we are certainly informed are coming to cohabit with the Tuscaroras, our enemies, this winter, and become one nation, which in time may affect our neighboring governments as well as us. I firmly persuade myself that so much prejudice as the lords proprietors will receive by that fatal blow, the barbarous murder of so many of our fellow-subjects, among which number is the Honorable Baron de Graffenried, a landgrave of Carolina, and a member of the council, Mr. Lawson the surveyor-general, with diverse others of note, will excite your honors' compassion toward such a country and hasten your assistance and relief.
</p>
<p>
I am, with all respect,
</p>
<p>
Your honors' most obedient, humble servant,
</p>
<p>
CHRISTOPHER GALE

</p>
</div>



<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Colonial Records of North Carolina</em>. Ed. William L. Saunders. Vol. 1. Raleigh, NC: P.M. Hale, 1886. New York: AMS, 1968.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F 251 N6 1968 v. 1</td>
  </tr>
</table>