---
layout: ecu
title:  "Paradise Regained Again: The Literary Context of John Lawson's A New Voyage to Carolina, North Carolina Literary Review, 1992"
customdate: "1992"
order: 20
---

{% include breadcrumbs.html %}

<h3>E. Thomson Shields Jr., Paradise Regained Again: The Literary Context of John Lawson's A New Voyage to Carolina, <em>North Carolina Literary Review</em>, 1992</h3>

<div class="well">
  <label>Text and Image from Journal Article</label><br/>

<p>
[Page 83]
</p>
<p>
GENTLEMAN, EXPLORER, AND WRITER
</p>
<p>
PARADISE<br/>
REGAINED<br/>
AGAIN
</p>
<p>
E. Thomson Shields, Jr.
</p>
<p>
The Literary Context of John Lawson's
</p>
<p>
A New Voyage to Carolina
</p>
<p>
By the time John Lawson's A New Voyage to Carolina had been published in 1709, Europeans and European Americans no longer perceived the New World as being new. Instead, the Americas had begun to develop an identity within the minds of people from European cultures. During the 200 years following Columbus's arrival, and following Amerigo Vespucci's early sixteenth-century declaration that the lands across the Atlantic from Europe were a mundus novus, greater and greater distinctions between the various regions of the Americas were discovered and created.
</p>
<p>
This dual purpose of New World authors - to both discover and create, that is, to describe and interpret the lands about which they wrote - became more important as the various regions took on (just as they continue to take on) distinct identities. Many early European American writers concerned themselves with creating identities for the various lands they were describing. For example, while
</p>
<p>
[Page 84]
</p>
<p>
Hern&aacute;n Cort&eacute;s portrays what is now Mexico as a land of enormous and easily accessible wealth in his Cartas de Relaci&oacute;n (1519-1536), the anonymous Gentleman (or Hidalgo) of Elvas, through his 1557 first-person narrative of the Hernando de Soto expedition, shows la Florida, or what is now the southeastern United States, to be a harsh wilderness that only the bravest of people could gather wealth from, and Pedro de Casta&ntilde;eda, through his late sixteenth-century first-person narrative of the Francisco V&aacute;squez de Coronado expedition, develops a similar identity for what is now the southwestern United States. Early eighteenth-century English American writers, including John Lawson, are part of a wider European American literary tradition of making the discovery and creation of identities for their European homelands' New World possessions a central feature of New World histories. Among the identities most often mentioned for the New World is that of the terrestrial paradise. Beginning with writings by Christopher Columbus, images of America as the Garden of Eden appear throughout early exploration literature. Columbus, believing that he had sailed from Europe to Asia, concluded that the terrestrial paradise must be close at hand. In fact, when writing about his third voyage along the coast of present day Venezuela in 1498, Columbus claims to have gotten as close as any human could to the terrestrial paradise. After describing a great freshwater river in the Gulf of Pearls (the present day Gulf of Paria), Columbus tells the Spanish sovereigns that he has found the Garden of Eden, as described in the Book of Genesis (2:8-10), where there is a fountain which serves as the origin of the major rivers of the world:
</p>
<p>
grandes indicios son estos del para&yacute;so terrenal, porqu'el sitio es con forme &aacute; la opini&oacute;n d'estos sanctos y sanos the&oacute;logos. y asimismo las se&ntilde;ales son muy con formes, Sue yo jam&aacute;s le&yacute; ni o&yacute; Sue tanta cantidad de agua dulce fuese as&iacute; adentro y vezina con la salada. (39)
</p>
<p>
great indicators are these of the terrestrial paradise, because the situation is in agreement with the opinion of those blessed and sound theologians. and likewise the signs are very much in agreement, because I never read nor heard about such great quantity of sweet [i.e., fresh] water coming thus within and near the salt.1
</p>
<p>
Even before Columbus wrote his letters to the Spanish sovereigns, European cultures had developed a literary tradition describing rich land across the western sea. For example, in the Old Norse Eirik's Saga, one of the Vinland sagas about Viking exploration of what is now North America, Thorvald Eiriksson is shot by a Uniped. 2 In his final words, Thorvald praises the new lands where he dies rather than condemning them: "Thorvald pulled out the arrow and said, 'This is a rich country we have found; there is plenty of fat around my entrails'" (qtd. in Magnusson and Palsson 120). From the start, European American literature has promoted the Americas as an earthly paradise. Although the terrestrial paradise motif continued to play an important role in descriptions of the New World, by the early eighteenth century, promoting England's North American colonies as a Garden of Eden had become more and more difficult. The English nation's first attempts at
</p>
<p>
[Page 85]
</p>
<p>
North American colonization, the Roanoke expeditions, had ended in failure, including the by now mythic "Lost Colony." Additionally, ordeals such as the Jamestown colony's winter of 1609 "Starving Time" first became part of the public record in works such as John Smith's 1624 A General Historie of Virginia, New-England, and the Summer Isles and were recounted again in books such as Robert Beverley's 1705 The History and Present State of Virginia. Adding to the difficulties of learning to live off the land were financial disappointments: the failure to locate either the gold of Spanish America or the silk and spices of the Orient. A final blow seemingly dealt to European American writers attempting to describe a North American Eden were narratives such as Mary Rowlandson's 1682 A True History of the Captivity and Restoration of Mrs. Mary Rowlandson that portrayed the Native American population as blood-hungry devils. It would be difficult to imagine anyone's being able to create a plausible image of North America as the terrestrial paradise with such trouble-filled descriptions of the British colonies being sent back to England and the rest of Europe.
</p>
<p>
John Lawson, however, creates just such a plausible image of a New World Eden in his A New Voyage to Carolina. By writing about the Carolinas - and North Carolina, in particular - Lawson provides himself with a region to describe which in 1709 was almost unknown to Europeans, allowing himself free rein in creating an image of the region for his European audience.3 Comparing Lawson's A New Voyage to Carolina with two contemporary works, Robert Beverley's History and Present State of Virginia (1705) and Ebenezer Cook's The Sot-weed Factor (1708), illustrates the difference between Lawson's rhetorical strategy and those of other early eighteenth-century European American writers. While Beverley portrays Virginia as a lost paradise and Cook portrays Maryland as a false paradise, Lawson shows North Carolina to be a true paradise, an Eden so forgiving that no human foible can ruin it. The true paradise of Lawson's North Carolina allows humans to laugh off their sins rather than wallow in them.
</p>
<p>
The earliest of these three works, Beverley's The History and Present State of Virginia, provides an interesting contrast to Lawson's A New Voyage to Carolina through its paradise imagery and through the very structure of the two histories. In both imagery and structure, Beverley describes his part of the New World, Virginia, as a vanished Eden. Beverley divides his work into four books. The first gives a history of Virginia from the time of the Roanoke expeditions in the 1580s to Beverley's present day. The second describes the geography, flora, and fauna of Virginia. The third is Beverley's ethnographic study of the Native Americans in the region, still an important anthropological study. And the fourth covers what Beverley calls "the Present State of VIRGINIA" (235), that is, the politics and economy of Virginia in the earliest years of the eighteenth century. Through these four books, Beverley describes a land which was once a terrestrial paradise but is no longer. At the very start in Book I of his history of Virginia since the arrival of the English, Beverley presents an Edenic image of the region. He begins with the late sixteenth-century Roanoke expeditions, and even though Beverley notes that the lands originally visited by these English explorers were, by 1705, under the government of North Carolina, he still sees the
</p>
<p>
[Page 86]
</p>
<p>
history of Virginia as beginning with Roanoke Island's exploration by the English, for it was originally part of the Virginia colony. To describe the first reports by members of the 1584 expedition concerning their encounter with the New World, Beverley writes:
</p>
<p>
They gave a very advantageous Account of Matters; by representing the Country so delightful, and desirable; so pleasant, and plentiful; the Climate, and Air, so temperate, sweet, and wholsome[wholesome]; the Woods, and Soil, so charming, and fruitful; and all other Things so agreeable, that Paradice [Paradice] it self[itself] seem'd [seemed] to be there, in its first Native -Lustre[Luster]. (15-16)
</p>
<p>
According to Beverly, not only was the land Edenic but the natives appeared to be prelapsarian remnants, people who were as innocent as Adam and Eve before their fall from God's grace. To tell why in 1584 Virginia was an appropriate name for these lands, Beverley describes these people as free from original sin:
</p>
<p>
It [Virginia] did still seem to retain the Virgin Purity and Plenty of the first Creation, and the People their Primitive Innocence: For they seem'd[seemed] not debauch'd[debauched] nor corrupted with those Pomps and Vanities, which had depraved and inslaved[enslaved] the Rest of Mankind; neither were their Hands harden'd[hardened] by Labour[Labor], nor their Minds corrupted by the Desire of hoarding up Treasure: They were without Boundaries to their Land; and without Property in Cattle; and seem'd[seemed] to have escaped, or rather not to have been concern'd[concerned] in the first Curse, Of getting their Bread by the Sweat of their Brows.... (17)
</p>
<p>
Even the title of Beverley's second book emphasizes the idea that Virginia, before the arrival of the English, was a terrestrial paradise, "Of the NATURAL Product and Conveniences of Virginia; in its Unimprov'd[Unimproved] STATE, before the English went thither" (115), and in his third book on Native American ethnography, Beverley hopes to "have given a succinct account of the Indians; happy, I think, in their simple State of Nature, and in their enjoyment of Plenty, without the curse of Labour[Labor]" (233).
</p>
<p>
How could such a paradise be lost? For Beverley, the very nature of Europeans forces English settlers into a different lifestyle within the perfect world. According to him, other peoples of the world, unlike Native Americans, do suffer under the first curse, having to labor for their gains. By the end of Book IV, in the conclusion to his entire work, Beverley emphasizes not only the goodness of Virginia, but also the laziness of the European Americans, who live there without taking advantage of the opportunity to improve their lot. Virginia provides all the materials necessary for shipbuilding, yet Virginians "can see their Naval Stores daily benefit other People, who send thither to build Ships; while they, instead of promoting such Undertakings among themselves, and easing such as are willing to go upon them, allow them no manner of Encouragement, but rather the contrary" (318-19). While other colonies produce grain, Beverley continues, the Virginians
</p>
<p>
who can produce infinitely better, not only neglect the making a Trade thereof, but even a necessary Provision against an accidental Scarcity, contenting themselves with a supply of Food from hand to mouth.... (319)
</p>
<p>
[Page 87]
</p>
<p>
In addition, Beverley notes, because the Virginians have settled far apart from one another without establishing any major towns or cities for the purposes of manufacture and trade, "they cannot make a beneficial use of their Flax, Hemp, Cotten[Cotton], Silk, Silkgrass, and Wool, which might otherwise supply their Necessities..." (319). Beverley concludes his History with an overall description of the sinful state to which European Americans have fallen in Virginia:
</p>
<p>
Thus they depend altogether upon the Liberality of Nature, without endeavouring [endeavoring] to improve its Gifts, by Art or Industry. They spunge[sponge] upon the Blessings of a warm Sun, and a fruitful Soil, and almost grutch 4 the Pains of gathering in the Bounties of the Earth. I should be asham'd[ashamed] to publish this slothful Indolence of my Countrymen, but that I hope it will rouse them out of their Lethargy, and excite them to make the most of all those happy Advantages which Nature has given them.... (319)
</p>
<p>
For Beverley, European Americans have lost the paradise which Virginia once was because they do not add the gift of the fortunate fall, "Art or Industry." People of Old World ancestry, according to Beverley, have been both cursed by the necessity and blessed by the ability to improve the world through the sweat of their own work. The problem with the European Americans of Beverley's Virginia is that they will not labor to make themselves worthy of a return to the Garden of Eden. While The History and Present State of Virginia begins in an Edenic New World, by the work's conclusion, Virginia's terrestrial paradise no longer exists. It is interesting to note that Beverley portrays eighteenth-century Native Americans as having lost Eden as well through their contact with Europeans. As Judy Jo Small comments in her article "Robert Beverley and the New World Garden," at the end of his ethnographic study of Virginia's Native Americans in Book III, as a lead-in to the lost paradise theme of Book IV, Beverley describes a transition among Virginia's Native Americans. They have changed from their state of innocence before the encounter between Europe and America to their present state of "Drunkenness and Luxury":
</p>
<p>
They [Native Americans] have on several accounts reason to lament the arrival o f the Europeans, by whose means they seem to have lost their Felicity, as well as their Innocence. The English have taken away great part o f their Country, and consequently made every thing less plenty amongst them. They have introduc'd [introduced] Drunkenness and Luxury amongst them, which have mutiply'd [multiplied] their Wants, and puts them upon desiring a see thousand things, they never dreamt of before. (233)
</p>
<p>
Small notes that for Beverley this loss of paradise is brought on by the Europeans, people from outside America who suffer under the of labor (529). Beverley gives hope that paradise might be regained if Virginians will be "rouse[d]... out of their Lethargy," but now such a hope must be fulfilled by everyone, all suffering equally under the curse of labor, Native and European Americans alike. 5
</p>
<p>
From the very start, Lawson seems to respond to Beverley, creating an identity for the Carolinas separate from that of Beverley's Virginia. The
</p>
<p>
[Page 88]
</p>
<p>
first place which Lawson describes in the Carolinas is Charleston, the city from which his trek across the Carolinas begins. According to Lawson, there is no British settlement in the Americas which has done better than this city: "The Inhabitants, by their wise Management and Industry, have much improv'd the Country, which is in as thriving Circumstances at this Time, as any Colony on the Continent of English America..." (8-9) .6 Unlike Beverley's Virginians, these people do engage in the traffic of their goods. "The Merchants of Carolina, are fair, frank Traders," writes Lawson (11). The people of Lawson's Carolina, unlike those of Beverley's Virginia, have taken the goodness of the land around them and have used their paradise wisely.
</p>
<p>
It is important to note that even though Lawson uses the terms Carolina	and Carolinas throughout A New Voyage to Carolina, the focus of his work is on North Carolina. After telling of his trek across the Carolinas - from Charleston, South Carolina, as far inland as the site of present day Charlotte, and then back to the east arriving near present day Bath - Lawson opens the second section of his book with the following statement:
</p>
<p>
The Province of Carolina is separated from Virginia by a due West-Line, which begins at Currituck-Inlet, in 36 Degrees, 30 Minutes, of Northern-Latitude, and extends indefinitely to the Westward, and thence to the Southward, as far as 29 Degrees; which is a vast Tract of Sea-Coast. But having already treated, as far as is necessary, concerning South-Carolina, I shall confine myself, in the ensuing Sheets, to give my Reader a Description of that Part of the Country only, which lies betwixt Currituck and Cape-Fair, and is almost 34 Deg. North. And this is commonly call'd North Carolina. (68) 7
</p>
<p>
Lawson's interest is in North Carolina and the largest portion of his work is devoted to describing that part of the region under the rule of the English Lords Proprietors. As will be discussed below, the structure of Lawson's narration concerning his trek across the Carolinas portrays North Carolina as being even more Edenic than South Carolina about which, as seen above in the description of Charleston, Lawson thought highly. Lawson's Carolina is North Carolina, and his image of the lands between Currituck and Cape Fear comes across as the terrestrial paradise. Even Lawson's name for the southern boundary of North Carolina, Cape Fair rather than Cape Fear, implies the Edenic quality of the area.8
</p>
<p>
However, because his purpose does not include showing the loss of paradise, Lawson does not need to literally name North Carolina as the Garden of Eden. Therefore, his Edenic imagery portrays North Carolina as a paradise by implication rather than, as Beverley does, by the direct naming of these lands as "paradise." Lawson identifies North Carolina as a paradise by letting the goodness of the land, as he describes it, speak for itself. For example, Lawson opens his description of the first settlement of the Albemarle region in this manner:
</p>
<p>
A...Settlement of this Country was made about fifty Years ago, in that part we now call Albemarle-County, and chiefly in Chuwon Precinct, by several substantial Planters, from Virginia, and other Plantations; Who finding mild Winters, and a fertile Soil, beyond Expectation, producing
</p>
<p>
[Page89]
</p>
<p>
every thing that was planted, to a prodigious Increase; their Cattle, Horses, Sheep, and Swine, breeding very fast, and passing the Winter, without any Assistance from the Planter; so that every thing seem'd to come by Nature, the Husbandman living almost void o f Care, and free from those Fatigues which are absolutely requisite in Winter-Countries, for providing Fodder and other Necessaries....(69)
</p>
<p>
What Beverley portrays as the downfall of European Virginians - the ability to survive without having to give in to the curse of labor - becomes North Carolina's great advantage, Lawson's image of paradise. For Lawson, "every thing seem'd to come by Nature," that is, nature provided all that a person needed. Like Beverley, Lawson does not discourage labor. However, for Lawson labor becomes a gift of choice - rather than Beverley's curse of necessity - which people offer to paradise in return for nature's gifts.
</p>
<p>
Lawson also develops his paradise imagery through descriptions of abundance. Lawson's North Carolina possesses a seemingly endless variety of flora and fauna, just as the Garden of Eden contained all the species of the earth (Gen. 2:19-20). At the end of each lengthy section describing the extensive variety of animal species he has found in North Carolina, Lawson notes that these are all the animals "which Carolina affords and are yet known to us" (131), letting his readers know that there are many more types still to be found in that region. And on the plants of the region, Lawson writes, "Not but we are satisfy'd, the Species of Vegetables in Carolina, are so numerous, that it requires more than one Man's Age to bring the chiefest Part of them into regular Classes..." (84). In the sheer number of species, Lawson's North Carolina is the closest thing humankind has found to the Garden of Eden.
</p>
<p>
Lawson's description of North Carolina's fertility also creates a paradise of abundance. As W. H. Lindgren points out in his article "Agricultural Propaganda in Lawson's A New Voyage to Carolina," in the section "Of the Corn of Carolina" (80-83), 9 Lawson exaggerates the yields of wheat, maize, and rice, making the amount of grain producible in North Carolina's soil seem almost magical to the typical European farmer. Such fertility applies to people as well as to plants:The Women [of Carolina]are very fruitful; most Houses being full of Little Ones. It has been observ'd that Women long marry'd, and without Children, in other Places, have remov'd to Carolina, and become joyful Mothers. They have very easy Travail in their Child-bearing, in which they are so happy, as seldom to miscarry.(91)
</p>
<p>
People, like plants and animals, are fertile in the paradise of North Carolina, and even the curse that tradition has assigned to Eve for having tempted Adam with the apple, the pain associated with childbirth, has been taken away. Lawson's imagery portrays North Carolina as a true terrestrial paradise.
</p>
<p>
In addition to the differing paradise motifs within Beverley's and Lawson's writings, the structure of each work highlights its message about the New World Eden. While both authors divide their works according to topic - Beverley into four sections, Lawson into five - the differences in the section topics and their order in each work reemphasizes the paradise
</p>
<p>
[Page 90]
</p>
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/3PARA001.jpg">
      <img src="{{ site.baseurl }}/img/7PARA001.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>
<p>
The first advertisement for Lawson's book appeared in
</p>
<p>
PostMan: And the Historical Account Etc., 28-30 April 7709
</p>
<p>
images both authors create. Beverley, as noted, divides The History and Present State of Virginia into four books: one on the political history of Virginia, one on the region's natural resources, one on the Native Americans of the area, and one on the colony's political situation in the early 1700s. Lawson's five sections are similar to Beverley's but with some significant changes: (1) a narrative of Lawson's 1701 trek throughout the region; (2) a short overview of the region's discovery, geography, and food production; (3) a description of North Carolina's advantages over other British American colonies; (4) lengthy descriptive lists of the flora and fauna discovered in North Carolina; and (5) the self-explanatory "An Account of the Indians of North Carolina." To develop the various sections of their works, Lawson and Beverley employ both narration and description, the two basic modes of writing. Beverley uses narration as the basis for his first and fourth books, and he uses description as the basis for the middle two books. 10 Lawson, on the other hand, uses narration as the basis for his first section, a blend of narration and description for the second section, and description as the basis for the rest of the work.
</p>
<p>
The switch from narration to description - and back again, for Beverley - changes the focus of each section. Narration tells about the world as it changes through time. Description shows the world as it is fixed in time, in an almost eternal manner. The difference is much the same as that between moving pictures and still photographs. As Judy Jo Small points out, because Beverley stresses narration in The History and Present State of Virginia by using the narrative mode to both open and close the work, the Christian myth concerning the loss of paradise becomes the entire work's
</p>
<p>
[Page 91]
</p>
<p>
organizing principle (527-29). Time is that element which allows for change, which allows for the fall of humankind. Beverley's descriptions of Virginia's natural wonders and prelapsarian Native Americans in Books II and III are framed by the morass of European Americans' political follies. Even within the longer of the two narratives, Beverley's Book I on the history of Virginia from the beginnings of English exploration and settlement, a single narrative pattern repeats itself several times: the possibility of goodness in Virginia is presented, only to have the politics of European American settlers and English rulers destroy that original possibility for a New World Eden.
</p>
<p>
Lawson, on the other hand, by not returning to narrative at the end of his work, stresses the eternal nature of North Carolina. He never forces his descriptions of North Carolina's native peoples or natural resources to fit into the changes of time that narratives make necessary. And just as Beverley's opening narrative uses a pattern that emphasizes his overall message about Virginia's lost paradise, Lawson's opening narrative uses a pattern emphasizing North Carolina's Edenic qualities. Lawson's 1701 travels in the Carolinas begin in Charleston, move inland along the Santee and Wateree Rivers of South Carolina, turn north into North Carolina near present-day Waxhaw, continue north until near present day High Point, then move east, ending along Bath Creek as it nears the Pamlico River. Though these are travels in both the Carolinas, they chronologically move Lawson from one Carolina into the other. As this move occurs, Lawson's admiration for the lands he passes through continually increases. After several weeks on his journey, once he is within inland South Carolina, Lawson finds "the Land to improve it self in Pleasantness and Richness of Soil" (31). As he gets closer and closer to North Carolina, the land gets better and better, until once he reaches North Carolina itself, paradise has been reached: "[T]his Land . . . is in my Opinion, so durable that no Labour of Man, in one or two Ages, could make it poor" (45-46). Even the curse of labor cannot destroy the paradise of Lawson's North Carolina. In both imagery and structure, Lawson establishes the Edenic identity of the terrestrial paradise for his North Carolina, an identity in contrast with that Beverley creates for his Virginia through the same tools of imagery and structure.
</p>
<p>
Lawson uses one other device to establish North Carolina's identity as the location of the New World Eden: humor. A New Voyage to Carolina is not the first work to use humor to develop a message about paradise in the New World, but it is unusual in its use of humor to uphold the possibility of a terrestrial paradise in British America. More typical is Ebenezer Cook's The Sot-weed Factor; or, a Voyage to Maryland, &amp;c., a satire of both European American culture, particularly in Maryland, and of European misconceptions about the New World. 11 Cook uses outward pointing, Juvenalian satire to show that the New World is not a paradise, that it never was and never would be. Lawson, in contrast, uses self-aimed, Horatian satire to gently poke fun at human foibles, making European Americans out to be sweet bumblers in the midst of a New World Eden that, once understood, will make them comfortable and welcome.
</p>
<p>
Cook's The Sot-weed Factor, a long narrative poem written in heroic couplets, tells the story of an Englishman who travels to Maryland because he has lost most of his money and hopes to earn it back in the
</p>
<p>
[Page 92]
</p>
<p>
tobacco trade. This sot-weed factor (sot-weed: tobacco, or more literally, "the weed that makes you drunk"; factor: trader, merchant) does not find the money-making utopia he believed Maryland would be. Instead, he finds a world of crude farmers, many of whom, as things turn out, are first-rate cheats. By story's end, the sot-weed factor has been tricked out of the goods he brought to the New World to trade for tobacco and has actually lost money while in search of great profit. Through his narrative, Cook satirizes English expectations of North America as an easy source of ready cash in his depiction of the sot-weed factor, and he satirizes the rough-hewn manners and lack of morals found among European American settlers in his depiction of the settlers the factor meets. 12
</p>
<p>
Even though The Sot-weed Factor is written using the first-person persona of the factor to tell the story, because of the poem's double-edged satire, the narrator's observations on early eighteenth-century Maryland and its people convincingly draw a portrait of the colony as seen from Cook's own point of view. In particular, Cook's poem develops an image of Maryland as anything but a New World Eden. For example, when the factor tells about his arrival in Maryland, he sees European Americans who wear neither hats nor shoes, and as a result of standing out in the sun have a "Hue as tawny as a Moor" (12). The factor muses about these strange people and their colony:
</p>
<p>
At last a Fancy very odd
</p>
<p>
Took me, this was the Land of Nod;
</p>
<p>
Planted at first, when Vagrant Cain,
</p>
<p>
His Brother had unjustly slain....(12)
</p>
<p>
Far from being the Garden of Eden, Cook's narrator identifies Maryland as the place to which Adam and Eve's son is banished by God after killing his brother Abel (Gen. 4.1-16); Cook's European Marylanders have even been given European folk tradition's version of the mark of Cain, dark skin. 13 Through such imagery, Cook twice removes Maryland from Eden: once through Adam and Eve's banishment, and once again through Cain's exile. In The Sot-weed Factor, the New World never was and never can be the terrestrial paradise. As a result, the humor upon which Cook bases his satire cuts harshly at both Maryland and its people.
</p>
<p>
In contrast, whenever the element of humor appears in Lawson's A New Voyage to Carolina, as it often does, it tends to endear the humorous character to the reader. For example, both Cook and Lawson tell of men waking up one morning to find themselves having been robbed during the night. In The Sot-weed Factor, the narrator tells how one night he goes to bed in the corn loft of an inn (there being no bed space left) after having that day seen the sheriff of the town seize any hats or wigs that fell off of drunken brawlers and after having seen the locals toss their clothes on a fire rather than mend them. The next morning the factor wakes up to find
</p>
<p>
[Page 93]
</p>
<p>
that his "Shooes were vanish'd quite; / Hat, Wig, and Stockings, all were fled..." (23). Angrily he exclaims:
</p>
<p>
Vext at the loss of Goods and Chattle,
</p>
<p>
I swore I'd give the Rascal battel,
</p>
<p>
Who had abus'd me in this sort,
</p>
<p>
And Merchant Stranger made his Sport.
</p>
<p>
I furiously descended Ladder;
</p>
<p>
No Hare in March was ever madder:
</p>
<p>
In vain I searched for my Apparel,
</p>
<p>
And did with Oast 14and Servants Quarrel;
</p>
<p>
For one whose Mind did much aspire
</p>
<p>
To Mischief, threw them in the Fire;
</p>
<p>
Equipt with neither Hat nor Shooe,
</p>
<p>
I did my coming hither rue....(24)
</p>
<p>
To this, Cook adds a footnote in his own voice, writing, "'Tis the Custom of the Planters, to throw their own, or any other Persons Hat, Wig, Shooes or Stockings in the Fire" (24). For all his ranting and raving, the only response the factor gets is "Mirth and jests" from the people at the inn (24). In The Sot-weed Factor, the prankish theft makes both thief and factor look stupid, and Cook, criticizing them both for their excesses, reveals Maryland and its European colonists in a bad light.
</p>
<p>
In A New Voyage to Carolina, a similar theft occurs, only in this case the thief is a Native American prostitute. Staying one night in a town of the Wisacky tribe, one of the European American members of Lawson's party decides to take a Native American woman into his bed. The woman, as Lawson describes her, "being no Novice at her Game, but understanding what she came thither for, acted her Part dexterously enough with her Cully, to make him sensible of what she wanted; which was to pay the Hire, before he rode the Hackney" (46-47). The man and woman agree upon a price, and "Our happy Couple went to Bed together before us all, and with as little Blushing, as if they had been Man and Wife for 7 years" (47). Lawson completes the story by describing what happened the next morning:
</p>
<p>
About an Hour before day, 1 awak'd, and saw somebody walking up and
</p>
<p>
down the Room in a seemingly deep Melancholy. I call'd out to know who it was, and it prov'd to be Mr. Bridegroom, who in less than 12 Hours, was Batchelor, Husband, and Widdower, his dear Spouse having pick'd his
</p>
<p>
Pocket of the Beads, Cadis, 15 and what else should have gratified the Indians for the Victuals we receiv'd of them. However, that did not serve her turn, but she had also got his Shooes away, which he had made the Night before, of a drest Buck-Skin. Thus dearly did our Spark already repent his new Bargain, walking bare-foot, in his Penitentials, like some poor Pilgrim to Loretto.
</p>
<p>
After the Indians had laugh'd their Sides sore at the Figure Mr. Bridegroom made, with much ado, we muster'd up another Pair of Shooes, or Moggisons, and set forward on our intended Voyage, the Company (all the way) lifting up their Prayers for the new married Couple, whose Wedding had made away with that, which should have purchas'd our Food. (47)
</p>
<p>
[Page 94]
</p>
<p>
Even though the theft described by Lawson has greater potential consequences than that described by Cook's sot-weed factor, the tone is jovial rather than admonishing. The loss of a way to pay for their food along the trail doesn't prevent Lawson's party from "now and then paying...Respects to the new-married Man" (47-48). Carolina remains Edenic despite the foibles of its inhabitants, both Native and European Americans. In fact, the very next statement Lawson makes is that "The Land held rich and good. . ." (48).
</p>
<p>
Even when the satire turns directly against each of the narrators, the difference between the two works is evident. Near the beginning of The Sot-weed Factor, Cook has the factor unknowingly show himself to be a true greenhorn, someone who cannot figure out the simple dynamics of a canoe. Deciding to cross one of Maryland's tidal rivers, the factor barely makes it across safely:
</p>
<p>
The Indians call this watry Waggon
</p>
<p>
Canoo, a Vessel none can brag on;
</p>
<p>
Cut from a Popular-Tree, or Pine,
</p>
<p>
And fashion'd like a Trough for Swine:
</p>
<p>
In this most noble Fishing-Boat,
</p>
<p>
I boldly put myself a-float;
</p>
<p>
Standing Erect, with Legs stretch'd wide,
</p>
<p>
We paddled to the other side:
</p>
<p>
Where being Landed safe by hap,
</p>
<p>
As Sol fell into Thetis Lap. (13)
</p>
<p>
Though he begins by making the canoe the villain in his perilous trip across the river, calling it a pig trough, anyone familiar with canoes recognizes that the danger in the trip is the narrator's own fault. Even the most simple-minded person ought to recognize that in a canoe, one sits down rather than stands up, but not the factor. He gets across despite his actions, not because of them, although he never recognizes his foolishness.
</p>
<p>
Lawson, on the other hand, clearly recognizes his own silliness when he falls into a creek along the trail:
</p>
<p>
Hearing of a Camp of Santee Indians not far of [sic], we set out intending to take up our Quarters with them that Night. There being a deep Run o f Water in the Way, one of our Company being top-heavy, and there being nothing but a small Pole for a Bridge, over a Creek, fell into the Water up to the Chin; my self laughing at the Accident, and not taking good Heed to my Steps, came to the same Misfortune....(22)
</p>
<p>
While Lawson does poke fun at his companion, he also aims the humor at himself. Cook, by using a first-person narrator, pokes fun at the narrator while keeping himself as author distanced from the actions he satirizes. Lawson, on the other hand, satirizes himself as much as he satirizes anyone else. Cook's use of humor builds tensions while Lawson's diffuses them.
</p>
<p>
Finally, even the humor used to portray nature helps show how Cook's use of outward pointing satire creates an absolutely non-Edenic identity for Maryland while Lawson's use of self-aimed satire allows his identifica-
</p>
<p>
[Page 95]
</p>
<p>
tion of North Carolina as a terrestrial paradise to remain convincing despite the hardships experienced there by European Americans. On his first night in the New World, the factor lays himself down to sleep, only to be roused by the entrance of his planter host's domestic menagerie. First a cat and a pig enter the room and start fighting, which makes a nearby dog start barking. When that stops, a fox comes in chasing several ducks and geese. The factor runs them out of the room, but as he does, a pack of dogs enters to "help" him. The factor decides that perhaps sleeping in the orchard will be better, but there he meets with a wild menagerie even worse than the domestic one. He finds the croaking frogs so loud that he stuffs cotton in his ears, but this prevents him from hearing the approach of an attacking rattlesnake. Luckily he escapes, and finally, he climbs into a tree, hoping to rise above the fray below:
</p>
<p>
Not yet from Plagues exempted quite,
</p>
<p>
The curst Muskitoes did me bite;
</p>
<p>
Till rising Morn' and blushing Day,
</p>
<p>
Drove both my Fears and Ills away;
</p>
<p>
And from Night's Errors set me free. (17)
</p>
<p>
The narration Cook writes in the factor's voice provides no clue that the factor could have done anything to prevent his ills. Cook thus portrays Maryland, with all of its wildlife (including the "domesticated" animals), as a place unfit for human habitation, the furthest thing from a Garden of Eden. Add to this the difficulty the factor has in his trip from England to the New World:
</p>
<p>
To Mary-Land our Ship was bound, / Where we arrived in dreadful Pain, / Shock'd by the Terrours of the Main; / For full three Months, our waveri[n]g Boat, / Did thro' the surely Ocean float, / And furious Storms and threat'ning Blasts, / Both tore our Sails and sprung our Masts. (11)
</p>
<p>
And Cook completes his picture of a non-Edenic New World where nature tosses people about at will from start to finish, from voyage over to everyday life in the colonies. 16
</p>
<p>
On the other hand, when Lawson describes the relationship between people and nature, the blame for any problems is placed on the lack of human knowledge, not on any fault of nature. For instance, when describing alligators, Lawson tells of his own encounter with that creature. Having built a house along the Neuse River for himself and a young Native American companion sometime after his trek across the Carolinas, Lawson is left alone on the night he finds out about alligators:
</p>
<p>
One of them had got his Nest directly under my House, which stood on pretty high Land, and by a Creek-side, in whose Banks his Entring-place was, his Den reaching the Ground directly on which my House stood. 1 was sitting alone by the Fire-side (about nine a Clock at Night, some time in March)...when, all of a sudden, this ill-favour'd Neighbour of mine, set up such a Roaring, that he made the House shake about my Ears, and so continued, like a Bittern, (but a hundred times louder, if possible) for four or five times. The Dog stared, as if he was frightned out of his Senses; nor
</p>
<p>
[Page 96]
</p>
<p>
indeed, could I imagine what it was, having never heard one of them before. Immediately again 1 had another Lesson; and so a third. Being at that time amongst none but Savages, I began to suspect, they were working some Piece of Conjuration under my House, to get away my Goods; not but that, at another time, 1 have as little Faith in their, or any others working Miracles, by diabolical Means, as any Person living. At last, my Man came in, to whom when 1 had told the Story, he laugh'd at me, and presently undeceiv'd me, by telling me what it was that made that Noise. (132-33)
</p>
<p>
Lawson, instead of lashing out against nature as Cook does, uses the story to poke fun at his own ignorance, even admitting that the unidentified roar of the alligator beneath his floorboards made him believe, for at least a moment, in the possibility of magic.
</p>
<p>
Compare, as well, Cook's description of New World frogs with Lawson's description of the same animals. Cook writes:
</p>
<p>
Hoarse croaking Frogs did 'bout me ring,
</p>
<p>
Such Peals the Dead to Life would bring,
</p>
<p>
A Noise might move their Wooden King. (17)
</p>
<p>
To this description in the narrator's voice, Cook adds a footnote: "Frogs are called Virginea Bells, and make (both in that Country and Mary-Land) during the Night, a very hoarse ungrateful Noise" (17). In contrast,
</p>
<p>
Publication History of John Lawson's A New Voyage to Carolina
</p>
<p>
by E. Thomson Shields, Jr.
</p>
<p>
[Page 97]
</p>
<p>
Lawson's description of the croaking of New World frogs humorously emphasizes the misinterpretation of human listeners:
</p>
<p>
Of Frogs we have several sorts; the most famous is the Bull-Frog, so call'd, because he lows exactly like that Beast, which makes Strangers wonder (when by the side of a Marsh) what's the matter, for they hear the Fro;s low, and can see no Cattle....(137)
</p>
<p>
When mistakes are made in Lawson's North Carolina, they are made by humans coming in from outside the Edenic land and can be easily corrected through simple learning.
</p>
<p>
Through imagery, structure, and humor, Lawson creates an identity for North Carolina as the New World paradise. It is interesting that Lawson specifically marks North Carolina as the sight for this Eden by making direct references to how it differs from the two colonies for which Beverlev and Cook create identities, Virginia and Maryland. In describing the advantages North Carolina has over the other colonies, Lawson notes how Virginia and Maryland of necessity trade with the Carolinas for the provisions needed to survive:
</p>
<p>
The Planters in Virginia and Maryland are forc'd to [trade with the Carolinas for provisions], the great Quantities o f Tobacco that are planted there, making Provisions scarce; and Tobacco is a Commodity oftentimes so low, as to bring nothing, whereas Provisions and Naval Stores never fail of a Market .... We have not only Provisions plentiful, but Cloaths of our own Manufactures, which are made, and daily increase; Cotton, Wool, Hemp, and Flax, being of our own Growth....Besides, we can trade with South-Carolina, and pay no Duties or Customs, no more than their own Vessels, both North and South being under the same Lords-Proprietors...advantages I have no where met withal in America, except here. (167-68)
</p>
<p>
In every way, Lawson creates a special character for Carolina and in the process identifies himself, and thus the focus of his work, with the northern part of the English Lords Proprietors' holdings ("we can trade with South-Carolina"). While Beverley and Cook write tracts about Virginia and Maryland, lamenting either the loss or non-existence of paradise in their colonies, Lawson develops a literary technique that allows him to convincingly portray North Carolina as the earthly paradise Beverley and Cook seem to long for.
</p>
<p>
The literature of European American exploration has had from its very beginnings the hope for a New World Eden as one of its central themes. While most works find their American Eden now soiled, usually by English and other colonists, Lawson's development of an identity for North Carolina allows readers, at least through the written word, to finally arrive at the terrestrial paradise.
</p>
<p>
The publication history of John Lawson's A New Voyage to Carolina is somewhat complex and not yet complete. First published as "A new Account of Carolina, by Mr. Lawson" in four monthly installments between April and July of 1709 as part of John Stevens's A New Collection of Voyages and Travels, it was issued later that year as a separate work. However, while the group of publishers who issued Stevens's A New Collection of Voyages placed several advertisements for the monthly installments of Lawson's part of the collection, no advertisements appear for A New Voyage to Carolina as a separate work in the 1709 London newspapers.
</p>
<p>
This lack of publicity indicates that until A New Voyage to Carolina was reissued in 1714 under the title of The History of Carolina, the publishers may not have considered Lawson's a separate work, but only part of the larger anthology. Additionally, as E. Bruce Kirkham shows, the 1709, 1714, and 1718 reissues of Law-son's work are most likely leftover copies of the Lawson selection in Stevens, bound with a newtitle page each time. As such, the term edition is technically incorrect when describing these reissues because it implies a resetting of the type, supposedly with corrections, emendations, and so forth. Despite its place in North Carolina history, A New Voyage to Carolina was probably not a best seller in London at the time of its original publication.
</p>
<p>
Lawson's work, however, did grow in importance, whether later authors openly admitted to its influence or not. In 1712, a German translation printed in Hamburg appeared, while the year before, a Swiss promotional tract in German, which plagiarized from A New Voyage to Carolina, had been printed in Bern. Additionally, when William Byrd tried to attract a group of Swiss immigrants to lands he owned along the Roanoke, a German language tract called Neu-gefundenes Eden (NewFound Eden, 1737) was written, again plagiarizing heavily from Lawson's work. However, the most famous plagiarism of A New Voyage to Carolina has been John Brickell's The Natural History of North Carolina (1737), which even into the twentieth century was considered by some to be one of the most important, and sometimes the most important, source on early eighteenth-century North Carolina history and culture.
</p>
<p>
1. The translation is my own and is as literal as possible, including Columbus's unusual practices with punctuation and capitalization.
</p>
<p>
2. A mythical one-footed creature the Vikings encounter in the wilds of Vinland (i.e., North America).
</p>
<p>
3 Though first published in English, Lawson's a New voyage to Carolina was translated into German by 1712. Given its publication history (see sidebar), A New Voyage may have had more influence on German language readers than on English readers, especially considering Lawson's part in the founding of New Bern, a city of Swiss emigrants.
</p>
<p>
4 Grutch, according to the Oxford English Dictionary, is a verb meaning to be reluctant to give or allow (something); to begrudge.
</p>
<p>
5 For more on Beverley's use of paradise them, imagery, in addition to Small, see Wilbur Jacob', "Robert Beverley: Colonial Ecologist and Indian Lover"; Leo Marx, The Machine in the Garden: Technology and the Pastoral Ideal in America (75-88); and Lewis P. Simpson, The Dispossessed Garden: Pastoral and History in Southern Literature (12-I 7).
</p>
<p>
6 Although Lawson goes on to note that the southern colonies in general, including Virginia and Maryland, have done better than the northern colonies, the contrast made here is between Lawson's portrait of Carolinians and Beverley's portrait of Virginians.
</p>
<p>
7 The measure of 36&deg; 30' is an accurate description (more or less) of the North Carolina-Virginia border; however, 29&deg; for the southern boundary would have placed it on a latitude with present day Daytona Beach, Florida, including within its bounds the well-established Spanish settlement at St. Augustine. The practical border was approximately what is today the Georgia-Florida border.
</p>
<p>
8 As an indication that Lawson chose to portray the North Carolina coast in a favorable light by using the term Cape Fair, compare the maps in w. P. Cumming's North Carolina in Maps. Only one of the early maps of North Carolina, the 1606 Mercator-Hondius map, uses a similar term, denoting it as C. of faire is est,Prom. tremendurn. At the same time, it should also be noted that one of Lawson's sources, William Hilton's "A Relation of a Discovery Lately Made on the Coast of Florida," from which Lawson quotes extensively (Laws on 72-79 ),also calls it Cape Fair; however, none o f the other narratives with which Alexander S. Salley, Jr., anthologizes Hilton's (in Narratives of Early Carolina, 1650-1708) uses the term, preferring to call it Cape Fear when referring to the promontory and the river.
</p>
<p>
9Corn in Lawson's section title means any type of food grain, not just maize.
</p>
<p>
10 Actually, Beverley's Book IV is not narrative in the traditional sense, but because it describes "The present State of the Country," it portrays the end point of the narrative in Book 1 and is a description of a specific moment in time without the connotation of an eternal state implied in the term description as used in this text.
</p>
<p>
11 Ebenezer Cook spelled his last name both Cook and Cooke. Either form is acceptable when citing his works.
</p>
<p>
12 For a complete discussion of the double twist to Cook's satire in The Sot-weed Factor, see J. A. Leo Lemay's Men of Letters in Colonial Maryland (77-93). Also see Robert D. Arner, "The Blackness of Darkness: Satire, Romance, and Ebenezer Cooke's The Sot-weed Factor," "Ebenezer Cooke's The Sot-weed Factor: The Structure of Satire," and Gregory A. Carey's "The Poem as Con Game: Dual Satire and the Three Levels of Narrative in Ebenezer Cooke's The Sot-weed Factor."
</p>
<p>
13 Though the Bible does say that God marked Cain following the murder of Abel (Gen. 4: IS), the specific nature of that mark is not part of the biblical story. It is only in European folk tradition that Africans, with their dark skin tones, were the bearers of the mark of Cain.
</p>
<p>
E. Thomson Shields, Jr., an assistant professor of English at East Carolina University, writes about early American exploration literature and the literature of the colonial South. At present he is working on a study of Richard Hakluyt's Divers Voyages (1582) and on an edition of A Modern Poem by "the Mecklenburg Censor," a 1777 satire about elections in Revolutionary War Charlotte.
</p>
<p>
14 Oast, a variant spelling of host.
</p>
<p>
15 Cadis, an inexpensive cloth.
</p>
<p>
16 In contrast, the only difficulty Lawson suffers while at sea is a leak in the ship while in the Islands of Scilly just off the southwest coast of England. The leak is repaired while Lawson and the other passengers pass time in hunting and fishing for sport. Lawson's trip across the Atlantic is made on fair winds and lasts only two months (Lawson 7-8).
</p>
<p>
Hugh T. Lefler's edition of A New Voyage to Carolina is available from the University of North Carolina Press for $14.95 plus $3 postage (and 6 1/2% sales tax for North Carolina residents). To place a charge card order, call 1-800-848-6224; or write the Press at PO Box 2288, Chapel Hill, 27515-2288.
</p>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Shields. E. Thomson, Jr. "Paradise Regained Again: The Literary Context of John Lawson's A New Voyage to Carolina." <em>North Carolina Literary Review</em> 1.1 (1992): 83-97.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar PS 266 N8 N66x v.1</td>
  </tr>
</table>
