---
layout: ecu
title:  "Marjorie Hudson, Among the Tuscarora: The Strange and Mysterious Death of John Lawson, Gentleman, Explorer, and Writer, North Carolina Literary Review, 1992"
customdate: "1992"
order: 19
---

{% include breadcrumbs.html %}

<h3>Marjorie Hudson, Among the Tuscarora: The Strange and Mysterious Death of John Lawson, Gentleman, Explorer, and Writer, <em>North Carolina Literary Review</em>, 1992</h3>

<div class="well">
  <label>Text and Image(s) from Journal Article</label><br/>

<p>
[page 62]
</p>
<p>
AMONG THE TUSCARORA
</p>
<p>
THE Strange AND Mysterious Death Of
</p>
<p>
John Lawson
</p>
<p>
GENTLEMAN, EXPLORER, AND WRITER
</p>
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/3TUSC001.jpg">
      <img src="{{ site.baseurl }}/img/7TUSC001.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>
<p>
[Image from the North Carolina State Archives, Division of Archives and History]
</p>
<p>
The death of John Lawson, a drawing by Baron Cristoph Von Graffenried
</p>
<p>
by Marjorie Hudson
</p>
<p>
They've taken his clothes, picked the straight razor out of his pocket: one brave fingers it, touches the blade - bright blood springs from his thumb and he laughs. The pitch pine split by the women is ready, a clay pot full of splinters, and now, one by one, the women thread these needles into his flesh, pushing just hard enough to bring the blood, to press past the strange white skin to the devil underneath. The man stands quiet at first. Then he begins to scream.
</p>
<p>
In 1711, the Tuscarora Indians of North Carolina murdered John Lawson, sticking him all over with pitch pine splinters before setting him ablaze. At the time, Lawson may have been the best English friend the Tuscarora had. From his first encounters, he seems clearly to have respected them. And in his writings, he lauded their natural graces, admired their courage, and blamed his fellow Englishmen for their destruction.
</p>
<p>
Lawson's death was only the opening act of "the most deadly Indian war in North Carolina history" (Lefler and Newsome 27). When it ended in 1713, the Tuscarora as Lawson knew them were no more. Today, Lawson's book, A New Voyage to Carolina, remains our most reliable record of the Tuscarora and the other Indians of Carolina's Coastal Plain and Piedmont; his journals captured those cultures in prose just before they were wiped clean from their rivers and creekside settlements, leaving the rich soil salted with arrowheads that emerge in cottonfields after rain. To this day, farmers pick them up, slip them in their pockets, and ruminate over them, as if they are pieces of some compelling but unsolvable puzzle.
</p>
<p>
In May 1700, John Lawson, filled with the spirit of adventure, set sail for the New World, heading for North Carolina on the advice of a world traveler he had met by chance in England. By December, he had somehow garnered an assignment from the Lords Proprietors to survey the unknown lands of the Carolina interior. As he traveled, he collected plant specimens for a London botanist; he also kept a journal describing the New World plants and wildlife. Lawson wrote about them in such lush detail it's not surprising that a later plagiarism of his journal was entitled "The Newly Discovered Eden." But his most compelling records are those describing Eden's native inhabitants.
</p>
<p>
Gary Snyder says that when early explorers confronted wilderness and natural societies, they "had to give up something of themselves: they had to look into their own sense of what it meant to be a human being" (13). What he calls "the etiquette of the wild" requires that we "learn the terrain, nod to all the plants and animals and birds, ford the streams and cross the ridges, and tell a good story when we get back home" (24). Surely John Lawson did that; nearly three centuries after its publication, his story still makes fascinating reading, as it opens up for us the mysteries of the first North Carolinians.
</p>
<p>
Lawson treats the Carolina Indians in two sections of his book. In the first, a narrative of his first walking trip through North and South Carolina, he introduces readers to successive nations as he encounters them. In his journal entries, each nation is freshly revealed as a discrete social and political unit, with physical differences, special foods and ceremonies, clothing and housing, tall tales and superstitions. In his last section, he lumps together these distinct nations into a general portrait, "An Account of the Indians of North Carolina," in which he draws from his eight years of continued study and travel from his new home in eastern North Carolina.
</p>
<p>
[Page 64]
</p>
<p>
On 28 December 1700, Lawson set off from Charleston, South Carolina on his 59-day pilgrimage into the heart of the Carolina frontier. He traveled light. Packed into a single huge canoe was all of his equipment - guns, powder, some food, a religious tract, his journal, blankets trinkets for trading - and all of his crew: a party of five Englishmen, three Indian men, and one Indian woman.
</p>
<p>
Lawson seems to have been the kind of fellow who pops out of the bedroll raring to go, rain or shine. On at least one occasion, he was ready two hours before his Indian guide. He rarely stopped to rest, leaving slowpokes to catch up as best they could at the end of the day. The group covered, on foot or in canoes, an average of 10 to 20 miles a day - 30 on a good day. They never lingered long, stopping a day or two at an Indian town, visiting and feasting with the chief, trading a bit, hunting up some food and a new guide, then traveling on. Between settlements, they camped out in the woods, dining alfresco, often on turkey or opossum stew. For "a thousand miles" (more like 500 as the crow flies), they followed rivers and trading paths, from the South Carolina coast to the Piedmont of North Carolina, in a crescent-shaped trail that eventually turned back east toward the ocean, concluding between Washington and Bath, by the Pamlico River. For virtually every river Lawson encountered, he also found an Indian nation with its own ruler and customs; often the nation would bear that river's name. The Santee, the Congaree, the Wateree, the Waxhaw, the Catawba, the Eno, the Meherrin, the Neuse, the Sapona, and the Pamlico - all were nations as well as waterways.
</p>
<p>
Lawson's reaction to the amazing peoples he encounters is remarkably respectful for his own time and culture. He shows particular interest in Indian food, social mores, marriage customs, burial practices, and medicine men. He compares the demure Indian wives' ways favorably to those of some sharp-tongued Englishwomen; he finds sexual etiquette among a number of tribes amusing but oddly sensible. Marriage, divorce, and sexual favors are generally matters of mutual consent; the women are sexually liberated. He calls the religious men outrageous liars, yet painstakingly records their useful herbs and cures as well as the strange phenomena they claim to control. The Waxhaw, Catawba, and Sapona nations seem to impress him the most. For the Tuscarora, he shows a wry sympathy and a healthy respect.
</p>
<p>
From Charleston in deep winter, Lawson and his crew paddled up the South Carolina coast to the mouth of the Santee River, where their first four Indian guides left and went back home. There Lawson hired a Sewee guide and headed upriver to visit some small French settlements, where his hosts at our undertaking such a Voyage, thro' a Country inhabited by none but Savages, and them of so different Nations and Tongues" (Lawson 22).
</p>
<p>
Lawson and his companions soon entered a part of Carolina as yet unmapped and virtually unknown to the English. Successions of Indian guides provided escort from village to village, finding game, campsites, and river crossings for the Englishmen, and generally steering them away from trouble. An English trader in the group had traveled this way before; he proved an invaluable translator, providing introductions to Indian
</p>
<p>
[Text Continues on Page 66]
</p>
<p>
[Page 65]
</p>
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/3TUSC002.jpg">
      <img src="{{ site.baseurl }}/img/7TUSC002.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>
<p>
The capture of Lawson by Indians, artist unknown
</p>
<p>
North Carolina's Native Americans
</p>
<p>
by Jim Shamlin
</p>
<p>
Unlike many colonial writers, John Lawson respects the cultural differences among the many Indian nations he encounters. He writes, "[I]t often appears, that every dozen Miles, you meet with an Indian town, that is quite different from the others you last parted withal" (233).
</p>
<p>
In the early eighteenth century, three linguistic groups of Indians lived in North Carolina. The Algonquian, who lived in the northeastern sector when early European settlements were established, were generally friendly toward the settlers and adopted European customs. Algonquian tribes included the Hatteras, Pamlico, and Yaupon. The Iroquoian were split into two separate groups. One group, the Tuscarora, Nottoway, and Meherrin (among others) spread from the Coastal Plains to the Piedmont. The other group, the Cherokee, lived in the mountains. The British colonists had yet to encounter Cherokee during Lawson's time, but the Tuscarora were an almost daily presence in colonists' lives. Relations with the Tuscarora were at best, tepid, and at worst, warring. The third linguistic group, Siouan, including the Waxhaw, Catawba, Sapona, Tutelo, and Occaneechi, inhabited the central part of the state. Encounters between the colonists and Siouan tribes were infrequent until after the Tuscarora War.
</p>
<p>
The language divisions, however, do not indicate cultural homogenity; separate nations existed within each divsion. Lawson's phonetic dictionary (233-39) of NativeAmerican languages, forexample, includes, from the neighboring Tuscarora, Pamlico, and Woccon nations, words for "pine-tree" (Heigta, Oonossa, and Hooheh), "Englishman" (Nickreruroh, Toshshonte, and Wintsohore), and "Indians" (Unqua,Nuppin, and Yauh-he).
</p>
<p>
Today, only the Cherokee remain as a recognized nation. The rest are generally remembered, if atall, by their legends and occasional excavations, or by the many Native American-derived names which North Carolinians still-use for crossroads, towns, counties, rivers, and ridges.
</p>
<p>
[Page 66]
</p>
<p>
traders and chiefs. Lawson apparently learned languages quickly. (He later would record portions of Woccon, Pamlico, and in Tuscarora such useful phrases as "Have you got anything to eat?" (Utta-ana-wox) and "Englishman is thirsty" (Oukwockaninniwock). With the help of translators, he recounted in his journal local history and customs as they were told to him by chiefs and guides, often recording Indian phrases and names.
</p>
<p>
Everywhere his men went, they were welcomed. The Santee, he writes,
</p>
<p>
made us very welcome with fat barbacu'd [barbacued] Venison, which the Woman of the Cabin took and tore in Pieces with her Teeth, so put it into a Mortar, beating it to Rags, afterwards stews it with Water, and other Ingredients, which makes a very savoury Dish. (25)
</p>
<p>
Among the Keyauwees, some of his party feasted on
</p>
<p>
Two young Fawns, taken out of the Doe's Bellies, and boil'd [boiled] in the same slimy Bags Nature had plac'd [placed] them in, and one o f the Country-Hares, stew'd [stewed] with the Guts in her Belly, and her Skin with the Hair on .... The Indians dress most things after the Woodcock Fashion, never taking the Guts out. (58)
</p>
<p>
One Tuscarora gave them "the Tail of a Bever, which was a choice Food," but others had nothing to share but "Corn-meat" (66). The Toteros gave them "Peach-Loaf, made up with a pleasant sort of Seed" ( 54-55). He does not indicate which Indians introduced him to
</p>
<p>
young Wasps, when they are white in the Combs, before they can fly, this is esteemed a Dainty. (182)
</p>
<p>
Indeed, the Indians' natural graciousness sets a high standard for the custom of white Southern hospitality.
</p>
<p>
The Santees, Lawson finds, are "a well-humour'd [well-humored] and affable People" (23), among whom stealing is "altogether unpractis'd [unpracticed], never receiving Spoils but from Foreigners" (24). Here Lawson witnesses the Santee methods of burial and mourning:
</p>
<p>
[T]hey lay the Corps upon a Piece of Bark in the Sun, seasoning or embalming it with a small Root beaten to Powder, which looks as red as Vermilion; the same is mix'd [mixed] with Bear's Oil, to beautify the Hair, and preserve their Heads from being lousy . . . .(28)
</p>
<p>
The body is then placed in a protected structure hung with gourds, feathers, and other trophies, and the worldly possessions of the deceased are placed around him. An official mourner,
</p>
<p>
clad in Moss, and a Stick in his Hand, keeping a mournful Ditty for three or four Days, his Face being black with the Smoak o f Pitch, Pine, mingl'd [mingled] with Bear's Oil,
</p>
<p>
gives a lengthy eulogy (28). Finally the flesh is removed from the bones and the bones are cleaned and preserved, the skull wrapped carefully in
</p>
<p>
[Page 67]
</p>
<p>
a cloth made of opossum hair, and the other bones oiled and placed in a wooden box. Thus,
</p>
<p>
you may see an Indian in Possession of the Bones of his Grand-father, or some of his Relations of a larger Antiquity. (28-29)
</p>
<p>
The next large nation encountered is the Congaree,
</p>
<p>
a very comely Sort of Indians; there being a strange Difference in the Proportion and Beauty of these Heathens. (35)
</p>
<p>
They tame six-foot-tall crimson-headed cranes and keep them for pets in their huts. Lawson pauses to note here, still early in his journey, that the Santee, Sewee, and Congaree
</p>
<p>
Nations border one upon another, [and] yet you may discern as great an Alteration in their Features and Dispositions, as you can in their Speech, which generally proves quite different from each other .... (35)
</p>
<p>
Farther along, he finds the Wateree "are likely tall Persons," who give the travelers food but try to steal everything in sight:
</p>
<p>
Next Morning, we took off our Beards with a Razor, the Indians looking on with a great deal o f Admiration .... They would fain have borrow'd our Razors,, as they had our Knives, Scissors, and Tobacco-Tongs, the day before, being as ingenious at picking of Pockets, as any, 1 believe, the World affords; for they will steal with their Feet. (38-39)
</p>
<p>
His opinion seems later to have softened, as he better understood the phenomenal Indian hospitality. Indians in general, he later explains, share everything they have among themselves and are generous with strangers, perhaps expecting Englishmen to reciprocate:
</p>
<p>
They are really better to us, than we are to them; they always give us Victuals at their Quarters, and take care we are arm'd against Hunger and Thirst: We do not so by them (generally speaking) but let them walk by our Doors Hungry .... (243)
</p>
<p>
The Waxhaw nation is probably the strangest Lawson encounters, being
</p>
<p>
of an extraordinary Stature, and call'd [called] by their Neighbours flat Heads, which seems a very suitable Name for them. (39-40)
</p>
<p>
Lawson explains their practice of binding the infants' heads to a flat board, pressing the forehead inward:
</p>
<p>
[I]t makes the Eyes stand a prodigious Way asunder, and the Hair hang over the Forehead like the Eves or a House, which seems very frightful. (40)
</p>
<p>
The Waxhaw men claim that this practice improves their eyesight, making them excellent hunters.
</p>
<p>
[Text Continues on Page 69]
</p>
<p>
[Page 68]
</p>
<p>
The Tuscarora War
</p>
<p>
by Jim Shamlin
</p>
<p>
Several sources of conflict arose between the British colonists and the Tuscarora. While it would seem that land was plentiful, the Native Americans built their villages on riverbank locations sought by colonists who looked for fertile soil and access to water transportation. The European settlers often cheated the Native Americans in trade and sometimes stole from them or killed them to obtain goods; the increasingly brisk trade in slaves further depleted the Indian populations. Other problems arose from the intrusion of a culture that clearly defined land ownership upon another whose notions of ownership were much more subjective. To the Tuscarora, land and the animals that roamed it were not personal property, but natural resources available to anyone in need. Yet, what they personally grew belonged to the grower, and they respected that ownership. But the colonists rarely understood when a Tuscarora raiding party took their livestock, or when they set fire to the land before their annual hunts in a ceremony that often destroyed timber and farmland claimed by settlers.
</p>
<p>
At first, both sides tried to avoid armed conflict. The colonial government signed treaties with the Tuscarora designed to protect their land and to ease trade relations, but the settlers often ignored or blatantly dishonored these agreements. In 1710, theTuscarora attempted to emigrate to Pennsylvania but were denied permission by the Pennsylvania government because the colony's law forbidding the importation of Indian slaves was written in such broad terms that it forbade Indian immigration as well. The Tuscarora sought but never received from North Carolina's colonial Government a guarantee of their good behavior, a document that may have allowed them entrance into Pennsylvania. In the end, the Tuscarora were forced to remain on the frontiers of encroaching European settlement and to accept into their midst an increasing number of Native American refugees forced from their land. Warfare became inevitable.
</p>
<p>
Shortly after the death of John Lawson in 1711, the Tuscarora chief Hancock organized a force of 500 warriors to drive out the colonists. On the morning of 23 September 1711, small raiding parties began assaulting plantations near Bath. The colonists, who had not anticipated bloodshed, were low on supplies and ammunition. Moreover, they were left with no time to retaliate: a small band of Tuscarora would approach each isolated plantation in their everyday manner, then attack without warning. They slew both men and women, children and adults, and often mutilated the bodies of their victims. Three days of carnage claimed the lives of 130 settlers and reduced the countryside to ashes and ruins.
</p>
<p>
In response to the attacks, Governor Edward Hyde convinced the State Assembly to pass a bill to draft all men between the ages of 16 and 60, but even this measure proved insufficient because food and weapons were scarce and because the Quaker settlers refused to bear arms. Hyde sent to Virginia for assistance, but the Virginians would not advance their troops beyond the state line unless North Carolina would promise to surrender tracts of land along the border. Refusing to accept such political blackmail, Hyde solicited aid from South Carolina.
</p>
<p>
Without asking for concessions, the South Carolina government sent Col. John Barnwell, a veteran Indian fighter, with a force of 30 white officers and 500 Native Americans from an array of South Carolina tribes, including the Wateree, Congaree, Waxhaw, Pee Dee, Appalachee, and Yamasee. Having to travel over 300 miles through the wilderness, Barnwell didn't arrive until January 1712. Reinforced by 50 North Carolina militiamen, Barnwell forced the Tuscarora to retreat to a fort in Greene County, where the eventually surrendered and release their prisoners.
</p>
<p>
This victory, however, did not end the Tuscarora War. Moreover, all involved found themselves dissatisfied. North Carolina expected Barnwell to defeat the Tuscarora completely, while South Carolina expected some sort of repayment. And some South Carolina officers retained Tuscarora prisoners to sell as slaves, a breach of treaty that led to renewed discontent and precipitated a second wave of Tuscarora attacks the following summer.
</p>
<p>
When these renewed attacks came, the settlers were already weakened by a yellow fever epidemic that had claimed many lives, including that of Governor Hyde. Still struggling to rebuild their plantations, many abandoned the colony. Some fled to Virginia; others huddled in garrisons to avoid Tuscarora raiding parties. The new governor, Thomas Pollock, turned to South Carolina again. In December 1712, Col. James Moore arrived with 33 whites and nearly 1,000 Native Americans and won a sound victory, killing over 900 warriors and effectively breaking the power of the Tuscarora.
</p>
<p>
In the wake of the war, the Tuscarora emigrated on their own, joining the Iroquois of the Long House in New York. Entire villages left at first, and those that remained trickled northward in small bands, the last leaving North Carolina in 1802. The surviving colonists, meanwhile, emerged from the garrisons to rebuild in the ruins.
</p>
<p>
[Page 69]
</p>
<p>
Lawson also details the marriage and sexual practices of the Waxhaw, whose ways, he says, are common among other tribes as well:
</p>
<p>
The Girls at 12 or 13 Years of Age, as soon as Nature prompts them, freely bestow their Maidenheads on some Youth about the same Age, continuing her Favours on whom she most affects, changing her Mate very often. (40)
</p>
<p>
Later, when they're older, the young women settle on one husband, but sexual experience is considered an advantage, not a disqualification (as might be the case back home in England), for a good marriage. Or, as Lawson puts it, "the more Whorish, the more Honourable" (40).
</p>
<p>
A formal system of sexual favors-for-hire is also customary:
</p>
<p>
[The Waxhaw] set apart the youngest and prettiest Faces for trading Girls; these are remarkable by their Hair, having a particular Tonsure by which they are known .... They are mercenary, and whoever makes Use of them, first hires them, the greatest Share of the Gain going to the King's Purse, who is the chief Bawd . . : his own Cabin (very often) being the chiefest Brothel-House. (41)
</p>
<p>
Although there is no evidence that he indulged in this practice himself, Lawson's account leans more toward admiration than censure, more toward humor than judgment.
</p>
<p>
With the Waxhaw, Lawson attends a Corn Festival, observing the male dancers
</p>
<p>
turning their Bodies, Arms and Legs, into such frightful Postures, that you would have guess'd [guessed] they had been quite raving mad: At last, they cut two or three high Capers, and left the Room. (44)
</p>
<p>
The women dancers then took over:
</p>
<p>
every one taking place according to her Degree of Stature, the tallest leading the Dance, and the least of all being plac'd [placed] last; with these they made a circular Dance, like a Ring .... (44)
</p>
<p>
They were accompanied by two musicians, one beating a drum, the other rattling a gourd filled with corn.
</p>
<p>
To these Instruments, they both sung a mournful Ditty: the Burthen of their Song was, in Remembrance of their former Greatness, and Numbers of their Nation .... (45)
</p>
<p>
The women danced for six hours in "a sort of stamping Motion, much like the treading upon Founders Bellows," until
</p>
<p>
all of them [were] of a white Lather, like a Running Horse that has just come in from his Race. (45)
</p>
<p>
[Text Continues on Page 70]
</p>
<p>
The Raccoon
</p>
<p>
by John Lawson
</p>
<p>
The Raccoon is of a dark-gray Colour; if taken young, is easily made tame, but is the drunkenest Creature living, if he can get any Liquor that is sweet and strong. They are rather more unlucky than a Monkey. When wild, they are very subtle in catching their Prey. Those that live in the Salt-Water, feed much on Oysters which they love. They watch the oyster when it opens, and nimbly put in their Paw, and pluck out the Fish. Sometimes the Oyster shuts, and holds fast their Paw till the Tide comes in, that they are drown'd [drowned], tho' [though] they swim very well. The way that this Animal catches Crabs, which he greatly admires, and which are plenty in Carolina, is worthy of Remark. When he intends to make a Prey of these Fish, he goes to a Marsh, where standing on the Land, he lets his Tail hang in the Water. This the Crab takes for a Bait, and fastens his Claws therein, which as soon as the Raccoon perceives, he, of a sudden, springs forward, a considerable way, on the Land, and brings the Crab along with him. As soon as the Fish finds himself out of his Element, he presently lets go his hold; and then the Raccoon encounters him, by getting him cross-wise in his Mouth, and devours him. There, is a sort of small Land-Crab, which we call a Fiddler, that runs into a Hole when any thing pursues him. This Crab the Raccoon takes by putting his Fore-Foot in the Hole, and pulling him out. With a tame Raccoon, this Sport is very diverting. The Chief of his other Food is all sorts of wild Fruits, green Corn, and such as the Bear delights in. This and the Possum are much of a Bigness. The Fur makes good Hats and Linings. The Skin dress'd makes fine Womens Shooes [shoes] (126).
</p>
<p>
[Page 70]
</p>
<p>
Afterwards,
</p>
<p>
every Youth that was so disposed, catch'd hold of the Girl he liked best, and took her that Night for his Bed-Fellow. . . . (45)
</p>
<p>
Lawson writes with wry humor about both Indian and Englishman he even makes fun of himself now and then. He scoffs at one medicine man's explanation of lightning, calling it "the most ridiculous absurc Parcel of Lyes" (221); but he describes quite carefully the amazing cure; he witnesses: a root that heals wounds and stomach aches (27); a mother warming a colic cure in her own mouth, then spurting it into her infant'; (36-37); a medicine man curing a woman's fits with rattlesnake teeth (66). He finds evidence of strong religious feeling: when he explains his idea of God to a Keyauwee audience, "they listned to my Discourse with a profound Silence, assuring me, that they believ'd what I said to be true" (58). Lawson notices shrines where his Indian guides put offerings of tobacco, "spitting after it" and refusing to explain the ritual (63). And in his later overview of Indians, he gives an account of one unspecified tribe's version of the generally held idea of heaven and hell: the first was a land full of fat deer, pretty women, and spring-like weather; the latter crawled with snakes and cold and ugly women full of amorous intent (187).
</p>
<p>
Despite the bright thread of amusement that weaves through his writings about the Indians, Lawson seems truly saddened by the destructive forces working against them - the smallpox and rum introduced by his own kind, their dwindling hunting ranges. By the time of his travels in 1701, smallpox had already eaten into the coastal tribes like acid, leaving disfigured and grossly depleted populations. He watches as rum incapacitates his own deft Indian guides, makes otherwise sane men jump off cliffs or fall into the fire (226). He will later conclude,
</p>
<p>
The Small-Pox and Rum have made such a Destruction amongst them, that, on good grounds, I do believe, there is not the sixth Savage living within two hundred Miles o f all our Settlements, as there were fifty Years ago. (232)
</p>
<p>
The Sewees, living just up the Santee River from the South Carolina coast, have a particularly sad tale to tell. Formerly a great nation, they succumbed to European diseases early on, and the survivors attempted to improve their fortunes by sending their best trade goods directly to England, along with their best men. When a storm came up, their fully loaded canoes were lost; those who did not drown were rescued by an English ship, which turned around and sold them as slaves. "The Remainder," Lawson writes, "are better satisfy'd [satisified] with their Imbecilities in such an Undertaking, nothing affronting them more, than to rehearse their Voyage to England" (19). The Sewee population in 1600 may have been as high as 800; in 1715, it was 57 (17).
</p>
<p>
About halfway through his travels, Lawson comes to Sapona Town, on the "fertile and pleasant Banks of Sapona River" (now the Yadkin). He is enchanted with the place, maybe because it reminds him of home, and he talks with the Sapona about coming back there to live, waxing poetic in his journal:
</p>
<p>
[Page 71]
</p>
<p>
This most pleasant River may be something broader than the Thames at Kingston, keeping a continual pleasant warbling Noise .... It is beautified with a numerous Train o f Swans, and other sorts of Water-Fowl, not common, though extraordinary pleasing to the Eye. The forward Spring welcom'd [welcomed] us with her innumerable Train of small Choristers, which inhabit those fair Banks; the Hills redoubling, and adding Sweetness to their melodious Tunes by their shrill Echoes.
</p>
<p>
Here also is
</p>
<p>
as rich a Soil to the Eye of a knowing Person with us, as any this Western World can afford. (52)
</p>
<p>
Toward the end of his 59-day journey, Lawson passed by the Falls of the Neuse, "called by the Indians, Wee quo Whom" (64), crossing soon after into Tuscarora hunting grounds. He had traveled hundreds of miles in rain and snow, by foot and by canoe, crossing major rivers and many smaller streams, often swimming or wading across the frigid water, stripped naked and carrying his clothes. He had learned of more than 20 Indian nations and faced swarms of mosquitoes, gales, thunderstorms, wolves, floods, and "tygers [tigers]." He had feasted and starved, eating everything from venison to parched corn. One of his traveling companions had had to turn back, lame, and most of the rest of his original party of Englishmen had split off for Virginia with a trading caravan. The final leg of the journey would be in the company of his Sapona guide, Enoe-Will, "of the best and most agreeable Temper that ever I met with in an Indian" (62).
</p>
<p>
The first Tuscarora Lawson and Enoe-Will met on the trail were traders who complained bitterly that the English settlers
</p>
<p>
were very wicked People; and, That they threated the Indians for Hunting near their Plantations. (64)
</p>
<p>
In Tuscarora villages, Lawson encountered poor hospitality for the first time:
</p>
<p>
We got nothing amongst them [the Tuscarora] but Corn, Flesh being not plentiful, by reason o f the great Number o f their People. For tho' [though] they are expert Hunters, yet they are too populous for one Range; which makes Venison very scarce .... (65)
</p>
<p>
By now, it is late February 1701, and the Tuscarora may already have been feeling the pinch in their bellies from white encroachment on their lands.
</p>
<p>
The Tuskeruro
</p>
<p>
According to tribal legend, the Tuscarora split off from the Iroquois family of allied tribes, crossing the Mississippi by holding on to a grapevine. When the grapevine broke, the ones who had crossed over traveled east
</p>
<p>
[Text Continues on Page 73]
</p>
<p>
[Page 72]
</p>
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/3TUSC003.jpg">
      <img src="{{ site.baseurl }}/img/7TUSC003.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>
<p>
Lawson's first North Carolina stop was near present day Pineville; his last was near Bath. This map, designed for NCLR by Marcus Bryant, is based on research by the Piedmont Bioregional Institute in Chapel Hill, which had hoped to re-enact Lawson's "Journey of a thousand miles." The Institute's final plans were never funded. Present day place names are given as reference points; squares indicate approximate locations of Lawson's daily camps. For a detailed place-by-place list coded to dates and page references from A New voyage to Carolina, send a SASE to NCLR.
</p>
<p>
Land
</p>
<p>
by Jim Shamlin
</p>
<p>
In Lawson's time, traveling through the wilderness was probably less difficult than it would be today. In the early eighteenth century, the longleaf pine dominated North Carolina forests. The longleaf grows straight and tall, with a thin canopy of branches. Even in a dense longleaf forest, sunlight bathes the forest floor, drying the ground and allowing grass to grow, which provides an easily traveled terrain.
</p>
<p>
The thick tangles of underbrush in most forests today are a result of changes wrought to the landscape over a long period of time, first from growth in the pine tar industry, and later from improved methods of fire control. Lawson describes one camp site: "We took up our Quarters in a sortof Savanna-Ground, that had very few Trees in it. The Land was good, and had several Quarries of Stone, but not loose, as the others us'd [used] to be" (59). He had earlier noted the difficulties of walking in moccasins on rough terrain: "I was so lam'd [lamed] by this stony Way, that I thought I must have taken up some Stay in those Parts" (55).
</p>
<p>
The major obstacles to Lawson's progress afoot in the wilderness were the many bodies of water he encountered. Some were mere hindrances, others impassible barriers that made traveling in a straight line impossible. Lawson's use of Native American guides familiar with trading paths and deer trails made his travels much easier.
</p>
<p>
The path of Lawson's North Carolina journey, an arc from Charlotte to Bath, shows that he avoided the swampland in the southeastern part of the state and traveled mostly through the longleaf forests, where the landscape was more favorable to travel and more suitable to human habitation.
</p>
<p>
He and his party did, however, encounter occasional swamplands, especially at their beginning in South Carolina, and toward the end of their journey, in eastern North Carolina. Their first night after starting up the Santee River is spent "lying all Night in a swampy Piece of Ground, the Weather being so cold all the Time, we were almost frozen ere [by] Morning, leaving the Impressions of our Bodies on the wet Ground" (16).
</p>
<p>
His choice to travel in the midst of winter caused other hardships, none, perhaps, as troublesome as the weather encountered near the end of his "one thousand miles": "There fell abundance of Snow and Rain in the Night, with much Thunder and Lightning" (66).
</p>
<p>
[Page 73]
</p>
<p>
to the sunrise, near the mouth of the Neuse, and the ones who stayed behind became their enemies. This separation, historians believe, may have taken place around AD 1400 (Paschal 14).
</p>
<p>
In their new land, the Tuscarora raised beans, peas, squash, melons, pumpkins, sweet potatoes, and corn. Tobacco was a sacred herb, its smoke used in ceremonials and prayers. Villagers tended apple, quince, and cherry orchards near their towns. Hunting parties ranged widely, making temporary camps and often "firing" the woods to drive game toward their arrows. Tuscarora kings were male but, as was true for all Carolina tribes, their line of descent was matrilineal, passing from the mother to the sister of the king, and on down to her children.
</p>
<p>
Like its neighbors, this nation had no great affection for material things, valuing personal character and exploits over wealth. The exception was wampum: shell beads painstakingly ground, shaped, and polished, then strung together in lengths considered to be of great value, probably because of the time involved in making them. Lawson would later take note of the Indians' general disdain for material wealth:
</p>
<p>
All their Misfortunes and Losses end in Laughter; for if their Cabins take Fire, and all their Goods are burnt therein . . . yet such a Misfortune ends in a hearty Fitt of Laughter, unless some of their Kinsfolks and Friends have lost their Lives.... (184-85)
</p>
<p>
From their strategic location sprawled across several major waterways, the Tuscarora controlled trade routes between the mountains and the coastal tribes, making Tuscarora the language of trade. They guarded their trading prerogatives jealously. Lawson reports that
</p>
<p>
the most powerful Nation of these Savages scorns to treat or trade with any others (of fewer Numbers and less Power) in any other Tongue but their own, which serves for the Lingua of the Country . . . for Example, we see that the Tuskeruro's are most numerous in North-Carolina, therefore their Tongue is understood by some in every Town of all the Indians near us. (233)
</p>
<p>
The angry Tuscarora traders Lawson encountered near the end of his "thousand miles" were mostly unhappy to discover that a more westward tribe had been trading directly with the English, Lawson's guide had explained. They wanted to retain their powerful middleman position.
</p>
<p>
Although similar in culture and habits to many other Carolina tribes, the Tuscarora differed in some significant ways. Of Iroquoian stock, they have been described as more fierce and aggressive than some of their Algonquian neighbors who, according to at least one ethnologist, "do not appear to have appreciated the power and influence they might have wielded by combination" as did the Tuscarora (Rights 28). The Tuscarora were a proud and powerful nation, claiming most of the Coastal Plain, from near the Virginia border south to the Cape Fear River and west to the Piedmont. At their apex, they may have numbered as many as 6,000 warriors in 24 large towns, the heart of their settlements lying between the Neuse and Pamlico rivers along Contentnea Creek. Their lands spanned the present day locations of Raleigh, Smithfield, Goldsboro, Wilson,
</p>
<p>
[Text Continues on Page 74]
</p>
<p>
Politics
</p>
<p>
by Jim Shamlin
</p>
<p>
From its beginning in 1663, the Proprietary government of Carolina was ineffective. The earliest governors were plagued with troubles: "John Jenkins (1672-76) was deposed," "Thomas Miller (1677) was overthrown and jailed by. . .'armed rebels "Thomas Eastchurch was forbidden" even "to enter the colony," and "Seth Sothel (1683-89) was accused ... of numerous crimes for which he was tried, convicted, and banished" (Powell 63). The early eighteenth century saw theproblems continue. A year before the outbreak of the Tuscarora War, Governor Thomas Cary, an appointee of the Lords Proprietors, enforcedan oath of allegiance to the Anglican Church, forcing Quakers out of the state legislature. A group of Quakers led by John Porter turned to John Archdale, the only Quaker Proprietor, who commanded that Cary (Archdale's own son-inlaw) be removed from office. At the time, Cary was in Charles Town (Charleston, South Carolina) and William Glover was acting Governor of Carolina. Porter's faction accepted Glover at first, but he, too, resolved to keep Quakers out of office. Porter's group then formed an alliance with Cary, who returned to reclaim the governorship and appointed a number of Quakers to office. Cary's government remained in control until 7 December 1710, when the Proprietors, disappointed with the chaotic conditions in the colony, appointed Edward Hyde as Governor of North Carolina, separate from the Governor of Carolina. When Hyde took office, he nullified all of Cary's laws and reinstated laws establishing the Church of England as the official church of the colony. Cary planned a coup, but his attempt collapsed in a comedy of errors. In the end, Cary's supporters fled and Cary was tried in England but acquitted for lack of evidence.
</p>
<p>
[Page 74]
</p>
<p>
Rocky Mount, Tarboro, Greenville, and Kinston. Of the many tribes in Carolina, none but the Cherokee was as strong.
</p>
<p>
The Tuscarora, too, were among the Indians Lawson was able to study most closely in the decade that he called eastern North Carolina home, after he'd completed his walking tour of the Carolinas. During that time, he continued the studies he'd begun while traveling. In his census, near the end of his book, he records the names of 19 Indian nations "that are our Neighbours" (242). They ranged in size from the Tuscarora, with 15 towns and 1,200 fighting men, to the "Paspatank," with one town and 10 fighting men, to the townless Jaupim with but six people (242).
</p>
<p>
Historians say that before European settlers arrived, the tribes of Carolina lived in a certain equilibrium with each other, shifting alliances and enmity from time to time, warring with each other only for purposes of revenge for deaths or captures. Small bands of warriors would ambush an enemy tribe, taking, precisely the number of killed or captured by the enemy's previous raid. Some captives were kept in temporary servitude; some were exchanged, some killed. The death of an enemy was often prolonged by torture, particularly at the hands of the grieving womenfolk who had lost their men or sons. Losses were rarely catastrophically large, and a certain balance obtained. Before the arrival of Europeans, "for Indians, war was merely a raid" (Perdue 24).
</p>
<p>
The coastal tribes shared their lands with the early European settlers, but, as early as 1644, a Virginia tribe was forced to retreat into Tuscarora territory by encroaching colonists. Many small tribes would follow suit over the next 60 years.
</p>
<p>
In both North Carolina and Virginia, at English and tribal settlements alike, the sight of Tuscarora traders hawking their wares was a common one. These traveling salesmen could not have been unaware of the devastations the colonists wrought. They must have watched as the coastal tribes collapsed with smallpox, emerging scarred and depopulated. They saw how the English greed for skins made their neighbors wipe out entire hunting grounds full of deer, the staff of their own tables. As deer grew scarcer, powder and shot and guns became all the more necessary for efficient hunting. As English settlements grew, settlers unthinkingly barred Indians from hunting nearby, sometimes shooting at the hunters. The Tuscarora accused whites of encroaching on their rights, stealing their children, even killing their hunters in the woods for no reason; white settlers, in turn, accused the Tuscarora of stealing their crops and shooting back at them.
</p>
<p>
The Indians had ample cause for complaint: unscrupulous white traders cheated them outrageously, oiling deals with drink, knowing what a strong effect it had on the Indians' better judgment. The Tuscarora adapted, becoming rum traders themselves, introducing the vice to the more isolated tribes to the west. Lawson lamented the destructive side of this new trade, in this wry but sympathetic account:
</p>
<p>
[The Tuscarora] carry it in Rundlets several hundred Miles, amongst other Indians. Sometimes they cannot forbear breaking their Cargo, but sit down
</p>
<p>
[Page 75]
</p>
<p>
in the Woods, and drink it all up, and then hollow and shout like so many Bedlamites . . . . [T]hose that buy Rum of them have so many Mouthfuls for a Buck-Skin, they never using any other Measure; and for this purpose, the Buyer always makes Choice of his Man, which is one that has the greatest Mouth, whom he brings to the Market with a Bowl to put it in .... [I]f he happens to swallow any down, either through Wilfulness or otherwise, the Merchant or some of his Party, does not scruple to knock the Fellow down, exclaiming against him for false Measure .... [S]uch a deal of Quarrelling and Controversy . . . is very diverting. (232-33)
</p>
<p>
But the most heinous English crime of all, in the eyes of the Indians, was the enslavement of their children. White traders stole great numbers of young Indians from the woods and bought the Indian captives kept by warring tribes. They sold these captives to colonies as far away as Pensylvania and Barbados, trading through the Charleston slave mar6"s. English traders incited the tribes to war against each other for more human goods, infuriating the parents and relations of the victims, turning the equitable system of captive trading among tribes into a shambles.
</p>
<p>
Coastal tribes such as the Sewee and the Hatteras suffered major declines before 1700. In the years between 1700. and 1713, the proud Tuscarora would also follow the path to ruin, but unlike most of their neighbors, they would go down fighting.
</p>
<p>
With all his fascination and affection for the Indian people, Lawson must have watched these changes closely during his first seven years in Carolina. At the end of his epic journey, he made his home near an Indian village on the Neuse River, in the company of a young Indian and a bulldog. In 1703, the North Carolina government declared war on his neighbors, the feisty remnants of the Coree tribe living south of the Neuse River. The survivors retreated west into Tuscarora lands; the Tuscarora, believing in the strength of numbers, had begun to welcome smaller tribes (Paschal 36).
</p>
<p>
In 1705, Lawson surveyed and developed the province's first town, Bath, and built a house there himself. That same year, Pennsylvania was compelled to halt the import of Indian slaves for fear of being overwhelmed by them. Many of these were Tuscarora women and children.
</p>
<p>
After a series of English and Indian murders in Virginia in 1707, the colonial government there attempted to prohibit all trade with the Tuscarora. Farther south, settlers on the Pamlico River expected the Indians to come and cut their throats any day. Various attempts were made in North Carolina to restrict trade in rum and guns, with little success. And North Carolina colonists were arguing among themselves, Quaker against Anglican, over religious freedoms and differences; Governor Thomas Cary, a shrewd, but apparently ruthless politician, played these conflicts to his advantage.
</p>
<p>
In the midst of this rising furor, Lawson filed his will in late 1708, and January 1709, he returned to London to arrange for the publication of his manuscript. His final chapter, "An Account of the Indians of North Carolina would reveal a deep concern about the relations between the English and the Indians, and he would propose some extraordinary
</p>
<p>
[Text Continues on Page 76]
</p>
<p>
The Mocking-Bird
</p>
<p>
by John Lawson
</p>
<p>
The Mocking-Bird is about as big as a Throstle in England, but longer; they are of a white, and gray Colour, and are held to be the Choristers of America, as indeed they are. They sing with the greatest Diversity of Notes, that is possible for a Bird to change to. They may be bred up, and will sing with us tame in Cages; yet I never take any of their Nests, altho' [although] they build yearly in my Fruit-Trees, because I have their Company, as much as if tame, as to the singing Part. They often sit upon our Chimneys in Summer, there being then no Fire in them, and sing the whole Evening and most part of the Night. They are always attending our Dwellings; and feed upon Mulberries and other Berries and Fruits; especially the Mechoacon,-berry [species of bindweed], which grows here very plentifully (147-48).
</p>
<p>
[Page 76]
</p>
<p>
solutions; but it would be too late.
</p>
<p>
According to historians, most of what Lawson has to say in his final chapter about Indians in general applies to the Tuscarora in particular. They were the largest and most active neighboring tribe. He had sought out their company over the years, attending special events, learning their language, and documenting his visits in great detail.
</p>
<p>
Lawson admires the Indian physique:
</p>
<p>
Their Limbs are exceeding well-shap'd [well-shaped]. As for their Legs and Feet, they are generally the handsomest in the World .... Their Eyes are commonly full and manly, and their Gate sedate and majestick [majestic] . . . . Their Teeth are yellow with Smoaking [Smokeing] Tobacco, which both Men and Women are much addicted to. (174-75)
</p>
<p>
Lawson claims
</p>
<p>
They never . . . contemplate on the Affairs of Loss and Gain; the things which daily perplex us.
</p>
<p>
On the other hand, "[t]hey are no Inventers [Inventors] of any Arts or Trades worthy mention. . ." (175). "Drunkenness," he notes,
</p>
<p>
was a Stranger, when we found them out, and Swearing their Speech cannot express; yet those that speak English, learn to swear the first thing they talk of. (240)
</p>
<p>
He says the Indians do not admire wealth; yet their wampum
</p>
<p>
entices and persuades them to do any thing [anything], and part with every thing they possess, except their Children for Slaves. (204)
</p>
<p>
They do not fear death:
</p>
<p>
If they are taken Captives . . . they sing; if Death approach them in Sickness, they are not afraid of it .... [In fact,] Death [is] no Punishment, but rather an Advantage to him, that is exported out of this into another World. (207)
</p>
<p>
Lawson observes, "The Indians ground their Wars on Enmity, not on Interest, as the Europeans generally do" (208) and warns that
</p>
<p>
[t]he Indians are very revengeful, and never forget an Injury done, till they have receiv'd [received]Satisfaction. (209)
</p>
<p>
He explains that the Indians' "natural Failing" is a propensity for torture, for "they strive to invent the most inhumane Butcheries" (207). In one of the tortures Lawson describes, pitch-pine splinters are stuck into a prisoner's body,
</p>
<p>
[Page 77]
</p>
<p>
yet alive. Thus they light them, which burn like so many Torches . . . [and] make him dance round a great Fire, everyone buffeting and deriding him .... (207)
</p>
<p>
On the other hand, he writes, "They are very kind, and charitable to one another, but more especially to those of their own Nation," and when one loses a household or important goods, the rest pitch in to help.
</p>
<p>
They say, it is our Duty thus to do. . . we must give him our Help, otherwise our Society will fall .... (184)
</p>
<p>
Lawson describes a system of governance that includes a king or chief, war-captains, and councilors, selected from among the eldest, who debate all issues
</p>
<p>
very deliberately . . . for the Good of the Publick . . . they discharge their Duty with all the Integrity imaginable, never looking towards their Own Interest, before the Publick [Public] Good. (204)
</p>
<p>
Lawson concludes they are "an odd sort of People" but "a very happy People" whose "way of Living is so contrary to ours, that neither we nor they can fathom one anothers Designs and Methods" (239-40). Indeed, he details a number of incidents of crimes, threats, and accusations that required mediation between the Tuscarora and their white neighbors; all seem to be based on a profound level of misunderstanding. For their part, the Indians found the English incomprehensible. According to Lawson:
</p>
<p>
They say, the Europeans are always rangling and uneasy, and wonder they do not go out of this World, since they are so uneasy and discontented in
</p>
<p>
it. (184)
</p>
<p>
Lawson gives an oddly appealing solution to the problem of living with the Indians in peace. He suggests treating them fairly in trade, showing a good example, teaching them handicrafts, and encouraging English settlers to marry into their tribes. By marriage, Lawson argues, the English will come to understand Indian languages, herbal cures, and other skills valuable in this new land. The English could then easily convert their Indian relations to Christianity, as well as gain rights to Indian lands for farming and hunting. The children resulting from such unions could learn trades from kindly English masters,
</p>
<p>
which would much win them to our Ways o f Living, Mildness being a Vertue [Virtue] the Indians are in love withal [with all], for they do not practise beating and correcting their Children, as we do. (245)
</p>
<p>
To Lawson, such intermarriages are
</p>
<p>
a more reasonable Method of converting the Indians, than to set up our
</p>
<p>
[Page 78]
</p>
<p>
Christian Banner in a Field of Blood, as the Spaniards have done in New Spain, and baptize one hundred with the Sword for one at the Font. (246)
</p>
<p>
Unlike succeeding generations of colonists, Lawson recognized the Indians' right to the land on which they lived and hunted; he recognized, unlike most, that the Indians did, in fact, have a strong attachment to their ancestral villages and farms, woods and rivers. Although their concept of ownership clearly differed from that of the English, they kept track of what belonged to them:
</p>
<p>
They have no Fence to part one anothers Lots in their Corn-Fields [cornfields]; but every Man knows his own .... (184)
</p>
<p>
Lawson envisioned a merging of two cultures; this vision, unfortunately, relied on the good behavior of the English.
</p>
<p>
Flames, Death
</p>
<p>
Sometime during Lawson's visit to London in 1709, his fate and that of one Baron Christoph Von Graffenried became inextricably entwined. Intrigued by Lawson's descriptions of Carolina, the Baron asked him to shepherd a shipment of Swiss-German settlers there for a large new community he planned. Lawson departed in January 1710; the 650 Palatines in his charge had a rough sailing, half succumbing to disease. When they finally neared the Virginia shore, all their goods and ships were seized by a French privateer. With the aid of a wealthy friend, Lawson guided the discouraged, bedraggled survivors to the confluence of the Trent and Neuse rivers, where they were to settle. Reduced in numbers though they were, this group comprised the largest single influx of settlers into Carolina.
</p>
<p>
The Tuscarora must have watched with concern. When two of the New Bern group set up plantations upstream near the heart of Tuscarora country, they took alarm; their own lands were now being invaded by white settlers, not just Indian refugees. The very heart of their hunting grounds and their prime agricultural lands were at stake. After much deliberation, they made plans to retreat - all the way to Pennsylvania, a colony that had established a reputation for consistent and kindly treatment of its own native tribes.
</p>
<p>
On 10 June 1710, North Carolina Tuscarora chiefs sent messengers with a desperate plea to the governor of Pennsylvania, offering eight priceless lengths of wampum in exchange for a treaty that would allow them to move there and live in peace. In an almost pathetic provision; they pleaded for
</p>
<p>
Cessation from murdering and taking them, that . . . they may not be afraid of a moose, or any other thing that Ruffles the Leaves. (Paschal 44)
</p>
<p>
The petition was received favorably, but Pennsylvania required a certificate of good behavior, which North Carolina failed to give.
</p>
<p>
When Von Graffenried arrived in September 1710, he brought 100 more settlers. Finding a Neusiok Indian town right where he intended to site New Bern, he convinced the tribe to move upstream, into Tuscarora
</p>
<p>
[Page 79]
</p>
<p>
territory, like the Coree before them, oiling the deal with rum. Von Graffenried later would blame Lawson for convincing him to settle in Carolina, for the poor condition of his settlers, and for the Indians' claim on land he had already purchased from English authorities.
</p>
<p>
Von Graffenried had some trouble keeping control of his settlers; one of them destroyed a sacred Neusiok icon with an ax, another got drunk and abusive, beating up Indian diplomats during land negotiations. In addition,
</p>
<p>
the Swiss and Palatine settlers were quick to grasp the fact that money could be made by exchanging cheap goods for many times their value in skins. (Paschal 41)
</p>
<p>
No different from those before them, but certainly operating on a larger scale, the new settlers made their homes into mini-trading posts, likely adding a new influx of rum, powder and shot, and animosity to an already volatile situation. The Tuscarora would later tell Von Graffenried that they had been
</p>
<p>
very badly treated and detained by the inhabitants of the Pamtego, Neuse, and Trent rivers, a thing which was not to be longer endured. (Todd 266)
</p>
<p>
By the end of the year, the colonists of North Carolina, already divided into warring factions over religious differences, had something new to fight about. In December, Governor Cary was deposed by the appointment of a new governor, Edward Hyde. While not yet fully commissioned, Hyde came to North Carolina and, as deputy governor, organized a legislature in March 1711 to nullify all of Cary's laws. Cary and his followers refused to recognize Hyde's new position, or his new laws, and led an armed rebellion against him.
</p>
<p>
Lawson counted some of the more powerful Hyde supporters among his best friends. Von Graffenried now took enormous pains to appear neutral in these Englishmen's politics, fearing that his Palatines might be drawn into bloody conflict if they took sides. Indeed, Cary came to New Bern and asked for Von Graffenried's support; when he could not get it, he threatened to attack the New Bern settlers:
</p>
<p>
if they did not remain neutral, the English and Indians would fall upon them and destroy them. (Todd 229-30)
</p>
<p>
On 30 June 1711, Cary's men attacked Hyde's supporters at the home of Thomas Pollock, from the deck of a ship armed with cannon. Hyde's men fought back, and the rebels fled downstream and into the woods. At Von Graffenried's request, Governor Alexander Spotswood of Virginia sent in a shipful of royal marines to keep the peace (Todd 231-33). Meanwhile, however, a Mr. Porter of Cary's group had been offering Tuscarora Indians "great Rewards" if they would "cut off all the Inhabitants of that part of Carolina that adhered to Mr. Hyde" (Saunders 796). After packing Cary off to London for trial, Spotswood wrote, "there is now some prospect of tranquillity" (800). He could not have been more wrong.
</p>
<p>
[Page 80]
</p>
<p>
The summer of 1711 was a hard one for the colonists of North Carolina. A yellow fever epidemic struck down many; a severe drought made for poor harvests. Lawson, meanwhile, kept busy collecting plant specimens for James Petiver, the London botanist; he was also making plans to survey the Virginia-North Carolina boundary. In mid-September, he invited Von Graffenried to accompany him on a trip up the Neuse River, hoping to find a quicker route to the border.
</p>
<p>
It seems almost inconceivable that a man as versed in Indian ways and language as Lawson would not have sensed the trouble brewing. For more than 10 years he had lived among Indians of many nations, sharing his home with one Indian man, counting a number among his friends, attending funerals and weddings, feasts and dances, recording stories and cures in great detail. He had compiled a phonetic dictionary of Indian words and their English meanings, more than 200 of which were Tuscarora. In his census of the 19 nations "that are our Neighbours" (242), he paid special attention to the numbers of warriors. He estimated the total Indian population of these "Neighbours" at about 5,000, including 1,612 warriors. Here was a man attuned to the mood of the native Carolinians, if any Englishman was, and he was heading straight into the heart of Tuscarora country, led by two Indian guides, completely unaware of the danger.
</p>
<p>
Over the summer, the Tuscarora living near the Neuse had watched the colonists fall into political and economic disarray, had listened to Cary's men revile Hyde, and had kept their own council. They had had enough of colonists' insults and invasions. Their planned exodus from North Carolina had failed. They had debated "very deliberately . . . for the Good of the Publick [Public]" (Lawson 204); they had forgotten no injuries, and had bided their time for revenge. Under Chief Hancock, and in league with the Neuse, the Coree, the Mattamuskeet, and other small nations, a powerful southern faction of the tribe now plotted war. Their war would be grounded "on Enmity, not on Interest" (Lawson 208) and, as a result, their actions would be unfathomable and completely unpredictable to their English, Swiss, and Palatine victims.
</p>
<p>
Hancock planned a surprise attack on white settlements for 22 September. His traders and hunters kept up a friendly facade while warriors gathered at the village of Catechna, on Contentnea Creek. A few days' journey from home, one of Lawson's advance scouts blundered into Catechna. Alerted to their presence downstream, warriors ambushed Lawson, Von Graffenried, and their servants, mistaking Von Graffenried for Governor Hyde, whom they considered their enemy. The Tuscarora forced the group to run all night to the village, formally questioned them there, and, clearing up the mistaken identity, finally set them free.
</p>
<p>
Now comes a strange turn of events, as described by Von Graffenried later. Before they could leave, Von Graffenried reports, a Coree chief
</p>
<p>
reproached Lawson with something, so that they got into a quarrel....This spoiled everything for us.
</p>
<p>
[Page 81]
</p>
<p>
When the argument was over, Lawson and Von Graffenried stood up; "we two walked together," and the Baron
</p>
<p>
reproached him very strongly for his unguardedness in such a critical condition.
</p>
<p>
Observing this new argument, the Indians grabbed the two, dragged them back to the council, set them down roughly, and took their hats and wigs and threw them into the fire. A council of war followed, which condemned them both to death "without [our] knowing the cause of it" (Todd 266). Wild dancing ensued, fires were lit, warriors painted their faces in stripes of white, red, and black - the colors of war Lawson had noted in his journal.
</p>
<p>
What Lawson had said to the chief is not reported; but he would have been quick to comprehend the Tuscarora's plans for war. He certainly knew why the Tuscarora might be upset; he had explained it all in his book. It may have shocked him that the Tuscarora and neighboring tribes would blame him for bringing settlers by the score, for surveying land for towns, for being an agent of their destruction.
</p>
<p>
As night fell, the war festivities spread, and Von Graffenried said his prayers, making sure his slave did the same. He noted that "Surveyor General Lawson, being a man of understanding though not of good life, I allowed to do his own devotions" (Todd 269).
</p>
<p>
Von Graffenried discovered the Indians thought his argument with Lawson was vengeful talk against them. The Baron made several attempts to explain his innocence; finally, desperately making his plea in English, he offered "all sorts of favors" if he were set free, threatened the Queen's revenge if he were not, and said "what else seemed to me good to say to engage them to kindness" (Todd 269).
</p>
<p>
Around 4:00 a.m., Von Graffenried's slave was set free, the Baron untied and taken to a nearby hut and offered food, his captor whispering in his ear that he would not be harmed, but that Lawson would be executed. Von Graffenried reports:
</p>
<p>
Poor Lawson remaining in the same place could easily guess that it was all over and no mercy for him. He took his leave of me striving to see me in his danger . . . (Todd 270),
</p>
<p>
but Von Graffenried, not daring to console him or even speak with him, only made a gesture of sympathy.
</p>
<p>
Huddled in his dark hut, the Baron heard contradictory reports of how Lawson was dispatched: some said they cut his throat; some said they hanged or burned him. "The savages keep it very secret how he was killed," Von Graffenried wrote. "May God have pity on his soul" (Todd 270). One of Lawson's friends in the colony, Christopher Gale, would later confirm that the Indians had told him Lawson was set on fire; William Byrd II of Virginia would later write that Lawson "had his Throat cut from Ear to Ear" (Lawson xxxvi). Perhaps the image of Indian torture so carefully documented in Lawson's book became the image historians latched onto. This version of his death is the one most often repeated.
</p>
<p>
[Text Continues on Page 82]
</p>
<p>
Congaree Recipe for Hickerie-Nut [hickory nut] Soop [soup]
</p>
<p>
compiled by John Lawson
</p>
<p>
Ingredients:
</p>
<p>
Hickerie-Nuts [hickory nuts]
</p>
<p>
Water or Meat Broath [broth].
</p>
<p>
Beat the Nuts betwixt [between] two great Stones
</p>
<p>
Sift them and add to water, or a Meat Broath [broth], preferably Venison.
</p>
<p>
The small Shells will precipitate to the Bottom of the Pot. The Kernel, in Form of Flower [flour], mixes with the Liquor.
</p>
<p>
Cook.
</p>
<p>
yield: A curious Soop [soup] (Chinkapin-Nuts may be substituted)
</p>
<p>
(paraphrased from pp. 34-35)
</p>
<p>
[Page 82]
</p>
<p>
The morning after Lawson's execution, the Tuscarora informed Von Graffenried of their plans for war. The Baron begged permission to warn his people, but to no avail. For days afterward he would watch helplessly as warriors headed out to massacre his Palatines, bringing back captives who told him the grisly details - women impaled on stakes, more than 80 infants slaughtered, more than 130 settlers killed. New Bern was almost wiped out. The Palatines, in turn, did their share of killing, one of them actually roasting a captive alive (Todd 238). When Von Graffenried was released after six weeks, he attempted to make peace but couldn't get his own people to cooperate.
</p>
<p>
In two years the war was over. Nothing remained of these first North Carolinians but burned villages and abandoned forts disintegrating in the forest along Contentnea Creek. Those Tuscarora who weren't killed or sold as slaves fled north, migrating in ragged bands through Virginia and Pennsylvania. A small portion of the nation kept trying to keep peace with the English; for their efforts, they were rewarded with betrayal of their treaties and eventual exile to a reservation. The last chief of the Tuscarora in North Carolina died in 1802; the nation he ruled had long since dissolved (Paschal 58).
</p>
<p>
So had the rest of the tribes Lawson described in such exact and loving detail.
</p>
<p>
His bleeding skin numbed by pitch pine, he begins to feel the heat on the skin of his legs and feet, the rush upward, the death dance now frenzied in his limbs, the last sight o f this world framed in fire, and, finally, the soul escaping into a heavenly place like Eden, like the New World when it was still young, belonging to itself alone, a land that fulfills all expectations of balance, of beauty, of perfect enmity.
</p>
<p>
Marjorie Hudson lives in rural Chatham County with her husband, Sam, her stepdaughter, Darah, and her dogs, Bean and Corey. She is editor of Greenline Parks, a book on land policy, and Chatham County's Architectural Heritage. She has written articles and essays on nature for Wildlife in North Carolina, Western Wildlands, American Land Forum, Animal's Voice, American Hiker, and National Parks. She recently sold her first short story to Story.
</p>
<p>
[The following list of words from Indian languages was originally printed along the sides of the journal pages from which this article was taken.]
</p>

<ul>
<li>
CATAWBA
</li>
<li>
CAWCAW
</li>
<li>
CHACANDEPECO
</li>
<li>
CHAPANOKE
</li>
<li>
CHATTOOGA
</li>
<li>
CHATTOKA
</li>
<li>
CHATUGE
</li>
<li>
CHAWANOAC
</li>
<li>
CHEOAH
</li>
<li>
CHEPANUU
</li>
<li>
CHERAW
</li>
<li>
CHEROKEE
</li>
<li>
CHETOLA
</li>
<li>
CHICAMACOMICO
</li>
<li>
CHICKASAW
</li>
<li>
CHICKEHAUK
</li>
<li>
CHICOD
</li>
<li>
CHIKING
</li>
<li>
CHILTOSKIE
</li>
<li>
CHINQUAPIN
</li>
<li>
CHOCKOYOTTE
</li>
<li>
CHOCOWINITY
</li>
<li>
CHOGA
</li>
<li>
CHOOWATIC
</li>
<li>
CHORATUCK
</li>
<li>
CHOWAN
</li>
<li>
CHOWANOKE
</li>
<li>
COHARIE
</li>
<li>
CONETOE
</li>
<li>
CONNARITSA
</li>
<li>
CONNATARA
</li>
<li>
CONNESTEE
</li>
<li>
CONOCONNARA
</li>
<li>
CONOHO
</li>
<li>
CONTENTNEA
</li>
<li>
COOLEEMEE
</li>
<li>
COTECHNEY
</li>
<li>
COWEE
</li>
<li>
COWEETA
</li>
<li>
CROATAN
</li>
<li>
CULLASAJA
</li>
<li>
CULLOWHEE
</li>
<li>
CUMNOCK
</li>
<li>
CURRITUCK
</li>
<li>
CUSCOPANG
</li>
<li>
CUTAWHISKIE
</li>
<li>
DASEMUNKEPEUC
</li>
<li>
DASHOGA
</li>
<li>
DA-TSU-LA-GUN=YI
</li>
<li>
DONNOHA
</li>
<li>
ECHOTA
</li>
<li>
ECOLA
</li>
<li>
EKANEETLEE
</li>
<li>
ELLIJAY
</li>
<li>
ENO
</li>
<li>
ESKOTA
</li>
<li>
ESS-EE-DAW
</li>
<li>
ETOWAH
</li>
<li>
GO W-TA-NO
</li>
<li>
HAW
</li>
<li>
HEIGHWAREE
</li>
<li>
HEINTOOGA
</li>
<li>
HIAWATHA
</li>
<li>
HICOOTOMONY
</li>
<li>
HIWASSEE
</li>
<li>
HYCOTEE
</li>
<li>
INADU
</li>
<li>
IOTLA
</li>
<li>
JOPPA
</li>
<li>
JUDACULLA
</li>
<li>
JUNALUSKA
</li>
<li>
KANUGA
</li>
<li>
KAWANA
</li>
<li>
KAY00-LANTA
</li>
<li>
KEEAUWEE
</li>
<li>
KEHUKEE
</li>
<li>
KESIAH
</li>
<li>
KINACK
</li>
<li>
KITTY HAWK
</li>
<li>
KONNATOGA
</li>
<li>
KOONASOGA
</li>
<li>
KULLAUGHEE
</li>
<li>
KU-WA-HI
</li>
<li>
LAUADA
</li>
<li>
LUMBER
</li>
<li>
MACHAPOUNGA
</li>
<li>
MAKATOKA
</li>
<li>
MANTEO
</li>
<li>
MASCOMENGE
</li>
<li>
MASEQUETUC
</li>
<li>
MASHAWATOC
</li>
<li>
MASHOES
</li>
<li>
MATAKOMAK
</li>
<li>
MATTAMUSKEET
</li>
<li>
MEHERRIN
</li>
<li>
MENOLA
</li>
<li>
MENTSO
</li>
<li>
MEQUOPEN
</li>
<li>
METOCUUEM
</li>
<li>
MILWAUKEE
</li>
<li>
MINNESOTT
</li>
<li>
MINGO
</li>
<li>
MOCCASIN
</li>
<li>
MOOSHAUNEE
</li>
<li>
MORATUC
</li>
<li>
MOYOCK
</li>
<li>
MUSKETO
</li>
<li>
NAHUNGA
</li>
<li>
NAHUNTA
</li>
<li>
NAKINA
</li>
<li>
NAMONDA
</li>
<li>
NANITO
</li>
<li>
NANSEMOND
</li>
<li>
NANTAHALA
</li>
<li>
NAUSEGOC
</li>
<li>
NEUSE
</li>
<li>
NEUSEOCO
</li>
<li>
NEWASIWAC
</li>
<li>
NIKWASI
</li>
<li>
NOCONA
</li>
<li>
NOKASSA
</li>
<li>
NORRIHUNTA
</li>
<li>
NOTTOWAY
</li>
<li>
NUNDA
</li>
<li>
OCCAM
</li>
<li>
OCCONEECHEE
</li>
<li>
OCHLAWAHA
</li>
<li>
OCONALUFTEE
</li>
<li>
OCRACOKE
</li>
<li>
OGREETA
</li>
<li>
OHANOAK
</li>
<li>
OHLANTO
</li>
<li>
OKEEWEMEE
</li>
<li>
OKISKO
</li>
<li>
ONITALOOGA
</li>
<li>
OONEROY
</li>
<li>
OSCELOA
</li>
<li>
OS-QUEE-HA-HA
</li>
<li>
OSSIPEE
</li>
<li>
OTEEN
</li>
<li>
OTTANOLA
</li>
<li>
OUANICHE
</li>
<li>
PALMETTO
</li>
<li>
PAMLICO
</li>
<li>
PAMPTECOUGH
</li>
<li>
PANAUUAIOC
</li>
<li>
PANTEGO
</li>
<li>
PAQUIAC
</li>
<li>
PAQUINOUC
</li>
<li>
PAQUIPPE
</li>
<li>
PASQUOTANK
</li>
<li>
PEE DEE
</li>
<li>
PENSACOLA
</li>
<li>
PERQUIMANS
</li>
<li>
POCAHUNTAS
</li>
<li>
POCOMOKE
</li>
<li>
POMEIOOC
</li>
<li>
POTASKIKE
</li>
<li>
POTECASI
</li>
<li>
POTOSKITE
</li>
<li>
PUNCHEON
</li>
<li>
PUNGO
</li>
<li>
QUALLA
</li>
<li>
QUANKEY
</li>
<li>
QUAQUA
</li>
<li>
QUITSNA
</li>
<li>
QUONUTKA
</li>
<li>
QUORACKS
</li>
<li>
QUOTANKNEY
</li>
<li>
RAMUSHAWN
</li>
<li>
RESOOTSKEH
</li>
<li>
RICAHOKENE
</li>
<li>
ROANOKE
</li>
<li>
RODUCO
</li>
<li>
SANTEETLAH
</li>
<li>
SAPONA
</li>
<li>
SATULAH
</li>
<li>
SAUNOOK
</li>
<li>
SAXAPAHAW
</li>
<li>
SECO
</li>
<li>
SECOTAN
</li>
<li>
SHAWANO
</li>
<li>
SHOCCO
</li>
<li>
SIOUX
</li>
<li>
SIPPANAW
</li>
<li>
SKEENAH
</li>
<li>
SKYCO
</li>
<li>
SKYUKA
</li>
<li>
RAMUSHAWN
</li>
<li>
RESOOTSKEH
</li>
<li>
RICAHOKENE
</li>
<li>
ROANOKE
</li>
<li>
RODUCO
</li>
<li>
SANTEETLAH
</li>
<li>
SAPONA
</li>
<li>
SATULAH
</li>
<li>
SAUNOOK
</li>
<li>
SAXAPAHAW
</li>
<li>
SECO
</li>
<li>
SECOTAN
</li>
<li>
SHAWANO
</li>
<li>
SHOCCO
</li>
<li>
SIOUX
</li>
<li>
SIPPANAW
</li>
<li>
SKEENAH
</li>
<li>
SKYCO
</li>
<li>
SKYUKA
</li>
<li>
TRAMASKECOOC
</li>
<li>
TUCKAHOE
</li>
<li>
TUCKASEGEE
</li>
<li>
TUSCARORA
</li>
<li>
TUSQUITEE
</li>
<li>
UCOHNERUNT
</li>
<li>
UNAKA
</li>
<li>
UNICOI
</li>
<li>
UWHARRIE
</li>
<li>
VOHAREE
</li>
<li>
WACCAMAW
</li>
<li>
WACHOVIA
</li>
<li>
WAKULLA
</li>
<li>
WANANISH
</li>
<li>
WANCHESE
</li>
<li>
WAROWTANI
</li>
<li>
WATAUGA
</li>
<li>
WAXHAW
</li>
<li>
WAYAH
</li>
<li>
WAYEHUTTA
</li>
<li>
WEAPEMEOC
</li>
<li>
WEECAUNSE
</li>
<li>
WICCACANEE
</li>
<li>
WOCOCON
</li>
<li>
WYESOCKING
</li>
<li>
YEOPIM
</li>
<li>
YONAGUSKA
</li>
<li>
YONAH-WAYAH
</li>
</ul>
</div>



<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Hudson, Marjorie. "Among the Tuscarora: The Strange and Mysterious Death of John Lawson, Gentleman, Explorer, and Writer." <em>North Carolina Literary Review</em> 1.1 (1992): 62-82.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar PS 266 N8 N66x v.1</td>
  </tr>
</table>
