---
layout : ecu
title : HS145 p55 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p55, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Lilium catesbaei </i>Walter</td><td></td><td>Pine Lily</td></tr><tr><td>2</td><td></td><td><i>Apios americana </i>Medicus</td><td></td><td>Groundnut</td></tr><tr><td>3</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>4</td><td></td><td><i>Ilex decidua </i>Walter</td><td></td><td>Possum Haw</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H145055/3H145055.jpg"><img src="H145055/7H145055.jpg" alt="Herbarium Specimens"></a>
<br/><h3><a href="H145055/3H145055.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 55.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
