---
layout : ecu
title : HS145 p62 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p62, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Sabatia angularis </i>L.</td><td></td><td>Rose Pink</td></tr><tr><td>2</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>3</td><td></td><td><i>Ipomoea hederacea</i> (L.) Jacquin</td><td></td><td>Ipomoea</td></tr><tr><td>4</td><td></td><td><i>Asclepias tuberosa</i> L.</td><td></td><td>Butterfly-Weed</td></tr><tr><td>5</td><td></td><td><i>Asclepias tuberosa</i> L.</td><td></td><td>Butterfly-Weed</td></tr><tr><td>6</td><td></td><td><i>Carduus repandus </i>(Michaux) Persoon</td><td></td><td>Thistle</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145062/7H145062.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="44, 39, 207, 312" title="1.Rose Pink"><area shape="rect" coords="211, 40, 284, 265" title="2.Unidentified"><area shape="rect" coords="287, 73, 416, 296" title="3.Ipomoea"><area shape="rect" coords="50, 314, 219, 619" title="4.Butterfly-Weed"><area shape="rect" coords="221, 297, 319, 604" title="5.Butterfly-Weed"><area shape="rect" coords="324, 383, 426, 619" title="6.Thistle"></map>
<br/><h3><a href="H145062/3H145062.jpg">Higher resolution image (356 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 62.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 