---
layout : ecu
title : HS145 p50 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p50, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Taxodium distichum</i> (L.) Richard</td><td></td><td>Bald Cypress</td></tr><tr><td>2</td><td></td><td><i>Cyrilla racemiflora</i> L.</td><td></td><td>Leatherwood</td></tr><tr><td>3</td><td></td><td><i>Cyprepedium calceolus v. pubescens</i> Caroll</td><td></td><td>Yellow Lady's Slipper</td></tr><tr><td>4</td><td></td><td><i>Smilacina racemosa </i>(L.) Desf.</td><td></td><td>False Solomon's-Seal</td></tr><tr><td>5</td><td></td><td><i>Calopogon puchellus</i> (Saliabury) R. Brown</td><td></td><td>Grass-Pink</td></tr><tr><td>6</td><td></td><td><i>Salix caroliniana </i>Michaux</td><td></td><td>Swamp Willow</td></tr><tr><td>7</td><td></td><td><i>Eupatorium dubium</i> Willd.</td><td></td><td>Thoroughwort</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H145050/3H145050.jpg"><img src="H145050/3H145050.jpg" "Herbarium Specimens"></a>
<br/><h3><a href="H145050/3H145050.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 50.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
