---
layout : ecu
title : HS145 p56 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p56, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Ilex decidua </i>Walter</td><td></td><td>Possum Haw</td></tr><tr><td>2</td><td></td><td><i>Ilex decidua </i>Walter</td><td></td><td>Possum Haw</td></tr><tr><td>3</td><td></td><td><i>Apios americana </i>Medicus</td><td></td><td>Groundnut</td></tr><tr><td>4</td><td></td><td><i>Apios americana </i>Medicus</td><td></td><td>Groundnut</td></tr><tr><td>5</td><td></td><td><i>Apios americana </i>Medicus</td><td></td><td>Groundnut</td></tr><tr><td>6</td><td></td><td><i>Apios americana </i>Medicus</td><td></td><td>Groundnut</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145056/7H145056.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="29, 44, 217, 396" title="1.Possum Haw"><area shape="rect" coords="222, 58, 386, 219" title="2.Possum Haw"><area shape="rect" coords="290, 225, 426, 429" title="3.Groundnut"><area shape="rect" coords="60, 398, 235, 623" title="4.Groundnut"><area shape="rect" coords="243, 430, 372, 626" title="5.Groundnut"><area shape="rect" coords="377, 438, 422, 597" title="6.Groundnut"></map>
<br/><h3><a href="H145056/3H145056.jpg">Higher resolution image (378 KB)</a></h3> 

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 56.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 