---
layout : ecu
title : HS145 p52 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p52, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Scirpus cyprinus</i> (L.) Kunth.</td><td></td><td>Bulrush</td></tr><tr><td>2, 3, 6</td><td></td><td><i>Zizania aquatica</i> L.</td><td></td><td>Wild Rice</td></tr><tr><td>4</td><td></td><td><i>Liatris squarrosa</i> (L.) Michaux</td><td></td><td>Blazing Star</td></tr><tr><td>5</td><td></td><td><i>Decodon verticillatus </i>(L.) Ell.</td><td></td><td>Water Loosestrife</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H145052/3H145052.jpg"><img src="H145052/7H145052.jpg" alt="Herbarium Specimens"></a>
<br/><h3><a href="H145052/3H145052.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 52.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
