---
layout : ecu
title : HS145 p46 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p46, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>


<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Cassia fasciculata </i>Michaux</td><td></td><td>Partridge Pea</td></tr><tr><td>2, 5</td><td></td><td><i>Rhynchosia tomentosa </i>(L.) H.&amp;A.</td><td></td><td>Rhynchosia</td></tr><tr><td>3</td><td></td><td><i>Cyperus</i>sp.</td><td></td><td>Cyperus</td></tr><tr><td>4</td><td></td><td><i>Lithospermum caroliniense</i>(J.F.Gmelin) MacM.</td><td></td><td>Puccoon</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H145046/3H145046.jpg"><img src="H145046/7H145046.jpg" alt="Herbarium Specimens"></a>
<br/><h3><a href="H145046/3H145046.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 46.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
