---
layout : ecu
title : HS145 p48 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p48, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Vaccinium staminium</i> L.</td><td></td><td>Squaw-Huckleberry</td></tr><tr><td>2</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>3</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>4</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>5</td><td></td><td><i>Desmodium tortuosum</i> (Swartz) D.C.</td><td></td><td>Begger Lice, Beggar's Ticks</td></tr><tr><td>6</td><td></td><td><i>Woodwardia virginica</i> (L.) Smith</td><td></td><td>Virginia Chain-Fern</td></tr><tr><td>8</td><td></td><td><i>Cyprepedium calceolus v. pubescens</i> Caroll</td><td></td><td>Yellow Lady's Slipper</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145048/7H145048.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="30, 41, 142, 305" title="1.Squaw-Huckleberry"><area shape="rect" coords="161, 40, 280, 261" title="2.Unidentified"><area shape="rect" coords="301, 30, 408, 188" title="3.Unidentified"><area shape="rect" coords="34, 501, 124, 629" title="4.Unidentified"><area shape="rect" coords="64, 353, 185, 498" title="5.Begger Lice, Beggar's Ticks"><area shape="rect" coords="193, 454, 250, 630" title="6.Virginia Chain-Fern"><area shape="rect" coords="288, 197, 420, 440" title="8.Yellow Lady's Slipper"></map>
<br/><h3><a href="H145048/3H145048.jpg">Higher resolution image</a></h3> 

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 48.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  