---
layout : ecu
title : HS145 p45 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p45, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>2</td><td></td><td><i>Galactica </i>sp.</td><td></td><td>Galactica</td></tr><tr><td>3</td><td></td><td><i>Psoralea psoralioides </i>(Walter) Cary</td><td></td><td>Sampson Snakeroot</td></tr><tr><td>4</td><td></td><td><i>Liatris squarrosa</i> (L.) Michaux</td><td></td><td>Blazing Star</td></tr><tr><td>5</td><td></td><td><i>Apios americana </i>Medicus</td><td></td><td>Groundnut</td></tr><tr><td>7</td><td></td><td><i>Helianthus</i> sp.</td><td></td><td>Sunflower</td></tr><tr><td>8</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145045/7H145045.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="54, 31, 130, 361" title="1.Unidentified"><area shape="rect" coords="146, 31, 217, 229" title="2.Galactica"><area shape="rect" coords="230, 31, 338, 237" title="3.Sampson Snakeroot"><area shape="rect" coords="345, 31, 442, 324" title="4.Blazing Star"><area shape="rect" coords="49, 372, 144, 594" title="5.Groundnut"><area shape="rect" coords="212, 245, 268, 632" title="7.Sunflower"><area shape="rect" coords="274, 333, 380, 613" title="8.Unidentified"></map>
<br/><h3><a href="H145045/3H145045.jpg">Higher resolution image (343 KB)</a></h3>

<hr/>
<table class="table">
<tr>
  <td><b>Citation</b>:</td>
  <td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 45.</td>
</tr>
<tr>
  <td><b>Location</b>:</td>
  <td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td>
  </tr></table>
