---
layout : ecu
title : HS145 p60 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p60, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Cephalanthus occidentalis</i> L.</td><td></td><td>Button Bush</td></tr><tr><td>2</td><td></td><td><i>Salix caroliniana </i>Michaux</td><td></td><td>Swamp Willow</td></tr><tr><td>3</td><td></td><td><i>Salix caroliniana </i>Michaux</td><td></td><td>Swamp Willow</td></tr><tr><td>4</td><td></td><td><i>Polypodium polypodioides</i> (L.) Watt</td><td></td><td>Resurrection Fern</td></tr><tr><td>5</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>6</td><td></td><td><i>Vitis rotundifolia </i>Michaux</td><td></td><td>Muscadine</td></tr><tr><td>7</td><td></td><td><i>Polygonatum biflorum </i>(Walter) Ell.</td><td></td><td>Solomon's Seal</td></tr><tr><td>8</td><td></td><td><i>Clitoria mariana </i>L.</td><td></td><td>Butterfly Pea</td></tr><tr><td>9</td><td></td><td><i>Clitoria mariana </i>L.</td><td></td><td>Butterfly Pea</td></tr><tr><td>10</td><td></td><td><i>Clethra alnifolia</i> L.</td><td></td><td>Sweep Pepperbush</td></tr><tr><td>11</td><td></td><td><i>Rosa palustris</i> Marshall</td><td></td><td>Swamp Rose</td></tr><tr><td>12</td><td></td><td><i>Smilax rotundifolia</i> L.</td><td></td><td>Greenbrier, Catbrier</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145060/7H145060.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="33, 53, 156, 253" title="1.Button Bush"><area shape="rect" coords="168, 60, 245, 161" title="2.Swamp Willow"><area shape="rect" coords="258, 58, 330, 157" title="3.Swamp Willow"><area shape="rect" coords="346, 50, 394, 128" title="4.Resurrection Fern"><area shape="rect" coords="400, 33, 433, 158" title="5.Unidentified"><area shape="rect" coords="33, 292, 84, 372" title="6.Muscadine"><area shape="rect" coords="129, 253, 205, 481" title="7.Solomon's Seal"><area shape="rect" coords="216, 225, 305, 405" title="8.Butterfly Pea"><area shape="rect" coords="309, 161, 418, 304" title="9.Butterfly Pea"><area shape="rect" coords="321, 306, 421, 526" title="10.Sweep Pepperbush"><area shape="rect" coords="210, 413, 317, 594" title="11.Swamp Rose"><area shape="rect" coords="33, 380, 126, 542" title="12.Greenbrier, Catbrier"></map>
<br/><h3><a href="H145060/3H145060.jpg">Higher resolution image</a></h3>
 
<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 60.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 