---
layout : ecu
title : HS145 p64 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p64, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Cephalanthus occidentalis</i> L.</td><td></td><td>Button Bush</td></tr><tr><td>2</td><td></td><td><i>Oxydendrum arboreum</i> (L.) DC</td><td></td><td>Sourwood</td></tr><tr><td>3</td><td></td><td><i>Oxydendrum arboreum</i> (L.) DC</td><td></td><td>Sourwood</td></tr><tr><td>4</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>5</td><td></td><td><i>Chamaelirium luteum</i> Gray</td><td></td><td>Blazing-Star, Devil's Bit</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145064/7H145064.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="37, 37, 259, 448" title="1.Button Bush"><area shape="rect" coords="262, 44, 436, 269" title="2.Sourwood"><area shape="rect" coords="299, 274, 430, 430" title="3.Sourwood"><area shape="rect" coords="288, 433, 267, 522" title="4.Unidentified"><area shape="rect" coords="261, 340, 287, 619" title="5.Blazing-Star, Devil's Bit"></map>
<br/><h3><a href="H145064/3H145064.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 64.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 