---
layout : ecu
title : HS145 p51 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p51, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Eupatorium dubium</i> Willd.</td><td></td><td>Thoroughwort</td></tr><tr><td>2, 3, 4, 6</td><td></td><td><i>Scirpus cyprinus</i> (L.) Kunth.</td><td></td><td>Bulrush</td></tr><tr><td>5</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>7</td><td></td><td><i>Tillandsia usneoides</i> L.</td><td></td><td>Spanish Moss</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H145051/3H145051.jpg"><img src="H145051/7H145051.jpg" alt="Herbarium Specimens"></a>
<br/><h3><a href="H145051/3H145051.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 51.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
