---
layout : ecu
title : HS145 p54 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p54, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Decodon verticillatus </i>(L.) Ell.</td><td></td><td>Water Loosestrife</td></tr><tr><td>2</td><td></td><td><i>Uniola latifolia</i> Michaux</td><td></td><td>Uniola</td></tr><tr><td>3</td><td></td><td><i>Eupatorium dubium</i> Willd.</td><td></td><td>Thoroughwort</td></tr><tr><td>4</td><td></td><td><i>Decodon verticillatus </i>(L.) Ell.</td><td></td><td>Water Loosestrife</td></tr><tr><td>5</td><td></td><td><i>Eupatorium dubium</i> Willd.</td><td></td><td>Thoroughwort</td></tr><tr><td>6</td><td></td><td><i>Eupatorium dubium</i> Willd.</td><td></td><td>Thoroughwort</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145054/7H145054.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="34, 40, 128, 310" title="1.Water Loosestrife"><area shape="rect" coords="170, 41, 334, 411" title="2.Uniola"><area shape="rect" coords="336, 56, 434, 260" title="3.Thoroughwort"><area shape="rect" coords="78, 315, 166, 632" title="4.Water Loosestrife"><area shape="rect" coords="168, 413, 252, 632" title="5.Thoroughwort"><area shape="rect" coords="288, 416, 40, 634" title="6.Thoroughwort"></map>
<br/><h3><a href="H145054/3H145054.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 54.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
