---
layout : ecu
title : HS145 p49 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p49, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Ruelia ciliosa </i>Pursh</td><td></td><td>Ruellia</td></tr><tr><td>2</td><td></td><td><i>Ruelia ciliosa </i>Pursh</td><td></td><td>Ruellia</td></tr><tr><td>3</td><td></td><td><i>Ruelia ciliosa </i>Pursh</td><td></td><td>Ruellia</td></tr><tr><td>4</td><td></td><td><i>Ruelia ciliosa </i>Pursh</td><td></td><td>Ruellia</td></tr><tr><td>6</td><td></td><td><i>Cyrilla racemiflora</i> L.</td><td></td><td>Leatherwood</td></tr><tr><td>7</td><td></td><td><i>Ruelia ciliosa </i>Pursh</td><td></td><td>Ruellia</td></tr><tr><td>9</td><td></td><td><i>Desmodium </i>sp.</td><td></td><td>Begger Lice, Beggar's Ticks</td></tr><tr><td>10</td><td></td><td><i>Cyrilla racemiflora</i> L.</td><td></td><td>Leatherwood</td></tr><tr><td>11</td><td></td><td><i>Cyrilla racemiflora</i> L.</td><td></td><td>Leatherwood</td></tr><tr><td>12</td><td></td><td><i>Thalictrum</i> sp.</td><td></td><td>Windflower</td></tr><tr><td>14</td><td></td><td><i>Desmodium </i>sp.</td><td></td><td>Begger Lice, Beggar's Ticks</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145049/7H145049.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="35, 54, 112, 280" title="1.Ruellia"><area shape="rect" coords="123, 44, 185, 229" title="2.Ruellia"><area shape="rect" coords="193, 45, 296, 228" title="3.Ruellia"><area shape="rect" coords="302, 36, 376, 153" title="4.Ruellia"><area shape="rect" coords="116, 230, 200, 407" title="6.Leatherwood"><area shape="rect" coords="302, 168, 392, 270" title="7.Ruellia"><area shape="rect" coords="339, 273, 386, 322" title="9.Begger Lice, Beggar's Ticks"><area shape="rect" coords="217, 289, 261, 405" title="10.Leatherwood"><area shape="rect" coords="266, 302, 318, 407" title="11.Leatherwood"><area shape="rect" coords="49, 292, 102, 617" title="12.Windflower"><area shape="rect" coords="228, 409, 350, 630" title="14.Begger Lice, Beggar's Ticks"></map>
<br/><h3><a href="H145049/3H145049.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 49.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  