---
layout : ecu
title : HS145 p59 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p59, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Smilacina racemosa </i>(L.) Desf.</td><td></td><td>False Solomon's-Seal</td></tr><tr><td>2</td><td></td><td><i>Oxydendrum arboreum</i> (L.) DC</td><td></td><td>Sourwood</td></tr><tr><td>3</td><td></td><td><i>Vaccinium arboreum</i> Marshall</td><td></td><td>Sparkleberry</td></tr><tr><td>4</td><td></td><td><i>Castanea pumila</i> (L.) Miller</td><td></td><td>Chinquapin</td></tr><tr><td>5</td><td></td><td><i>Yucca filamentosa</i> L.</td><td></td><td>Bear-Grass</td></tr><tr><td>6</td><td></td><td><i>Vitis rotundifolia </i>Michaux</td><td></td><td>Muscadine</td></tr><tr><td>7</td><td></td><td><i>Solidago </i>sp.</td><td></td><td>Goldenrod</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145059/7H145059.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="29, 49, 196, 325" title="1.False Solomon's-Seal"><area shape="rect" coords="200, 49, 309, 210" title="2.Sourwood"><area shape="rect" coords="312, 69, 430, 196" title="3.Sparkleberry"><area shape="rect" coords="297, 214, 429, 382" title="4.Chinquapin"><area shape="rect" coords="33, 393, 110, 626" title="5.Bear-Grass"><area shape="rect" coords="340, 432, 414, 622" title="6.Muscadine"><area shape="rect" coords="116, 326, 294, 548" title="7.Goldenrod"></map>
<br/><h3><a href="H145059/3H145059.jpg">Higher resolution image</a></h3>
 
<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 59.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 