---
layout : ecu
title : HS145 p66 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p66, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1, 4</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>2, 3</td><td></td><td><i>Sisyrinchium angustifolium</i> Miller</td><td></td><td>Blue-Eyed Grass</td></tr><tr><td>5, 6</td><td></td><td><i>Pycnanthemum flexuosum</i> (Walter) BSP</td><td></td><td>Common Horse Mint</td></tr><tr><td>7</td><td></td><td><i>Oxydendrum arboreum</i> (L.) DC</td><td></td><td>Sourwood</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H145066/3H145066.jpg"><img src="H145066/7H145066.jpg" alt="Herbarium Specimens"></a>
<br/><h3><a href="H145066/3H145066.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 66.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
