---
layout : ecu
title : HS145 p53 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p53, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>3</td><td></td><td><i>Zizania aquatica</i> L.</td><td></td><td>Wild Rice</td></tr><tr><td>4</td><td></td><td><i>Zizania aquatica</i> L.</td><td></td><td>Wild Rice</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145053/7H145053.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="38, 43, 145, 273" title="1.Unidentified"><area shape="rect" coords="278, 97, 403, 632" title="3.Wild Rice"><area shape="rect" coords="53, 275, 190, 612" title="4.Wild Rice"></map>
<br/><h3><a href="H145053/3H145053.jpg">Higher resolution image (369 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 53.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 