---
layout : ecu
title : HS145 p63 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p63, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Commelina communis</i> L.</td><td></td><td>Dayflower</td></tr><tr><td>2</td><td></td><td><i>Cephalanthus occidentalis</i> L.</td><td></td><td>Button Bush</td></tr><tr><td>4</td><td></td><td><i>Lonicera sempervirens </i>L.</td><td></td><td>Coral Honeysuckle</td></tr><tr><td>5</td><td></td><td><i>Ipomoea </i>sp.</td><td></td><td>Ivy Leaf Morning Glory</td></tr><tr><td>6</td><td></td><td><i>Lonicera sempervirens </i>L.</td><td></td><td>Coral Honeysuckle</td></tr><tr><td>7</td><td></td><td><i>Solidago </i>sp.</td><td></td><td>Goldenrod</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145063/7H145063.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="52, 38, 146, 255" title="1.Dayflower"><area shape="rect" coords="152, 39, 425, 269" title="2.Button Bush"><area shape="rect" coords="116, 272, 198, 626" title="4.Coral Honeysuckle"><area shape="rect" coords="200, 278, 278, 627" title="5.Ivy Leaf Morning Glory"><area shape="rect" coords="281, 270, 342, 600" title="6.Coral Honeysuckle"><area shape="rect" coords="346, 382, 432, 627" title="7.Goldenrod"></map>
<br/><h3><a href="H145063/3H145063.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 63.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 