---
layout : ecu
title : HS145 p47 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p47, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Lilium catesbaei </i>Walter</td><td></td><td>Pine Lily</td></tr><tr><td>2</td><td></td><td><i>Habenaria ciliaris </i>(L.) R. Brown</td><td></td><td>Yellow Fringed-Orchid</td></tr><tr><td>3</td><td></td><td><i>Lyonia lucida </i>(Lam.) K. Koch</td><td></td><td>Fetter-Bush</td></tr><tr><td>4</td><td></td><td><i>Agalinis tenuifolia</i> (Vahl) Raf.</td><td></td><td>Gerardia</td></tr><tr><td>5</td><td></td><td><i>Polypodium polypodioides</i> (L.) Watt</td><td></td><td>Resurrection Fern</td></tr><tr><td>6</td><td></td><td><i>Verbena carnea</i> Medicus</td><td></td><td>Verbena</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145047/7H145047.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="28, 48, 103, 366" title="1.Pine Lily"><area shape="rect" coords="116, 33, 196, 351" title="2.Yellow Fringed-Orchid"><area shape="rect" coords="202, 32, 317, 244" title="3.Fetter-Bush"><area shape="rect" coords="324, 93, 411, 342" title="4.Gerardia"><area shape="rect" coords="141, 536, 230, 608" title="5.Resurrection Fern"><area shape="rect" coords="32, 376, 134, 634" title="6.Verbena"></map>
<br/><h3><a href="H145047/3H145047.jpg">Higher resolution image</a></h3>
 
<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 47.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 