---
layout : ecu
title : HS145 p57 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p57, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Magnolia tripetala </i>L.</td><td></td><td>Umbrella Tree</td></tr><tr><td>2</td><td></td><td><i>Magnolia tripetala </i>L.</td><td></td><td>Umbrella Tree</td></tr><tr><td>3</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145057/7H145057.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="33, 40, 430, 297" title="1.Umbrella Tree"><area shape="rect" coords="34, 298, 300, 613" title="2.Umbrella Tree"><area shape="rect" coords="302, 300, 408, 546" title="3.Unidentified"></map>
<br/><h3><a href="H145057/3H145057.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 57.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 