---
layout : ecu
title : HS145 p58 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS145 p58, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Monarda punctata</i> L.</td><td></td><td>Horse Mint</td></tr><tr><td>2</td><td></td><td><i>Monarda punctata</i> L.</td><td></td><td>Horse Mint</td></tr><tr><td>3</td><td></td><td><i>Monarda punctata</i> L.</td><td></td><td>Horse Mint</td></tr><tr><td>4</td><td></td><td><i>Asplenium platyneuron</i> (L.) Oakes</td><td></td><td>Ebony Spleenwort</td></tr><tr><td>5</td><td></td><td><i>Silene virginianum </i>L.</td><td></td><td>Fire Pink</td></tr><tr><td>6</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>7</td><td></td><td><i>Habenaria ciliaris </i>(L.) R. Brown</td><td></td><td>Yellow Fringed-Orchid</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H145058/7H145058.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="36, 40, 175, 278" title="1.Horse Mint"><area shape="rect" coords="176, 39, 293, 268" title="2.Horse Mint"><area shape="rect" coords="298, 40, 433, 269" title="3.Horse Mint"><area shape="rect" coords="46, 280, 102, 405" title="4.Ebony Spleenwort"><area shape="rect" coords="101, 281, 167, 605" title="5.Fire Pink"><area shape="rect" coords="220, 268, 371, 450" title="6.Unidentified"><area shape="rect" coords="373, 333, 427, 628" title="7.Yellow Fringed-Orchid"><area shape="rect" coords="373, 333, 427, 628" title="7.Yellow Fringed-Orchid"></map>
<br/><h3><a href="H145058/3H145058.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 145 folia 58.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
