---
layout : ecu
title : HS158 p129 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS158 p129, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Gnaphalium obtusifolium </i>L.</td><td></td><td>Rabbit Tobacco</td></tr><tr><td>2</td><td></td><td><i>Gnaphalium obtusifolium </i>L.</td><td></td><td>Rabbit Tobacco</td></tr><tr><td>3</td><td></td><td><i>Gnaphalium obtusifolium </i>L.</td><td></td><td>Rabbit Tobacco</td></tr><tr><td>4</td><td></td><td><i>Gnaphalium obtusifolium </i>L.</td><td></td><td>Rabbit Tobacco</td></tr><tr><td>5</td><td></td><td><i>Gnaphalium obtusifolium </i>L.</td><td></td><td>Rabbit Tobacco</td></tr><tr><td>6</td><td></td><td><i>Antennaria plantaginifolia </i>(L.) Richardson</td><td></td><td>Pussy Toes</td></tr><tr><td>7</td><td></td><td><i>Antennaria plantaginifolia </i>(L.) Richardson</td><td></td><td>Pussy Toes</td></tr><tr><td>8</td><td></td><td><i>Antennaria plantaginifolia </i>(L.) Richardson</td><td></td><td>Pussy Toes</td></tr><tr><td>9</td><td></td><td><i>Antennaria plantaginifolia </i>(L.) Richardson</td><td></td><td>Pussy Toes</td></tr><tr><td>10</td><td></td><td><i>Antennaria plantaginifolia </i>(L.) Richardson</td><td></td><td>Pussy Toes</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H158129/7H158129.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="70, 19, 193, 135" title="1.Rabbit Tobacco"><area shape="rect" coords="146, 136, 249, 281" title="2.Rabbit Tobacco"><area shape="rect" coords="268, 29, 336, 214" title="3.Rabbit Tobacco"><area shape="rect" coords="339, 44, 385, 205" title="4.Rabbit Tobacco"><area shape="rect" coords="250, 216, 329, 358" title="5.Rabbit Tobacco"><area shape="rect" coords="349, 468, 395, 538" title="6.Pussy Toes"><area shape="rect" coords="303, 415, 349, 587" title="7.Pussy Toes"><area shape="rect" coords="243, 435, 300, 521" title="8.Pussy Toes"><area shape="rect" coords="159, 496, 238, 601" title="9.Pussy Toes"><area shape="rect" coords="54, 454, 152, 601" title="10.Pussy Toes"></map>
<br/><h3><a href="H158129/3H158129.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 158 folia 129.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 