---
layout : ecu
title : HS158 p214 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS158 p214, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Houstonia purpurea</i> L.</td><td></td><td>Summer Bluet</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H158214/7H158214.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="198, 265, 348, 581" title="1.Summer Bluet"></map>
<br/><h3><a href="H158214/3H158214.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 158 folia 214.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 