---
layout : ecu
title : HS158 p151 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS158 p151, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Bidens laevis</i> (L.) BSP</td><td></td><td>Begger Ticks</td></tr><tr><td>2</td><td></td><td><i>Bidens laevis</i> (L.) BSP</td><td></td><td>Begger Ticks</td></tr><tr><td>3</td><td></td><td><i>Bidens laevis</i> (L.) BSP</td><td></td><td>Begger Ticks</td></tr><tr><td>4</td><td></td><td><i>Bidens laevis</i> (L.) BSP</td><td></td><td>Begger Ticks</td></tr><tr><td>5</td><td></td><td><i>Bidens laevis</i> (L.) BSP</td><td></td><td>Begger Ticks</td></tr><tr><td>6</td><td></td><td><i>Bidens laevis</i> (L.) BSP</td><td></td><td>Begger Ticks</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H158151/7H158151.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="64, 68, 215, 319" title="1.Begger Ticks"><area shape="rect" coords="218, 53, 409, 353" title="2.Begger Ticks"><area shape="rect" coords="318, 409, 381, 537" title="3.Begger Ticks"><area shape="rect" coords="254, 370, 317, 596" title="4.Begger Ticks"><area shape="rect" coords="182, 431, 251, 614" title="5.Begger Ticks"><area shape="rect" coords="77, 321, 180, 586" title="6.Begger Ticks"></map>
<br/><h3><a href="H158151/3H158151.jpg">Higher resolution image (427 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 158 folia 151.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  