---
layout : ecu
title : HS171 p65, <i>The Sloane Herbarium</i> - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS171 p65, <i>The Sloane Herbarium</i>, </h3><p class="maintext"><b><font size=-1>Image(s) from
               Herbarium Specimens</b></font><br/>
<a href="H171065/3H171065.jpg">
      <img src="H171065/7H171065.jpg"></a>
<br/><h3><a href="H171065/3H171065.jpg">Higher resolution image</a></h3>
<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 171 folia 65.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 