---
layout : ecu
title : HS242 p120, <i>The Sloane Herbarium</i> - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p120, <i>The Sloane Herbarium</i>, </h3><p class="maintext"><b><font size=-1>Image(s) from
               Herbarium Specimens</b></font><br/>
<a href="H242120/3H242120.jpg">
      <img src="H242120/7H242120.jpg"></a>
<br/><h3><a href="H242120/3H242120.jpg">Higher resolution image</a></h3>
<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 120.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 