---
layout : ecu
title : HS242 p133 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p133, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Magnolia virginiana</i> L.</td><td></td><td>Sweet Bay</td></tr><tr><td>2</td><td></td><td><i>Rhododendron nudiflorum </i>(L.) Torrey</td><td></td><td>Wild Azalea</td></tr><tr><td>3</td><td></td><td><i>Rhododendron nudiflorum </i>(L.) Torrey</td><td></td><td>Wild Azalea</td></tr><tr><td>4</td><td></td><td><i>Rhododendron nudiflorum </i>(L.) Torrey</td><td></td><td>Wild Azalea</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242133/7H242133.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="97, 69, 262, 272" title="1.Sweet Bay"><area shape="rect" coords="291, 66, 390, 328" title="2.Wild Azalea"><area shape="rect" coords="252, 328, 384, 606" title="3.Wild Azalea"><area shape="rect" coords="127, 302, 246, 619" title="4.Wild Azalea"></map>
<br/><h3><a href="H242133/3H242133.jpg">Higher resolution image (451 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 133.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  