---
layout : ecu
title : HS242 p117 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p117, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Medeola virginica</i> L.</td><td></td><td>Indian Cucumber-Root</td></tr><tr><td>2, 5</td><td></td><td><i>Chamaelirium luteum</i> Gray</td><td></td><td>Blazing-Star, Devil's Bit</td></tr><tr><td>3</td><td></td><td><i>Carex</i> sp.</td><td></td><td>Carex</td></tr><tr><td>4</td><td></td><td><i>Duchnesia indica</i> (Andrz.) Focke</td><td></td><td>Indian Strawberry</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H242117/3H242117.jpg"><img src="H242117/7H242117.jpg"></a>
<br/><h3><a href="H242117/3H242117.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 117.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
