---
layout : ecu
title : HS242 p114 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p114, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>2, 3</td><td></td><td><i>Poa</i> sp.</td><td></td><td>Blue Grass</td></tr><tr><td>4, 5</td><td></td><td><i>Arundinaria gigantea</i>L.</td><td></td><td>Cane</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H242114/3H242114.jpg"><img src="H242114/7H242114.jpg" alt="Herbarium Specimens"></a>
<br/><h3><a href="H242114/3H242114.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 114.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
