---
layout : ecu
title : HS242 p110 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p110, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>3</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>4</td><td></td><td><i>Myrica cerifera</i> L.</td><td></td><td>Wax Myrtle</td></tr><tr><td>5</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>6</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>7</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242110/7H242110.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="70, 42, 224, 299" title="1.Unidentified"><area shape="rect" coords="176, 305, 277, 392" title="3.Unidentified"><area shape="rect" coords="278, 332, 366, 572" title="4.Wax Myrtle"><area shape="rect" coords="147, 391, 217, 539" title="5.Unidentified"><area shape="rect" coords="93, 379, 145, 507" title="6.Unidentified"><area shape="rect" coords="94, 544, 224, 628" title="7.Unidentified"></map>
<br/><h3><a href="H242110/3H242110.jpg">Higher resolution image (430 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 110.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  