---
layout : ecu
title : HS242 p113 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p113, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Smilax laurifolia</i> L.</td><td></td><td>Bamboo</td></tr><tr><td>2</td><td></td><td><i>Smilax laurifolia</i> L.</td><td></td><td>Bamboo</td></tr><tr><td>3</td><td></td><td><i>Smilax laurifolia</i> L.</td><td></td><td>Bamboo</td></tr><tr><td>4</td><td></td><td><i>Smilax laurifolia</i> L.</td><td></td><td>Bamboo</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242113/7H242113.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="86, 47, 254, 339" title="1.Bamboo"><area shape="rect" coords="255, 121, 376, 311" title="2.Bamboo"><area shape="rect" coords="237, 341, 367, 600" title="3.Bamboo"><area shape="rect" coords="98, 341, 236, 604" title="4.Bamboo"></map>
<br/><h3><a href="H242113/3H242113.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 112.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 