---
layout : ecu
title : HS242 p115 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p115, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1, 8</td><td></td><td><i>Houstonia purpurea</i> L.</td><td></td><td>Summer Bluet</td></tr><tr><td>3, 4, 5, 6, 7</td><td></td><td><i>Amianthium muscaetoxicum </i>(Walter) Gray</td><td></td><td>Fly-Poison</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H242115/3H242115.jpg"><img src="H242115/7H242115.jpg" alt="Herbarium Specimens"></a>
<br/><h3><a href="H242115/3H242115.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 115.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
