---
layout : ecu
title : HS242 p121 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p121, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>2</td><td></td><td><i>Carya tomentosa</i> (Poiret) Nuttall</td><td></td><td>Mockernut Hickory</td></tr><tr><td>3</td><td></td><td><i>Carya tomentosa</i> (Poiret) Nuttall</td><td></td><td>Mockernut Hickory</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242121/7H242121.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="83, 48, 267, 233" title="1.Unidentified"><area shape="rect" coords="269, 94, 366, 369" title="2.Mockernut Hickory"><area shape="rect" coords="92, 372, 367, 648" title="3.Mockernut Hickory"></map>
<br/><h3><a href="H242121/3H242121.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 121.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 