---
layout : ecu
title : HS242 p125 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p125, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Viburnum prunifolium</i> L.</td><td></td><td>Black Haw</td></tr><tr><td>2</td><td></td><td><i>Viburnum prunifolium</i> L.</td><td></td><td>Black Haw</td></tr><tr><td>3</td><td></td><td><i>Viburnum prunifolium</i> L.</td><td></td><td>Black Haw</td></tr><tr><td>4</td><td></td><td><i>Viburnum prunifolium</i> L.</td><td></td><td>Black Haw</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242125/7H242125.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="85, 93, 227, 376" title="1.Black Haw"><area shape="rect" coords="233, 43, 380, 273" title="2.Black Haw"><area shape="rect" coords="232, 282, 374, 615" title="3.Black Haw"><area shape="rect" coords="84, 381, 227, 619" title="4.Black Haw"></map>
<br/><h3><a href="H242125/3H242125.jpg">Higher resolution image (463 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 125.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 