---
layout : ecu
title : HS242 p129b - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p129b, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242129b/7H242129b.jpg" usemap="#Map"><map name="Map"></map>
<br/><h3><a href="H242129b/3H242129b.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 129b.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 