---
layout : ecu
title : HS242 p128 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p128, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Vaccinium staminium</i> L.</td><td></td><td>Squaw-Huckleberry</td></tr><tr><td>2</td><td></td><td><i>Vaccinium staminium</i> L.</td><td></td><td>Squaw-Huckleberry</td></tr><tr><td>3</td><td></td><td><i>Vaccinium staminium</i> L.</td><td></td><td>Squaw-Huckleberry</td></tr><tr><td>4</td><td></td><td><i>Vaccinium staminium</i> L.</td><td></td><td>Squaw-Huckleberry</td></tr><tr><td>5</td><td></td><td><i>Vaccinium staminium</i> L.</td><td></td><td>Squaw-Huckleberry</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242128/7H242128.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="89, 40, 216, 200" title="1.Squaw-Huckleberry"><area shape="rect" coords="220, 32, 361, 123" title="2.Squaw-Huckleberry"><area shape="rect" coords="306, 124, 365, 270" title="3.Squaw-Huckleberry"><area shape="rect" coords="92, 272, 374, 467" title="4.Squaw-Huckleberry"><area shape="rect" coords="307, 467, 353, 619" title="5.Squaw-Huckleberry"></map>
<br/><h3><a href="H242128/3H242128.jpg">Higher resolution image (469 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 128.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  