---
layout : ecu
title : HS242 p122 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p122, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Ilex opaca </i>Aiton</td><td></td><td>Holly</td></tr><tr><td>2</td><td></td><td><i>Ilex opaca </i>Aiton</td><td></td><td>Holly</td></tr><tr><td>3</td><td></td><td><i>Ilex opaca </i>Aiton</td><td></td><td>Holly</td></tr><tr><td>4</td><td></td><td><i>Ilex opaca </i>Aiton</td><td></td><td>Holly</td></tr><tr><td>5</td><td></td><td><i>Salix caroliniana </i>Michaux</td><td></td><td>Swamp Willow</td></tr><tr><td>6</td><td></td><td><i>Salix caroliniana </i>Michaux</td><td></td><td>Swamp Willow</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242122/7H242122.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="95, 43, 258, 113" title="1.Holly"><area shape="rect" coords="101, 171, 219, 325" title="2.Holly"><area shape="rect" coords="259, 39, 381, 301" title="3.Holly"><area shape="rect" coords="75, 335, 123, 465" title="4.Holly"><area shape="rect" coords="124, 379, 205, 611" title="5.Swamp Willow"><area shape="rect" coords="224, 319, 385, 638" title="6.Swamp Willow"></map>
<br/><h3><a href="H242122/3H242122.jpg">Higher resolution image (462 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 122.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 