---
layout : ecu
title : HS242 p126 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p126, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Prunus caroliniana </i>Aiton</td><td></td><td>Carolina Laurel Cherry</td></tr><tr><td>2</td><td></td><td><i>Osmanthus americana</i> L.</td><td></td><td>Wild Olive</td></tr><tr><td>3</td><td></td><td><i>Prunus caroliniana </i>Aiton</td><td></td><td>Carolina Laurel Cherry</td></tr><tr><td>4</td><td></td><td><i>Prunus caroliniana </i>Aiton</td><td></td><td>Carolina Laurel Cherry</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242126/7H242126.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="84, 40, 180, 615" title="1.Carolina Laurel Cherry"><area shape="rect" coords="204, 33, 350, 239" title="2.Wild Olive"><area shape="rect" coords="184, 244, 372, 513" title="3.Carolina Laurel Cherry"><area shape="rect" coords="287, 517, 335, 620" title="4.Carolina Laurel Cherry"></map>
<br/><h3><a href="H242126/3H242126.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 126.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 