---
layout : ecu
title : HS242 p132 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p132, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Magnolia virginiana</i> L.</td><td></td><td>Sweet Bay</td></tr><tr><td>2</td><td></td><td><i>Acer rubrum</i> L.</td><td></td><td>Red Maple</td></tr><tr><td>3</td><td></td><td><i>Rhododendron viscosum </i>(L.) Torrey</td><td></td><td>Swamp Azalea</td></tr><tr><td>4</td><td></td><td><i>Magnolia virginiana</i> L.</td><td></td><td>Sweet Bay</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242132/7H242132.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="99, 41, 186, 247" title="1.Sweet Bay"><area shape="rect" coords="99, 248, 234, 545" title="2.Red Maple"><area shape="rect" coords="189, 34, 396, 247" title="3.Swamp Azalea"><area shape="rect" coords="295, 330, 380, 588" title="4.Sweet Bay"></map>
<br/><h3><a href="H242132/3H242132.jpg">Higher resolution image (455 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 132.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  