---
layout : ecu
title : HS242 p111 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p111, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Galium hispidulum </i>Michaux</td><td></td><td>Bedstraw</td></tr><tr><td>2, 3</td><td></td><td><i>Vicia </i>sp.</td><td></td><td>Vetch</td></tr><tr><td>5, 6</td><td></td><td><i>Asimina triloba </i>(L.) Dunal</td><td></td><td>Pawpaw</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

</p><a href="H242111/3H242111.jpg"><img src="H242111/7H242111.jpg"></a>
<br/><h3><a href="H242111/3H242111.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 111.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
