---
layout : ecu
title : HS242 p123 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p123, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Cornus florida</i> L.</td><td></td><td>Flowering Dogwood</td></tr><tr><td>2</td><td></td><td><i>Cornus florida</i> L.</td><td></td><td>Flowering Dogwood</td></tr><tr><td>3</td><td></td><td><i>Cornus florida</i> L.</td><td></td><td>Flowering Dogwood</td></tr><tr><td>4</td><td></td><td><i>Cornus florida</i> L.</td><td></td><td>Flowering Dogwood</td></tr><tr><td>5</td><td></td><td><i>Nyssa sylvatica </i>Marshall</td><td></td><td>Black Gum</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242123/7H242123.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="81, 64, 199, 172" title="1.Flowering Dogwood"><area shape="rect" coords="82, 205, 165, 351" title="2.Flowering Dogwood"><area shape="rect" coords="104, 368, 356, 611" title="3.Flowering Dogwood"><area shape="rect" coords="167, 175, 274, 330" title="4.Flowering Dogwood"><area shape="rect" coords="214, 32, 372, 174" title="5.Black Gum"></map>
<br/><h3><a href="H242123/3H242123.jpg">Higher resolution image (458 KB)</a></h3>
 
<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 123.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  