---
layout : ecu
title : HS242 p130 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p130, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Prunus caroliniana </i>Aiton</td><td></td><td>Carolina Laurel Cherry</td></tr><tr><td>2</td><td></td><td><i>Itea virginica</i> L.</td><td></td><td>Virginia Willow</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242130/7H242130.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="88, 50, 224, 521" title="1.Carolina Laurel Cherry"><area shape="rect" coords="255, 135, 337, 592" title="2.Virginia Willow"></map>
<br/><h3><a href="H242130/3H242130.jpg">Higher resolution image (447 KB)</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 130.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 