---
layout : ecu
title : HS242 p118 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p118, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Quercus nigra</i> L.</td><td></td><td>Water Oak</td></tr><tr><td>2</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>3</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>4</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>5</td><td></td><td><i>Unidentified</i></td><td></td><td>Unidentified</td></tr><tr><td>8</td><td></td><td><i>Sisyrinchium angustifolium</i> Miller</td><td></td><td>Blue-Eyed Grass</td></tr><tr><td>9</td><td></td><td><i>Sisyrinchium angustifolium</i> Miller</td><td></td><td>Blue-Eyed Grass</td></tr><tr><td>10</td><td></td><td><i>Sisyrinchium angustifolium</i> Miller</td><td></td><td>Blue-Eyed Grass</td></tr><tr><td>11</td><td></td><td><i>Quercus nigra</i> L.</td><td></td><td>Water Oak</td></tr><tr><td>12</td><td></td><td><i>Quercus nigra</i> L.</td><td></td><td>Water Oak</td></tr><tr><td>13</td><td></td><td><i>Quercus nigra</i> L.</td><td></td><td>Water Oak</td></tr><tr><td>14</td><td></td><td><i>Quercus nigra</i> L.</td><td></td><td>Water Oak</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242118/7H242118.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="91, 74, 232, 290" title="1.Water Oak"><area shape="rect" coords="236, 60, 265, 303" title="2.Unidentified"><area shape="rect" coords="268, 41, 306, 304" title="3.Unidentified"><area shape="rect" coords="310, 66, 340, 336" title="4.Unidentified"><area shape="rect" coords="342, 82, 369, 330" title="5.Unidentified"><area shape="rect" coords="204, 433, 230, 464" title="8.Blue-Eyed Grass"><area shape="rect" coords="194, 466, 219, 493" title="9.Blue-Eyed Grass"><area shape="rect" coords="182, 495, 208, 547" title="10.Blue-Eyed Grass"><area shape="rect" coords="132, 443, 172, 584" title="11.Water Oak"><area shape="rect" coords="92, 395, 127, 488" title="12.Water Oak"><area shape="rect" coords="165, 341, 208, 420" title="13.Water Oak"><area shape="rect" coords="101, 291, 145, 390" title="14.Water Oak"></map>
<br/><h3><a href="H242118/3H242118.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 118.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 