---
layout : ecu
title : HS242 p119 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p119, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Quercus laurifolia </i>Michaux</td><td></td><td>Laurel Oak</td></tr><tr><td>2</td><td></td><td><i>Quercus laurifolia </i>Michaux</td><td></td><td>Laurel Oak</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242119/7H242119.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="95, 230, 228, 605" title="1.Laurel Oak"><area shape="rect" coords="230, 33, 327, 354" title="2.Laurel Oak"></map>
<br/><h3><a href="H242119/3H242119.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 119.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
