---
layout : ecu
title : HS242 p127 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p127, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Crataegus flava </i>Aiton</td><td></td><td>Hawthorn</td></tr><tr><td>2</td><td></td><td><i>Crataegus flava </i>Aiton</td><td></td><td>Hawthorn</td></tr><tr><td>3</td><td></td><td><i>Vaccinium</i> sp.</td><td></td><td>Vaccinium</td></tr><tr><td>4</td><td></td><td><i>Zenobia pulverulenta </i>(Bartr.) Pollard</td><td></td><td>Zenobia</td></tr><tr><td>5</td><td></td><td><i>Symplocos tinctoria</i> (L.) L.Hur.</td><td></td><td>Sweet Leaf, Horse Sugar</td></tr><tr><td>6</td><td></td><td><i>Zenobia pulverulenta </i>(Bartr.) Pollard</td><td></td><td>Zenobia</td></tr><tr><td>7</td><td></td><td><i>Symplocos tinctoria</i> (L.) L.Hur.</td><td></td><td>Sweet Leaf, Horse Sugar</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242127/7H242127.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="137, 38, 193, 102" title="1.Hawthorn"><area shape="rect" coords="90, 120, 157, 342" title="2.Hawthorn"><area shape="rect" coords="160, 103, 214, 355" title="3.Vaccinium"><area shape="rect" coords="227, 46, 356, 209" title="4.Zenobia"><area shape="rect" coords="223, 215, 375, 422" title="5.Sweet Leaf, Horse Sugar"><area shape="rect" coords="101, 360, 200, 605" title="6.Zenobia"><area shape="rect" coords="305, 430, 370, 612" title="7.Sweet Leaf, Horse Sugar"></map>
<br/><h3><a href="H242127/3H242127.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 127.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
 