---
layout : ecu
title : HS242 p135 - John Lawson Exhibit
---

{% include breadcrumbs.html active="" %}

<h3>HS242 p135, <i>The Sloane Herbarium</i></h3>
To identify an individual specimen on the image, place your cursor on the stem to see its position number and common name:<br/><br/>

<table class="table">
<tbody><tr><td><b><i>Position</i></b><i></i></td><td></td><td><b><i>Latin Name</i></b><i></i></td><td></td><td><b><i>Common Name</i></b><i></i></td></tr><tr><td>1</td><td></td><td><i>Gelsemium sempervirens</i> (L.) Aiton</td><td></td><td>Yellow Jessamin</td></tr><tr><td>2</td><td></td><td><i>Osmanthus americana</i> L.</td><td></td><td>Wild Olive</td></tr><tr><td>3</td><td></td><td><i>Smilax smallii</i> Morong</td><td></td><td>Greenbrier</td></tr><tr><td>4</td><td></td><td><i>Liriodendron tulipifera </i>L.</td><td></td><td>Tulip Tree</td></tr><tr><td>5</td><td></td><td><i>Smilax smallii</i> Morong</td><td></td><td>Greenbrier</td></tr></tbody></table><br/><br/>
<b>Image(s) from Herbarium Specimens</b><br/>

<img src="H242135/7H242135.jpg" usemap="#Map"><map name="Map"><area shape="rect" coords="102, 259, 165, 371" title="1.Yellow Jessamin"><area shape="rect" coords="98, 41, 219, 174" title="2.Wild Olive"><area shape="rect" coords="320, 36, 387, 448" title="3.Greenbrier"><area shape="rect" coords="301, 448, 386, 618" title="4.Tulip Tree"><area shape="rect" coords="99, 372, 184, 467" title="5.Greenbrier"></map>
<br/><h3><a href="H242135/3H242135.jpg">Higher resolution image</a></h3>

<hr/>
<table class="table">
<tr><td><b>Citation</b>:</td><td> The Sloane Herbarium (London: The Natural History Museum), Horti Sicci 242 folia 135.</td><tr><td><b>Location</b>:</td><td> The Natural History Museum, Cromwell Road, London SW7 5BD, United Kingdom</td></tr>
</table>
  